[2022-09-27 13:15] maxime-clem commented on #1854
I will make a PR this week.

[2022-09-27 15:29] takayuki5168 commented on #1958
I got it. When the weird trajectory is generated next time, it would be really helpful if you could record a rosbag and share it with me.

No. There are no parameters depending on whether the road is straight or not.
There are two optimization in obstacle avoidance planner
- Elastic Band: to smooth the path
- MPT: to make footprints inside the drivable area

If the vehicle is large against the roa

[2022-09-28 05:34] kenji-miyake commented on #1959
@ambroise-arm Please let me confirm.
Did this occur on Humble? The `galactic` CI with `Debug` has passed.

https://github.com/autowarefoundation/autoware.universe/actions/runs/3137771803/jobs/5096330982
![image](https://user-images.githubusercontent.com/31987104/192695576-33933240-07ea-46ae-b85e-da2d0f936991.png)

[2022-09-28 06:50] angry-crab commented on #908
As a reference of using current `tvm` utility, [apollo_segmentation_tvm](https://github.com/autowarefoundation/autoware.universe/pull/1181) also uses c++ for preprocessing and postprocessing. I think  `tvmScript` implemention should be handled in a different issue after this issue is closed.

[2022-09-28 07:04] angry-crab opened #1974 "Cannot run Rosbag replay simulation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Cannot run Rosbag replay simulation.
[code]
It is not just above ones, but every node is reporting this error. It seems

[2022-09-28 07:04] angry-crab commented on #1974
[log.txt](https://github.com/autowarefoundation/autoware.universe/files/9662340/log.txt)
Log file attached.

[2022-09-28 08:01] angry-crab commented on #1879
Please correct me if I'm wrong. It seems that the currect ci compiles the tvm library and uploads it. The library will be downloaded when building the package. But these packages only contain inference functionality. To make full use of `tvm` utility, I think it is necessary to create pre and postprocessing operations with tvm. For example, this [page](https://tvm.apache.org/docs/tutorial/tensor_e

[2022-09-28 10:34] ambroise-arm commented on #1879
You are correct in the description of the inference functionality.

Note that I have never used those `tvm operations`, so I don't know how difficult, or how appropriate it would be for what we want to achieve.

From my point of view, using `tvm operations` in the pre/post processing steps is not necessary. But my motivation for using TVM is mainly based on portability of the hardware, not so much

[2022-09-28 10:52] ambroise-arm commented on #1959
@kenji-miyake Very weird. The failure on the `(humble, Debug)` configuration matches the one I was seeing locally. But I was using galactic. I have re-run the tests locally but using the CI setup (with the mixins and the coverage enabled) and I still see the same failures. I don't understand how the `(galactic, Debug)` configuration passes here.

[2022-09-28 16:34] lchojnack commented on #1009
During debugging I noticed that launch sequence is not a root cause. For whatever reason, when the failure occurs when   `libcompare_map_segmentation.so ` is loaded before  `libpointcloud_preprocessor_filter.so`

[code]

When `libpointcloud_preprocessor_filter.so` is loaded before  `libcompare_map_segmentation.so` then everything is ok.
[code]

The main question is what determines the order of loa

[2022-09-29 00:44] kenji-miyake commented on #1959
@ambroise-arm I was able to reproduce the issue. But it seems `Debug` uses much more storage that `Release`. We have to cut down on the usage also for GitHub-hosted runners.
https://github.com/autowarefoundation/autoware.universe/actions/runs/3143374868

![image](https://user-images.githubusercontent.com/31987104/192912811-3a14f910-f9db-4665-bad7-b0ffbc31ed7a.png)

[2022-09-29 00:58] takayuki5168 commented on #1959
FYI. I merged the fix PR for this issue. However, you keep discussing the issue, so I don't close this issue.
https://github.com/autowarefoundation/autoware.universe/pull/1960

[2022-09-29 05:06] angry-crab commented on #1974
The issue is related to `FastDDS`.
[code]
This could solve the issue.

[2022-09-29 05:06] #1974 closed

[2022-09-29 05:40] #891 closed

[2022-09-29 10:01] ambroise-arm opened #1988 "Investigate `lidar_apollo_segmentation_tvm` detection quality"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I have tested the TVM package replacing the TRT package in the [rosbag demo](https://autowarefoundation.github.

[2022-09-30 08:05] mitsudome-r opened #1994 "lidar_apollo_segmentation_tvm not found when Autoware is sourced"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When you install Autoware with the [official instruction](https://autowarefoundation.github.io/autoware-documentation/ma

[2022-09-30 08:38] #1994 closed

[2022-09-30 13:32] ambroise-arm commented on #628
done: all merged

[2022-09-30 13:32] #628 closed

[2022-10-03 12:26] #980 closed

[2022-10-03 13:23] brkay54 commented on #1543
Hi, I tested in planning_simulator with following parameters:
[keep_steer_control_until_converged](https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_control_launch/config/trajectory_follower/lateral_controller.param.yaml#L60)
    [enable_keep_stopped_until_steer_convergence](https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_control_launch/c

[2022-10-03 14:02] takayuki5168 commented on #1543
I got it. I feel it's better for controllers to have a reset function considering this case only in the simulation.

[2022-10-04 01:27] taikitanaka3 commented on #1937
I close this issue because https://github.com/autowarefoundation/autoware.universe/pull/1936 was merged

[2022-10-04 01:27] #1937 closed

[2022-10-04 01:50] taikitanaka3 opened #2010 "RTC CooperateCommand is not manageable"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

current issue for rtc CooperateCommand is it needs uuid , module type , command information as a service
eg)
[c

[2022-10-04 15:16] djargot commented on #669
I checked both different parameters that i proposed and also used another `ray_ground_filter_nodelet` instead of `scan_ground_filter_nodelet` for ground segmentation. It appears that the `ray_ground_filter_nodelet` method works better and does not lead to tail behind the pole.

Also using segmentation metrics node I got quantitative results using labeled point cloud provided by MORAI:
The first tw

[2022-10-04 15:24] xmfcx commented on #1009
@lchojnack can you check if this https://github.com/autowarefoundation/autoware.universe/pull/1982 solves this issue?

[2022-10-04 15:34] xmfcx commented on #1228
https://github.com/vautonomous/isuzu_sensor_description @xmfcx also add this to the documentation.

[2022-10-04 15:35] kaancolak commented on #669
@djargot We have faced the same problem on the BUS ODD project, and changed the ground remover algorithm to ray_ground_filter_nodelet, it looks working better.

[2022-10-04 16:09] #1959 closed

[2022-10-04 16:17] xmfcx commented on #1958
@VRichardJP can you share some data to reproduce this issue?

[2022-10-04 16:29] xmfcx commented on #1929
@NilaySener what was your experience like getting Autoware run on AGX Orin? Did you manage to have it working?

[2022-10-04 16:30] xmfcx commented on #1912
@kasperornmeck @evshary I am closing this issue since it's fixed, please reopen it if I understood it wrong.

[2022-10-04 16:30] #1912 closed

[2022-10-04 16:35] xmfcx commented on #1850
@VRichardJP can you check if https://github.com/autowarefoundation/autoware.universe/pull/1901 solves this issue?

[2022-10-04 16:38] xmfcx commented on #1793
@mehmetdogru for @satoshi-ota 's 2nd point

Can you create a PR for limiting the shift-points within lane shoulders?

[2022-10-04 16:40] xmfcx commented on #1568
Using https://autowarefoundation.github.io/autoware.universe/main/ it should be ok, I will close this issue.

[2022-10-04 16:40] #1568 closed

[2022-10-04 16:56] mitsudome-r commented on #1418
@VRichardJP I've tested with the simulator and took the video. Could you confirm if this is different from what you see? It seems the vehicle is not stopping for the pedestrian that is far ahead in the path and seems to be doing a natural maneuver.
https://www.youtube.com/watch?v=-EVmKwGdsog

[2022-10-05 01:15] VRichardJP commented on #1958
@xmfcx Unfortunately I don't have anything but the map and a few screenshots/videos. I won't be able to go to have access to the vehicle anytime soon.

[2022-10-05 01:37] taikitanaka3 commented on #2010
this issue includes this task too

![image](https://user-images.githubusercontent.com/65527974/193960749-077971bf-145e-426f-ad2f-5516f865fb2d.png)

[2022-10-05 01:44] VRichardJP commented on #1418
@mitsudome-r Thank you for the effort. I understand the issue is maybe not reproducible with the simulator.
I don't know the next time I will have access to the site. When I do, I will try to reproduce the issue and record some rosbag.

[2022-10-05 01:44] #1418 closed

[2022-10-05 05:12] taikitanaka3 commented on #2010
@rej55
This would be fit to your needs
![image](https://user-images.githubusercontent.com/65527974/193985010-19c9b820-3953-491c-a8f4-a1b0751bdd7d.png)

[2022-10-06 08:24] #2010 closed

[2022-10-08 10:37] shulanbushangshu commented on #1793
1.Add check function
Maybe we can detect whether the offset points on the path exceed the lanes from two aspects:
(1) When generating the initial offset points, we can generate the local path according to the local offset point, and then judge whether the points on the locally generated path exceeds the lanes. If it exceeds the lane, we can directly remove the obstacle (it will not avoid the obsta

[2022-10-09 05:36] NorahXiong opened #2039 "Improve freespace planning performance"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I've met several problems caused by hardware restrictions when testing parking function. For example, if I set

[2022-10-09 10:32] NorahXiong opened #2041 "Is it possible to keep costmap synchronized during is searching in freespace planner?"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Once a search task starts, the costmap will not longer be updated before the search succeed or failed as the search time

[2022-10-09 15:38] sujithvemi commented on #1121
Sorry for the late reply. I had identified the code that needs to be changed, just working on the way to implement it. That is because the way the code is currently written is not modular to implement the requirements mentioned here, color and other attributes are provided in the function directly and are not populated using a variable or conditionally, that's why need to change more than just add

[2022-10-10 15:38] NilaySener commented on #1929
I was able to run it without any problems with the images and steps in [this test report.](https://github.com/autowarefoundation/autoware-projects/files/9420690/Test.report.-.Run.AW.universe.with.OpenADKit.v1.0.on.Orin.pdf)

[2022-10-11 04:37] simon-t4 commented on #494
Hi ,if I understand correctly, the problem lies in the confusing the twist coordinate frame.
The original Autoware publishes predicted objects using an object centric frame, while this issue describes a perception system where the predicted path is in map frame.

The ROS twist message is I think defined with linear and angular components rather than x,y of a map frame.
The velocity is meant to be

[2022-10-11 05:50] cyn-liu opened #2044 "Using a de-grounded point cloud for NDT matching gives a more reasonable match score"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Autoware uses NDT matching for localization. The NDT input point cloud contains ground, which is less helpful f

[2022-10-11 05:50] wjxjmj commented on #1375
I encountered the same problem in my tests. Theoretically, the NDT score measures how well the point cloud matches the map, and that score should have a significant difference between successful and failed localization. But as the same as the previous disccusion, this was not reflected in the test.

It was observed that the NDT score remained at a certain level when localization failed, implying t

[2022-10-11 06:57] YamatoAndo commented on #2044
@cyn-liu Thanks for the suggestion.
I thought it was problematic that the score is still high when the localization is lost, because it could be matched with the ground point clouds.

However, if the ground point clouds is removed, the height constraint may be lost.
So, how about dividing the score into the following two categories?
・The score with de-grounded point clouds
・The score with only gro

[2022-10-11 07:33] djargot commented on #669
I have checked that https://github.com/autowarefoundation/autoware.universe/pull/1899 seems to remove the problem for `scan_ground_filter_nodelet`.

[2022-10-11 07:38] mitsudome-r commented on #1716
@beyzanurkaya Do you have any blockers for this issue/PR?

[2022-10-11 07:49] mitsudome-r commented on #669
@djargot Are there any other remaining issues? If not, I would like to close this issue. (and close https://github.com/autowarefoundation/autoware.universe/pull/1866 if it is not needed anymore)

[2022-10-11 07:55] cyn-liu commented on #1375
Thanks for your answer, but I am not familiar with the Diagnostic Aggregators module and it will take me some time to understand and use it.

[2022-10-11 07:55] mitsudome-r commented on #1228
From the discussion from LeoDrive's update in ASWG, the latency is likely to be caused by CPU usage. We might not be able to fix this within Bus ODD timeline.

[2022-10-11 07:56] mitsudome-r commented on #1228
Using Iceoryx zero copy improved the message transportation, but using Iceoryx as AWF projects needs further discussion.

[2022-10-11 08:06] mehmetdogru commented on #1761
@mitsudome-r

Sorry for the late reply. We were very busy with the field tests for some time, so couldn't work on some of the issues.

Yes, I can create a PR about this issue this week.

[2022-10-11 08:15] mitsudome-r commented on #1543
@brkay54 to create a PR for the fix, but he has other tasks with higher priorities at the moment.
Please let me know if anyone can't wait for @brkay54's PR.

[2022-10-11 08:35] mitsudome-r commented on #1913
Let's discuss this in Open AD Kit WG.

[2022-10-11 08:35] mitsudome-r commented on #1913
cc. @ito-san

[2022-10-11 09:04] smorita-esol opened #2047 "Trajectory follower: Memory leak"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Trajectory follower seems to have memory leaks when it runs as a node of The Planning Simulator Demo below.
[code]

###

[2022-10-11 09:18] YamatoAndo commented on #2044
Yes, correct.

Regardless of whether the z information is used or not for other nodes, the z information must also be properly matched since the NDT scan matching is performed in 3D coordinate.

[2022-10-11 09:22] VRichardJP opened #2048 "[map_height_fitter] Improve height estimation logic"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

With the current implementation of [`get_ground_height`](https://github.com/autowarefoundation/autoware.univers

[2022-10-11 09:31] YamatoAndo commented on #2048
I think it is a good idea!

[2022-10-11 09:38] YamatoAndo commented on #2048
I think it is not problem if we explore the map twice, since dynamic map loading will be implemented soon and the area where the map is loaded will be smaller than before.
https://github.com/orgs/autowarefoundation/discussions/2812

[2022-10-12 08:13] VRichardJP opened #2052 "Gear should not be changed to DRIVE while autoware is not engaged"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I am using a vehicle with pacmod3.

When the vehicle is engaged (via /control/control_mode_request) but autoware is not,

[2022-10-12 09:22] leonlee723 commented on #1929
@NilaySener thanks your feedback. I read your pdf. I find you use galactic-latest-prebuilt-arm64, not galactic-latest-cuda-arm64. I don't galactic-latest-prebuilt-arm64 whether support cuda in orin for example PCL. I'll try it. Close with comment.

[2022-10-12 11:48] wjxjmj commented on #2044
In most senario, point clouds in the environment are sufficient to provide z information.
![Fig.1](https://user-images.githubusercontent.com/17843891/195331447-eb6626b8-623e-462c-9bc5-5e9d77472ab1.png)
The difference of z information with and without ground points, as shown in the above figure, is not significant. In this figure, z information are collected from these two simulation:
[bag1: Positi

[2022-10-12 12:38] isamu-takagi commented on #2048
@YamatoAndo @VRichardJP
I think it is unreliable if there is no ground under the vehicle area. Here is an example. If the ground is sloped or stepped, the radius calculated from the closest point is not helpful. Moreover, the inside of the garage given as an example will give erroneous results if there is a ceiling when measured from the outside. Therefore, initialization results cannot be guarant

[2022-10-12 13:09] VRichardJP commented on #2048
I totally understand the proposed change is not perfect, but I still think it is better than the current implementation.

In particular, I don't think there is a case where it perform worse than the current implementation. Typically, for both examples you provided, there is no point within a 1 meter radius, so the returned height would be whatever Z value is currently stored in the input pose (mos

[2022-10-12 13:36] isamu-takagi commented on #2048
Ah, I see. Both the old and new logic fail in these cases, but the new one improves some cases.

[2022-10-12 13:38] beyzanurkaya commented on #1716
No, there is no blocker. I did the things in my head and pushed but the intersection result is zero for some reason. I compared the data of the footprint and the drivable area and they contain numerically similar points.

Here's what I did:
- I converted the OccupancyGrid to grid map and then cv_image
- I found the contour in cv_image and assigned it to a boost polygon
- I assigned the footprint t

[2022-10-13 00:36] kminoda commented on #2044
Thanks, the result you've shared is interesting. Seems the difference is around 10-20 cm?

Since the current Autoware design is dependent on accurate 6-DoF pose estimation, we should discuss from the perspective of perception & planning modules in deciding whether this relatively-inaccurate z estimation is acceptable or not. Just a quick thought, but I think it would affect the followings:
- map-b

[2022-10-13 02:38] #1009 closed

[2022-10-13 02:42] VRichardJP commented on #2047
Sorry to jump in.
By looking at [`csc_matrix` implementation](https://github.com/osqp/osqp/blob/master/src/cs.c#L12), the memory leak seems simple to explain from your valgrind logs:
- `csc_matrix()` allocate new memory, which should be freed by the user
- in [`initializeProblem()`](https://github.com/autowarefoundation/autoware.universe/blob/f234a7d9ae044e0f53a3679060dad08aab5ec90e/common/osqp_in

[2022-10-13 03:19] takayuki5168 commented on #1716
boost polygon's points has order (clockwise or anti-clockwise), and if the order is the opposite, the intersection calculation will fail.
This implementation may be helpful.
https://github.com/autowarefoundation/autoware.universe/blob/main/common/tier4_autoware_utils/src/geometry/boost_polygon_utils.cpp

[2022-10-13 04:37] maxime-clem commented on #2047
Thanks a lot @VRichardJP for finding the cause of the issue.
I will prepare a PR with the fix you suggested.

[2022-10-13 10:58] brkay54 opened #2066 "pure_pursuit does not create predicted trajectory"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In current implementation in universe, pure_pursuit does not create predicted trajectory. Without predicted tra

[2022-10-14 07:39] VRichardJP opened #2072 "map_loader fails to load lanelet map and another map is loaded"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I am sorry about the confusing title, as I am myself confused over the following case:

I start autoware planning simula

[2022-10-14 07:44] kminoda commented on #2072
This is just a quick thought, but maybe killing all the ROS processes may solve the issue.
[code]

[2022-10-14 08:58] VRichardJP commented on #2072
You are right, I can see many nodes in `ros2 node list`. There are not because of some zombie process, but because there is another instance of autoware running on the same network. Next time I will be careful and start ROS2 with localhost only ;)

[2022-10-14 08:58] #2072 closed

[2022-10-17 01:22] VRichardJP opened #2079 "Vehicle not able to avoid static obstacle by changing lane."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I am testing static obstacle avoidance with the planning simulator.

I have set `enable_avoidance_over_same_direction` t

[2022-10-17 02:08] zulfaqar-azmi-t4 commented on #2079
Avoidance Module's page describe a few way to debug this.
https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_path_planner/behavior_path_planner_avoidance-design/#how-to-debug

May I ask your help to share with us the `drivable_area_boundary` and the visualization marker screen shot?

[2022-10-17 02:48] VRichardJP commented on #2079
Thank you for the link,

I have added a few markers from `/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/debug` with  `publish_debug_marker` set to `true`. But I don't see much information:

![block3](https://user-images.githubusercontent.com/18645627/196078365-2ddfd9f7-8d0c-4104-bac6-859255eb3f9f.png)

[2022-10-17 02:56] zulfaqar-azmi-t4 commented on #2079
That indeed looks weird. The lane boundary search seems to look fine.

Does this happens in the whole map or only at the particular area?
Can you run

[code]
And share the printed results?

[2022-10-17 03:12] VRichardJP commented on #2079
The output is empty :(
[code]

[2022-10-17 04:46] zulfaqar-azmi-t4 commented on #2079
I've checked the latest commit and everything seems to work fine.

I would suggest the following

1. Set the param `publish_debug_marker` to `true` (you might have already done this, but just in case)
[code]

2. then add the following marker to see if the avoidance is currently running (It's a different topic than the one described in the Readme.

[code]

Try to move delete and re-add the object t

[2022-10-17 06:31] taikitanaka3 opened #2082 "(raw_vehicle_cmd_converter): want unit test for pid controller"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

currently raw vehicle cmd converter has unite test for map conversion but there is no unit test for pid feed-ba

[2022-10-17 06:54] angry-crab commented on #1988
![err](https://user-images.githubusercontent.com/93699235/196108193-27a1b849-af84-4c85-aba3-16ec0f3a4466.png)
Issue confirmed. There are quite a lot of false negative detections.

[2022-10-17 07:24] shmpwk commented on #768
Related discussion
https://github.com/orgs/autowarefoundation/discussions/2951

[2022-10-17 07:29] VRichardJP commented on #2079
I don't see any change :/

And `ros2 topic echo /api/external/get/rtc_status` only output empty arrays.

I also tested with the sample map, but it gives the same result.

My work tree has many changes compared to `main`, but almost none regarding planning modules.
My latest merge is at 4be6931c811422f16d95c1460c046f2540d1f628

Maybe I have something disabled in my config?

[2022-10-17 08:59] angry-crab commented on #1988
According to @yukkysaito san, the weights have been update. I'll update the `modelzoo` repo.

[2022-10-17 09:34] shulanbushangshu opened #2084 "Wrong path in state transition between avoidance and lane_change under certain lane conditions"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

There is wrong path in state transition between avoidance and lane_change in some lane conditions.
When there are no obs

[2022-10-17 09:52] VRichardJP opened #2085 "gnss_poser does not parse MGRS zone correctly"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In [GNSSStat](https://github.com/autowarefoundation/autoware.universe/blob/main/sensing/gnss_poser/include/gnss_poser/gn

[2022-10-17 10:28] YamatoAndo commented on #2085
@VRichardJP Thank you for the report.
You are right, there are problems with this code.
Can you please issue a PR?

[2022-10-18 01:41] #2047 closed

[2022-10-18 01:53] zulfaqar-azmi-t4 commented on #2079
The avoidance module should be able to be used out of the box.

Just to confirm, can you turn on the drivable area's visualization?
The marker can be add by selecting the following marker

![Screenshot from 2022-10-18 10-49-13](https://user-images.githubusercontent.com/93502286/196316437-a32bcab2-8ec8-4717-9266-e6db232ad0af.png)

then add this topic
[code]

The drivable area will be shown with the

[2022-10-18 03:42] VRichardJP commented on #2079
I can confirm the drivable area is incorrect on my side:
![nok](https://user-images.githubusercontent.com/18645627/196330219-71525ff1-cf38-40f2-9800-8444a7bf6c78.png)

but with lane change, there is no problem:
![ok](https://user-images.githubusercontent.com/18645627/196330223-aaa2a541-ee0c-459e-b3a6-7a02bfa31c5a.png)

[2022-10-18 04:41] angry-crab commented on #1988
Converting to `onnx` format seems better since `caffe` operations are not fully supported and will probably be removed in the near future.
https://discuss.tvm.apache.org/t/caffe2-frontend-support-is-being-dropped-to-unblock-pytorch-update/12442

[2022-10-18 04:58] zulfaqar-azmi-t4 commented on #2079
I see. It seems that for some reason the object is not registered as a target object.
Does this also happens for CAR type object?

Can you share your configurations from the `avoidance.param.yaml`?
And confirm that these parameter is configured?

[code]

Also check the
[code]
to see if avoidance is listed in the behavior tree.

And in the
[code]

[2022-10-18 05:15] VRichardJP commented on #2079
Sorry I won't be able to check that.
I tested autoware universe main branch and there was no issue, so I went through a full merge of the main branch into my work tree. Surprisingly, there were many changes, so maybe I had not been careful last time. In particular, I pulled the behavior_path_planner_tree.xml file, so maybe I broke it on my machine.
I tested again after the merge, and there is now

[2022-10-18 05:15] #2079 closed

[2022-10-18 06:58] ismetatabay commented on #1761
@mehmetdogru I created the PR that checks the footprint of the goal and added the th_angle parameter. I'm a bit confused for the parameter part. I defined a parameter struct in the header, considering the future case of adding parameters to the ```mission_planner```. If this is not needed, I can remove that struct and declare it as a variable single parameter.

[2022-10-18 07:14] VRichardJP opened #2095 "avoidance ignores pedestrian if there is a bus behind"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In `behavior_path_planner` module, it is possible to disable avoidance for some obstacles, such as pedestrian.

For exam

[2022-10-18 08:05] yukkysaito commented on #143
I will try to work on it this month.

[2022-10-18 08:18] zulfaqar-azmi-t4 commented on #2095
In the second stage, it does seem like to non-target obstacle was ignored. But just in case, can you run

[code]

I think for the pedestrian `ObjectIsNotType` will be printed in the second
[code]

If it is so, then the pedestrian object was ignored.

[2022-10-18 08:34] ambroise-arm commented on #1988
@angry-crab I don't think the Autoware pipeline for tvm only supports onnx, and other formats could be used. It is really down to what TVM supports. If caffe support is dropped in TVM, then I agree that it can't be used as is and needs to be converted.

[2022-10-18 08:51] satoshi-ota commented on #2084
Hi @shulanbushangshu cc @zulfaqar-azmi-t4 @rej55
Currently, `behavior_path_planner` uses `BehaviorTree` as framework of management the ego behavior. ([docs](https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_path_planner/#behavior-tree))

Because of that, this module cannot execute Lane Change & Avoidance in parallel, and Avoidance execution priority is higher than Lane

[2022-10-18 08:53] VRichardJP commented on #2095
Yes, the `avoidance_info` contains one entry for the pedestrian with `ObjectIsNotType`. So if I understand correctly it means the avoidance does not try to avoid the pedestrian. In practice however, the pedestrian is avoided.

[2022-10-18 09:05] mehmetdogru commented on #1761
@ismetatabay

Thanks for working on this.

I would keep it local and declare the struct in `mission_planner_lanelet2.hpp`. You can rename the struct accordingly.

[2022-10-18 09:49] soblin opened #2097 "Improve behavior_velocity_planner's latency"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Report from @veqcc.

Currently the latency of `onTrigger` function in behavior_velocity_planner has a big influ

[2022-10-18 09:52] soblin commented on #2097
https://github.com/autowarefoundation/autoware.universe/pull/2071

[2022-10-18 13:01] TakaHoribe opened #2099 "planning sometimes fails when using RRT* for parking"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

planning fails when driving in parking lots with `rrtstar` algorithm in the `freespace_planner`.

The solved trajectory

[2022-10-18 13:06] takayuki5168 commented on #1761
FYI: There will be a large change on mission_planner, so it may be better to create a PR based on this branch.
https://github.com/autowarefoundation/autoware.universe/pull/1495

[2022-10-18 13:54] ismetatabay commented on #1761
@takayuki5168 @mehmetdogru  Hi, Should I wait for #1495 to merge to avoid conflicts?

[2022-10-19 02:36] shulanbushangshu commented on #2095
Yes, pedestrians are avoided indirectly.If you consider avoiding dangerous operations,additional rules need to be added.

[2022-10-19 07:16] cyn-liu commented on #2044
YES.

We have discussed the approach proposed by @.YamatoAndo above, but since the NDT matching operation of the localization module is the most time consuming in general, it is likely to be computationally costly to use two types of point clouds for NDT matching.

Is NDT matching using ground point clouds just to get z? But de-ground point clouds matching can also get a similar z. Generally the z

[2022-10-19 08:52] cyn-liu commented on #2044
What can be determined so far is that the planning module does not use height information and z does not affect the operation of the planning module.
The perception module is still open to debate.

[2022-10-19 09:42] cyn-liu commented on #2044
@kminoda Thanks for your reply！

I think you have some misunderstanding about our issue, our point is that using the de-grounded point cloud for NDT matching gives a more accurate score and enables faster and more accurate detection of localization failure.

After your proposal, we also found that whether the accuracy of the localization height has an acceptable impact on the perception module is

[2022-10-19 10:09] kminoda commented on #2044
@cyn-liu Thank you for the response! We agree that we should at least discuss the impact on perception module.

I think this is also open question, but I would say that one possible (and also the most simple) way would be to
- separate LiDAR scan into ground and non-ground
- NDT performs scan matching with concatenated scan (= ground + non-ground = raw LiDAR scan)
- after this, we calculate `trans

[2022-10-19 10:53] kaancolak commented on #1228
In the relevant PRs, I passed the same `pointcloud_container` to Velodyne nodes and missed the occupancy grid map package. When working with `sample_sensor_kit` and  `logging_simulator.launch.xml/autoware.lauch.xml`, it decreased network traffic by around -%30 and also CPU utilization decreased.

 I will test it with a real Velodyne device, making sure Velodyne drivers work without any problem in

[2022-10-19 14:12] brkay54 opened #2116 "lookahead distance in pure_pursuit should depend more parameters"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In current implementation of Autoware Universe, lookahead distance in `pure_pursuit` just depend the velocity.

[2022-10-20 02:00] maxime-clem commented on #1784
@piotr-zyskowski-rai do you have any update on this issue ?

[2022-10-20 04:52] zulfaqar-azmi-t4 commented on #2095
Yes, if pedestrian is registered as non avoidable object, the generated avoidance path will be consider them. In your second case, it just happens that the pedestrian is nearby the bus and it "seems" as if it is avoiding the pedestrian.

By default, if it is not avoidance's object, if it is still blocking ego's route, ego will decelerate and stop.

[2022-10-20 05:28] maxime-clem commented on #1581
@takayuki5168 can we close this issue ?

[2022-10-20 06:22] takayuki5168 commented on #1581
@maxime-clem There is some packages which does not deal with this issue. Therefore, I think this issue should be kept open.

[2022-10-20 06:48] VRichardJP commented on #2095
Yes, I understand how the avoidance logic is implemented.

My point is whether it makes sense for the avoidance to "ignore" some class of obstacles. If this is for the safety of the operation, then it totally makes sense in the 1st scenario, however it is counter-productive in the 2nd scenerio.

Indeed, because the pedestrian is ignored by the avoidance algorithm in the 2nd scenario, it can make t

[2022-10-20 07:35] TakaHoribe commented on #1509
Finally, all PRs are merged. Close this issue.

[2022-10-20 07:35] #1509 closed

[2022-10-20 07:43] zulfaqar-azmi-t4 commented on #2095
I see. My apologies, before proceeding, let me correct my understanding as follows

1. Based on your report, the current behavior is similar to the `Expected Behavior` since the vehicle never avoid non-target obstacle, which in this case is the pedestrian.
2. However, your concern is about why the parameter doesn't set pedestrian as avoidable object as default.

Is these correct?

[2022-10-20 09:06] VRichardJP commented on #2097
Which tools do you use for profiling? I have used gperftools in the past but is there any tool recommended for autoware?

Out of curiosity, I went on and tried profiling `behavior_path_planner`/`behavior_velocity_planner`.
I did the following:
- added `prefix="gnome-terminal -- env LD_PRELOAD=/lib/x86_64-linux-gnu/libprofiler.so CPUPROFILESIGNAL=12 CPUPROFILE_FREQUENCY=1000 CPUPROFILE=/tmp/behavio

[2022-10-20 09:47] VRichardJP commented on #2095
I think I have confused everyone with the word "avoid", because we understand different things:
- The avoidance algorithm does not take into account the pedestrian when it generates the avoidance trajectory. From this point of view, the planner does _not_ avoid the pedestrian
- In practice, the vehicle generates a trajectory that goes around the pedestrian. From this point of view, the planner _do

[2022-10-20 12:32] beyzanurkaya opened #2125 "behavior_path_planner generating invalid path orientation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

When the vehicle passes into the other lane for a reason such as trying to swerve an obstacle while driving in

[2022-10-20 14:06] takayuki5168 commented on #2125
@beyzanurkaya Can I ask more about the situation.
Which kind of function enables driving with a lateral deviation to the path from the behavior path planner.

[2022-10-20 22:14] ito-san commented on #1452
This issue was fixed in https://github.com/autowarefoundation/autoware.universe/pull/1989. I'm closing this issue.

[2022-10-20 22:14] #1452 closed

[2022-10-21 07:33] beyzanurkaya commented on #2125
@takayuki5168 In our situation lateral deviation must be less than `M_PI / 2.0`

[2022-10-21 08:16] veqcc commented on #2097
We have used CARET (https://github.com/tier4/caret), which is an open source performance analysis tool developed by TIER IV.
Please read the CARET documentatiion!! (https://tier4.github.io/CARET_doc/main/)

[2022-10-21 08:22] takayuki5168 commented on #2125
@beyzanurkaya Maybe I got it.

obstacle_avoidance_planner.param.yaml file.

This 2.0 makes the vehicle moves laterally compared to path from behavior.
I think this value is too large.

Is there any reason for this tuning?
We, TIER IV, are integrating Autoware to the bus, and its parameter is like this.
![image](https://user-images.githubusercontent.com/20228327/197148794-eed8207f-698c-41fb-b6bf-38

[2022-10-21 08:54] beyzanurkaya commented on #2125
I used these values to replicate this bug in planning.simulator

[2022-10-21 11:32] mehmetdogru commented on #2125
@takayuki5168

Hi, I asked Beyza to create a PR about a problem we encountered during tests. To make it easier to reproduce she increased the mpt optimization circle ratio however we don't use this params. The params we use for mpt is as follows:

[code]

[code]

The reason why we are using this kind of tuning is that the campus has some 90 deg turns and mpt is not able to optimize most of the tim

[2022-10-24 14:23] brkay54 opened #2143 "obstacle_collision_checker does not run properly"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While Bus ODD tests, we needed to use obstacle_collision_checker package to bring to vehicle collision awareness. If veh

[2022-10-25 01:55] takayuki5168 commented on #2125
@mehmetdogru I understand. Thank you for your explanation.

FYI: This PR enables drivable area expansion in behavior path planner. After this PR is merged, maybe better to use this instead of clearance in mpt.
https://github.com/autowarefoundation/autoware.universe/pull/1973

Avoidance module in behavior path planner has such a kind of function. This parameter should be added to drivable area expa

[2022-10-25 02:36] #1854 closed

[2022-10-25 04:16] zulfaqar-azmi-t4 commented on #2095
I see.

I think we cannot assume that all user always have access to good perception inputs, therefore it make sense to allow the object type to be configurable.

On the other hand, since we also have the `run out` module in the `behavior_velocity_planner` that suppose to handle the pedestrian's scenario.

[2022-10-25 04:46] takayuki5168 commented on #1715
@mitsudome-r I don't hear from Horibe-san, but we do not have any plan to deal with the issue.

If someone can fix the issue, we can support it.
One of the idea of implementation is
- if the goal lane is the same as the start lane,
- get all the previous lane from the goal lane
- plan route from the start lane to each goal's previous lane
- get the shortest route

[2022-10-25 04:48] takayuki5168 commented on #1412
@mitsudome-r kindly ping

[2022-10-25 04:51] takayuki5168 commented on #1115
I close the issue since motion_utils package has been created and used in autoware.universe.

[2022-10-25 04:51] #1115 closed

[2022-10-25 04:52] takayuki5168 commented on #1248
I agree with @VRichardJP 's idea.

When creating planner_data, the optional should be removed. If the optional cannot be removed since its null, isDataready should return false.

[2022-10-25 06:49] #2085 closed

[2022-10-25 06:50] #2048 closed

[2022-10-25 07:49] mitsudome-r commented on #494
From ASWG:
- @xmfcx and @mitsudome-r agree to use object centric frame for velocity expression
- We still need to update/improve prediction module so that it fills in y component as necessary depending on detected velocity.

[2022-10-25 07:51] mitsudome-r commented on #1716
@takayuki5168 The [PR](https://github.com/autowarefoundation/autoware.universe/pull/1999) seems to be ready for review. Could you review it or assign someone who's capable of reviewing it?

[2022-10-25 07:56] mitsudome-r commented on #669
@djargot friendly ping

[2022-10-25 08:09] mitsudome-r commented on #565
@kaancolak If you have any evaluation results, please

[2022-10-25 08:09] #565 closed

[2022-10-25 08:16] mitsudome-r commented on #1375
Relevant issue: https://github.com/autowarefoundation/autoware.universe/issues/2044

[2022-10-25 08:34] mitsudome-r commented on #2052
I think whether this is a bug or not depends on what /autoware/engage means.
@VRichardJP Just to confirm do you have any issues with changing gear to DRIVE before engaging?

[2022-10-25 08:36] mitsudome-r commented on #1958
@VRichardJP Is it okay if I close the issue for now? You can reopen it whenever you were able to reproduce the issue. Otherwise, we can't do anything at the moment.

[2022-10-25 08:54] taikitanaka3 opened #2151 "raw vehicle cmd converter might skip computation during run time"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

if raw vehicle cmd converter interpolate this accel map(just an example) which is not decent order for a part (

[2022-10-25 08:54] mitsudome-r commented on #549
Since there are no response, I will close this issue. @xczhanjun Feel free to reopen as necessary.

[2022-10-25 08:54] #549 closed

[2022-10-25 09:00] taikitanaka3 commented on #2151
TODO
make unit test for this case and see if this is validated
[code]

[2022-10-25 12:56] VRichardJP commented on #1958
Yes no problem

[2022-10-25 12:56] #1958 closed

[2022-10-26 01:02] VRichardJP commented on #2052
There is no bug/problem with the current behavior, it is just weird from the user poV. Autoware engage has been split into "autoware engage" and "vehicle engage". So one would expect the vehicle does not follow any autoware command (including gear change) as long as autoware is not engaged.

When autoware is not engaged, I think the vehicle behavior should be:
- push the brake (current behavior)
-

[2022-10-26 03:01] #2151 closed

[2022-10-26 10:52] ambroise-arm commented on #1988
I couldn't convert the current caffemodel files with the microsoft tool, it complains about the "Slice" layer.
I've also tried to use small tools like https://github.com/asiryan/caffe2onnx, which clains to support "Slice", but there is a "Silence" layer in the network that isn't supported.

[2022-10-27 07:19] VRichardJP opened #2161 "Rviz sometimes crash because of RTCManagerPanel plugin"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

After a recent code update, I observe that Rviz now crashes when the vehicle reaches some specific places. It seems to b

[2022-10-27 07:29] takayuki5168 commented on #2161
@taikitanaka3

[2022-10-27 07:32] taikitanaka3 commented on #2161
@VRichardJP
Thank you I will see it.

[2022-10-27 07:44] taikitanaka3 commented on #2161
@VRichardJP
This issue was caused by size check I will make PR for this fix
![image](https://user-images.githubusercontent.com/65527974/198221852-ae285662-2693-46aa-8763-f9a689a2aca2.png)

[2022-10-27 07:45] VRichardJP commented on #2161
The program crashes here:
https://github.com/autowarefoundation/autoware.universe/blob/893a3bb725abebd83e00a0ebfdcffd616a5b24e5/common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp#L400-L402

But it seems to be because `cnt` is too high:
[code]

The `rtc_table_` has maximum 10 rows, but we can reach the 11th row because `cnt` can reach 10. I guess the line should be a `>= max_display_size`:
ht

[2022-10-27 07:50] taikitanaka3 commented on #2161
@VRichardJP
can you review this PR?
https://github.com/autowarefoundation/autoware.universe/pull/2163

[2022-10-27 08:20] #2161 closed

[2022-10-27 09:41] VRichardJP opened #2167 "Autoware ignores priority during avoidance manoeuvers"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Consider the situation below:
![Screenshot from 2022-10-27 18-36-33](https://user-images.githubusercontent.com/18645627/

[2022-10-31 05:57] takayuki5168 commented on #2167
@satoshi-ota is dealing with this issue?

[2022-10-31 06:07] #1487 closed

[2022-10-31 07:09] angry-crab commented on #1988
![apollo](https://user-images.githubusercontent.com/93699235/198950731-0f0fa10c-e606-43f8-a67f-b61af70cdb19.png)

I got it worked after using the converted model. It looks good. `caffemodel` file contains weights while `prototxt` file describes the structure of network, which does not have `Slice` and `Silence` layers.

[2022-10-31 10:57] sujithvemi commented on #1121
I am working on the changes, I was occupied with some other work. Will commit a code for review by tomorrow.

[2022-10-31 13:24] WJaworskiRobotec opened #2182 "Trajectory planning for long vehicles not working properly"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While testing of ITRI Bus on ITRI campus in AWSIM, I've discovered that the planner does not work properly for planning

[2022-10-31 16:39] sujithvemi commented on #1121
Hi, I am not able to push the code. I am getting some authentication error, is there any credential requirement that need to be satisfied to push the code? I am using my personal credentials (the one with which I am interacting here).

[2022-10-31 17:06] raminterpl commented on #1121
@BonoloAWF @mitsudome-r : Please add sujith email id: [sujith.3920@gmail.com](mailto:sujith.3920@gmail.com)  In the allowed autoware git users commit list

[2022-10-31 17:46] BonoloAWF commented on #1121
@sujithvemi invite for the team is sent, please accept.

[2022-11-01 04:38] angry-crab opened #2186 "Enable OpenCL Backend for TVM"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, we don't have a working opencl pipeline with tvm. As discussed in #1898, vulkan backend cannot be us

[2022-11-01 05:23] angry-crab commented on #2186
Related TVM issues/PR:
#1988 #2185
#908 #1898

[2022-11-01 15:28] xmfcx commented on #1228
Once
- https://github.com/autowarefoundation/autoware.universe/pull/2114
- https://github.com/autowarefoundation/sample_sensor_kit_launch/pull/48

are merged, we can close this issue.

[2022-11-01 16:09] xmfcx commented on #1761
This is being worked on: https://github.com/autowarefoundation/autoware.universe/pull/2088

[2022-11-01 20:48] djargot commented on #669
@mitsudome-r
I am very sorry for the late reply.
I can confirm that with current version of ground segmentation the problem does not occur. So this issue can be closed as resolved with #1899

[2022-11-02 06:04] angry-crab commented on #2186
A simple verification of compiled opencl models indicates accuracy issues exist with output channel `heatmap` and `vel` of `pts_backbone_neck_head_centerpoint.onnx`.
[code]

[2022-11-02 06:52] beyzanurkaya opened #2197 "behavior_path_planner does not create a shift point some cases"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The shift points created when avoiding an obstacle are calculated with the formula` lateral_collison_margin + vehicle_wi

[2022-11-02 09:27] TakaHoribe commented on #2099
no one is assigned now

[2022-11-02 11:33] nainaigetuide opened #2200 "Can't see bounding box in rviz."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I use the following command.
ros2 launch autoware_launch logging_simulator.launch.xml map_path:=$HOME/work/rosbag_map/un

[2022-11-02 12:12] ambroise-arm commented on #2186
Are you still using the same setup as in https://github.com/autowarefoundation/autoware.universe/pull/1898#issuecomment-1293085900? Using it for the backbone outputs, with `np.ones((40000,32,9), dtype=np.float32)` as an input, I don't see any difference delta above 0.0001 with opencl (or vulkan). Changing the threshold to 0.00001 there are differences, but then I also see differences with an llvm

[2022-11-02 16:19] mehmetdogru commented on #2095
@VRichardJP @zulfaqar-azmi-t4

I think there are limited things we can do in `behavior_path_planner`(bpp) when we consider its coverage. Also `run_out` module in `behavior_velocity_planner` is  not sufficient in this scenario. What it can be done might be an improvement in `obstacle_stop_planner`. I prepared some videos to explain why I think so:

---
**1)** In the first case, there are a static p

[2022-11-02 22:51] BonoloAWF commented on #494
Noted. Removed from Bus ODD Milestone and Project.

[2022-11-03 07:33] beyzanurkaya opened #2208 "behavior_path_planner creates shift point outside drivable area"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

`behavior_path_planner` creates a shift point outside drivable area while avoiding the obstacle.

![Screenshot from 2022

[2022-11-03 07:58] masahi commented on #908
Hi everyone, I'm one of developers from the TVM community. I'm very pleased to find that TVM is being integrated to Autoware. Feel free to reach out for any help.

P.S. I've worked on improving the Vulkan backend last year, and I consider it to be one of TVM's unique strengths - Glad to see that our vk backend has found a new industrial use case.

[2022-11-03 09:35] shulanbushangshu opened #2211 "‘l2_pseudo_jerk_smoother’ takes long time to start and speed up at low speed by default param"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The "l2_pseudo_jerk_smoother" takes too long time to start by the default parameters in the "motion_velocity_smoother.pa

[2022-11-03 09:36] #669 closed

[2022-11-03 09:43] BonoloAWF commented on #1761
@xmfcx  should this issue be closed then?

[2022-11-03 09:43] BonoloAWF commented on #1761
@xmfcx should this issue be closed then?

[2022-11-03 10:24] mehmetdogru commented on #1761
@BonoloAWF it will be closed automatically once #2088 is merged since they are linked.

[2022-11-03 11:23] BonoloAWF commented on #1761
Thanks @mehmetdogru. Moved to next milestone since the PR looks to be ongoing.

[2022-11-03 14:05] beyzanurkaya commented on #2095
I want to work on this approach. I will create an issue and PR about it.

[2022-11-03 14:48] WJaworskiRobotec opened #2213 "Vehicle stops in front of non-existing obstacle on the path"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While testing current Autoware in AWSIM for ITRI BusODD scenarios, the following problem was discovered :

The vehicle s

[2022-11-04 01:31] maxime-clem commented on #2208
Can you try this PR: https://github.com/autowarefoundation/autoware.universe/pull/2196 ? I think it will fix this issue.

[2022-11-04 02:29] maxime-clem commented on #2213
An "obstacle on the path" can also be caused by an obstacle _point_.
Have you checked the pointcloud in rviz ? I am afraid the points from the tree leaves are what is causing your issue.
Here is the related open discussion: https://github.com/orgs/autowarefoundation/discussions/2981

[2022-11-04 02:55] maxime-clem commented on #2200
I have not been able to reproduce the issue with the latest version of Autoware following the instructions from https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/rosbag-replay-simulation/.
Did you make any modification to Autoware or to the Rviz configuration ?
Also, can you please share the full log file found in `$HOME/.ros/log/DATE_TIME/launch.log` ?

[2022-11-04 03:12] VRichardJP commented on #2095
@mehmetdogru
Eventually, I think the planner should be able to reassess the situation and invalidate an avoidance path if it does not make sense anymore. For example, if the avoidance path is now blocked half-way, the vehicle should stay on its lane (or go back to it), and wait until the path is clear.

In your second video, if a pedestrian appears on the path (or if lateral_margin is high enough)

[2022-11-04 04:23] nainaigetuide commented on #2200
@maxime-clem
[launch.log](https://github.com/autowarefoundation/autoware.universe/files/9934952/launch.log)
 The full log file is shown in the attachment.

I mainly use the https://github.com/tier4/CARET_report tool, but this tool is mainly used for tracing and should not affect perception module in theory.

[2022-11-04 04:43] maxime-clem commented on #2200
Thank you for sharing the full log file. I cannot see any issue from the log file.
Are you able to see some messages when running the following command ?
[code]
If you see some messages being published, then maybe the issue comes from rviz. Can you make sure the visualization of the `/perception/object_recognition/objects` topic is correct ?
![image](https://user-images.githubusercontent.com/78338

[2022-11-04 05:03] nainaigetuide commented on #2200
@maxime-clem
Thank you, using the command the result is as follow.
`ros2 topic echo /perception/object_recognition/objects`
`The message type 'autoware_auto_perception_msgs/msg/PredictedObjects' is invalid`

[2022-11-04 05:08] maxime-clem commented on #2200
You need to run `source install/setup.sh` in the autoware folder and then it should work.

[2022-11-04 05:28] mehmetdogru commented on #2095
@VRichardJP

I agree. Maybe avoidance path can be reverted in such cases.

Although, I am afraid just checking around the path will not be enough considering even though path is reverted, ego vehicle sometimes won't have time to go back to it and stay in the middle of the road anyways. Maybe something like `run_out` module can be implemented in `bpp` which considers the predicted paths of target o

[2022-11-04 05:41] mehmetdogru commented on #2208
@beyzanurkaya

Could you please add some screenshots or videos explains the issue?

[2022-11-04 05:45] nainaigetuide commented on #2200
@maxime-clem
No message is published.
<img width="1122" alt="1667540685124" src="https://user-images.githubusercontent.com/22877692/199899312-84ad8400-75a2-43b5-81a4-c35c68060624.png">

[2022-11-04 09:02] shmpwk commented on #2213
@WJaworskiRobotec
This problem may comes from [this PR](https://github.com/autowarefoundation/autoware.universe/pull/1899/files).
Could you change these parameters https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_perception_launch/config/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml#L14-L15 ?

before:
[code]

After
[code]

[2022-11-04 09:14] shmpwk commented on #2213
cc. @badai-nguyen

[2022-11-05 13:40] WJaworskiRobotec commented on #2213
@maxime-clem so what is the input to the planner from sensing/perception modules ? I thought it's only list of detection objects, but from your comments I understand that it's a pointcloud after some segmentation/cropping as well, right ?

[2022-11-06 09:42] maxime-clem commented on #2213
@WJaworskiRobotec You are right that the `obstacle_avoidance_planner` only uses the list of detected objects but some other planning modules uses the obstacle pointcloud (most notably the `obstacle_stop_planner`).
[This page](https://autowarefoundation.github.io/autoware-documentation/main/design/autoware-architecture/planning/) gives a good overview of which planning nodes uses which inputs.

[2022-11-06 17:33] sujithvemi commented on #1121
@BonoloAWF @mitsudome-r I am trying to push a new branch to the sub repo Autoware.Universe. But I am getting the error shown in the below image. I was first getting the password authentication removed error first, so I setup a Personal Access Token (PAT) from the guidelines given for Github and tried to push, then I was receiving this error. Can you please help me out with what I am missing here.

[2022-11-06 18:22] xmfcx commented on #1121
@sujithvemi Please fork the autoware.universe and push your branch there. Then you can create a PR from the branch of your fork.

For more info: https://autowarefoundation.github.io/autoware-documentation/main/contributing/pull-request-guidelines/#general-pull-request-workflow

[2022-11-07 03:48] angry-crab commented on #2186
For backbone network, the input shape has to be changed. It's (1, 32, 560, 560) I think.
![backbone](https://user-images.githubusercontent.com/93699235/200222540-4d6f1e0b-f93e-43eb-8f32-f15ef749ea55.png)

[2022-11-07 07:04] #2084 closed

[2022-11-07 07:10] beyzanurkaya opened #2222 "add configurable lateral_distance for different target objects"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The ego vehicle uses a single `lateral margin` when avoiding obstacles, but this is sufficient when avoiding ve

[2022-11-07 07:29] angry-crab commented on #2186
[add opencl backend to ci](https://github.com/autowarefoundation/modelzoo/pull/79)

[2022-11-07 07:50] nainaigetuide commented on #2200
@maxime-clem
I further analyzed the .log and found that the node object_lanelet_filter_node is not working. The relevant logs are as follows.

`[object_lanelet_filter_node-31] /home/inspur/autoware/install/detected_object_validation/lib/detected_object_validation/object_lanelet_filter_node: symbol lookup error: /home/inspur/autoware/install/detected_object_validation/lib/libobject_lanelet_filter.s

[2022-11-07 08:37] maxime-clem commented on #2200
@nainaigetuide

To completely recompile the `detected_object_validation` package, it may be necessary to first remove the corresponding build and install folders in your workspace:
[code]
Can you try that and see if it fixes the issue ?

[2022-11-07 09:23] BonoloAWF commented on #1228
PRs are ongoing, milestone updated.

[2022-11-07 09:37] nainaigetuide commented on #2200
@maxime-clem
Thank you. Solved in the following way.
https://github.com/autowarefoundation/autoware.universe/commit/cf91d1a1425e8ee0682af91add418936788932aa
The specific reason is that my version is a little behind the current latest version.

[2022-11-07 09:37] #2200 closed

[2022-11-07 10:31] #2066 closed

[2022-11-07 11:13] ambroise-arm commented on #2186
@angry-crab Yes, sorry I had copied and pasted the wrong line here, but I was using the correct input shape in my script.
I confirm that I don't see deltas when using `np.ones`, but I do when using `np.zeros`. Although only on `vel`. Both vulkan and opencl give me:
[code]
And llvm gives me:
[code]

Is there a reason you are using ones as input to the encoder and zeros as input to the backbone?

[2022-11-07 13:21] takayuki5168 opened #2229 "Remove Autoware.auto's packages dependency"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

There are some packages from autoware.auto like
- https://github.com/autowarefoundation/autoware.universe/tree/

[2022-11-07 14:48] ralwing opened #2235 "Refactor conditional ROS_DISTRO_GALACTIC include with __has_include"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Replace
[code]
with
[code]
where applicable

### Purpose

This will release code from environmentall variables

[2022-11-07 15:34] kenji-miyake commented on #2235
Wrote my concerns here: https://github.com/autowarefoundation/autoware.universe/pull/2236#issuecomment-1305785887

@ralwing Could you explain the reason why you felt so? I feel it's not clear.

[2022-11-08 05:20] angry-crab commented on #2186
Not really. It seems the accuracy is hardware dependent. Let's see how much it affects the detection.

[2022-11-08 07:09] beyzanurkaya commented on #2208
I already created a PR for this issue actually.

[2022-11-08 07:41] #2235 closed

[2022-11-08 11:25] #2143 closed

[2022-11-08 13:12] VRichardJP opened #2251 "Sudden steering on late avoidance planning"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I am running Autoware on a golf cart (max 20km/h).

Today, there were quite a few bikes parked on the side of the road.

[2022-11-08 13:34] VRichardJP opened #2252 "Autoware does not check for collision on the vehicle actual trajectory"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Today, I observed autoware does not want to stop for an obstacle right in front of the ego vehicle if everything happens

[2022-11-09 03:13] yukkysaito commented on #2213
cc @takayuki5168

[2022-11-09 03:15] yukkysaito commented on #2182
I think the current solution was to extend the drivable area to the opposite lane.
@satoshi-ota Can you explain the details?

[2022-11-09 04:53] angry-crab commented on #2186
@ambroise-arm
As for the third mark, since `tvm_vendor` depends on `opencl`, the image should be good if correct version of `tvm_vendor` is installed, isn't it?

[2022-11-09 05:23] satoshi-ota commented on #2182
Hi @WJaworskiRobotec
As @yukkysaito said, we have to expand the drivable for large vehicles, such as buses and trailers, to make turns at small intersections. In fact, the discussions is in progress [here](https://github.com/orgs/autowarefoundation/discussions/2851) about the feature to dynamically expand the drivable area, but this has not yet been implemented.

On the other hand, the feature to

[2022-11-09 07:43] ambroise-arm commented on #2186
Oh, absolutely! I hadn't thought about that.

[2022-11-09 08:57] mehmetdogru commented on #2095
@satoshi-ota

Could you kindly provide your ideas about the issue. I learnt that you are working on avoidance module for further improvements. I would really like to hear your opinion about this as well.

[2022-11-09 09:53] brkay54 commented on #2252
You can enable [obstacle_collision_checker](https://github.com/autowarefoundation/autoware_launch/blob/main/autoware_launch/launch/planning_simulator.launch.xml#L13) to check collision on `predicted_trajectory`. It should solve your problem.

[2022-11-09 09:54] xmfcx commented on #2213
https://www.thinkautonomous.ai/blog/occupancy-networks/

[2022-11-09 10:07] WJaworskiRobotec commented on #2182
Paths to cover as the first step are defined here : https://github.com/autowarefoundation/autoware-projects/issues/45

[2022-11-09 11:24] VRichardJP opened #2258 "obstacle_stop_planner slow down planner does not work?"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I have modified `launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_stop_planne

[2022-11-09 11:33] VRichardJP commented on #2252
Wow! That's life saving!

I'll try it.

[2022-11-09 15:24] takayuki5168 commented on #2258
@satoshi-ota

[2022-11-09 15:26] takayuki5168 commented on #2251
@VRichardJP You set enable_avoidance True in obstacle_avoidance_planner, right?
The function is under development and is not supported. For now, I recommend you trying avoidance in behavior_path_planner which has rule-based avoidance.

[2022-11-10 03:17] TakaHoribe commented on #2041
This feature is currently not available. We need an improvement.

[2022-11-10 05:30] VRichardJP commented on #2252
If I understand correctly, the node should create a diagnostic error if there is something on the predicted trajectory? Then with the right configuration, autoware should trigger emergency when this happens, correct?

I have backported the latest `control.launch.py` to my tree to add the `obstacle_collision_checker`. When I start autoware, I can see the module is running and is generating diagnost

[2022-11-10 05:37] VRichardJP commented on #2251
@takayuki5168 I see. I didn't know there were 2 competing avoidance algorithms. The behavior_path_planner alone is indeed working fine in my case.

[2022-11-10 05:54] yukkysaito commented on #630
cc @ito-san
Now, I want to reopen this issue because we get some errors when plannign simulator is launched.
![image](https://user-images.githubusercontent.com/8327598/201011681-061f2df7-feb7-40dd-857f-bfe477d82db8.png)

[2022-11-10 06:48] takayuki5168 commented on #2251
The architecture of avoidance is not well-organized at all. At least, TIER IV is developing rule-based avoidance in behavior_path_planner for now.

[2022-11-10 07:35] VRichardJP commented on #2258
I have found that `motion_planning.launch.py` overrides the `enable_slow_down` value to false (or at least in my work tree). So changing the value in the yaml file has no effect.

On top of that, it seems that even when `consider_constraints` is false in the yaml, the values `min_slow_down_velocity`/`max_slow_down_velocity` seems not to be used: I had them both set to 20.0 (=72km/h) but during slo

[2022-11-10 08:32] VRichardJP opened #2262 "Add new lateral margin to `obstacle_stop_planner` to handle cut-in scenario in adaptive cruise control"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, the lateral margin of the stop planner (or slow down planner if enabled) is used to define the detec

[2022-11-10 08:32] shmpwk commented on #2213
Reflected https://github.com/autowarefoundation/autoware.universe/issues/2213#issuecomment-1303143710  by
https://github.com/tier4/autoware_launch/pull/543
https://github.com/autowarefoundation/autoware.universe/pull/2260

[2022-11-10 09:08] angry-crab commented on #2186
![opencl](https://user-images.githubusercontent.com/93699235/201048163-e631a63b-a950-4a95-9133-055344a067c1.png)
Did a quick test on `opencl`, it seems to work.

[2022-11-10 09:10] shulanbushangshu commented on #2099
I test the "rrtstar" in the parking.The  path display planning is successful, but the trajectory of motion_velocity_smoother display wrong is in the process of control. Simulation of the video as follows:

![Screenshot from 2022-11-10 16-57-02](https://user-images.githubusercontent.com/102840938/201046553-a0f333fd-edf5-4f62-852b-73c9f0508141.png)

https://user-images.githubusercontent.com/10284093

[2022-11-10 11:42] ambroise-arm commented on #2186
Nice! Was that locally or inside of a docker image?
Because I think there are `.icd` files that will be missing inside a docker image. `mesa-opencl-icd` would need to be installed when using an AMD GPU, and `echo "libnvidia-opencl.so.1" > /etc/OpenCL/vendors/nvidia.icd` would need to be issued for an NVIDIA GPU. Probably the same way we do here: https://github.com/autowarefoundation/autoware/blob/

[2022-11-10 13:36] #1856 closed

[2022-11-10 14:54] angry-crab commented on #2186
Yes! I was using a docker image and `echo "libnvidia-opencl.so.1" > /etc/OpenCL/vendors/nvidia.icd` is required.

[2022-11-11 02:05] satoshi-ota commented on #2095
@VRichardJP @mehmetdogru @beyzanurkaya @shulanbushangshu  @zulfaqar-azmi-t4

Thanks for the discussion. Let me check one thing.

You do not want the vehicle to drive near the pedestrian only when the vehicle is in avoidance maneuver, right ? Or, you don't want not only when the vehicle is in avoidance maneuver but also when the vehicle is driving lanes without avoidance.

If it is the former, then

[2022-11-11 04:10] angry-crab commented on #2186
It seems that `tvm_vendor` will be released on November 21, 2022 (Chicago) for humble.
[Humble Release](https://discourse.ros.org/t/preparing-for-humble-sync-and-patch-release-2022-11-21/28234)

[2022-11-11 05:02] #1879 closed

[2022-11-11 06:42] VRichardJP commented on #2095
@satoshi-ota
I think the vehicle behavior should be consistent over the several scenarios. For example:
- if during normal lane driving we must keep a lateral safety distance of 1.0 meter, we must keep the same safety distance of 1.0 meter during avoidance (I think it is what obstacle_stop'planner already does)
- if the planner is not allowed to avoid pedestrian, it should not matter what is behin

[2022-11-11 12:51] reinierkof opened #2271 "Port xsens drivers from autoware_auto to universe"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In autoware auto there are drivers for xsens sensors, these are used for IMU and GPS. They can be found here:
h

[2022-11-11 14:53] brkay54 commented on #1543
I investigated the bug, this bug is caused by `mpc_follower`.

If the `steer_rate_lim_dps` is very low and when reinitialize the vehicle while turning, mpc can not solve the problem and it sends the previous control command. Therefore, vehicle starts to move like in [video](https://user-images.githubusercontent.com/45468306/183460119-8300f1ed-08e9-4791-8d72-5d2c7a7e5d06.mp4).

I want to propose th

[2022-11-11 15:15] VRichardJP commented on #2271
I am curious about this, because I have been using Xsens MTi devices with autoware universe for a while, and the official driver works just fine: https://github.com/bluespace-ai/bluespace_ai_xsens_ros_mti_driver.

Is there any special need only convered by autoware.auto's implementation?

[2022-11-11 15:37] reinierkof commented on #2271
@VRichardJP Oh, i came across these drivers and thought they wouldn't instantly work with autoware.
Did you make any changes to your autoware setup or to the blue space setup? Or did it work straight out of the box?

And is it then an idea to add it to the documentation of sensing?

[2022-11-11 16:02] brkay54 commented on #2252
Hmm I see, I tried too but module created "ERROR" diagnostic if there is an object in braking distance. But after vehicle stops, you will see "OK" because object is not in braking distance of vehicle (because velocity of vehicle is 0).

https://user-images.githubusercontent.com/45468306/201379224-7a4f2a7b-325e-4587-8135-231810bdb6a5.mp4

Btw, it will not trigger the emergency, to do this, we shoul

[2022-11-11 16:09] VRichardJP commented on #2271
Yes, it is really easy to use. My vehicle sensor kit `imu.launch.xml` file simply includes the `xsens_mti_node.launch.py` with my custom yaml parameter file. The node can output pretty much everything the Xsens device can measure (IMU, gnss, magnetic field, etc).

The only modification I have ever made to the driver is to add RTCM corrections data forwarding to the device to use RTK-GNSS. But for

[2022-11-12 01:30] VRichardJP commented on #2252
If the speed is taken into account, isn't there a risk the module will say "OK" when the vehicle is stopped right in front of the obstacle? then even with the emergency handling, autoware would restart, then stop, then restart, etc?

[2022-11-12 01:57] VRichardJP opened #2272 "`obstacle_stop_planner` does not revert its avoidance path after the avoided obstacle is gone."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I have deployed several vehicles near a train station. It is very common for other vehicles to come, stop for a minute t

[2022-11-12 02:38] takayuki5168 commented on #2211
cc @rej55 @purewater0901 @TakaHoribe

[2022-11-12 04:06] satoshi-ota commented on #2258
@VRichardJP Thanks for bug report. Could you paste whole parameters which you modified ?

These params are used only when `consider_constraints` is `false`. These parameters represent the upper and lower limits of the target slow down speed, and if you set the same values the vehicle will always decelerate to the same target speed. (See [docs](https://autowarefoundation.github.io/autoware.universe

[2022-11-12 04:31] satoshi-ota commented on #2272
@VRichardJP There is currently no function to cancel/revert avoidance path when it is no longer necessary, so this is how it would behave in the scene described above. I am currently working on developing a function that takes into account vehicles in adjacent lanes when avoiding, and if it is not safe to follow avoidance path right now, the vehicle stops behind the avoidance target and lets the a

[2022-11-12 04:37] VRichardJP commented on #2258
I have reproduced the second bug with the planning simulator:
![Screenshot from 2022-11-12 11-29-16](https://user-images.githubusercontent.com/18645627/201457104-53245830-e8f8-4fa6-9502-37a8977c3317.png)

As you can see the slow down planner is running and speed is limited to 5km/h

However I did the following changes:

- I commented out in `motion_planning.launch.py`:
https://github.com/autowaref

[2022-11-12 04:42] satoshi-ota commented on #2258
There is possibility the value of `slow_down_velocity` is always used as the target deceleration speed :thinking:
I'll check the code in `obstacle_stop_planner`.

[2022-11-12 04:55] VRichardJP commented on #2272
@satoshi-ota I am not well versed in the planning logic, but if I find the time I'll try to implement it.

[2022-11-13 03:02] satoshi-ota commented on #2258
@VRichardJP I could reproduce the improper behavior in my local env. And I fix that in #2276, so could you check that PR ?

I have confirmed that the vehicle don't slow down with following parameters.

https://user-images.githubusercontent.com/44889564/201503495-f7fb5052-284a-43be-a9ed-ac4e107b4ebe.mp4

[code]

[2022-11-13 03:15] satoshi-ota opened #2277 "component_state_monitor does not start properly"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

show following error

[code]

I commented out the following line, the error messages were shown.

https://github.com/aut

[2022-11-14 02:24] kosuke55 commented on #1543
@brkay54 Thaks very much, I will check it.

[2022-11-14 07:49] miursh commented on #1797
@xmfcx Since https://github.com/autowarefoundation/autoware.universe/issues/1009 is closed by https://github.com/autowarefoundation/autoware.universe/pull/1982 , can we also close this issue?

[2022-11-14 07:51] #1797 closed

[2022-11-14 07:52] #1228 closed

[2022-11-14 13:07] brkay54 commented on #2252
To avoid this, you can enable [emergency_holding](https://github.com/autowarefoundation/autoware.universe/blob/b6f68a5b9f79fe09f38293e6622d92fd8bcbd73b/launch/tier4_system_launch/launch/system.launch.xml#L59). If there is a problem, emergency will be true until you clear the emergency.

But you are right, `obstacle_collision_checker` is just for emergency situations. Planning should also check the

[2022-11-14 13:52] mehmetdogru commented on #2182
@WJaworskiRobotec

Here are my inputs/thoughts about the issue if [this temp solution](https://github.com/autowarefoundation/autoware.universe/issues/2182#issuecomment-1308229372) is used for this turn:

---

1) (out of context) First of all when I use [this vehicle model](https://github.com/autowarefoundation/cbus_vehicle_launch) and [itri_bus_sensor_kit](https://github.com/autowarefoundation/itr

[2022-11-15 01:58] takayuki5168 commented on #2182
@mehmetdogru

I agree with this idea.
The default tuning of kinematics.optimization_center_offset is for a normal car. Therefore, I think it's good to set 0 for buses.
If you have further question about tuning of `obstacle_avoidance_planner` package, feel free to ask me.

[2022-11-15 02:10] maxime-clem commented on #2182
You are right and this is something I overlooked in my previous PR. I will prepare a new PR to fix this.

[2022-11-15 06:38] shulanbushangshu commented on #2211
I have test the code.I find the value of cost about jerk is large.
(1)When I change  the value of pseudo_jerk_weight in the "L2.param.yaml",as below:

![Screenshot from 2022-11-15 14-29-14](https://user-images.githubusercontent.com/102840938/201844104-2612a70c-da33-438b-b5f4-163281bf8a10.png)

The car can take normal time to start;
(2)When I change the code of cost about jerk,as below:
![Screensho

[2022-11-15 07:13] isamu-takagi commented on #2277
@satoshi-ota Could you try updating `ros-galactic-launch`?

[2022-11-15 07:17] satoshi-ota commented on #2277
@isamu-takagi OK. I'll try it.

[2022-11-15 08:37] VRichardJP opened #2291 "Global planner fails when the goal point is on the same lanelet, behind the vehicle"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When the lanelet2 map has a loop, it is possible to have Autoware driving over the loop by setting the goal point behind

[2022-11-15 09:22] shulanbushangshu commented on #2291
Yes,this is a known limitation in the current planning stack.You also can  see  the discussion in https://github.com/autowarefoundation/autoware.universe/issues/1715

[2022-11-15 11:49] #2271 closed

[2022-11-15 13:04] xmfcx commented on #1127
My suggestion: Following the [discussions for the new point type `PointXYZIRCT`](https://github.com/autowarefoundation/autoware-documentation/pull/180#issuecomment-1315272014) I think we can do the following:

- Don't calculate the azimuth in the driver.
- Calculate it with `p.azimuth = std::atan2(p.y, p.x)` in the place it is necessary
- The output will be a `double` or `float` (whatever precisio

[2022-11-15 15:08] xmfcx commented on #2125
Currently @mehmetdogru and @beyzanurkaya are looking for alternative solutions for this issue.

[2022-11-15 15:20] #1734 closed

[2022-11-15 15:45] xmfcx commented on #1127
@xmfcx check for how long it takes to compute std::hypot and std::atan2 for large amount of points just to see how much computation it takes.

Also list what nodes make use of azimuth and distance fields.

@esteve also suggests to send down the values because storage/memory is cheaper.

[2022-11-15 15:56] xmfcx commented on #2044
@cyn-liu will create a PR soon.

[2022-11-15 21:33] #1988 closed

[2022-11-16 02:17] #1793 closed

[2022-11-16 09:16] VRichardJP commented on #1715
@takayuki5168
I have poked this a bit. I came up with a similar idea and modified the `RouteHandler::planPathLaneletsBetweenCheckpoints()` function like so:
- if goal and start lanelet are the same, or if they are neighbors (reachable through lane change), check if goal is behind start (using arc coordinates on the starting lanelet)
    - if not -> use the old code to generate the path
    - if ye

[2022-11-16 10:25] #2116 closed

[2022-11-16 14:26] miursh opened #2306 "Distortion correction would not work using point_cloud_msg_wrapper"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Distortion correction node does not compensate ego vehicle motion.

### Expected behavior

The xy position of `/sensing/

[2022-11-16 14:47] miursh commented on #2306
I think because of [this PR](https://github.com/autowarefoundation/autoware.universe/pull/1276), some pointcloud preprocessor does not work as expected.
1. Distortion corrector could not parse timestamp field.
2. If concatenate_data subscribes pointcloud topic other than XYZI type, the crashes with runtime error.

@esteve Have you try one of those?

[2022-11-16 19:51] xmfcx commented on #1127
I've created a mini benchmark for this topic: https://github.com/xmfcx/bench_point_cloud#readme @esteve @miursh

Let's continue this discussion in https://github.com/autowarefoundation/autoware-documentation/pull/180#issuecomment-1317583569

[2022-11-16 19:51] #1127 closed

[2022-11-17 06:34] VRichardJP commented on #1715
By using the `lanelet::Route` to generate the `HADMapSegment`s directly, it is possible to support looped path in `mission_planner`. Using the sample map, I could generate the looped path below:
[code]

To compare, this is what the `mission_planner` used to publish:
[code]

Despites the global path being correct now, the
![image](https://user-images.githubusercontent.com/18645627/202372848-1bd8194

[2022-11-17 07:00] angry-crab opened #2308 "TVM copy overhead"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In a heterogeneous context, multi-state inference introduces copy overhead.
https://github.com/liuzf1988/autowa

[2022-11-17 07:16] angry-crab opened #2309 "Implement yolo_TVM"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Implement yolo with TVM

### Purpose

Implement yolo with TVM

### Possible approaches

Implement cuda kernels

[2022-11-17 09:01] shulanbushangshu opened #2310 "The behavior_path_planner can not plan the right path in some positions as the target"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When I set the different positions of target in the lane,the behavior_path_planner can not plan the right path in some p

[2022-11-17 10:48] ismetatabay commented on #2272
@satoshi-ota @VRichardJP This issue had caught my attention before, and I did a little research on it. I think the problem is that the ```avoidance``` module in the Behavior path planner tree, after detecting the object once and running, stays in the running state until the vehicle reach its goal. This is how I solved this problem:

https://github.com/autowarefoundation/autoware.universe/blob/29e8

[2022-11-17 12:25] ismetatabay commented on #2310
Hi, can you please share map (pcd and lanelet) files? The lanelets which highlighted as I have shown below picture show that the route has been successfully generated by the mission_planner, I didn't see any problem in this case. If you're worried about not seeing the green path in rviz, the path will move forward as the vehicle move.  The parameter that is ```forward_path_length``` limits the pat

[2022-11-17 12:37] VRichardJP commented on #2272
That looks perfect!

[2022-11-18 01:39] miursh commented on #1199
Just for your information here.
Because https://github.com/autowarefoundation/autoware.universe/pull/1276 is merged, some issues are happening.
https://github.com/autowarefoundation/autoware.universe/issues/2306

[2022-11-18 02:12] yukkysaito commented on #2306
@miursh cc @esteve
It may be better to revert once if it seems to take a long time to respond.

[2022-11-18 03:27] shulanbushangshu commented on #2310
@ismetatabay  As you say, the route has been successfully generated by the mission_planner.Yes,I get what you mean.The distance from the target is more than 300m.But  the problem is that final path of the behavior_path_planner is short(I print the size of the path and it shows that there are just  two points in the path)

[2022-11-18 05:02] shulanbushangshu commented on #2310
@ismetatabay  I  test the code and show the information about the path of behavior_path_planner as below:

case1:

![Screenshot from 2022-11-18 12-55-42](https://user-images.githubusercontent.com/102840938/202620971-71dcc9e7-16c4-42d0-9cff-dab0cbf6aa84.png)

case 2:

![Screenshot from 2022-11-18 12-56-37](https://user-images.githubusercontent.com/102840938/202621080-ca99ec5e-c051-4aa1-9043-89f84ab

[2022-11-18 05:44] satoshi-ota commented on #2277
it works well with `ros-galactic-launch` update.
Thanks :+1:

[2022-11-18 05:44] #2277 closed

[2022-11-18 07:49] beyzanurkaya opened #2321 "add option to turn signal while obstacle swerving"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Although there is no turning on the single lane road, the right and left turn signals are on when the obstacle

[2022-11-18 13:07] ismetatabay commented on #2310
@shulanbushangshu This is weird thing that it shouldn't happen. At this case, if ```forward_path_length``` is 300m and ```backward_path_length``` is 5m, the number of path points created should be approximately 305/2 ≅152. To see if this situation is related to distance goal distance , I modified the sample .osm file of autoware as in the image below.

I've tried many different scenarios but haven

[2022-11-19 06:27] xmfcx opened #2330 "Update deprecated TensorRT 8.5 codes for ROS2 humble"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently in CI for humble & Ubuntu 22.04, we are using old (Ubuntu 20.04) packages for TensorRT.

In the lates

[2022-11-19 06:37] xmfcx commented on #2330
The ARM64 network repository https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/sbsa/ still doesn't have `tensorrt-dev` available.

I think we should also wait until this is available too.

Because [the new code is not backwards compatible.](https://github.com/autowarefoundation/autoware.universe/actions/runs/3498626735/jobs/5859234465#step:6:1475)

We could also install old packa

[2022-11-19 07:02] kenji-miyake commented on #2330
:+1:
Using different versions for arm64 and amd64 would be too complicated.

[2022-11-21 05:01] VRichardJP commented on #1715
I figured out the `behavior_path_planner` modules all have a special logic for the goal lanelet. Once the goal lanelet detection is fixed, Autoware is able to generate the following path:

![Screenshot from 2022-11-21 13-00-04](https://user-images.githubusercontent.com/18645627/202963820-97ce68fc-68c4-4e10-baa3-33879e2aa386.png)

# Summary

To support this use case, I had to modify the 2 packages:

[2022-11-21 05:46] #2211 closed

[2022-11-21 15:21] lchojnack commented on #2213
I've found the root cause of stopping the vehicle presented in the issue, and also in the discussion https://github.com/orgs/autowarefoundation/discussions/2981. I've noticed that in these two situations there are tree branches and tree leaves on the EGO path. The tree branches are higher than the vehicle's height and do not cause danger or reason to stop the vehicle. The node which is responsible

[2022-11-22 01:02] miursh commented on #2306
https://github.com/autowarefoundation/autoware.universe/pull/2317 has resolved this issue.

[2022-11-22 04:28] mitsudome-r commented on #2125
@mehmetdogru and @beyzanurkaya Any updates on this?

[2022-11-22 05:12] satoshi-ota commented on #2252
@brkay54 @VRichardJP There's another similar discussion, so could you check [this](https://github.com/autowarefoundation/autoware/discussions/2859), and continue the discussion in there if necessary?

[2022-11-22 05:16] mitsudome-r commented on #1543
@kosuke55 Did you have chance to check it?

[2022-11-22 07:03] mehmetdogru commented on #2125
@mitsudome-r

We don't have any updates on this one for now unfortunately.

[2022-11-22 08:48] #2197 closed

[2022-11-22 10:27] NorahXiong opened #2353 "Imperfect detect collision strategy used in freespace planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

1. Planning succeeded.
2. First segment of trajectory traveled normally.
3. Part of second segment of trajectory is out

[2022-11-22 11:50] kosuke55 commented on #1543
@brkay54
Sorry to be late, I checked in your branch. But I don't understand the expected behavior.
What's the difference from [your main branch video](https://user-images.githubusercontent.com/45468306/183460119-8300f1ed-08e9-4791-8d72-5d2c7a7e5d06.mp4)?

this is a video of using your branch. The vehicle start driving before the steer converged?

https://user-images.githubusercontent.com/39142679/

[2022-11-22 12:43] kosuke55 commented on #1543
Is the problem that `m_steer_rate_lim` is so small that the target steer angle changes so little that it doesn't become the real target value right away and is judged to converge at the value that is changing and start driving?
If so, it might be better to compare the difference between `m_ctrl_cmd_prev` and `ctrl_cmd` and judge that it is not converging if it is still changing.

[2022-11-22 12:46] kosuke55 commented on #1543
(Also, even if the ego position is changed while the pid is in drive, the car will start immediately because it is still in drive.)

[2022-11-23 05:48] satoshi-ota commented on #2353
@TakaHoribe Could you check this issue?

[2022-11-23 07:49] VRichardJP opened #2354 "Refactor mission planning to support when is goal behind start on the same lane"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

As pointed in #2291 and #1715, the `mission_planner` and `behavior_path_planner` modules cannot generate neithe

[2022-11-24 01:39] yukke42 commented on #2330
Nice!
Doesn't `lidar_apollo_instance_segmentation`  need to be updated?

[2022-11-24 02:27] shulanbushangshu commented on #2354
@VRichardJP ,As you say,The nodes including mission_planning,route_handler ,behavior_path_planner must be changed.But I plan the goal route by the previous lanes of the start lane as the  https://github.com/autowarefoundation/autoware.universe/issues/1715 said in the mission_planning(The loop checking is necessary).
In the node of behavior_path_planner,I set the flag of loop plan by the start pose

[2022-11-24 03:15] VRichardJP commented on #2354
@shulanbushangshu
I would be curious to see the changes you have made to make it work.
On a first try, I modified mostly the `route_handler` and simply introduced a pose argument to all the `getLaneletSequence()` like functions.

This is enough for the route to be planned correctly, but then behavior_path_planner modules are not able to generate the path to the goal pose.

I tried to do a similar

[2022-11-24 03:34] shulanbushangshu commented on #2354
@VRichardJP As you say,then behavior_path_planner modules are not able to generate the path to the goal pose.So I add the additional codes to deal with the problem in function "modifyPathForSmoothGoalConnection". In the modifyPathForSmoothGoalConnection,I change the goal_lane_id and refined_goal by judging the target pose.

[2022-11-24 07:18] VRichardJP opened #2364 "Lane change fails in this situation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Found a situation where Autoware fails to generate a lane change:
[lanelet2_map.txt](https://github.com/autowarefoundati

[2022-11-24 09:16] zulfaqar-azmi-t4 commented on #2364
Hi @VRichardJP

For lane change lane, it is recommeded to add `lane_change` tag to ensure it works properly.
I attached the edited version here.

[lanelet2_map.txt](https://github.com/autowarefoundation/autoware.universe/files/10082923/lanelet2_map.txt)

![Screenshot from 2022-11-24 18-13-56](https://user-images.githubusercontent.com/93502286/203744474-24f53eb6-a9db-4073-9c49-a519381ecc7a.png)

[2022-11-24 12:53] VRichardJP commented on #2364
@zulfaqar-azmi-t4 Thank you!

How come lane change is possible in most cases with only dashed lines (no `lane_change` tag)? Is it normal for Autoware to have multiple behaviors, depending on whether the line is dashed and whether the `lane_change` tag is set to true?

[2022-11-24 14:09] zulfaqar-azmi-t4 commented on #2364
The behavior differences might not came from the lane change module. From the general observation, for no `lane change` tag version, as lane is not registered in the preferred lane (related to either mission planner or route handler), the lane change module is not activated. As I am not well versed in there part, let me take some time to dig into the code.

[2022-11-24 20:12] xmfcx commented on #2330
With all current PRs applied, everything compiled fine. I also checked [lidar_apollo_instance_segmentation/lib/src/TrtNet.cpp](https://github.com/autowarefoundation/autoware.universe/blob/main/perception/lidar_apollo_instance_segmentation/lib/src/TrtNet.cpp) and it doesn't look like it's using outdated APIs similar to ones I've changed.

Tomorrow I will try to compile it again just to be sure.

[2022-11-25 01:36] VRichardJP opened #2374 "Out-of-range access in `obstacle_stop_planner::insertSlowDownSection`"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While using the slow down planner to increase ACC detection range (see https://github.com/autowarefoundation/autoware.un

[2022-11-25 03:21] taikitanaka3 opened #2375 "rtc_replayer can't replay rosbag rtc command for logsim"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

This uuid is unique for ll2 in behavior velocity but in behavior path planner uuid is completely random so it's impossib

[2022-11-25 07:51] angry-crab commented on #2186
Humble packages are still being held. Not sure why.

[2022-11-27 16:10] takayuki5168 commented on #1956
@VRichardJP Can I close the issue for now since there is no reproduction method and not reported by others. We can reopen if the problem occurred again.
Or do you any reason to keep this issue open?

[2022-11-27 23:01] VRichardJP commented on #1956
You can close it.
I have not faced the problem for a while either. Maybe it was just my old setup which was broken.

[2022-11-28 01:35] #1956 closed

[2022-11-28 04:43] zulfaqar-azmi-t4 opened #2381 "while ego is lane changing behavior path planner process died when trying another lane change attempt"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When ego vehicle is lane changing, if we abruptly change the ego to another place in the map, and attempted lane change,

[2022-11-28 05:16] tkhmy opened #2383 "Create api for vehicle status"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Hi, currently autoware do not have any api that can monitor the vehicle status, if an user or application want

[2022-11-28 07:07] zulfaqar-azmi-t4 commented on #2381
PR to fix this is merged.

[2022-11-28 07:07] #2381 closed

[2022-11-28 08:45] angry-crab commented on #908
Closed because the PR is merged.

[2022-11-28 08:45] #908 closed

[2022-11-28 09:50] taikitanaka3 opened #2389 "avoidance candidate path can be chattering at return shift"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

as title says

### Expected behavior

during avoidance return, path candidate shouldn't be chattering.

### Actual behav

[2022-11-28 12:41] xmfcx opened #2390 "Planning simulator stops for non-existant virtual traffic light"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Following the https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/planning-simu

[2022-11-29 01:43] takayuki5168 commented on #962
@xqe2011 Please reopen this issue if the issue still occurrs.

[2022-11-29 01:43] #962 closed

[2022-11-29 04:13] #2389 closed

[2022-11-29 04:28] #2258 closed

[2022-11-29 15:36] #2321 closed

[2022-11-29 15:55] mitsudome-r commented on #2390
Virtual traffic light is meant to be used for V2X communication. The vehicle will wait until it receives approval from the external software (infrastructure) to pass.
https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_velocity_planner/virtual-traffic-light-design/.

The reason why virtual traffic light being defined in the sample map is because the sample map is original

[2022-11-29 23:06] satoshi-ota commented on #2262
Hi @VRichardJP Thanks for your idea :+1:
As you know, the current `obstacle_stop_planner` does not have rich features for cut-in scenarios.

On the other hand, we TIER IV working on developping new planner `obstacle_cruise_planner` that is richer than the old one and supports cut-in scenario. If you want to try it, you have to set the following parameter `cruise_planner` as `obstacle_cruise_planne

[2022-11-30 03:50] taikitanaka3 commented on #2375
@mitsudome-r
This is a part of [reminder](https://star4.slack.com/archives/C03QW0GU6P7/p1669345676191219?thread_ts=1669253894.277569&cid=C03QW0GU6P7) for me,
I mean logsim for logging simulator launch, so it's already open source (sorry for confusion)

What I am trying to do is to replay rtc from rosbag data using rtc status topic.
This PR description describes purpose.

[2022-11-30 05:56] yukkysaito commented on #143
I'm working in [this PR](https://github.com/autowarefoundation/autoware_launch/pull/116)

[2022-11-30 09:17] VRichardJP commented on #2354
@xmfcx you can assign this to me. I am working on this at the moment (it just take some time ^^)

[2022-11-30 13:40] ambroise-arm opened #2409 "[CI] build-and-test-differential only tests CUDA"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The `build-and-test-differential` workflow only starts a runner with cuda enabled: https://github.com/autowarefoundation

[2022-11-30 13:42] ambroise-arm commented on #2409
cc @kenji-miyake

[2022-11-30 13:48] kenji-miyake commented on #2409
@ambroise-arm Actually, it was intentionally removed temporarily.
https://github.com/autowarefoundation/autoware.universe/pull/1669

After we move to Humble and remove Galactic CI workflows by https://github.com/autowarefoundation/autoware.universe/pull/2408, I believe we can re-enable no-cuda checks.

[2022-11-30 13:49] kenji-miyake commented on #2409
Ah, sorry. I misunderstand your problem. Will fix my comment above.

[2022-11-30 13:53] kenji-miyake commented on #2409
Okay, I think my comment wasn't so wrong.

I believe it's not true. We need CUDA for now because `autoware.universe` depends on CUDA yet.
But the no-cuda environment should also be tested.

@ambroise-arm What do you think?

[2022-11-30 13:53] ambroise-arm commented on #2409
I believe your comment gives valuable information as it is.
Is the re-enablement of the no-cuda checks tracked somewhere? If not we could keep this open until it is done.

[2022-11-30 13:54] kenji-miyake commented on #2409
I'll create a revert PR and relate this issue.

[2022-11-30 13:59] ambroise-arm commented on #2409
I understand that cuda is necessary to have the runtime functionality of Autoware. But I strongly believe that it should be possible to built without it.
For example https://github.com/autowarefoundation/autoware.universe/blob/03de605b0998e9a9ee623f9a74a7002f4d2b61a4/perception/lidar_apollo_instance_segmentation/CMakeLists.txt#L12 has a different behavior whether cuda is present on the system or n