[2021-11-30 02:24] mitsudome-r opened #1 "Merge packages in Tier IV's AutowareArchitectureProposal repository"
Merge packages in https://github.com/tier4/AutowareArchitectureProposal.iv

[2021-11-30 02:26] mitsudome-r opened #2 "Rename package name for messages for AutowareArchitectureProposal packages"
Currently, names of the messages used for Autoware Architecture Proposal packages could overlap with AutowareAuto msgs.
We will replace the package name with unique packages name (e.g. t4_planning_msgs) after all the merging of packages are done.

[2021-11-30 03:20] kenji-miyake commented on #1
This is the directory structure that @mitsudome-r has discussed and agreed with AWF core members in [this meeting](https://gitlab.com/autowarefoundation/autoware-foundation/-/issues/184#directory-structure-of-universe).
![image](https://user-images.githubusercontent.com/31987104/143979273-ad90f34d-bc20-43c6-ad4d-3906b2f8f618.png)

If it gets messy, we can consider a new structure.
However basicall

[2021-11-30 03:20] kenji-miyake commented on #1
Although there are DCO errors, we'll ignore them for `tier4/proposal` branch.
https://github.com/autowarefoundation/autoware.universe/pull/3#issuecomment-982235871

When we merge it to `main` branch, @mitsudome-r will sign the squashed commits.

[2021-11-30 04:24] kenji-miyake commented on #1
The commit hash we started porting is this.
https://github.com/tier4/AutowareArchitectureProposal.iv/commit/c23d3e1ee46e0dfd9db194949b6c599b477f814f

[2021-11-30 05:54] 1222-takeshi opened #21 "Remove unnecessary messages from Tier IV's proposal messages"
Check the dependency and remove unnecessary messages that are replaced by autoware_auto_msgs from messages.

- [x] autoware_control_msgs
- [x] autoware_vehicle_msgs
- [x] autoware_perception_msgs
- [x] autoware_planning_msgs
- [x] autoware_system_msgs
- [x] autoware_lanelet2_msgs

[2021-11-30 09:14] tkimura4 commented on #2
https://github.com/autowarefoundation/autoware.universe/blob/a330c08a9e3e20748bf36d488bd3a70a7c142ab4/messages/README.md
Readme may need to be changed according to this change.

[2021-12-02 01:27] taikitanaka3 opened #85 "Add package dependency"
Check the dependency and add necessary dependency that are used by autoware pakcages

[2021-12-02 02:21] taikitanaka3 opened #88 "Some of the reference articles are written in Japanese"
Some packages of readme or comment has reference which is written by Japanese.

If it's easily replace by English article then replace it, otherwise leave it alone.

[2021-12-02 02:55] taikitanaka3 opened #92 "Fix spellcheck errors"
some packages have spell check errors

[2021-12-02 02:58] taikitanaka3 commented on #92
https://github.com/autowarefoundation/autoware.universe/pull/19

[2021-12-04 09:53] kenji-miyake opened #111 "Fix ARM build errors of ndt_omp"
https://github.com/autowarefoundation/autoware.universe/runs/4412075103?check_suite_focus=true

@harihitode and @KeisukeShima are working on this.
Although it's already fixed [here](https://github.com/tier4/ndt_omp/commit/48376d0e05f9bded1fb1f559836467ac42641ec3), since it's just a workaround, they're improving this.

[2021-12-04 09:55] kenji-miyake commented on #85
When can this issue be closed? Are there any issues left?

[2021-12-04 09:58] kenji-miyake commented on #21
Also, the naming should be refined. For example, to `t4_planning_msgs`, `tier4_*_msgs` or so.

[2021-12-04 10:11] kenji-miyake opened #112 "Consider using Composite Actions instead of Reusable Workflows in GitHub Actions"
[Reusable Workflows](https://docs.github.com/en/actions/learn-github-actions/reusing-workflows) are very useful, so I introduced [here](https://github.com/autowarefoundation/autoware.universe/pull/53).

However, I found it has a few disadvantages in some use cases.
https://github.community/t/ref-head-in-reusable-workflows/203690/17

Therefore, I'll replace some of the Reusable Workflows with Compo

[2021-12-06 03:54] taikitanaka3 opened #117 "How much should we adjust "Autoware.auto packages" to the "Tier4" acceptance criteria?"
So far some packages area back porting from autoware.auto so we should change as minimal as possible, so we don't apply these changes.

- [ ] pre-commit (ignore for temporary)
- [ ] add sample launch file (each packages should have sample launch file)
- [x] pass Gtest
- [x] readme.md

below should be added?
- [ ] add sample launch file (each packages should have sample launch file)

[2021-12-06 03:57] taikitanaka3 opened #118 "Is it OK to have TODO comment in PR code?"
as PR title description.

[2021-12-06 04:14] kenji-miyake commented on #118
I think it's okay, but it should be reviewed as much as possible.

[2021-12-06 04:16] kenji-miyake commented on #117
IMO, finally pre-commit and sample launch file are applied, but it can be ignored in the porting stage and will do it later.

[2021-12-06 05:05] wep21 opened #119 "Fix subscriber qos for route"
https://github.com/tier4/autoware.iv/pull/2388

![image](https://user-images.githubusercontent.com/31987104/144793774-e89632cd-c75a-4ede-8e1d-f42090e5c7e6.png)

[2021-12-06 05:09] wep21 opened #120 "Fix legacy timer creation"
https://github.com/tier4/autoware.iv/pull/2302

![image](https://user-images.githubusercontent.com/31987104/144793686-41f20758-75f0-4c4d-9175-4676a8e56b5e.png)

[2021-12-06 05:11] wep21 opened #121 "Separate callback group to execute callbackInitialPose in parallel"
https://github.com/tier4/autoware.iv/pull/2372

[2021-12-06 08:16] tkimura4 opened #123 "Add vehicle_info_params to launch files"
Add vehicle_info_params to launch files which use the vehicle_info_utils

[2021-12-06 08:23] maxime-clem commented on #118
The template for merge requests in .Auto has checkboxes for:

and

I think this is a good practice.

[2021-12-06 08:57] kenji-miyake commented on #119
https://github.com/tier4/AutowareArchitectureProposal.iv/pull/763

[2021-12-07 04:40] 1222-takeshi commented on #85
I think can close this issue.

@taikitanaka3
What do you think?

[2021-12-07 06:05] wep21 commented on #119
https://github.com/autowarefoundation/autoware.universe/pull/137

[2021-12-07 13:59] kenji-miyake opened #141 "Rename existing packages named `autoware_*` to different names"
To avoid confusion between Core/Common's prefix.
https://github.com/autowarefoundation/autoware_common/issues/3#issuecomment-987950199

[2021-12-07 14:03] kenji-miyake opened #142 "Change the reference of autoware_auto_msgs"
https://github.com/autowarefoundation/autoware_common/issues/4#issuecomment-987946881

- [ ] Move Tier IV's fork to AWF org?
- [ ] Consider renaming repository name as `autoware_msgs`
    - Because the package names might change in the future.

[2021-12-07 14:03] kenji-miyake commented on #142
Currently, the reference is tier4 org.
https://github.com/autowarefoundation/autoware.universe/blob/c2e79c3a56956f867030b2cbc9675e2e7c7c1339/build_depends.repos#L10-L13
https://github.com/tier4/autoware_auto_msgs

[2021-12-07 14:27] kenji-miyake opened #143 "Consider using global_parameter_loader"
global parameters

With our current plan, there will be multiple `default_common.param.yaml`, but it might increase the maintenance cost, for example when the common parameter gets a new variable.

- https://github.com/autowarefoundation/autoware.universe/blob/c2e79c3a56956f867030b2cbc9675e2e7c7c1339/planning/external_velocity_limit_selector/config/default_common.param.yaml
- https://github.com/au

[2021-12-08 02:10] taikitanaka3 opened #146 "Sometimes unit test fails"

[2021-12-08 02:11] taikitanaka3 commented on #146
https://github.com/autowarefoundation/autoware.universe/runs/4448367651?check_suite_focus=true

[2021-12-08 06:42] 1222-takeshi commented on #119
@wep21
I think this Issue has been resolved.
Could you close this Issue ?

[2021-12-08 12:24] wep21 commented on #119
@1222-takeshi There are some other nodes which uses a defaut qos for route.
[code]

[2021-12-09 02:21] 1222-takeshi commented on #21
message type that may still be used.
To be removed.

- [ ] autoware_perception_msgs/object_recognition/DynamicObject.msg
- [ ] autoware_perception_msgs/object_recognition/DynamicObjectArray.msg
- [ ] autoware_perception_msgs/object_recognition/PredictedPath.msg
- [ ] autoware_perception_msgs/object_recognition/Semantic.msg
- [ ] autoware_perception_msgs/object_recognition/Shape.msg
- [ ] autoware_

[2021-12-09 04:59] 1222-takeshi commented on #119
@wep21
I created this PR. https://github.com/autowarefoundation/autoware.universe/pull/149
Please check this.

[2021-12-09 08:29] tkimura4 commented on #123
https://github.com/autowarefoundation/autoware.universe/pull/148

[2021-12-09 08:30] tkimura4 commented on #2
https://github.com/autowarefoundation/autoware.universe/pull/150

[2021-12-10 07:10] tkimura4 commented on #2
PR merged.

[2021-12-10 07:10] #2 closed

[2021-12-10 07:11] tkimura4 commented on #85
@taikitanaka3

[2021-12-10 07:21] tkimura4 commented on #141
Please comment if there is something better.
@kenji-miyake
@mitsudome-r

Suggestion.
---
autoware_api_utils -> tier4_api_utils
autoware_state_monitor -> driving_state_monitor
autoware_error_monitor -> system_error_monitor
autoware_utils -> tier4_autoware_utils
autoware_global_parameter_loader -> global_parameter_loader
autoware_iv_auto_msgs_converter -> tier4_auto_msgs_converter
autoware_joy_contr

[2021-12-10 07:25] 1222-takeshi commented on #121
https://github.com/autowarefoundation/autoware.universe/pull/153

[2021-12-10 07:30] 1222-takeshi commented on #121
@wep21
PR is merged, so if there are no others, could you close this Issue?

[2021-12-10 08:01] kenji-miyake commented on #141
@tkimura4 Thank you!

I'm considering if it should be `ad_service_state_monitor`. :thinking:

@isamu-takagi Do you have any idea?

I feel just `joy_controller` and `web_controller` are acceptable.

Can this be removed?
I guess @isamu-takagi and @yamacir-kit can judge it.
If it cannot yet, I think changing the package name will break the API.

Since no one uses it anymore, I think we can remove it.

[2021-12-10 08:03] kenji-miyake commented on #141
@yukkysaito Please comment if you have any opinions. :pray:

[2021-12-10 08:10] tkimura4 commented on #141
autoware_api_utils -> tier4_api_utils
autoware_debug_tools -> tier4_autoware_debug_tools
autoware_error_monitor -> system_error_monitor
autoware_state_monitor -> ad_service_state_monitor
autoware_utils -> tier4_autoware_utils
autoware_global_parameter_loader -> global_parameter_loader
autoware_iv_auto_msgs_converter -> tier4_auto_msgs_converter
autoware_joy_controller -> joy_controller
autoware_we

[2021-12-10 08:11] #121 closed

[2021-12-10 08:13] #118 closed

[2021-12-10 08:14] #85 closed

[2021-12-10 08:14] #117 closed

[2021-12-10 08:15] #146 closed

[2021-12-10 08:51] 1222-takeshi commented on #141
@tkimura4 @kenji-miyake
What do you think about autoware_auto_perception_rviz_plugin?

[2021-12-10 08:51] yamacir-kit commented on #141
@kenji-miyake
Since scenario_simulator_v2 does not yet depend on autoware_version, renaming autoware_version will not cause any problems.

[2021-12-10 09:37] isamu-takagi commented on #141
@tkimura4 @kenji-miyake
autoware_state_monitor will merged into autoware_iv_external_api_adaptor,
so I think it is better to rename temporary name.
Then, external_api_adaptor shoud be ad_service_state_monitor or adapi_adaptor or something.

@tkimura4 @yamacir-kit
yes, it can be removed if simulator does not use.

[2021-12-13 09:17] tkimura4 commented on #141
update:

autoware_api_utils -> tier4_api_utils
autoware_debug_tools -> tier4_autoware_debug_tools
autoware_error_monitor -> system_error_monitor
autoware_state_monitor -> ad_service_state_monitor
autoware_utils -> tier4_autoware_utils
autoware_global_parameter_loader -> global_parameter_loader
autoware_iv_auto_msgs_converter -> tier4_auto_msgs_converter
autoware_joy_controller -> joy_controller
au

[2021-12-14 04:19] tkimura4 opened #177 "rename launch packages"
\*\_launch -> tier4\_\*\_launch

(ex. control_launch -> tier4\_control\_launch)

[2021-12-14 10:26] 1222-takeshi opened #181 "Add common packages and tool packages of autoware.auto"
Add common packages and tool packages of autoware.auto for the dependencies of the autoware.auto package.

- [x] autoware_auto_cmake
- [x] autoware_auto_common
- [x] autoware_auto_geometry
- [x] autoware_auto_tf2
- [x] autoware_testing
- [x] fake_test_node
- [x] had_map_utils
- [x] motion_common
- [x] motion_testing
- [x] time_utils
- [x] vehicle_constants_manager

[2021-12-14 14:36] kenji-miyake opened #183 "Fix typos"
I think `procs` can be added to the dictionary or be replaced by `processes` (or `processors`?).

![image](https://user-images.githubusercontent.com/31987104/146018357-8cd991d0-85cc-45fd-bd40-4a8ae199d7ab.png)

[2021-12-14 14:41] kenji-miyake opened #184 "Consider removing `exec_depend` in CI testing"
Testing for launch packages is too slow.
https://github.com/autowarefoundation/autoware.universe/runs/4521035044?check_suite_focus=true

Example:
https://github.com/tier4/AutowareArchitectureProposal_launcher/blob/2af084219d0fae7effa46ef1277bb8f2082f19c6/.github/workflows/build_and_test_pr.yml#L35-L38

[2021-12-14 14:44] kenji-miyake commented on #184
To prevent removing necessary depends, we can limit the targets to `*_launch` packages.

[2021-12-14 14:50] kenji-miyake commented on #184
I guess this is a bug of `colcon`. (Or is it the specification? :thinking: )

[code]

[code]

[2021-12-15 01:35] taikitanaka3 commented on #177
related to this PR
https://github.com/tier4/autoware.proj/pull/379

[2021-12-15 01:36] taikitanaka3 commented on #177
need to merge this PR first before renaming
https://github.com/autowarefoundation/autoware.universe/pull/172

[2021-12-15 12:37] 1222-takeshi commented on #181
https://github.com/autowarefoundation/autoware.universe/pull/185 Merged

[2021-12-15 12:37] #181 closed

[2021-12-16 01:13] taikitanaka3 commented on #177
Done at https://github.com/autowarefoundation/autoware.universe/pull/186

[2021-12-16 01:13] #177 closed

[2021-12-16 01:14] #123 closed

[2021-12-17 08:17] #21 closed

[2021-12-17 08:29] 1222-takeshi commented on #141
@tkimura4
Can I close this Issue ?

[2021-12-17 08:30] tkimura4 commented on #141
@1222-takeshi
Yes. Thanks!

[2021-12-17 08:30] #141 closed

[2021-12-20 04:51] kenji-miyake opened #204 "Support Docker development environment"
To provide an easy-to-develop environment, we should support Docker.

The base of Dockerfile is introduced here.
https://github.com/tier4/AutowareArchitectureProposal.proj/tree/main/docker

Also, Autoware.Auto has Dockerfile for `ade`.
https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/blob/master/tools/ade_image/Dockerfile

[2021-12-20 04:58] kenji-miyake commented on #204
To be able to build not only `autoware.universe` but also the entire workspace including drivers, tools, and etc., I think it's better to put Dockerfile into the meta-repository.

So I'll wait for we'll set up https://github.com/autowarefoundation/autoware.

For example, we need CUDA, TensorRT, and PyTorch for Universe for now, even though they might be replaced by TVM in the future.
https://githu

[2021-12-21 09:03] kenji-miyake commented on #204
This Docker image can be used in the CI of `autoware.universe`. Currently, it uses `ros:galactic`, but since it doesn't have CUDA, the Perception packages are not built.

[2021-12-22 10:52] takayuki5168 opened #213 "missing updateQ function in osqp interface"
`updateQ` function was removed by mistake that is necessary to use warm start of osqp.

[2021-12-23 05:11] #213 closed

[2021-12-23 05:11] takayuki5168 opened #216 "VehicleStateCommand is still used in simple_planning_simulator, which is a deprecated message"
We have to replace VehicleStateCommand with GearCommand.

[2021-12-24 03:40] taikitanaka3 opened #219 "Subscriber publishes topic which publisher is not yet established"

[2021-12-24 03:56] 0x126 opened #221 "Diagnostics with no corresponding node"
There are no nodes that output these diagnostics in this repository or in any other public repository.
Don't these need to be removed or commented out?

https://github.com/autowarefoundation/autoware.universe/blob/tier4/proposal/system/system_error_monitor/config/diagnostic_aggregator/control.param.yaml#L69-L81

https://github.com/autowarefoundation/autoware.universe/blob/tier4/proposal/system/sys

[2021-12-24 04:03] taikitanaka3 opened #222 "Add missing current pose topic for simple planning simulator"
This line is unsed so far so it would be better to remove this line and assume pose from simulator is coming from odometry message.
https://github.com/autowarefoundation/autoware.universe/blob/272645304e8acda0a13dc4bf9935edbf50c12b32/simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp#L112
or
add `/current_pose` topic like autoware.iv
The same infor

[2021-12-24 06:23] kenji-miyake commented on #221
Generally, regarding diagnostic_aggregator configs, I think no need to remove them because we can adjust whether to watch them in `autoware_error_monitor.param.yaml`.

But since we don't use `map_version` for now, we can remove it now and re-consider the name when it's added.

[2021-12-24 07:25] taikitanaka3 commented on #222
TODO
decide output topic name

[2021-12-26 23:34] kenji-miyake opened #226 "Remove unnecessary depends from build_depends.repos"
https://github.com/autowarefoundation/autoware.universe/blob/272645304e8acda0a13dc4bf9935edbf50c12b32/build_depends.repos

- tier4_ament_lint can be replaced by autoware_common
- rosauth can be removed
- etc.

Before removing them, we have to add a CI for `build_depends.repos`.

[2021-12-27 00:16] #183 closed

[2021-12-27 00:18] kenji-miyake commented on #112
Resolved by #161

[2021-12-27 00:18] #112 closed

[2021-12-27 00:18] kenji-miyake commented on #92
I'll close this because there isn't enough description.

[2021-12-27 00:18] #92 closed

[2021-12-27 00:20] kenji-miyake commented on #1
@tkimura4 @taikitanaka3 @1222-takeshi Could you explain the remaining tasks, please? Nothing?

[2021-12-27 00:20] wep21 commented on #216
resolved by #217.

[2021-12-27 00:20] #216 closed

[2021-12-27 00:20] kenji-miyake commented on #88
@taikitanaka3 Could you please list the Japanese documents?

[2021-12-27 00:26] kenji-miyake commented on #120
@wep21 Please let me assign this issue to you. :pray:

[2021-12-27 10:20] #226 closed

[2021-12-27 10:20] #184 closed

[2022-01-05 09:19] takayuki5168 opened #231 "`/vehicle/status/control_mode` is always autonomous with simple planning simulator"
It should be MANUAL before autoware engage, the same as the simple planning simulator in autoware.iv

[2022-01-05 09:20] takayuki5168 commented on #231
It should be MANUAL before autoware engage, the same as the simple planning simulator in autoware.iv

[2022-01-06 01:07] taikitanaka3 commented on #231
closed for this pr merged

[2022-01-06 01:07] #231 closed

[2022-01-06 01:09] taikitanaka3 commented on #219
close this for PR merged

[2022-01-06 01:09] #219 closed

[2022-01-07 01:17] taikitanaka3 opened #234 "behavior avoidance need to consider area to be able to drive"

[2022-01-07 07:16] kyoichi-sugahara opened #236 "Add delay model of velocity and steering"
Adding delay model of velocity and steering which reads velocity command as `DELAY_STEER_VEL`.
This model was used in autoware.iv as `DELAY_STEER`. And this model was not ported from autoware.iv.
https://github.com/autowarefoundation/autoware.universe/blob/4dc308f57bacf835e6c62582cd953bf09880eb98/simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.h

[2022-01-08 06:10] takayuki5168 commented on #236
resolved by https://github.com/autowarefoundation/autoware.universe/pull/235

[2022-01-08 06:10] #236 closed

[2022-01-08 20:45] kenji-miyake opened #238 "Galactic ARM version of pacmod3_msgs isn't released"
`rosdep install` in ARM CI failed.
https://github.com/autowarefoundation/autoware.universe/runs/4749500723?check_suite_focus=true#step:7:6268

https://s3.amazonaws.com/autonomoustuff-repo

[2022-01-11 02:27] taikitanaka3 opened #239 "consider case when autoware overshoot internally or externally"
There are some modules which doesn't define case for overshooting stop line without fulfilling stop condition by internal control error or external manual input that causes "Stop forever until manual override is applied".  For example stop line defines stop state as 2 [sec] velocity below of 0.1[m/s] at 2[m] around stop line however if there is manual override or  control error occur and over stop

[2022-01-11 15:13] kosuke55 opened #244 "Fix behavior_velocity_planner"
Port https://github.com/tier4/autoware.iv/pull/2413 .

- Add margin to isBeforeStopLine #228
- Common parameter with isNearAnyEndLine and isNearAnyEndLine. #228
- Fixed the bool value of isStateTimeout. #228
- Check timeout even after the stop_line by default   #228
- Fix findForwardOffsetSegment of detection_area #305
- Fix virtual_traffic_light findBackwardOffsetSegment index #306
- Consider pos

[2022-01-12 00:45] taikitanaka3 commented on #1
@kenji-miyake
I think this issue can be closed.

[2022-01-12 00:46] kenji-miyake commented on #1
Cool! After @mitsudome-r checks it, let's close!.

[2022-01-13 05:30] angry-crab opened #248 "Merge packages from autoware.auto repo"
This issue aims to merge packages from autoware repo in gitlab. Prefix 'auto' will be added to packages from gitlab to distinguish with those in `universe`. The current plan is to add most packages except for the ones under `src/tools`. Please feel free to make any comment or suggestion.

[2022-01-13 05:43] kenji-miyake commented on #248
@angry-crab Thank you for opening this issue! :smile:

How will you deal with the packages that are already ported from `Autoware.Auto` like `trajectory_follower_nodes`?
https://github.com/autowarefoundation/autoware.universe/blob/3e27b12760dfb6fad8b686ea82e8f4a768297d4d/control/trajectory_follower_nodes/package.xml

Will you prefix them as well?
I think it's better to discuss with @TakaHoribe @ma

[2022-01-13 06:04] #119 closed

[2022-01-13 06:34] maxime-clem commented on #248
I thought the code from Autoware.auto would become https://github.com/autowarefoundation/autoware.core. Is this wrong ?

[2022-01-13 06:45] kenji-miyake commented on #248
@maxime-clem Yes, I believe it's wrong. We need refactoring even it's from Autoware.Auto, they contain some code developed in a prototyping level.

TIER IV will propose the merge criteria for Core/Universe and AWF members will discuss it.
https://github.com/autowarefoundation/autoware-documentation/issues/2

The plan was proposed here.
https://gitlab.com/autowarefoundation/autoware-foundation/-/is

[2022-01-13 07:22] xmfcx commented on #248
I think we need to explain/show what currently exists in the universe right now since there was no merge criteria with what is already in the universe right now.

What are current capabilities of the universe?

We don't need to merge all of the Autoware.Auto to the universe. We can always take packages/code snippets from the Gitlab repository as needed.

We should first understand what exists in t

[2022-01-13 08:09] angry-crab commented on #248
@kenji-miyake Thanks for the comments. I think we could ignore the packages which are already ported.
As for the new formatter, do you mean code style? If so, we should leave it for the refactoring step.

[2022-01-13 08:41] kenji-miyake commented on #248
@xmfcx Thank you.

Yes, I'll consider and prepare documents. Please wait for a while. :bow:
For now, since I've set up the CI, it is the minimum requirement, I think.

Did you mean a kind of functional coverage of Autonomous Driving?
Then full features of TIER IV's proposal were merged.

Yes, I agree.
@angry-crab So could you list up the necessary features from Autoware.Auto?

I see. Then we need

[2022-01-13 08:50] maxime-clem commented on #248
I think the packages required to run all the demos (see `autoware_demos` in .Auto) can be a good start.

This is my understanding as well. Unfortunately I am afraid some packages have diverged between .Auto and universe so we will need to do some checking to not lose any recent improvements.

[2022-01-13 10:45] kenji-miyake commented on #204
Implemented the first version in https://github.com/autowarefoundation/autoware/pull/14.

[2022-01-13 11:00] IshitaTakeshi commented on #204
I'd suggest some features to add:
* The execution procedure. How to launch autoware and play rosbag
* Mount files to the host environment. It should be easier to modify files on the host environment rather than on a container

[2022-01-14 04:40] angry-crab commented on #248
@kenji-miyake Thanks for clarification. If the universe repo has already been using a new formatter, I'll make sure pacckages from` Autoware.auto`  updated as well. Otherwise, I'll leave it for now.
As for the candidates list, I agree with @maxime-clem that we can start with packages used in `autoware_demo`.

[2022-01-16 07:41] kyoichi-sugahara opened #255 "Fix calcuation of angle difference"
In the function of angle difference calculation, NaN value is returned when the absolute value of inner product is larger than 1.
https://github.com/autowarefoundation/autoware.universe/blob/045009c4834f9c0ae9c2a0513e6f6c12ee88e86a/map/lanelet2_extension/lib/query.cpp#L38-L45

This is because arg of atd::acos shouldn't be outside the range [-1.0, 1.0] expalined [here](https://en.cppreference.com/w

[2022-01-17 07:23] taikitanaka3 opened #258 "occlusion spot: remaining TODOs"
below is remaing TODOs
1. better interpolation using original path behind ego #290
2. consider using lanelet info to filter unnecessary possible collision.
3. fix velocity of spline interpolation #290
4. consider safe margin before collision point https://github.com/autowarefoundation/autoware.universe/pull/344
5. consider detection area of passable/impassable collisiopn. https://github.com/autowa

[2022-01-17 11:07] #111 closed

[2022-01-18 00:44] #255 closed

[2022-01-18 00:57] kenji-miyake commented on #255
@kyoichi-sugahara Could you explain specifically in what situations the inner product will be larger than 1, please?

[2022-01-18 01:10] taikitanaka3 opened #261 "Making unit tests for each functions"
[updated]
Make a unit tests for new feature would be better for reviewers.

[2022-01-18 01:43] zulfaqar-azmi-t4 commented on #234
The port is completed. The PR is made but currently it is converted to "draft". Once I confirmed it function properly with Planning Simulator, I will change the status to "ready to review"

[2022-01-18 02:40] kyoichi-sugahara commented on #255
@kenji-miyake
Sorry for not describing the detail.
I had same a same problem with the [link](https://stackoverflow.com/questions/52138147/why-is-acos-resulting-in-nanind-when-using-the-result-of-a-dot-product)

When `angle1` and `angle2` are the same, `vec1.dot(vec2)` expected to be 1. but in some cases, the value which is larger than 1 is calculated because of numerical error.

[2022-01-18 02:42] taikitanaka3 opened #265 "some of calcSignedArcLength function need to consider path index or pose"

[2022-01-18 03:15] kenji-miyake commented on #265
Please write some descriptions.

[2022-01-18 03:37] taikitanaka3 commented on #265
currently calcSignedArclength is only consider position to the closest segment so the place where path or trajectory has it's own intersection segment then closest point is considered as target point.
![image](https://user-images.githubusercontent.com/65527974/149866661-1544523f-e5cd-4159-a34d-72cfa8ce6f24.png)

[2022-01-18 07:42] angry-crab commented on #248
Another issue is that whether we should prefix the namespace, name of class, and name of folder. After discussing with @mitsudome-r-san, I think those should be prefixed to avoid ambiguity for development process.

[2022-01-18 08:33] 0x126 commented on #221
Thank you for your comment, I created a PR.

[2022-01-18 10:27] kenji-miyake commented on #238
Oh yes, thank you for the reminder!

[2022-01-18 10:27] #238 closed

[2022-01-18 10:31] wep21 opened #268 "Support rolling(humble)"
Some modifications are necessary to migrate to ros2 rolling(humble).
https://github.com/autowarefoundation/autoware.universe/pull/247

[2022-01-18 10:35] wep21 commented on #268
https://docs.ros.org/en/foxy/Releases/Release-Humble-Hawksbill.html

[2022-01-19 08:50] KeisukeShima opened #270 "Add implementation to arm_cpu_monitor"
I fixed a build error on aarch64 (#263), but that only suppressed warnings.
To support aarch64 systems with `system_monitor`, we need to add an implementation to `arm_cpu_monitor`.
Now, the following function is unimplemented.
https://github.com/autowarefoundation/autoware.universe/blob/tier4/proposal/system/system_monitor/src/cpu_monitor/arm_cpu_monitor.cpp#L33

I would like to contribute to this

[2022-01-20 02:30] taikitanaka3 opened #272 "Unit test for daily health check is unstable"
100% tests passed, 0 tests failed out of 6

Label Time Summary:
copyright     =  11.92 sec*proc (1 test)
cppcheck      =   1.07 sec*proc (1 test)
gtest         =   1.04 sec*proc (2 tests)
lint_cmake    =   0.71 sec*proc (1 test)
linter        =  15.99 sec*proc (4 tests)
xmllint       =   2.28 sec*proc (1 test)

Total Test time (real) =  17.04 sec
Finished <<< behavior_velocity_planner [18.3s]

Sum

[2022-01-20 04:36] yukkysaito opened #275 "When the processing load of the main callback function is high, other callback functions starve."
When the processing load of the main callback function is high, the other callback functions starve.
In particular, some of the planning processes are so heavy that they cannot receive velocity, object and pointcloud.

The same problem occurred in localization, and it was solved by using multi-threading.
https://github.com/autowarefoundation/autoware.universe/commit/0ec1440064fcdc28ae9f04d23554dba

[2022-01-21 14:06] kenji-miyake opened #282 "Add automatic link checks for Markdown files"
It's useful we can detect dead links automatically.

Importing our proposal way can solve this.
https://github.com/tier4/AutowareArchitectureProposal.iv/blob/05c248e52f7ad930e30002d49fb545fc5d568abf/.pre-commit-config-optional.yaml#L16-L20

[2022-01-21 15:09] kenji-miyake opened #284 "Fix invalid links"
There are some invalid links.
#283
https://github.com/autowarefoundation/autoware.universe/runs/4898066823?check_suite_focus=true

[2022-01-24 01:15] KeisukeShima opened #286 "Display labeled code coverage in pull requests"
Related to <https://github.com/autowarefoundation/autoware-documentation/issues/2>, I would like to add the feature to measure and display code coverage for pull requests to improve review process.

Considerations
* About the reporter, whether to use CodeCov or to create a function to measure and report in GitHub Actions.
* How to specify labels for coverage by label, whether to automatically coll

[2022-01-24 01:35] kenji-miyake commented on #286
:+1:
I think using CodeCov at first is efficient.

[2022-01-24 05:45] taikitanaka3 commented on #272
closed because this solved https://github.com/autowarefoundation/autoware.universe/actions/runs/1733810656

[2022-01-24 05:45] #272 closed

[2022-01-24 10:48] kyoichi-sugahara opened #289 "Add planning_evaluator package to evaluate planning module performance."
## problem

The evaluation infrastructure for planning development is not in place, and degradation checking and performance evaluation depend on humans. This process should be automated and some quantitative indicators need to be defined and the results visualized.
This allows for efficient evaluation of development and comparison between different planners.

## suggestion

Using the trajectory g

[2022-01-25 08:02] takayuki5168 opened #300 "Simple planning simulator does not consider vehicle/engage result."
simple planning simulator dropped some features during .universe porting
- /vehicle/engage result is not considered for simulating (Ideally, simulating only when /vehicle/engage result is true)
- default parameter for /vehicle/engage result (current_engage_ variable) was removed and set false by default.

[2022-01-28 01:51] taikitanaka3 opened #313 "detection area rviz marker is heavy"
if huge point cloud is found in detection area some times computation cost becomes larger

[2022-01-28 02:18] taikitanaka3 opened #315 "PathPointWithLaneId message used in behavior path / velocity planner is still tier4 original message"
since PathPointWithLaneId  is still tier4 original tier4_autoware_utils can't include PathPointWithLaneId message.

[2022-01-28 07:08] #284 closed

[2022-01-28 07:13] kenji-miyake commented on #315
Also, we must move PathPointWithLaneId from autoware_auto_planning_msgs to tier4_planning_msgs because it's TIER IV's internal message.
https://github.com/autowarefoundation/autoware.universe/pull/306#discussion_r794243533

[2022-01-28 10:20] taikitanaka3 commented on #239
close this issue solved  by #240

[2022-01-28 10:20] #239 closed

[2022-01-28 13:00] kenji-miyake commented on #282
Resolved by #312

[2022-01-28 13:00] #282 closed

[2022-01-30 19:24] kenji-miyake opened #319 "Prevent CI workflows that will fail in forks from running in forks"
https://github.com/kenji-miyake/autoware.universe/runs/4998354056?check_suite_focus=true

We can add a precondition check like this.
https://github.com/ros-tooling/action-ros-ci/blob/c8ee1c91e007e9fdc7d0bedf1247746717a5ff39/.github/workflows/test.yml#L20-L25

[2022-01-31 03:48] kenji-miyake commented on #319
Are scheduled jobs automatically blocked?
![image](https://user-images.githubusercontent.com/31987104/151736104-7ddaf4f2-2050-4aaa-afae-1b866e3b8585.png)

[2022-01-31 03:51] kenji-miyake commented on #319
The initial state after I approved running Actions on my fork.
![image](https://user-images.githubusercontent.com/31987104/151736359-e5b44558-8b24-4a68-b734-c1e3a58e4294.png)

[2022-01-31 06:03] kenji-miyake opened #324 "Fix automatic-rebase to work with PRs from forks"
https://github.com/autowarefoundation/autoware.universe/runs/5001813932?check_suite_focus=true

[code]

It might be the problem of `workflow` permission, not forks.

We can consider using `mergify`.
https://docs.mergify.com/commands/#rebase

[2022-01-31 10:59] kenji-miyake commented on #324
We installed `mergify`.

[2022-01-31 10:59] #324 closed

[2022-02-01 05:05] kenji-miyake commented on #1
I believe we can close this.

[2022-02-01 05:05] #1 closed

[2022-02-01 05:06] kenji-miyake commented on #120
@wep21 Will you work on this?

[2022-02-01 05:07] kenji-miyake commented on #261
@taikitanaka3 Could you write a bit more detailed description? I think we can't write unit tests for all functions.

[2022-02-01 05:10] kenji-miyake commented on #286
@KeisukeShima Can this be closed?
Or will you work on `coverage by label` in this issue? If so, I think the title should be changed.

[2022-02-01 05:12] kenji-miyake commented on #300
@takayuki5168 Can this be closed?
FYI: If you want to automatically close an issue after merging a PR, writing like `Resolve #300` is useful.

[2022-02-01 05:12] kenji-miyake commented on #313
@taikitanaka3 Can this be closed?
FYI: If you want to automatically close an issue after merging a PR, writing like `Resolves #314` is useful.

[2022-02-01 05:16] KeisukeShima commented on #286
I think that getting coverage by label is also part of this issue.
If we need to change the title, how about changing it to `Display labeled code coverage in pull request`?

[2022-02-01 05:35] #221 closed

[2022-02-01 06:43] #244 closed

[2022-02-01 07:23] wep21 commented on #120
@kenji-miyake I finished the work on the PR above. I appreciate it if you could review it.

[2022-02-01 13:10] takayuki5168 commented on #300
@kenji-miyake Yes, this issue has been already resolved. Sorry about that. Thanks for your information!

[2022-02-01 13:10] #300 closed

[2022-02-02 01:37] #120 closed

[2022-02-02 09:44] kenji-miyake commented on #204
Will be covered by https://github.com/autowarefoundation/autoware-documentation/issues/8.

I wrote a document in this PR.
https://github.com/autowarefoundation/autoware/pull/14

[2022-02-02 09:44] #204 closed

[2022-02-02 11:40] IshitaTakeshi commented on #204
Thank you!

[2022-02-03 09:19] kenji-miyake opened #338 "topic_state_monitor can be replaced by rclcpp::TopicStatisticsState"
As there was no library for calculating topic statistics in ROS1, I've implemented it as [topic_state_monitor](https://github.com/autowarefoundation/autoware.universe/tree/tier4/proposal/system/topic_state_monitor).

However, now in ROS 2, since there is `rclcpp::TopicStatisticsState` I believe we can replace `topic_state_monitor` with it and a node like `statistics_analyzer`.
https://docs.ros.org

[2022-02-04 09:16] kenji-miyake commented on #324
Also, the official feature is released.
https://github.com/autowarefoundation/autoware/pull/49
https://github.blog/changelog/2022-02-03-more-ways-to-keep-your-pull-request-branch-up-to-date/

[2022-02-07 03:05] takayuki5168 opened #347 "osqp_interface cannot deal with warm start well."
In order to use warm start in osqp_interface, P and A matrices have to meet a certain condition (the positions of zero does not change, the matrix size is fixed).
However, the application can pass only raw P and A matrices to osqp_interface initializer, and csc matrix will be generated in osqp_interface, where the application cannot handle meeting the condition for warm start.

Therefore, the init

[2022-02-07 04:27] takayuki5168 opened #350 "make spline interpolation flexible"
For spline interpolation, currently only static function `slerp(base_keys, base_values, query_keys)` is supported in interpolation package.

However, sometimes we'd like to use interpolation statically like
- call interpolation function not statically (
[code]
- or call both just interpolation function and yaw angle interpolation if we can.
[code]

Of course static function is useful since we do n

[2022-02-07 04:49] #313 closed

[2022-02-08 00:27] badai-nguyen opened #357 "Fine weather Lidar Visibility dropped issue"
**Background**
 LiDAR Visibility is estimated based on noise point-cloud of weak_first_return from LiDAR Dual Mode.

**Problem**
In road-side scenes which contain sparse point cloud objects such as plants, leaves or sport plastic nets, the LiDAR Visibility results are dramatically dropped, even in fine weather condition.

The reason is that such objects also return weak_first point cloud and treat

[2022-02-08 02:19] takayuki5168 opened #359 "Drivable area from behavior_path oscillate, resulting in unstable path planning."
In autoware.universe, drivable area is generated from behavior_path_planner and used in obstacle_avoidance_planner for path planning.

1. Current drivable area has a issue that drivable area is generated in the ego coordinate,
meaning that drivable area oscillates since ego pose estimation is noisy,
resulting in unstable path planning since the road boundary is unstable (oscillates).
We can make t

[2022-02-08 03:20] kosuke55 opened #361 "There are duplicate parameters and functions in behavior_velocity_planner"
There are duplicate parameters and functions in bhavior_velocity_planner. It's better to common them.
- Functions
  -  calcSignedArcLength https://github.com/autowarefoundation/autoware.universe/pull/362
  - splineInterpolation https://github.com/autowarefoundation/autoware.universe/pull/411
  - isOverLine https://github.com/autowarefoundation/autoware.universe/pull/1599
  - insertStopPoint https:

[2022-02-09 04:34] takayuki5168 opened #366 "Trajectory Planning has some issues"
Trajectory planning has some issues like
- computation cost is too high (80 - 100 ms)
- large right/left turn in the intersection
- hard to read a messy code
- unstable planned path result

[2022-02-10 00:35] KeisukeShima opened #368 "[CodeCov] Cannot access the source code"
I can't access the files by following the file tree from the autoware.universe page on CodeCov.
https://app.codecov.io/gh/autowarefoundation/autoware.universe/

![image](https://user-images.githubusercontent.com/19993104/153313963-1d587ef9-fdcf-474d-978d-a011e07c9a2f.png)

![image](https://user-images.githubusercontent.com/19993104/153313911-23a68a40-027e-4ccf-9094-7a5ff8bcb6e3.png)

This is a pro

[2022-02-10 02:28] takayuki5168 opened #371 "Gear is not applied to current pose update"
In simple_planning_simulator, current pose update does not consider current gear. (e.g. When the ego velocity is 0, the ego pose moves slightly)

[2022-02-10 07:49] KeisukeShima opened #372 "CodeCov does not show correct coverage diffs in PR comments"
This is due to the fact that only the packages that have changed are being built and tested by CI.
I am looking for a solution.

ex. https://github.com/autowarefoundation/autoware.universe/pull/370#issuecomment-1034434086
![image](https://user-images.githubusercontent.com/19993104/153360093-e2afff16-7453-43c4-9ff7-eac4c3c316c1.png)

[2022-02-10 09:05] KeisukeShima commented on #372
Do I have to merge the differences with the overall coverage before uploading them?

![codecov drawio](https://user-images.githubusercontent.com/19993104/153373692-bcb2e911-a40d-4951-b76b-7c410c7fdb6e.png)

[2022-02-14 05:23] takayuki5168 opened #380 "No params explanation in longitudinal controller"
No params explanation in longitudinal controller

[2022-02-14 05:27] kenji-miyake commented on #380
As writing documents is a standard task, I think you can skip creating an issue for this.
If there are a lot of packages that have no documents and you'd like to track them, it's good to create an issue and write a checklist.

[2022-02-14 06:36] kenji-miyake opened #382 "Fix errors of clang-tidy-pr-comments"
- https://github.com/autowarefoundation/autoware.universe/pull/332/files#r805538343
- https://github.com/autowarefoundation/autoware.universe/pull/378#pullrequestreview-882405931

[2022-02-14 08:51] takayuki5168 commented on #380
Thank you for the comment!

[2022-02-14 09:23] taikitanaka3 opened #383 "Difficulty of estimating velocity at future time t"
Currently there are behavior and motion planning modules.  Each modules publishes it's own planed velocity (eg. slow down or stop velocity). But this velocity planing is done sequentially from behavior to motion so behavior planning modules doesn't know how motion planing modules plan velocity.

![image](https://user-images.githubusercontent.com/65527974/153834405-a501e4d1-03b3-4975-9be3-2d7559ac6

[2022-02-14 11:36] KeisukeShima commented on #372
Now, the list of changed files works well.
https://github.com/KeisukeShima/demos/pull/2#issuecomment-1038931083

The necessary requirements are listed in the comments below.
https://github.com/KeisukeShima/demos/pull/2#issuecomment-1038969113

[2022-02-15 03:31] kenji-miyake commented on #382
Sometimes it fails to check out?
https://github.com/autowarefoundation/autoware.universe/runs/5194193198?check_suite_focus=true

[2022-02-15 03:57] isamu-takagi opened #387 "Separation of the vehicle interface"
Currently, the vehicle interface (e.g. [pacmod](https://github.com/autowarefoundation/autoware.universe/tree/tier4/proposal/vehicle/pacmod_interface)) is placed in this repository. This causes dependence on the vehicle interface even when the vehicle does not use it. So I think it is better to separate the vehicle interface repository and import [here](https://github.com/autowarefoundation/autowar

[2022-02-16 02:22] KeisukeShima opened #389 "Improve autoware_testing"
## Motivation

`autoware_testing` provides basic tests that can be used in common for all packages.
However, the current implementation is only a `smoke_test`, and what can be checked with this test is limited.
I read an issue on `Autoware.Auto` about the design of `autoware_testing` ([link](https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/issues/700)) and thought it could be imp

[2022-02-16 02:25] KeisukeShima opened #390 "Add design document of interface_test."
# The reason of this change
By creating a framework for interface testing, we can perform efficient testing with less effort.
Design documentation will be created to discuss the design and usage.

# Approach

We will use rclpy's API to gather information about the topics that nodes are sending and receiving. Since no actual messages are sent or received, the test can be completed in a short time.

[2022-02-16 09:23] #387 closed

[2022-02-16 10:16] #347 closed

[2022-02-16 10:16] #380 closed

[2022-02-16 10:18] takayuki5168 opened #396 "Not easy to see what topic is not ready in autoware state transition"

[2022-02-16 10:31] kenji-miyake commented on #396
Could you describe your use case more concretely? :pray:

[2022-02-16 10:34] takayuki5168 commented on #396
As you commented, we can see unrecieved topic from diagnostics
![image](https://user-images.githubusercontent.com/20228327/154246774-33238ad3-1f5b-4306-913f-b70bbcff1dc5.png)

[2022-02-16 10:39] takayuki5168 commented on #396
Usecase is, just when we launch autoware and autoware state does not transit to the next state because of some bugs or hardware errors, sometimes necessary topics are not published and ad_service_state_monitor detects it.
I want a easy way to see if there is any unrecieved topics or not.

[2022-02-16 10:41] kenji-miyake commented on #396
What is the definition of `easy`? And what is difficult with `rqt_robot_monitor`?

[2022-02-16 10:41] takayuki5168 commented on #396
IMO, seeing unreceived topics from diagnostics takes a bit effort, but to prevent redundancy to check unreceived topics, we do no have to merge the following PR.
https://github.com/autowarefoundation/autoware.universe/pull/397

If you agree, we can close this issue and PR

[2022-02-16 10:43] kenji-miyake commented on #396
If you want to merge it, it's better to define the requirements for the UX like this: `Users shall be able to ... when ... because ...`.

[2022-02-16 10:44] kenji-miyake commented on #396
We don't want to unnecessarily add debug interfaces, so we have to consider that before implementing them.

[2022-02-16 10:47] takayuki5168 commented on #396
Now I'm ok to close this issue. (I just didn't know we can see unreceived topics from diagnostics. Sorry to bother you.)

[2022-02-16 10:48] #396 closed

[2022-02-16 10:54] kenji-miyake commented on #396
@takayuki5168 No problem! But let's keep in mind to discuss in issues about the approaches to problems before sending PRs! :+1:

[2022-02-16 11:39] kosuke55 opened #398 "ekf_localizer fails when clcok rate is slower than predict_frecency"
[predict_frequency](https://github.com/autowarefoundation/autoware.universe/blob/tier4/proposal/localization/ekf_localizer/src/ekf_localizer.cpp#L39) is 50 hz by default, but when `use_sim_time` is set to true and `/clock` is used, timer callback is called by hz of `/clock`. Therefore,  [the predict rate does not match to ekf_dt](https://github.com/autowarefoundation/autoware.universe/blob/tier4/p

[2022-02-16 12:39] kenji-miyake commented on #372
Could you summarize the problem, the solution, and the evidence, in addition to the results, please? :bow:

[2022-02-16 12:44] kenji-miyake commented on #390
Same as this comment.
https://github.com/autowarefoundation/autoware.universe/issues/380#issuecomment-1038659995

If you create an issue, please write more descriptions so that people can understand.

[2022-02-17 00:11] kenji-miyake opened #403 "[CI] Fix ARM build"
A lot of packages output the following error.

https://github.com/autowarefoundation/autoware.universe/runs/5221684351?check_suite_focus=true#step:8:1396

[2022-02-17 00:19] taikitanaka3 commented on #265
for other cases
![image](https://user-images.githubusercontent.com/65527974/154379713-4bf952a4-23aa-4b73-bfdd-681523d5c603.png)

[2022-02-17 00:21] kenji-miyake commented on #403
Success
https://github.com/autowarefoundation/autoware.universe/actions/runs/1837691884

Failure
https://github.com/autowarefoundation/autoware.universe/actions/runs/1842934200

[2022-02-17 00:26] taikitanaka3 commented on #265
use case
![image](https://user-images.githubusercontent.com/65527974/154380315-792e1529-5ab2-4c8a-b57e-6b5a437a87b9.png)

[2022-02-17 02:18] #289 closed

[2022-02-17 02:51] #403 closed

[2022-02-17 07:24] KeisukeShima commented on #372
## Problem

CodeCov does not show correct coverage diffs in PR comments.

![img](https://user-images.githubusercontent.com/19993104/153360093-e2afff16-7453-43c4-9ff7-eac4c3c316c1.png)

## Solution

Merge the coverage generated by the differential build with the full coverage results from the base branch. This tells CodeCov that there are no changes to the packages that were not built in the diff b

[2022-02-17 07:29] taikitanaka3 commented on #265
@takayuki5168
Do you have any idea how to avoid segmentation fault if application side wants calculate longitudinal offset segment from last path index?
https://github.com/autowarefoundation/autoware.universe/blob/ca45e4aa3af8837fd1853f69d036ea9c1ec2d2a3/common/tier4_autoware_utils/include/tier4_autoware_utils/trajectory/trajectory.hpp#L128

[2022-02-17 08:37] kenji-miyake commented on #372
@KeisukeShima Great! Thank you for your clear explanation! :smile:

[2022-02-17 11:22] kenji-miyake commented on #390
@KeisukeShima Could you describe what errors can be prevented by this kind of test?
For example, "if a developer mistakenly wrote here as ..., then it will cause the error of ...".

[2022-02-18 08:43] taikitanaka3 opened #413 "Difficult to raytrace"
leaf size 0.25
<img src="https://user-images.githubusercontent.com/65527974/154644644-27a9cd23-13e3-4407-a2dd-1c43af6cbd25.png" width="20%">
leaf size 0.1
<img src="https://user-images.githubusercontent.com/65527974/154647914-60483f37-7762-46e8-bd81-a846ba70fb8b.png" width="20%">
leaf size 0.02
<img src="https://user-images.githubusercontent.com/65527974/154645562-f7f03d7c-9533-4eec-a225-cb092f8bf

[2022-02-18 09:11] taikitanaka3 commented on #234
Closest for this issue solved

[2022-02-18 09:11] #234 closed

[2022-02-18 09:53] badai-nguyen opened #417 "Single LiDAR-Blockage diagnostics"
**Problem**
The LiDAR - blockage is phenomenon when some unwanted objects cling LiDARs and block the emitted/return light.
Blockage situation as out of ODD which might significantly degrade the performance of LiDAR is necessary to be detected.
The blockage might be cause by wide range of objects in the environments, for instance, leaf, plastic bag, dust, snow, ice ...

![image](https://user-images

[2022-02-21 03:02] yukkysaito opened #423 "In the looped path, the stop at temporary stop line is judged simultaneously."
To solve the problem, it is necessary to change the distance between the vehicle's position and the stop line to the signed arc length.
![image](https://user-images.githubusercontent.com/8327598/154881154-f0384422-c313-477d-8213-f9e53d816711.png)

Also, when calculating the signed arc length, it is necessary to find out where the vehicle is in the path.
However, the current findNearestIndex does n

[2022-02-21 06:12] taikitanaka3 opened #424 "build fail by pcl_ros packages"
build fail by pcl ros packages
https://github.com/autowarefoundation/autoware.universe/pull/425

# How to reproduce
git clone any [autoware.proj](https://github.com/tier4/autoware.proj) repos
vcs import src<autoware.proj.repos
setup_ubuntu20.04.sh
colcon build

[2022-02-22 01:36] #398 closed

[2022-02-22 08:16] taikitanaka3 opened #430 "delete maybe unused linear interpolation in behavior velocity"
https://github.com/autowarefoundation/autoware.universe/blob/7f2b646eead8439f6c6e8a0342b30b0b830db9ae/planning/behavior_velocity_planner/src/utilization/interpolate.cpp#L114

[2022-02-22 09:48] taikitanaka3 opened #432 "unit test of trajectory follower sometimes fails ramdomly"
https://github.com/autowarefoundation/autoware.universe/runs/5283234004?check_suite_focus=true
https://github.com/autowarefoundation/autoware.universe/runs/5284825263?check_suite_focus=true
![image](https://user-images.githubusercontent.com/65527974/155106546-e86906c9-bb2e-431a-8230-49e2f5205c5d.png)

[2022-02-23 02:09] #430 closed

[2022-02-24 11:35] zulfaqar-azmi-t4 opened #441 "Side shift unable to return to centerline after reset"
In side shift module, when the operator changes the shift to right and left frequently, the resulted path is very jerky, and the planner is unable to return to the middle lane, despite the reset button is already pressed.

![unable_to_reset_to_middle_lane](https://user-images.githubusercontent.com/93502286/155516543-57325675-919c-43dd-b945-675ebfecad73.png)

[2022-02-28 04:27] taikitanaka3 opened #448 "intersection module conflicts with merge from private road module"
![image](https://user-images.githubusercontent.com/65527974/156271615-28aabbf2-5142-471b-921f-de093074eeed.png)

[2022-03-01 02:06] takayuki5168 opened #455 "In simulation, planning modules are called in dummy_perception_publisher"
In simple psim, currently we call perception modules (tracking, prediction, obstacle segmentation) from dummy_perception_publisher.
Now we want to use perception modules with scenario sim as well, which does not depend on dummy_perception_publisher.
So we'd better move call of perception modules from dummy_perception_publisher to its above launch file like simulator.launch.xml or planning_simulato

[2022-03-01 03:20] kenji-miyake opened #456 "Fix errors of clang-tidy-differential"
https://github.com/autowarefoundation/autoware.universe/pull/325
https://github.com/autowarefoundation/autoware.universe/runs/5369393749?check_suite_focus=true

[code]

[2022-03-01 07:28] mitsudome-r opened #457 "Add lanelet2 map preprocessor tools"
lanelet2_map_preprocessor package was not ported to ROS1 and is being skipped at build time with COLCON_IGNORE.
This should be ported to ROS2.

[2022-03-01 07:47] kenji-miyake commented on #424
@taikitanaka3 Please clearly describe the steps to reproduce the problem.

[2022-03-01 08:25] taikitanaka3 commented on #424
@kenji-miyake
I added how to reproduce

[2022-03-01 08:54] kenji-miyake commented on #424
@taikitanaka3 There was no error in my local environment. So I guess this is a problem that is specific to your environment.

[2022-03-01 23:34] satoshi-ota opened #460 "ray tracing in dummy perception publisher is too heavy to publish objects in 10Hz"
When ray tracing is enabled and I set multiple pedestrians by using rviz plugins, the topic `/perception/object_recognition/detection/labeled_clusters` may not be output at 10Hz due to heavy ray tracing processing.

I measured following process:
https://github.com/autowarefoundation/autoware.universe/blob/407c802ab0883a864b0bf00c3a52cfdaaf26081f/simulator/dummy_perception_publisher/src/node.cpp#L1

[2022-03-02 12:39] taikitanaka3 commented on #413
without ray trace
![image](https://user-images.githubusercontent.com/65527974/156363110-19cc0cb2-9ae2-4036-a534-4e70f973427d.png)

[2022-03-03 03:30] #448 closed

[2022-03-03 04:14] kenji-miyake commented on #382
Not errors but a bit noisy.
https://github.com/autowarefoundation/autoware.universe/pull/445#discussion_r818294628
https://github.com/autowarefoundation/autoware.universe/pull/445#discussion_r818294635

[2022-03-07 05:17] zulfaqar-azmi-t4 opened #485 "better avoidance drivable areas extension in behavior path planning: Remaining TODO"
## Remaining TODO:
1. Code refactoring (removing unnecessary function and make code more concise)
    1. https://github.com/autowarefoundation/autoware.universe/pull/486 -- DONE
2. Create debug new drivable area debug visualization to show extendable areas (allows us to see which areas which has 2 lanelets but the linestring is not shared.
    1. https://github.com/autowarefoundation/autoware.univ

[2022-03-07 08:09] yukke42 opened #488 "remove LibTorch dependencies from lidar_centerpoint"
LibTorch (PyTorch C++ API) is useful to deploy the models trained on PyTorch and used for the lidar_centerpoint implementation, but this library has mainly two disadvantages for autoware.

- It needs to be built for every OS and CUDA version. (https://pytorch.org/)
- It has fuge cuda libraries and they allocate more than 1GB of GPU memory, but most of them aren't used in lidar_centerpoint. (https:

[2022-03-07 09:37] purewater0901 opened #490 "Refactoring Map Based Prediction"
Autoware is currently using map based prediction to predict future trajectories of the object. However, this node has some limitations.

- It only outputs one possible trajectory .
- It does not calculate confidence correctly compared to its reference paper.
- Predicted yaw angle of the object is not correct.
- The readability of the code is not preferable level.

Therefore, we need to create a ne

[2022-03-07 10:29] purewater0901 opened #493 "Avoidance Planner for dynamic obstacles"
Currently, Autoware does not have any functions to safely avoid collisions with dynamic obstacles. In order to safely navigate the vehicle in dynamic environment, we should add dynamic obstacle avoidance functions to the Autoware. The minimum requirements for the dynamic obstacle avoidance planner are

- Collision avoidance with vehicular obstacles
- Considering comfortability of the passengers as

[2022-03-07 11:42] 08beeqtufail-sudo opened #494 "Map Based Prediction Incorrect Predictions"
Hello Everyone,
I am testing the proposed map based prediction with some of the bag files and a map that I have at my disposal. I am facing the problem that the map_based_prediction outputs some strange trajectories (e.g, a trajectory going backwards for an object moving straight in its lane etc...) .After digging in the code a little bit, i can see that the condition to check whether to do a line

[2022-03-09 07:23] taikitanaka3 opened #500 "missing final point of spline interpolation"
wrong
![image](https://user-images.githubusercontent.com/65527974/157390680-3e85cbd7-409c-41e6-9646-f72316ed1fcc.png)

correct
![Screenshot from 2022-03-09 16-10-33](https://user-images.githubusercontent.com/65527974/157390824-7762e031-9478-4bb6-bd43-3a7850c3f2af.png)

[2022-03-09 09:23] takayuki5168 opened #503 "Size of drivable area becomes too large after generating trajectory and repositioning ego pose far away"

[2022-03-10 07:14] #503 closed

[2022-03-10 07:19] taikitanaka3 opened #504 "Some of behavior modules does not consider duplicated stop point insertion"
It's necessary to consider replacing to zero velocity without inserting zero velocity path point if there is already inserted stop point
example good case https://github.com/autowarefoundation/autoware.universe/blob/5dbea4847a99d845b1aafde369347d882f081884/planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp#L123

OK
- intersection
- merge from private
- occlusion spot

NG(cas

[2022-03-10 07:58] taikitanaka3 commented on #504
[code]

[2022-03-11 01:24] #455 closed

[2022-03-11 01:24] #371 closed

[2022-03-11 01:25] #359 closed

[2022-03-11 01:25] #350 closed

[2022-03-11 08:37] takayuki5168 opened #508 "Easier way to find the emergency reason"
Currently we manage emerngey with diagnostics, and we can see its reasons on rqt_robot/runtime_monitor.

However, we do not always run rqt_robot/runtime_monitor, so if the emergency occurrs, we have to run rqt_robot/runtime_monitor and reprocude the emergency again to find the reason.
IMO, it's better to output emergency reason when it occurrs in standart output log with RCLCPP_WARN/ERR_THROTTLE (

[2022-03-11 08:38] takayuki5168 commented on #508
@kenji-miyake What do you think? If you agree, I'll implement this output.

[2022-03-11 09:56] kenji-miyake commented on #508
@takayuki5168 As a tentative way, I think it is acceptable.
But ideally, we should define the interface for notifying the emergency reason from Autoware to the simulator because the console log isn't a good UI for everyone.
Then the simulator catches the notification and shows it on the result page.

Also, could you show me a screenshot of the result page for reference?

@yukkysaito @mitsudome-r @

[2022-03-11 13:35] takayuki5168 commented on #508
@kenji-miyake

What I mentioned is not only for the scenario test analysis but also for running autoware with simple planning simulator or on the physical vehicle. I don't think it's not good to output the emergency reason on the standard output log for those cases.

Could I talk about how the scenario simulator gets the information of emergency reasons from Autoware in another issue since it's di

[2022-03-11 13:52] kenji-miyake commented on #508
@takayuki5168 I'm sorry, I couldn't understand that well. :cry:
What you want to do seems to me just adding a hacky interface.

For `simple_planning_simulator`, it's the same.
The console log isn't a good interface because we cannot get it programmatically.
People have to look into the logs and try to find out the reason, it's not efficient or scalable. It's just supplemental information.

Yes, of

[2022-03-11 15:23] takayuki5168 commented on #508
I've talked with Miyake-san.
In summary, we first implement just standard output of the emergency reasons, and see whether it works good for debugging from the point of view of development and product service (So far we don't even have a clear requirement). Then we may be able to think about the better idea based on how the current one works.

For the scenario simulator, I'll create another issue

[2022-03-11 15:50] yucedagonurcan opened #509 "Normalizing azimuth angle with wrong offset [dual_return_outlier_filter]"
Hello,

https://github.com/autowarefoundation/autoware.universe/blob/67459763bd61a57e044132174dd1c403550c1f00/sensing/pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_nodelet.cpp#L180

Doesn't it need to be 360000.f? It looks like there is this error every time we try to normalize the angle.

[2022-03-12 11:04] takayuki5168 opened #513 "In ad_service_state_monitor, odometry buffer(deque)'s size may be too large."
odometry_buffer's limit is calculated only from the time, and if messages of the same timestamp comes a lot, the size of odometry_buffer will be too large. We'd better to see the size itself as well.

[2022-03-15 18:14] mkuri opened #524 "Re-starting before the ego vehicle stops completely at stop lines"
When stopping at map-defined stop lines, the stop lines disappear and the ego vehicle re-starts driving before the vehicle stops completely.

[2022-03-16 06:41] #524 closed

[2022-03-16 09:03] taikitanaka3 opened #529 "time stamp in lateral command and longitudinal command is not inserted"
no time stamp in them (not in red circle)
![image](https://user-images.githubusercontent.com/65527974/158554432-1db2ca2b-94b4-49ae-a609-316d67e920ae.png)

[2022-03-16 09:25] zulfaqar-azmi-t4 opened #531 "Wait for lane change before the lane change prohibited section"
In the current AW, if ego vehicle is in the lane change prohibited section while trying to maintain lane change distance (example is intersection), is get stuck.
In order to solve this problem, should the planner deemed that the final position of the ego is in lane change prohibited section, a function to make the vehicle stop just before the lane change prohibited section is needed.

[2022-03-17 00:22] satoshi-ota opened #533 "Expanding rviz plugins (perception, planning, localization, debug, etc...)"
Add useful rviz plugin tools to accelerate the development of autoware.

[2022-03-17 02:50] takayuki5168 opened #535 "Max steer angle parameter is defined in each package, not in vehicle_info package"
Since max steer angle parameter is not in the vehicle_info package, this parameter is defined in each packages' yaml file.

[2022-03-17 02:50] takayuki5168 commented on #535
cc @satoshi-ota

[2022-03-17 02:53] takayuki5168 commented on #535
Max jerk, acceleration, velocity are the same. (should be in vehicle_info package)

[2022-03-17 02:53] takayuki5168 commented on #535
@satoshi-ota @kenji-miyake
Do you agree, and if so, do you have any other parameters to include in the `vehicle_info` package.

[2022-03-17 04:05] kenji-miyake commented on #535
cc @yukkysaito @mitsudome-r @xmfcx
I agree that we should manage `max_steer_angle` as a global parameter.
For what else, I have no concrete ideas, but I feel they should be categorized like `shape`, `hard_limit`, `soft_limit`, etc.

Also, as a long-term issue, we should write a design document for global parameters and re-design some packages for Autoware Core.

[2022-03-17 06:47] zulfaqar-azmi-t4 commented on #441
Both related PR is merged. This issue is assumed to be completed for now.

[2022-03-17 06:47] #441 closed

[2022-03-17 09:54] LLplane opened #539 "how to use elevation_map_loader in perception?"
Hello!
What role does "elevation_map_loader" play in perception?
And how to use it?

Think U !

[2022-03-17 10:11] kenji-miyake commented on #539
@LLplane Ah, I'm sorry. since it was impossible to convert from different repositories, could you ask again?

[2022-03-17 10:18] kenji-miyake commented on #539
I've updated the settings of issue templates. https://github.com/autowarefoundation/autoware.universe/pull/540

So now you can select a type.
![image](https://user-images.githubusercontent.com/31987104/158788228-be5bfe88-3d16-4a61-af6e-6d6915e7f8c0.png)

[2022-03-17 10:20] LLplane commented on #539
"elevation_map_loader" is new node in aw.universe,and I do not know how to use it. I select Question to ask.

[2022-03-17 10:25] kenji-miyake commented on #539
Yes, if you open a new question thread, I will `@mention` the author, and he would explain it.

[2022-03-17 10:27] LLplane commented on #539
Sorry, I do not know how to open a new question, can not find the page like the above picture.

[2022-03-17 10:28] kenji-miyake commented on #539
Here! Just click the `New issue` button.

![image](https://user-images.githubusercontent.com/31987104/158789903-1c3fae5c-f746-490d-9fa6-11f197dd9942.png)

[2022-03-17 10:29] LLplane commented on #539
ooo,think u !

[2022-03-18 01:35] #508 closed

[2022-03-18 01:39] #366 closed

[2022-03-18 01:47] taikitanaka3 commented on #504
Verified by scenario simulator

[2022-03-18 01:47] #504 closed

[2022-03-18 01:48] taikitanaka3 commented on #529
tested by bench mark PC

[2022-03-18 01:48] #529 closed

[2022-03-18 01:48] taikitanaka3 commented on #500
confirmed by @takayuki5168

[2022-03-18 01:48] #500 closed

[2022-03-18 01:55] taikitanaka3 commented on #423
solved by
![image](https://user-images.githubusercontent.com/65527974/158922550-7a37b067-0f15-400c-9ca2-d50d40a229ee.png)

[2022-03-18 01:55] #423 closed

[2022-03-18 02:30] yukkysaito commented on #494
@08beeqtufail-sudo
Thanks for the report.

We are currently working on a major revision and may be able to cure it there.

https://github.com/autowarefoundation/autoware.universe/pull/491/files

[2022-03-18 13:48] 08beeqtufail-sudo commented on #494
@yukkysaito Thanks for your reply. I am following the repository you mentioned for future updates.

[2022-03-20 03:53] xczhanjun opened #549 "Cannot get Velodyne Lidar UDP packet in docker container ( --host network mode ) by tier4 Velodyne driver"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The perception module cannot  get Velodyne UDP packet in docker container ( by --host network mode ) by tier4 Velodyne d

[2022-03-20 15:03] kenji-miyake commented on #549
Please write more clear steps to reproduce. For example, what (all and exact) commands you executed, what data you used, etc.

[2022-03-21 15:15] BonoloAWF opened #551 "Implement sensor drivers for ROS 2"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Implement sensor drivers for ROS 2

### Purpose

The Bus ODD is being developed in ROS 2 which requires porting

[2022-03-22 04:52] taikitanaka3 commented on #424
solved by rosdep update already

[2022-03-22 04:52] #424 closed

[2022-03-22 11:04] beyzanurkaya opened #558 "Problems when add NPC to the scenario editor"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I created 5 different scenarios with the scenario editor. These scenarios were as follows:

1. A single Ego vehicle is p

[2022-03-22 12:02] #319 closed

[2022-03-22 12:04] kenji-miyake commented on #319
Canceled because of https://github.com/autowarefoundation/autoware.universe/pull/320#issuecomment-1075084652.
Users have to manually stop unnecessary workflows.

[2022-03-22 12:54] xczhanjun commented on #549
@kenji-miyake hi, today I tested the latest code using docker --net=host mode again, the velodyne_driver can get the udp packet from host network for a while, but it cannot work after a reboot. I will send you a msg when I figured out the root cause.

[2022-03-22 13:00] kenji-miyake commented on #549
I understand, thank you for your investigation! :smile:

[2022-03-22 20:11] HaoruXue opened #561 "Improve Autoware performance on F1/10"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

#### General performance

It was discussed in racing WG meeting regarding the general performance of Autoware.A

[2022-03-22 21:42] mitsudome-r opened #562 "Collect raw sensor data to test sensor drivers"
### Description

Collect pcap files or candump files to test drivers.

### Purpose

The Bus ODD is being developed in ROS 2 which requires porting sensor drivers where required and needs test data.

### Definition of done

- [ ] raw data for sensors available for https://github.com/autowarefoundation/autoware.universe/issues/551

[2022-03-22 21:44] mitsudome-r opened #563 "Finalize the field type for pointcloud"
### Description

The output type of lidars should be clarified.

### Purpose

The message information from the sensor drivers should be available for users to implement their own drivers.
Relate discussion: https://github.com/autowarefoundation/autoware/discussions/2480

### Definition of done

- [x] The details of output message from sensor drivers should be available in documentation

[2022-03-22 21:47] mitsudome-r opened #564 "Collect training/test data for object detection for Bus ODD"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Collect the data to train and test perception pipeline for Autoware.Universe

### Purpose

We have to evaluate

[2022-03-22 21:51] mitsudome-r opened #565 "Evaluate performance of object detection pipeline"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Evaluate performance of perception pipeline.

### Purpose

Evaluate performance of perception pipeline to confi

[2022-03-22 22:00] mitsudome-r opened #566 "Evaluate current planning pipeline"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Investigate performance of planning pipeline.

### Purpose

Evaluate current planning pipeline and confirm that

[2022-03-22 22:05] mitsudome-r opened #567 "Evaluate control modules in Universe"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Investigate performance of control pipeline in universe.

### Purpose

Evaluate current control pipeline and co

[2022-03-23 13:11] meliketanrikulu opened #576 "The origin value in the gnss_poser package cannot be set to any point other than the specified points in the package."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

It seems that in the gnss_poser package, the origin value is selected as one of the points separated only by japan coord

[2022-03-23 13:58] yukkysaito opened #575 "Dead link in behavior path planning document"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

![image](https://user-images.githubusercontent.com/8327598/159716225-61d6b8f0-7d0d-4fcc-88b4-053a56d35f44.png)
There are

[2022-03-23 14:20] mitsudome-r commented on #551
Yang shared https://github.com/Kitware/LidarView, which might help us design a unified sensor driver for different LiDARs

[2022-03-23 16:06] meliketanrikulu commented on #576
Thanks :) @xmfcx

[2022-03-24 00:16] TakumiKozaka-T4 commented on #551
@BonoloAWF
Could you remove my name from assignees?
I'm not concerned with this issue.

I didn't push anything. I only updated my forked repository.

[2022-03-24 11:45] kenji-miyake commented on #575
I think this is resolved by #580.
@TakaHoribe Could you confirm it and close this issue?

[2022-03-24 21:34] kenji-miyake commented on #248
@angry-crab Could you write the latest status?

[2022-03-24 21:52] kenji-miyake commented on #275
Resolved by #260.

[2022-03-24 21:52] #275 closed

[2022-03-24 21:56] kenji-miyake commented on #88
@taikitanaka3 Could you update the status?

[2022-03-24 22:09] kenji-miyake commented on #268
We have to plan migration steps to Humble.

My (super rough) proposal is:
- Support rolling after Ubuntu 22.04 is released. (Around the end of April.)
  - If a change is supported by Galactic, merge to the `main` branch.
  - If not, merge to the `rolling` branch.
- Support Humble after ROS 2 Humble is released. (Around the end of May.)
  - Ideally, just renaming `rolling` to `humble`.
- Create the

[2022-03-25 00:51] taikitanaka3 commented on #88
@kenji-miyake
This issue is to change Japanese documents to English as much as possible and currently most of documents are written in English so I think I can close this.

[2022-03-25 00:51] #88 closed

[2022-03-25 02:28] angry-crab commented on #248
@kenji-miyake After discussing @xmfcx  and @mitsudome-r , we've decided to postponed this merge.

[2022-03-25 03:32] angry-crab commented on #248
Originally, the intention of this merge is to make `avp` demo available for `universe`. However, since `svl` is going down. The amount of packages is too much. Therefore, if any package from `autoware.auto` is required, please feel free to include it by yourself. If there are really a lot of dependencies required, I'll reopen this issue and move them in batch.

[2022-03-25 03:32] #248 closed

[2022-03-25 03:43] taikitanaka3 opened #582 "Origin of Laserscan is different from lidar position"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

currently origin of laser scan is baselink but it's origin should be a position of lidar

### Purpose

consider

[2022-03-25 03:48] taikitanaka3 opened #583 "LaserscanToOccupancyGrid should be in perception package"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

it should in perception package(porting miss)

### Expected behavior

move package to perception

### Actual behavior

m

[2022-03-25 09:00] maxime-clem opened #584 "Function 'filterPointCloudByTrajectory' does not work as intended"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Function `filterPointCloudByTrajectory` is used to filter a point cloud and only keep the points that are within a given

[2022-03-28 02:45] yukke42 opened #589 "Perception packages support CUDA 11.4 and TensorRT 8.2.2"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Perception packages are ported from https://github.com/tier4/AutowareArchitectureProposal.iv and some of them d

[2022-03-28 07:07] mitsudome-r opened #592 "Create calibration tool for sensors"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Create calibration tool for sensors.

### Purpose

Create calibration tool so that users can generate calibrati

[2022-03-28 16:02] kaancolak commented on #565
In the Autoware.Auto, we have 2D and 3D detection benchmark tools for the KITTI dataset. We can test our 2D/3D detections by integrating these tools into Autoware.Universe.

 In addition, I think, we need to evaluate the entire perception stack of Autoware.Universe from sensor output(Point Cloud/Camera Frame) to object tracking output, because all perception modules work together. Such as; determi

[2022-03-28 22:59] satoshi-ota opened #596 "Add utility functions to tier4_autoware_utils that inserts target velocity into a path or trajectory"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The following functions are defined independently in various packages and are used frequently. In addition, sin

[2022-03-29 02:06] takayuki5168 opened #597 "Verification of the function of obstacle_stop_planner package"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

There is no test in obstacle_stop_planner package.

### Purpose

Verification of the function of obstacle_stop_

[2022-03-29 07:49] kenji-miyake commented on #315
@taikitanaka3 Could you update the status?

[2022-03-29 08:31] mitsudome-r opened #602 "Evaluate performance of localization pipeline"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Evaluate performance of Localization pipeline.

### Purpose

Evaluate performance of perception pipeline to con

[2022-03-29 08:37] xmfcx commented on #592
https://github.com/ethz-asl/kalibr

https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_sensor_calibration_guide.md

@xmfcx fix

[2022-03-29 08:40] mitsudome-r commented on #592
During the call, we have decided to split the tickets into a smaller task. @mitsudome-r will do work on it.

[2022-03-29 09:52] KeisukeShima commented on #372
Related
https://community.codecov.com/t/carryforward-flag-problems-with-delta-testing/3388/3

[2022-03-30 02:18] tkhmy opened #604 "strengthen the start request call condiiton"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

- Ideally, the start request only can be triggered when the vehicle is reengaged.
- But as now it only uses spe

[2022-03-30 04:26] k-obitsu opened #605 "Review of the processing of turn_signal_decider"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

in case of the following, the turn signal is turned on and off repeatedly.
- turn_signal_distance < distance of between

[2022-03-30 08:52] meliketanrikulu opened #607 "map_loader package not working in UTM coordinates"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In the map_loader package, lanelet map is only displayed in MGRS coordinates. It should also be able to work in UTM coor

[2022-03-30 16:37] goktugyildirim opened #610 "Add YOLO Custom Dataset Handler"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Before training the YOLO object detector, we need to collect, manage, and combine the training and testing samp

[2022-03-30 21:09] goktugyildirim commented on #610
It can be named Custom Dataset Composer, it makes sense. In Fact, pseudo labels will be improving our search algorithm on the datasets. For instance, you want to train a custom detector with the target classes of "pedestrian" and "vehicle", and you have two different datasets having every single class.

dataset1: pedestrians (original labels)
dataset2: vehicle (original labels)

In this case, you

[2022-03-30 21:50] beyzanurkaya opened #611 "Need to speed bump behavior module"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The behavior velocity planner has several modules in it. like "blind_spot", "crosswalk", "stop_line", "traffic_

[2022-03-31 08:56] KeisukeShima commented on #368
I'm not sure, but I just revisited codecov.io and it's fixed.

[2022-03-31 08:56] #368 closed

[2022-04-01 07:23] h-ohta opened #618 "`tier4_sensing_launch` now depends on `common_sensor_launch`"
`tier4_sensing_launch` now depends on `common_sensor_launch`.

https://github.com/autowarefoundation/autoware.universe/blob/95414c5d3ff944016dab9376d82d7fdceeb10e4e/launch/tier4_sensing_launch/package.xml#L12

I think `common_sensor_launch` is not always needed when developping autoware.
I propose to delete this.
Thank you for your cooperation.

[2022-04-01 07:28] #618 closed

[2022-04-01 07:28] h-ohta opened #619 "`tier4_sensing_launch` now depends on `common_sensor_launch`"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

`tier4_sensing_launch` now depends on `common_sensor_launch`.

https://github.com/autowarefoundation/autoware.u

[2022-04-01 18:54] takayuki5168 opened #622 "dummy_perception_publisher publishes objects with acceleration"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently dummy_perception_publisher can publish the obstacle with the constant velocity. To realize more flexi

[2022-04-01 18:55] takayuki5168 commented on #622
@yukkysaito

[2022-04-04 03:06] h-ohta commented on #619
@kenji-miyake Do you have time?

[2022-04-04 03:44] kenji-miyake commented on #619
@h-ohta Hmm? What do you mean? I think we can merge it if you send a PR.

[2022-04-04 03:45] h-ohta commented on #619
@kenji-miyake OK. I'll make PR.

[2022-04-04 04:04] #619 closed

[2022-04-04 06:34] yukkysaito commented on #622
@takayuki5168
I agree with adding accel.

This was a little confusing.
Are you saying that there is a type called Motion, State? If so, please provide a link.

[2022-04-04 06:39] angry-crab commented on #602
KITTI might not be a good choice since no ground truth `PCD` map is provided, which is required by the current localization method. An alternative is [Newer College Dataset](https://ori-drs.github.io/newer-college-dataset/), which provides ground truth `PCD` map created by Leica.

[2022-04-04 10:45] ambroise-arm opened #628 "Add TVM inference capability"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Port the `tvm_utility` and `neural_networks` packages from Autoware.Auto.

### Purpose

Provide TVM inference c

[2022-04-04 12:05] xmfcx commented on #610
I think we should take the datasets as they are and train only with the datasets with matching contents. If not it cannot be used.

The datasets come with their list of labels that make clear what they contain. Anything else should be assumed non-labeled.

[2022-04-04 12:37] takayuki5168 commented on #622
@yukkysaito

Sorry to be confused. There is no existing messages. I just named Motion or State, whose content is as follows.
[code]

[2022-04-04 12:46] takayuki5168 commented on #622
I was thinking that in dummy perception publisher, in order to represent the case where the obstacle is running and will stop (= initial twist linear x is positive and acceleration is negative), the updated velocity (acceleration is added every cycle) will be made non-negative.
But sometimes we may want to make obstacle running backward, which has a conflict with a rule that the update velocity is

[2022-04-04 13:24] brkay54 commented on #567
@mitsudome-r There is a package called control_performance_analysis in Control. I am confused, is purpose of this issue develop this package? Or, this package is not going to be used anymore so we need to develop a new package?

Mentioned package: https://github.com/autowarefoundation/autoware.universe/tree/main/control/control_performance_analysis

[2022-04-04 14:56] senagolcuk commented on #551
| Sensor Type | Sensor Model      | Sensor Driver                                          |
|-------------|-------------------|--------------------------------------------------------------|
| Radar       | Delphi ESR        |                                                              |
| Lidar       | Ouster OS1-64     | [OS1-64 ROS2 Driver](https://github.com/ros-drivers/ros2_ouster_drivers/t

[2022-04-04 15:21] senagolcuk commented on #551
| Sensor Type | Sensor Model      | Sensor Driver                                          |
|-------------|-------------------|--------------------------------------------------------------|
| Radar       | Delphi ESR        |   Missing                                                           |
| Lidar       | Ouster OS1-64     | [OS1-64 ROS2 Driver](https://github.com/ros-drivers/ros2_ouster_dr

[2022-04-05 02:50] yukkysaito opened #630 "Some errors are occurred in the tutorial"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

There are several error outputs in the tutorial.

#### planning simulation errors (no initial pose and goal)
1. `[compon

[2022-04-05 03:03] yukkysaito commented on #630
@ito-san Can you investigate the error regarding hdd_monitor?

[2022-04-05 08:26] angry-crab commented on #602
- [ ] Create script convert raw data to ros2 bag

[2022-04-05 08:51] yukke42 commented on #488
PR is merged.

[2022-04-05 08:51] #488 closed

[2022-04-05 09:15] takayuki5168 commented on #622
max_velocity and min_velocity can be in config file of dummy_perception_publisher. Those values cannot be changed every obstacles though.

[2022-04-05 09:23] yukkysaito commented on #622
I would prefer the following
[code]
- The dummy perception may consider in the future.
- Pose and twist are also cov for the above reason.

I agree with you.

[2022-04-05 09:34] mehmetdogru commented on #566
Some of the .yaml scenario files are created by ODD wg but testing them with autoware.universe is not possible at the moment because of the current state of autoware.universe.

[2022-04-05 13:05] meliketanrikulu opened #635 "Dead link in emergency_handler"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

![dead_link](https://user-images.githubusercontent.com/41450930/161759884-f95fdd85-f2b4-4193-a265-b1e061b110bd.png)

The

[2022-04-05 14:09] mehmetdogru opened #636 "behavior_path_planner can't plan a path with the first given goal command"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Most of the time, behavior_path_planner sometimes can't plan a path with the first given goal command from rviz2. And th

[2022-04-05 15:49] xmfcx commented on #611
@beyzanurkaya please add the PR's to this issue.

[2022-04-05 16:19] mitsudome-r commented on #567
@TakaHoribe Could you explain what control_performance_analysis is used for, and what kind of metrics are used to generate the result.

[2022-04-06 06:55] yukkysaito opened #641 "The planning simulator does not work as per the tutorial."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The planning simulator does not work as per the tutorial.
It seems to the pull over function of the behavior path planne

[2022-04-06 07:53] angry-crab commented on #635
@kenji-miyake Hi Miyake-san, the dead link is confirmed. I see that you are the maintainer of this package. Is there another link for this image?

[2022-04-06 08:01] yukkysaito opened #643 "The rosbag replay simulator does not work as per the tutorial."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The rosbag replay simulator does not work as per the tutorial.
- centerpoint doesn't work (weight file is downloaded man

[2022-04-06 08:12] wep21 commented on #643
Could you check if gdown successfully download the weight files?
[code]
[code]

[2022-04-06 08:24] yukkysaito commented on #643
@wep21 thank you
yes, too many downloads are failing in gdown.
That was the reason why traffic_light_ssd_fine_detector was not working.
But the centerpoint weights file is downloaded manually. (engine file is created at initial runtime)
[code]

[2022-04-06 09:04] yukkysaito commented on #643
I manually down loaded the traffic light and the error disappeared.

[2022-04-06 09:17] yukkysaito commented on #643
lidar_apollo_instance_segmentation_node does not work, too :cry:

[2022-04-06 09:19] yukke42 commented on #643
This error is possibly caused by TensorRT version. https://github.com/autowarefoundation/autoware.universe/issues/589

[2022-04-06 09:44] wep21 commented on #643
@yukkysaito Could you check the tensorrt version?
[code]

[2022-04-06 09:56] yukke42 commented on #643
Using docker lidar_centerpoint can be built and run successfully, but the subscribed topic name to it is weird.
![Screenshot from 2022-04-06 18-53-36](https://user-images.githubusercontent.com/24660808/161949513-afacd9f6-33c2-4d67-a348-53918163859e.png)

[2022-04-06 10:07] yukke42 commented on #643
I launch autoware without perception and launch lidar_centerpoint in other terminal, the detected objects are visualized on rviz.
![Screenshot from 2022-04-06 19-04-30](https://user-images.githubusercontent.com/24660808/161951604-3fb12e18-9452-4de1-b9d8-59ab955939d0.png)

[2022-04-06 10:45] yukke42 commented on #589
I confirmed lidar_centerpoint works. https://github.com/autowarefoundation/autoware.universe/issues/643#issuecomment-1090090877

[2022-04-07 00:47] wep21 commented on #589
apollo
![image](https://user-images.githubusercontent.com/42202095/162098105-657337f1-9e52-414c-be88-100b28ee801c.png)

[2022-04-07 01:04] boyali commented on #567
This package computes;
tracking error outputs:
- lateral error ey
- heading error eyaw

The tracking errors are computed by projecting current vehicle location on the current trajectory. In addition, the generated control vector u us used to compute an quadratic energy like value similar to we use in the MPC computations; uRu^T. We use the same kind of energy for the tracking’s errors; xPx^T.

The

[2022-04-07 01:48] wep21 commented on #589
yolo
![image](https://user-images.githubusercontent.com/42202095/162103978-2b717423-c4a5-4444-b49c-9fcb0cd389f6.png)

[2022-04-07 02:05] kenji-miyake opened #649 "Sometimes trajectory_follower's test fails with ARM64"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

See https://github.com/autowarefoundation/autoware.universe/runs/5860423885?check_suite_focus=true.

### Expected behavi

[2022-04-07 02:06] kenji-miyake commented on #649
@TakaHoribe @taikitanaka3 Do you know any causes?

[2022-04-07 02:19] wep21 commented on #589
traffic light
![image](https://user-images.githubusercontent.com/42202095/162107329-2e79f2ac-e2ff-4035-b99a-aaa8060d3a76.png)

[2022-04-07 02:22] yukke42 commented on #589
Thank you! :clap:

[2022-04-07 02:32] yukke42 commented on #589
We checked for the packages to work, so close this issue.

[2022-04-07 02:32] #589 closed

[2022-04-07 08:25] rej55 commented on #641
It seems to be happen because the status of scene modules is not initialized.
https://github.com/autowarefoundation/autoware.universe/blob/7ee98f4768870e0f33688922c68143faa3acd29f/planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp#L202

The initial status should be `BT::NodeStatus::IDLE`.
I'll fix it.

[2022-04-07 08:27] maxime-clem commented on #636
I am able to reproduce the issue but it is inconsistent and setting a goal sometimes works the first time.

Using `git bisect` I have identified the first bad commit as 982263a78e1079f054b428818636de1287801109.

[2022-04-07 09:05] yukkysaito commented on #641
@rej55 Thank you!

[2022-04-07 10:46] h-ohta opened #653 "The fail-safe-state image is not found"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The following link is not found, https://github.com/autowarefoundation/autoware.universe/blob/c341d4c4e4a79dd0b1f2259653

[2022-04-07 10:53] kenji-miyake commented on #653
https://github.com/autowarefoundation/autoware.universe/pull/644

[2022-04-07 10:54] h-ohta commented on #653
I'm sorry I overlooked...

[2022-04-07 11:46] yukkysaito commented on #641
New issues :
- Poor trajectory follower performance and no parking state.
![image](https://user-images.githubusercontent.com/8327598/162191009-8fcd832c-610c-4300-8ab7-26eeb497383b.png)

- If a goal is set quickly at startup, it cannot move.
![image](https://user-images.githubusercontent.com/8327598/162191207-0ca95f47-61ac-4253-85a2-3f17536fb0d2.png)

[2022-04-08 06:51] mitsudome-r opened #656 "Integration of Autoware Universe with Scenario Simulator"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

This tickets tracks the tasks required for the integration of TEIR IV's scenario simulator with Autoware Univer

[2022-04-08 08:13] brkay54 commented on #567
We decided to modify the ` control_performance_analysis` package. I will add new functionalities to this package. Current design is here:

![control benchmark design](https://user-images.githubusercontent.com/45468306/162393921-a99fc054-bec4-4280-bd8e-b6a5066880b6.png)

I will create PR for this design. If you have any comment, please feel free to share with us.

[2022-04-08 09:38] maxime-clem commented on #636
This issue was fixed by c341d4c4e4a79dd0b1f2259653a4f6cc3f7e4c50 but I observed a new issue where `behavior_planning` crashes after setting a goal.
[code]

[2022-04-08 10:06] #636 closed

[2022-04-08 11:14] maxime-clem commented on #649
Previously flaky tests were sometimes caused by interference between tests that use the same topics running in parallel.
I have opened a draft PR https://github.com/autowarefoundation/autoware.universe/pull/661 to switch the tests of the `trajectory_follower_nodes` to run in isolation but it is hard to verify if this solves the issue.

[2022-04-08 16:03] kenji-miyake commented on #649
@esteve cc @mitsudome-r @xmfcx Are you familiar with this issue? I remember you've worked on this kind of task in Autoware.Auto.
If so, could you give me your thoughts? :pray:

[2022-04-10 00:10] taikitanaka3 commented on #315
It's not changed yet  I want someone to do this

[2022-04-10 11:03] kosuke55 opened #662 "free space planner may collide obstacles with vehicle front"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I think that the following lines shorten the forward length of the vehicle and may cause a collision.
[code]
https://git

[2022-04-10 11:10] kosuke55 commented on #662
cc @TakaHoribe @yukkysaito

[2022-04-11 00:58] miursh commented on #357
This issue is resolved by https://github.com/autowarefoundation/autoware.universe/pull/345

[2022-04-11 00:58] #357 closed

[2022-04-11 07:35] taikitanaka3 commented on #582
this issue is solved by #624

[2022-04-11 07:35] #582 closed

[2022-04-11 13:13] kaancolak commented on #565
I shared high-level architecture for the planned perception benchmark pipeline. If you have any comments feel free to share them with us.

![perception_pipeline drawio (1)](https://user-images.githubusercontent.com/12658936/162711385-21563086-fcb5-4b03-afba-dfccd72f7d3d.png)

**Limitations when benchmarking with the Waymo dataset:**

- We don't have PCD/Vector Map information from the Waymo datase

[2022-04-11 16:03] miursh opened #669 "Ground segmentation fails for points behind the low objects"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The point clouds of the ground, which are behinds the small objects, are sometimes segmented as a point cloud of the obj

[2022-04-12 05:01] h-ohta commented on #653
also #635
closed

[2022-04-12 05:01] #653 closed

[2022-04-12 05:38] h-ohta opened #673 "Create visualizer for system_error_monitor"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The diagnostics_aggregator is visualized in [rqt_robot_monitor](http://wiki.ros.org/rqt_robot_monitor), and Dia

[2022-04-12 05:45] kenji-miyake commented on #673
@h-ohta Have you tried `ros2 run rqt_runtime_monitor rqt_runtime_monitor --ros-args -r /diagnostics:=/diagnostics_err`?

[2022-04-12 05:58] h-ohta commented on #673
Yes, I tried it.
I confirmed when a diag are staled, [Single Point Fault] are added to it.
However, I can't confirm emergency and emergency_holding status from it.

[2022-04-12 07:58] xmfcx commented on #630
Are https://github.com/autowarefoundation/autoware.universe/issues/641 and https://github.com/autowarefoundation/autoware.universe/issues/643 are part of this issue?

[2022-04-12 08:16] xmfcx opened #677 "Investigate available open source tools for calibration."

[2022-04-12 08:18] mitsudome-r opened #678 "Document the usage of the tools (with a example rosbag if possible)"

[2022-04-12 08:19] mitsudome-r opened #679 "Implement any missing calibration tools"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description
This is a sub-ticket of https://github.com/autowarefoundation/autoware.universe/issues/592
Implement any missing

[2022-04-12 08:21] xmfcx commented on #592
@xmfcx provide details for issues
- https://github.com/autowarefoundation/autoware.universe/issues/677
- https://github.com/autowarefoundation/autoware.universe/issues/679
- https://github.com/autowarefoundation/autoware.universe/issues/678

[2022-04-12 08:24] xmfcx commented on #679
@armaganarsln to provide data for lidar-imu calibration

[2022-04-12 08:47] xmfcx opened #680 "Collect rosbag of sensor data for camera"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Part of #680

### Purpose

### Possible approaches

### Definition of done

- [ ] Decide the datasets we need w

[2022-04-12 10:28] #649 closed

[2022-04-12 10:45] brkay54 opened #682 "Adding genesis P65 joystick converter into joy controller"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Providing [Genesis P65](https://www.g2a.com/gamepad-genesis-p65-pc-ps3-i10000257735001) joy stick support in Au

[2022-04-12 11:16] maxime-clem opened #684 "Isolate gtests in all packages"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Change the way gtests are run in all packages to ensure they are isolated from each other.

### Purpose

The ch

[2022-04-12 13:59] meliketanrikulu commented on #607
PR related to this issue : https://github.com/autowarefoundation/autoware.universe/pull/627

[2022-04-13 12:29] brkay54 commented on #682
PR is merged, I will close this issue after test the joystick in real vehicle.

[2022-04-15 01:25] yukke42 commented on #643
@yukkysaito

Was this issue solved by [this PR](https://github.com/autowarefoundation/autoware.universe/pull/645#event-6381035116)?

[2022-04-15 01:41] badai-nguyen commented on #417
This issue has been resolved by #461

[2022-04-15 01:41] #417 closed

[2022-04-15 02:03] zulfaqar-azmi-t4 commented on #485
Adding debug message to show reason for failure.
This is to simplify debugging on field as the field integrator members can just echo the message directly using `ros2 topic echo`.

[2022-04-15 06:43] Sharrrrk opened #701 "Change longitudinal controller from rate to period control"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Change the control type of longitudinal controller from rate to period.

### Purpose

Currently in trajectory_f

[2022-04-15 06:48] TakaHoribe commented on #701
Thank you for your issue! I totally agree with this approach.

[2022-04-15 06:51] JianKangEgon commented on #701
One thing to mention is that the duplicated name in parameter configuration file may cause conflict, so it's better to add prefix / suffix if necessary. Although, the namespace is supposed to be useful, but actually, from my own experience, it does not work at all......

[2022-04-15 07:02] angry-crab commented on #602
Current issues:
- The ground truth poses of KITTI is provided by post-processed GPS-RTK. The original `IMU` data is not released.
- New College Dataset is collected by a hand holding device with rotates a lot.

[2022-04-15 07:28] storrrrrrrrm opened #702 "set correct frame_id of transformed_cloud"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

atfer LidarApolloInstanceSegmentation recv point cloud，it first change cloud from lidar frame(like velodyne_top) to targ

[2022-04-15 07:33] TakaHoribe commented on #701
@JianKangEgon Good point. In ros2, every parameter is basically defined under each node. Thus we have to call the parameter with the node name like `ros2 param get /trajectory_follower/lateral_controller control_rate`. This is exactly the mechanism introduced in ros2 to prevent the parameter conflicts you are concerned about. Does this solve your concern?

Also, at the code level, the parameter is

[2022-04-15 08:28] badai-nguyen commented on #509
Hello @yucedagonurcan
I think the line is to make sure the difference of adjacent points in a ring azimuth_diff in range [0.0f  36000.0f].
Could you describe more details about the error have you get?

[2022-04-15 08:31] beginningfan opened #703 "Add another crop_box_filter node"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Add another crop_box_filter node to crop LiDAR reflections from ego vehicle body.
#437 added vehicle crop box f

[2022-04-15 08:55] plane-li opened #705 "the "crop_box_filter" can cause error in the subsequent module."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When run the autoware_launch,It always throw the error **Invalid input!** and the warning: **Invalid PointCloud (data =

[2022-04-15 09:35] shulanbushangshu opened #706 "Wrong path planned by avoidance module in a special case"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When the ego vehicle encounters obstacles near discontinuous adjacent lanes (see picture below), part of the path planne

[2022-04-15 09:49] yukkysaito commented on #706
Can you provide a map and rosbag?
cc @takayuki5168

[2022-04-15 10:13] #635 closed

[2022-04-15 10:29] TakaHoribe commented on #706
Thank you for your issue!
We have recognized this issue before (please see the [design document - unimplemented parts - cancel avoidance when target disappears](https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_path_planner/behavior_path_planner_avoidance-design/#future-extensions-unimplemented-parts)).
And we are in the process of improvement.

There should be more ite

[2022-04-15 16:42] takayuki5168 opened #710 "PathFootprint/Trajectory Footprint's size is not the same as the vehicle size."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Currently, path footprint/trajectory footprint's size is a constant value, which should be the vehicle's size from the v

[2022-04-15 16:44] takayuki5168 commented on #710
@kenji-miyake I'm not sure how to use vehicle_info parameters (length, width, ...) for path footprint/trajectory footprint, which is an rviz plugin for visualization.
Could you give me a hint to fix this issue.

[2022-04-16 01:36] takayuki5168 opened #711 "Goal pose is not aligned to the map"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When the goal pose is given to Autoware, usually by "2D Goal Pose" rviz plugin, mission_planner recognized that the goal

[2022-04-16 01:37] takayuki5168 commented on #711
@yukkysaito @mitsudome-r What do you think.
If the goal pose given to mission_planner may contain the z value in the future, we have to discuss more.

[2022-04-16 08:03] kenji-miyake commented on #710
I guess we can get the parameters if we declare it. Will give it a try.

[code]

[2022-04-16 08:33] kenji-miyake commented on #710
@takayuki5168 Yes, it was possible.

[code]

[2022-04-16 08:53] kenji-miyake commented on #710
I've tested this With extremely expanded vehicle_info parameters.

Left: Launched RViz using `ros2 launch autoware_launch` (= has global params)
Right: Launched RViz using `rviz2 -d`

![image](https://user-images.githubusercontent.com/31987104/163668716-36c06ed7-33be-44b3-b009-eb942d9d713b.png)

[2022-04-17 15:34] takayuki5168 commented on #535
@kenji-miyake
We've already commonized max and min acceleration and jerk. It may be better to write max and min velocity as well here though.
https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_planning_launch/config/scenario_planning/common/common.param.yaml

For the `vehicle_info` package, I don't have any parameters other than `max_steer_angle` so far.

@TakaHoribe
Co

[2022-04-18 01:16] takayuki5168 commented on #711
cc @TakaHoribe @kosuke55

[2022-04-18 01:51] Sharrrrk commented on #562
@BonoloAWF please assign this task to me.

[2022-04-18 02:00] Sharrrrk commented on #564
@xmfcx as disscussed in last WG meeting, the data has been collected. Shall I use this issue or you would like to create the subtask "collect rosbag of sensor data for lidar".

[2022-04-18 06:28] #656 closed

[2022-04-18 07:22] kenji-miyake commented on #268
https://github.com/autowarefoundation/autoware.universe/labels/rolling
https://github.com/autowarefoundation/autoware.universe/labels/humble

[2022-04-18 07:41] kenji-miyake commented on #268
I'll set up Ubuntu 22.04 next week and work in a branch.

[2022-04-18 10:35] #607 closed

[2022-04-19 03:19] JianKangEgon commented on #701
@TakaHoribe Thanks for the reply. Well, I understand your point and believe this kind of mechanism of ros2 functionality as well. However, I did meet such a confusing problem during my actual migration of autoware new Architecture proposal  about two or three months ago.  Here, I'd like to reproduce this issue in details as following:

- ubuntu 20.04
- ROS2 Galactic
- Autoware version: https://git

[2022-04-19 03:33] TakaHoribe commented on #535
I agree to have `max_steer_angle` in the vehicle_info data. There already are some packages defining max_steer value in their local and it's getting messy.

About the velocity, it may be ok to have the max_velocity in the planning common param. In my opinion, we could have two max_velocity: `normal.max_velocity` and `limit.max_velocity`. They are like, "follow the limit if possible" and "vehicle m

[2022-04-19 14:12] yucedagonurcan commented on #509
@badai-nguyen , I am guessing that we need to f_x the difference between [0, 360)_not [0, 36).

[2022-04-19 15:21] xmfcx commented on #703
https://github.com/autowarefoundation/autoware-documentation/pull/79#discussion_r853202192

We should add some node like this to filter the points within the polygon https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/tree/master/src/perception/filters/polygon_remover

[2022-04-19 15:24] Sharrrrk commented on #562
Using the driver below:
https://github.com/ros-drivers/ros2_ouster_drivers

[2022-04-19 16:36] mitsudome-r commented on #533
Do you still have any other tools that you are thinking of? If so, please list them up in the issue description.

[2022-04-19 16:39] mitsudome-r commented on #258
@taikitanaka3 Do you still have any remaining issues? If not, please close the issue.

[2022-04-19 16:43] meliketanrikulu commented on #576
PR related to this issue: [#725](https://github.com/autowarefoundation/autoware.universe/pull/725)

[2022-04-19 16:46] mitsudome-r commented on #494
@08beeqtufail-sudo It seems like the PR mentioned by @yukkysaito is merged. Could you check if the issue still remains? If it still does, please provide a reproducing steps (or a rosbag) so that others can investigate the bug.

[2022-04-19 16:48] mitsudome-r commented on #361
@taikitanaka3 Are there still duplicate parameters functions in the planner node?

[2022-04-19 21:58] taikitanaka3 commented on #361
@mitsudome-r yes there still duplicated packages like autoware auto.utils.
but i think we wont fix in a month so.we can close issue for now and link this issue when refactoring.
@kosuke55 what do you.think？

[2022-04-19 21:58] taikitanaka3 commented on #361
@mitsudome-r yes there still duplicated packages like autoware auto.utils.
but i think we wont fix in a month so.we can close issue for now and link this issue when refactoring.
@kosuke55 what do you.think？

[2022-04-19 21:59] taikitanaka3 commented on #258
feature implementation is done so i can close this

[2022-04-19 21:59] #258 closed

[2022-04-20 01:45] kosuke55 commented on #361
@mitsudome-r @taikitanaka3
We haven't listed them yet because there are so many, but they're still there. (ex: behavior_velocity parameters are not commoned)
It's OK to close this issue if this doesn't work. (or every time we find duplicates, we will list them here to help refactor.)

[2022-04-20 02:53] takayuki5168 commented on #711
@yukkysaito @mitsudome-r kindly ping.

[2022-04-20 02:57] takayuki5168 commented on #535
I'm thinking about the name of the parameter, `max_steer_angle` or `max_tire_angle`. I'm not sure if `max_steer_angle` is confusing for non-Japanese people.

@xmfcx Could you tell me your opinion.

[2022-04-20 06:24] taikitanaka3 commented on #265
closed for stop line module has this fix

[2022-04-20 06:24] #265 closed

[2022-04-20 10:14] JianKangEgon commented on #679
@xmfcx hi, from Autocore's side, we got one well-worked open sourced tool to calibrate lidar and imu for our SLAM related works, see the link: https://github.com/APRIL-ZJU/lidar_IMU_calib

Currently, the original version supported by developers could only works for velodyne lidar packets. We have overwritten the lidar inputs to receive our ouster lidar as well. If necessary, I'm willing to provide

[2022-04-20 12:03] 08beeqtufail-sudo commented on #494
@mitsudome-r I am currently working on another project but i will test it within a couple of days and let you know.

[2022-04-20 12:31] xmfcx commented on #535
@takayuki5168 I think `max_steer_angle` is ok.

![image](https://user-images.githubusercontent.com/10751153/164230504-0f264013-1fc7-44cd-b3a1-e2d75fcd03e8.png)

Reference: http://street.umn.edu/VehControl/javahelp/HTML/Definition_of_Vehicle_Heading_and_Steeing_Angle.htm

[2022-04-20 12:35] xmfcx commented on #535
@TakaHoribe

What is the difference between these 2?

Why is a single speed limit not enough, like vehicle is never allowed to go over 50kmph?

The other speed limits are road related, not vehicle.

[2022-04-20 12:51] kaancolak opened #736 "Choose GPU device before running tensorrt_yolo 2D detection node"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Most autonomous vehicles use computers containing multiple GPU systems. In order to distribute deep learning mo

[2022-04-21 00:47] badai-nguyen commented on #509
@yucedagonurcan Hi, I am sorry for misunderstanding your question.
Because the current LiDAR's azimuth represents angle in hundredths of degree so that it should be 36000.0f.

[2022-04-21 06:58] takayuki5168 commented on #535
@TakaHoribe @kenji-miyake @xmfcx cc @tkimura4 @h-ohta
We found that `max_steer_angle` is not required for the differential wheeled robot.

So how about the following `vehicle_info.param.yaml`?
Any major/minor comment would be welcome!
[code]

[2022-04-21 08:36] taikitanaka3 opened #742 "Need to add time stamp for control command in emergency handler"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

no time stamp for lat/lon control command
https://github.com/autowarefoundation/autoware.universe/blob/26a252e446a030eca

[2022-04-21 08:39] taikitanaka3 commented on #742
@kenji-miyake
Is there any diagnostic error for this?

[2022-04-21 08:42] kenji-miyake commented on #742
@taikitanaka3 I'm sorry, could you explain it a bit more clearly? :pray:

[2022-04-21 08:50] taikitanaka3 commented on #742
~Currently there is no emergency control command lateral command time stamp and longitudinal command stamp.
Does this cause any problem for product? I want to make the exact priority to this issue.
So I want to know if there is any fail safe for this ...~
But it looks like there is no problem for now. I am sorry to bother you.

[2022-04-21 09:02] kenji-miyake commented on #742
Hmm? Is it resolved?

No problem! Let's discuss it whenever you find anything strange. :smile:

[2022-04-21 09:05] taikitanaka3 commented on #742
I am now asked wakabayashi-san to solve this issue. but as far as I now there is no package refer to this time stamp I set low priority label.

[2022-04-21 09:08] satoshi-ota opened #744 "The dicision of vehicle state (vehicle is stopping or moving) should be judged by a common node."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In current architecture, various nodes judge whether the vehicle is stopping or moving independently. For examp

[2022-04-21 09:08] satoshi-ota commented on #744
@TakaHoribe @yukkysaito

[2022-04-21 10:33] kenji-miyake commented on #268
TODO: Remove workarounds after we moved to Humble.
https://github.com/autowarefoundation/autoware.universe/pull/720

[2022-04-21 11:17] 08beeqtufail-sudo commented on #494
@mitsudome-r @yukkysaito I was able to test the latest map_based_prediction with some bag files. I still have the same problem. I can see in the code that the part that decides whether to do linear prediction or normal prediction still checks the x component of twist of an object. But the tracked objects in my custom bag files are in map_frame. So the objects have a x velocity part and a y velocit

[2022-04-21 12:58] brkay54 opened #749 "fix: control.py lateral_controller_mode option is not working"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

`tier4_control_launch/launch/control.launch.py` lateral_controller_mode option is not working.

### Expected behavior

W

[2022-04-22 05:35] JianKangEgon commented on #744
It's a good idea to monitor vehicle state by one united node. From road test of real vehicle on site, as far as I'm concerned, the localization kinematics status and vehicle status from driving-by-wire module are supposed to be taken in to account as well. If these motion data are aligned with each other or not.

[2022-04-22 05:39] JianKangEgon commented on #678
I've experienced in calibration of lidar and imu for a while. If necessary, I can afford myself on the documentation regarding this field. Just feel free to let me know

[2022-04-22 10:55] #749 closed

[2022-04-22 13:02] #702 closed

[2022-04-23 03:18] takayuki5168 commented on #744
@satoshi-ota
We already have `stop_filter` package here. This is not used at all though.
https://github.com/autowarefoundation/autoware.universe/tree/main/localization/stop_filter

[2022-04-23 03:20] takayuki5168 commented on #744
Currently velocity and angular velocity are considered. IMO, cceleration and angular acceleration must be considered as well, at least.

[2022-04-23 03:24] takayuki5168 opened #768 "Keyboard input of joy_controller"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

We can teleoperate the vehicle with a joy controller. Currently some types of joy controllers are supported tho

[2022-04-23 03:26] takayuki5168 commented on #768
@kenji-miyake
Does anyone have a good idea about how to get asynchronous keyboard inputs with C++? I feel OpenCV is the easiest to do that.

[2022-04-23 03:45] kenji-miyake commented on #768
@takayuki5168 Kimura-san tried it before, but didn't work so perfectly.
If you think OpenCV is good, you can give it a try!

[2022-04-23 04:56] takayuki5168 commented on #768
Thank you for your information.
@tkimura4 If you have any knowledge about it, please let me know.

[2022-04-23 05:25] #710 closed

[2022-04-24 02:21] shmpwk commented on #742
Close by #747

[2022-04-24 02:21] #742 closed

[2022-04-24 13:51] yucedagonurcan commented on #509
Okay, it's a fair approach if we know it is `hundredths of degree`

But if we are parsing the sensor data from the Ouster, user tend to calculate the azimuth value as millidegrees which is the format of the incoming data.

@badai-nguyen  maybe the best approach to make it a parameter rather than fix value? What do you think?

[2022-04-25 06:20] JianKangEgon opened #796 "Use /vehicle/status/velocity_status as the input for lat/lon controller instead of /localization/kinematic_state"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, the control module takes the kinematic states from localization module as the input. In other words,

[2022-04-25 06:53] TakaHoribe commented on #796
Thank you for your post.

The can bus speed information (` /vehicle/status/velocity_status`) is passed to the localization module for proper processing. If the can bus information is clearly more accurate than the localization matching, you can tell the information to the localization module through the error covariance.

The localization module also handles cases where the speed information from

[2022-04-25 06:57] JianKangEgon commented on #796
@TakaHoribe Thanks for your quick reply. This solves my concern.

[2022-04-25 08:26] TakaHoribe commented on #701
@JianKangEgon Thanks for sharing. This looks strange to me and I don't know why this is happening.

In this case, is the `longiturinal_controller/control_rate` parameter set to 100?

[2022-04-25 09:38] JianKangEgon commented on #701
@TakaHoribe Well, I was shocked at this problem as well and took a long time to figure it out. The longiturinal_controller/control_rate is always set to 30.0 by default. The planning simulator works always well because there is no any other control_rate defined in the launch file.

The first time I found this issue was about 3 months ago during our road test on site. The autoware_launch did not su

[2022-04-25 11:39] kosuke55 opened #798 "obstacle_avoidance_planner dies when the interval of path points is long"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

**This is a problem that does not occur with the current hard code, but could potentially occur.**

truncated_points siz

[2022-04-25 11:39] kosuke55 commented on #798
@takayuki5168

[2022-04-25 14:41] meliketanrikulu opened #800 "The output of the gnss_poser package is not suitable for ekf"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The gnss_poser package generates the 21., 28., 35. indices of the 4x4 covariance matrix by giving default values. You ca

[2022-04-25 18:50] #584 closed

[2022-04-26 00:47] zulfaqar-azmi-t4 opened #810 "checkLaneIsInIntersection function caused no lane following trajectory to be generated during lane change"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

During lane change, no lane following path is generated.
![Screenshot from 2022-04-26 09-27-25](https://user-images.gith

[2022-04-26 00:50] badai-nguyen commented on #509
@yucedagonurcan yes, I totally agree that it is better to parameterize that. I will fix it.

[2022-04-26 04:49] plane-li commented on #796
I agree with you! However,sometimes, the output of localization will shake in the longitudinal direction,which will lead to small different in velocity between EKF and Can bus.  I think it may caused by the ndt when vehicle run on the road which has little variation in the longitudinal  direction.

[2022-04-26 05:15] angry-crab commented on #602
Able to build a `pcd` map with ground truth poses and point cloud frames, but slow.

[2022-04-26 05:46] plane-li opened #812 "can not record the self-defined topic using ros2 bag record"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I can record the image and pointcloud throught" ros2 bag record --topic",however can not record the self-defined topic l

[2022-04-26 06:34] YamatoAndo commented on #800
@meliketanrikulu Thank you for your report!
The default values were set without any verification, so I would like to be able to set them to appropriate values.

How about being able to change the values from a config file?

[2022-04-26 08:41] xmfcx commented on #703
Vehicle params:  https://github.com/autowarefoundation/autoware.universe/blob/main/vehicle/vehicle_info_util/config/vehicle_info.param.yaml

[2022-04-26 09:00] xmfcx commented on #800
https://github.com/orgs/autowarefoundation/discussions/233

[2022-04-26 10:01] plane-li commented on #602
Hi, which opensource lidar-slam did you use to create the pcd?

[2022-04-26 10:14] plane-li commented on #602
Sorry, to be honest!  I really do not  know the meaning of "if current perception has enough capability for Localization"?
Cloud you explain the reason?
Thank you!

[2022-04-26 14:17] takayuki5168 commented on #535
@TakaHoribe What do you think.

[2022-04-26 14:32] BonoloAWF commented on #812
@kenji-miyake @angry-crab could you please check whether you are able to reproduce this bug? rosbag2 should be recording the available topics.

[2022-04-26 15:22] kenji-miyake commented on #812
@plane-li I have two requests. :pray:
- Could you provide the rosbag if you use some log data?
- Could you write the exact commands you executed?

@BonoloAWF I can try to reproduce this if he can provide more information.
I have one question and one request for you.
- Is this related to some projects such as Bus ODD?
- I think it's good to assign only one person to avoid double work and to make th

[2022-04-26 15:26] kenji-miyake commented on #456
https://github.com/autowarefoundation/autoware.universe/runs/6176924209?check_suite_focus=true

[2022-04-26 15:50] TakaHoribe commented on #535
@xmfcx In my mind, just one velocity limit is enough.
However, the concept of 2 limits (e.g normal.max_acc and limit.max_acc) is that different accelerations are use for emergency situations (like, a very large acceleration is required to avoid a risk) and non-emergency situations. And I think it is reasonable.

So we can apply the same idea to the velocity limit as well, that is, the two velocity

[2022-04-26 16:10] TakaHoribe commented on #535
@takayuki5168
The current policy for the adaptation to the differential drive robot is to consider the robot as a virtual Ackerman vehicle.

In order to support the differential drive robot officially, we need to replace many parts of planning/control/vehicle modules.

Whereas, the drawbacks of the virtual Ackerman vehicle is handling of the non-essential parameters like steering angle and the lac

[2022-04-26 16:34] BonoloAWF commented on #812
@kenji-miyake  Noted, I've updated the assignees. It is indirectly related to the Bus ODD since this is a functionality we will need.

[2022-04-26 22:52] kasperornmeck opened #817 "Remove"

[2022-04-26 23:03] kasperornmeck commented on #817
This issue was created in the wrong place.

[2022-04-27 01:31] angry-crab commented on #812
@kenji-miyake Sure! I'll look into it.

[2022-04-27 02:12] plane-li commented on #812
Thank you very much!, We have solved it.
I have tried to use another computer to record the topic my computer pub, it is ok!
So It may have some problems with the ros2 environment  of my computer.
Two steps to solve:
1.reinstall the rosbag.
   **command: sudo apt-get install ros-galactic-rosbag2***
2.rebuild the aw
  **command: colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release

[2022-04-27 02:26] #562 closed

[2022-04-27 02:26] Sharrrrk commented on #562
Data has been provided

[2022-04-27 02:29] #701 closed

[2022-04-27 02:29] Sharrrrk commented on #701
Merged.

[2022-04-27 04:12] angry-crab commented on #602
Hi, this map is generated by simply concatenating pcd frames because the dataset provides post-processed ground truth poses.

We are trying to evaluate the accuracy of the localization module of `universe` to see if it is enough to localize in different settings.

[2022-04-27 07:07] 08beeqtufail-sudo commented on #88
Hello everyone,
While going through the documentation found at
[Autoware universe documentation](https://autowarefoundation.github.io/autoware.universe/latest/planning/behavior_velocity_planner/intersection-design/)
I found out that the images have all the explanation in Japanese. Can someone provide an English version or just a brief explanation of images in English . Thank you for great work.

[2022-04-27 07:35] #810 closed

[2022-04-27 07:36] #531 closed

[2022-04-27 08:58] Sharrrrk commented on #564
LiDAR data has been provided in#562

[2022-04-27 10:36] #682 closed

[2022-04-27 14:45] takayuki5168 commented on #535
@TakaHoribe

Right. I've been thinking about using (this yaml file)[https://github.com/autowarefoundation/autoware.universe/issues/535#issuecomment-1104791848] with the comment "the differential model is not officially supported. xxx have to be fixed.".

But I found this almost meaningless for now. Now I totally agree with your opinion. Thank you so much.

[2022-04-27 18:37] 08beeqtufail-sudo opened #822 "Steering angle limit reached in simulation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Hello guys,
I am testing this repository in simulation with the sample lanelet2 and pointcloud maps provided. As i try t

[2022-04-28 05:22] kasperornmeck opened #825 "Docker Compose integration"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

From https://docs.docker.com/compose/:
_Compose is a tool for defining and running multi-container Docker appli

[2022-04-28 05:37] kasperornmeck opened #826 "Docker Compose documentation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Update current documentation to include how Docker Compose is used in Autoware.

### Purpose

Ensure that users

[2022-04-28 05:49] kasperornmeck opened #827 "Document Autoware.Universe ROS nodes"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

List all ROS nodes in Autoware.Universe with the following information
- feature
- ROS messages/topics
- softwa

[2022-04-28 07:18] plane-li commented on #669
you can try to modify the common_ground_filter param:
**split_points_distance_tolerance:**
or **radial_divider_angle_deg** in the scan_ground_filter_nodelet.cpp

[2022-04-28 07:54] JianKangEgon commented on #822
@08beeqtufail-sudo Hi, although the video seems to be broken from my side. But you can just modify this value "steer_lim_deg" in the config file src/universe/autoware/launch/tier4_control_launch/config/trajectory_follower/lateral_controller.param.yaml

This parameter is to limit the output of lateral controller regarding steering angle. I've checked this param is currently updated to 40.0

[2022-04-28 08:06] #812 closed

[2022-04-28 08:48] satoshi-ota commented on #533
@mitsudome-r No, I don't. So, I will close this issue. (If I need new tools, I'll re-open this issue.)

[2022-04-28 08:48] #533 closed

[2022-04-28 09:39] satoshi-ota opened #832 "Separate surround_obstacle_checker from hierarchical planning flow by using external velocity limit"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The function of surround_obstacle_checker is to keep the stopped state when the vehicle is stopped and there ar

[2022-04-28 09:47] shulanbushangshu opened #833 "Potential collision risk with long obstacles"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When the length of obstacle is long, the path planned  by avoidance of behavior_path_planner is too close to the obstacl

[2022-04-28 10:29] 08beeqtufail-sudo commented on #822
@JianKangEgon Thank you for your response. Indeed that was the problem. It's working as expected now. I will close this issue.

[2022-04-28 10:29] #822 closed

[2022-04-28 13:37] #413 closed

[2022-04-28 13:37] #460 closed

[2022-05-02 07:53] LalithVipulananthan commented on #826
@kasperornmeck All of the existing Open AD Kit developer documentation is on GitLab:
https://gitlab.com/autowarefoundation/autoware_reference_design/-/blob/main/docs/Appendix/Open-AD-Kit-Start-Guide/index.md

Will you be handling the two Docker Compose related tasks, or do we need to find a volunteer from the WG?

[2022-05-03 23:54] kenji-miyake opened #850 "Update APIs of nvinfer"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

[code]

### Purpose

To resolve warnings.

### Possible approaches

Use new APIs.

### Definition of done

No e

[2022-05-04 00:12] kenji-miyake opened #851 "Resolve warnings of hdd_reader"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

[code]

### Purpose

To resolve warnings.

### Possible approaches

I'm not sure.

### Definition of done

No e

[2022-05-04 00:28] kenji-miyake commented on #850
Another error.

[code]

[2022-05-04 07:34] #457 closed

[2022-05-05 15:22] kenji-miyake commented on #268
@esteve From your ROS experiences, do you have any suggestions on this?
https://github.com/autowarefoundation/autoware.universe/issues/268#issuecomment-1078430411

[2022-05-05 15:53] esteve commented on #268
@kenji-miyake in my opinion, the plan sounds good. After Humble is released, we won't be supporting Rolling, right?

[2022-05-05 15:57] kenji-miyake commented on #268
@esteve No, I believe we won't (at least proactively).
But if someone wants to add the Rolling support by using `ROS_DISTRO` macros, I think it can be acceptable.
However, it cannot be a mandatory condition for merging PRs because Rolling may collapse frequently.

[2022-05-06 02:02] ito-san opened #859 "Monitoring a Bluetooth connection"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Add a feature to monitor a Bluetooth connection to a wireless controller.

### Purpose

Autonomous delivery rob

[2022-05-06 04:23] kminoda opened #861 "Fix a bug in scenario_simulator in the presence of multiple parking lots"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Related discussion: https://github.com/orgs/autowarefoundation/discussions/262

The parking scenario in Autoware behaves

[2022-05-06 07:26] kenji-miyake commented on #851
@ito-san Could you please take a look at this? :pray:

[2022-05-09 01:32] LalithVipulananthan opened #867 "Add more detail about the min_behavior_stop_margin parameter to the Obstacle Stop Planner documentation"
In https://github.com/autowarefoundation/autoware/discussions/270, @08beeqtufail-sudo described a use case where a stop line is created (eg: at an intersection) but the ego vehicle stops earlier than expected due to an obstacle that exists just beyond the stop line.

@takahoribe [explained that this behaviour can be managed with the `stop_planner.min_behavior_stop_margin` parameter](https://github

[2022-05-09 01:45] satoshi-ota commented on #832
cc @TakaHoribe @yukkysaito

[2022-05-09 01:55] Sharrrrk opened #868 "System_monitor build failure on Nvidia Xavier platform"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

system_monitor reported error building on Xavier.

[code]

### Expected behavior

Build success

### Actual behavior

Bu

[2022-05-09 01:58] kenji-miyake commented on #868
Related? #270 (But seems another problem.)
@ito-san cc @KeisukeShima Could you comment on this? :pray:

[2022-05-09 02:11] ito-san commented on #868
@kenji-miyake Yes, checking thermal throttling is not implemented yet, so we are getting unused parameter error.

[2022-05-09 02:20] Sharrrrk commented on #868
I think I could add a maybe_unused tag to the variable temporarily.

[2022-05-09 02:22] kenji-miyake commented on #868
@Sharrrrk Looks good. :+1:
But please note that there will be other issues like #270.

[2022-05-09 03:31] #868 closed

[2022-05-09 05:07] #513 closed

[2022-05-09 08:34] ito-san commented on #851
@kenji-miyake Could you please let me know how to reproduce this?

[2022-05-09 08:37] kenji-miyake commented on #851
@ito-san Just removing this line.
https://github.com/autowarefoundation/autoware.universe/blob/391ebac4ebf8aeae386c2726929cdb1b334e0b7c/system/system_monitor/CMakeLists.txt#L8

It might not be reproduced with `Ubuntu 20.04`. I used `22.04`

[2022-05-09 08:47] ito-san commented on #851
I found the source code is not up-to-date. Thanks.

[2022-05-09 12:08] #684 closed

[2022-05-09 15:43] yukkysaito opened #874 "Poor dummy pointcloud on planning simulator"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

![image](https://user-images.githubusercontent.com/8327598/167446204-662c4fc1-c057-4861-8fbc-2ab8e07bed1f.png)

Pointclo

[2022-05-09 15:43] yukkysaito commented on #874
cc @HiroIshida

[2022-05-09 23:29] #832 closed

[2022-05-10 06:21] #850 closed

[2022-05-10 07:31] mitsudome-r commented on #679
@JianKangEgon It would be nice if you can provide the rosbag and share the modified branch here. If the change is generic for all lidars, then you may also create PR to the upstream.

[2022-05-10 07:35] mitsudome-r commented on #669
We have discussed this in ASWG.

@piotr-zyskowski-rai said that he was able to reproduce the error. His suggestion is to modify a parameter as suggested by @plane-li, but we might want to have rosbag from different cases so that we can confirm the change is valid for other use cases.

[2022-05-10 07:51] mitsudome-r commented on #605
@k-obitsu Is this issue fixed by https://github.com/autowarefoundation/autoware.universe/pull/728? If so, I will close the issue.

[2022-05-10 08:13] mitsudome-r commented on #551
@mitsudome-r will check with ITRI about ROS2 drivers for their platform

[2022-05-10 08:15] mitsudome-r commented on #874
@yukkysaito Is anyone from TIER IV going to work on this? If so, please assign this issue to the person.

[2022-05-10 08:20] mitsudome-r commented on #662
@kosuke55 @TakaHoribe Is anyone from TIER IV going to fix the issue?

[2022-05-10 08:22] mitsudome-r commented on #558
This should be fixed now.

[2022-05-10 08:22] #558 closed

[2022-05-10 08:24] kosuke55 commented on #662
@HiroIshida  @TakaHoribe
If you can check if this is a mistake, I will send fix PR.

[2022-05-10 08:29] mitsudome-r commented on #432
This is probably fixed in https://github.com/autowarefoundation/autoware.universe/pull/661.
Feel free to re-open the issue if you still see the error.

[2022-05-10 08:29] #432 closed

[2022-05-10 08:41] WJaworskiRobotec commented on #669
@mitsudome-r I think it's a good idea here not to play around with parameters manually and assess them visually, but to introduce some simple metrics that will give an insight about the overall quality of the segmentation on all detected clusters in the dataset.
With such metrics, parameters could be tuned automatically and we will make sure that by improving one case we don't brake others.

We co

[2022-05-10 08:44] plane-li commented on #705
the fix method can be seen in the pr #881

[2022-05-10 08:58] kenji-miyake commented on #827
FYI, here is the node configuration diagram of TIER IV's proposal created by @TakaHoribe.
https://tier4.github.io/autoware-documentation/latest/design/node-diagram/#autoware-universe

Since it's just a proposal from TIER IV yet, we currently put it in our fork.

[2022-05-10 09:49] HiroIshida commented on #874
@yukkysaito
As for vertical layers, I will check and fix this if the issue is caused by https://github.com/autowarefoundation/autoware.universe/pull/527#pullrequestreview-955895269

@taikitanaka3
[code]
Is that caused because the pointcloud is generated one side of the car, instead of all around the car? If so, it is intended behavior of my past PR.

[2022-05-10 11:17] piotr-zyskowski-rai commented on #669
@mitsudome-r  Also, with a limited effort, we could provide ground truth point cloud segmentation functionality in lidar simulation. It would make it possible to create a metric comparing segmented by autoware with ground truth information

[2022-05-10 17:32] kasperornmeck commented on #825
@LalithVipulananthan
We would need a volunteer who could do the work for this issue, I'll be able to assist of course. From my knowledge, there's only one script which build the actual container image. The files can be found here:
- /home/ubuntu/autoware/docker/build.sh
- /home/ubuntu/autoware/docker/autoware-universe/Dockerfile
- /home/ubuntu/autoware/docker/autoware-universe/docker-bake.hcl

Rep

[2022-05-10 19:37] kenji-miyake commented on #825
@kasperornmeck cc @LalithVipulananthan
FYI, as written in https://github.com/autowarefoundation/autoware/blob/main/docker/README.md, `build.sh` is for the local build.

The actual images hosted on https://github.com/autowarefoundation/autoware/pkgs/container/autoware-universe are created by these workflows and actions.
- https://github.com/autowarefoundation/autoware/blob/main/.github/workflows/bu

[2022-05-11 02:00] #874 closed

[2022-05-11 02:24] JianKangEgon commented on #679
@mitsudome-r  okay sure, I'd love to do that. It takes some days to organize documentation, code and sensor data.

[2022-05-11 03:56] #535 closed

[2022-05-11 08:21] angry-crab commented on #602
Clear map could be generated.
![Screenshot from 2022-05-11 17-20-32](https://user-images.githubusercontent.com/93699235/167803054-73c7f89a-9c3d-4a5e-9788-0c8c9e2fb177.png)

[2022-05-11 09:17] WJaworskiRobotec commented on #669
@mitsudome-r @piotr-zyskowski-rai It would be perfect to have GT segmentation information in the simulator, to properly tune the parameters of segmentation algorithms. If similar sensor to the one [implemented in CARLA ](https://carla.readthedocs.io/en/latest/ref_sensors/#semantic-lidar-sensor) could be added to TierIV SIM it would be perfect for improving 3D segmentation algorithm

[2022-05-11 12:43] sglee-morai commented on #669
[Link for the demo lidar segmentation data](
https://morai.atlassian.net/wiki/external/1093861887/MmRjMTQ1NTQ4MDBlNGE5NDhkM2Q0Yjk2ZjQ1YWYwZDU)

[2022-05-11 23:41] HiroIshida commented on #662
@kosuke55
Sorry for late reply. I will check today.

[2022-05-12 01:11] HiroIshida commented on #662
Thank you, I think you are right.

[2022-05-12 05:42] h-ohta opened #888 "The lidar_centerpoint is now built with stderr"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description
[code]

This problem seems to occur neceessary models are not downloaded.

### Expected behavior

The lidar_centerpoint i

[2022-05-12 05:46] kenji-miyake commented on #888
@h-ohta cc @Shin-kyoto Probably the same reason.
https://github.com/autowarefoundation/autoware.universe/pull/871

[2022-05-12 05:53] h-ohta commented on #888
@kenji-miyake Thank you for your information. I tried it, and I found that problems looks like resolved.
I'll make PR to fix this issue.

[2022-05-12 06:45] #888 closed

[2022-05-12 08:49] rej55 opened #891 "Interface to human-machine cooperation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Develop an interface to compensate decisions from Autoware.

### Purpose

Operating an autonomous driving syste

[2022-05-12 11:54] meliketanrikulu commented on #800
Hello. In autoware_universe, I see that GNSS is not currently used as a localization source in localization design.

![localization design](https://user-images.githubusercontent.com/13819566/167943612-418696de-2a0c-42fb-bb63-7983362465e5.png)

GNSS seems to be used only for initial_pose estimation. Is it planned to perform positioning by receiving the pose message from NDT and GNSS to ekf_localize

[2022-05-12 21:47] YamatoAndo commented on #800
Yes! I have not gotten around to it yet, but that's what I was thinking!

As for other ways to use GNSS information, someone in my company is considering integrating GNSS information during NDT scan matching optimization calculations.

[2022-05-16 08:00] Sharrrrk commented on #796
Refer to https://github.com/orgs/autowarefoundation/discussions/291#discussioncomment-2731408
Will close this issue.

[2022-05-16 08:00] #796 closed

[2022-05-16 08:09] mitsudome-r opened #908 "Run Lidar Centerpoint with TVM"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

There are packages in Universe that use TensorRT as neural network library. We would like to document a way to

[2022-05-16 22:24] satoshi-ota commented on #867
@LalithVipulananthan @TakaHoribe
May I close this issue since more detail documentation about the `min_behavior_stop_margin` has been added in https://github.com/autowarefoundation/autoware.universe/pull/880 ?

[2022-05-16 22:56] satoshi-ota opened #910 "Load parameters that should be managed centrally as global parameters."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I think following parameters should be managed centrally at least, because if parameters are not commonized thr

[2022-05-17 11:03] JianKangEgon commented on #679
@mitsudome-r  Currently, I've organized one public repo, see link: https://gitlab.com/JianKang_Egon/li_calib/-/tree/main/
You can easily check the README for details and try this tool to know if it satisfies your need. For any question, just feel free to let me know.

[2022-05-17 15:25] xmfcx opened #918 "Tensorrt_yolo issue in autoware universe"
### Discussed in https://github.com/orgs/autowarefoundation/discussions/229

<div type='discussions-op-text'>

<sup>Originally posted by **amtommy** April 26, 2022</sup>
Hello!
I tried to run the tensorrt_yolo, but I got the incorrect detection results. (see [figure](https://drive.google.com/file/d/1tUNgs4lruQ_18EGAlDkF4ar3d-EDBPut/view?usp=sharing))
How to fix it?

Thank you! </div>

[2022-05-17 16:17] sglee-morai commented on #669
@piotr-zyskowski-rai  Thanks a lot for the feedback! **I'll create another rosbag created as you suggested and share that with you.**

Besides, **you can use an evaluation version of MORAI SIM: Drive** for this purpose so that you will be able to create a scene as you wanted. If you are interested in please let me know. Below is the simple document that I created for AWF, but it may not enough for

[2022-05-17 16:27] xmfcx commented on #494
@08beeqtufail-sudo could you send some visuals, images/short videos of the issue? It'd help us to understand the actual problem and help in the solving process.

[2022-05-17 17:40] armaganarsln commented on #679
@meliketanrikulu could you please provide the rosbag file of Applanix + Velodyne Puck?

[2022-05-18 04:54] satoshi-ota opened #920 "Output map based prediction path for crosswalk users"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Now, cars, motorcycles, and trucks (buses) have rich prediction paths based on lanelet map, but for other objec

[2022-05-18 14:50] kasperornmeck commented on #825
@kenji-miyake
Thanks for sharing these links. I'll have to look more into these to understand the workflow in GitHub.

[2022-05-18 15:23] kenji-miyake commented on #825
@kasperornmeck No, they are not so different. The differences are just some settings.
To build Docker images with GitHub Actions, it's better to use useful third-party actions. But they can't be used in our local, so we need to change some settings to handle the differences.

[2022-05-18 23:16] taikitanaka3 opened #929 "introduce steering offset error as diag"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I want steering offset error real time monitoring.

### Purpose

steering offset estimation affect very much fo

[2022-05-19 01:31] #851 closed

[2022-05-19 09:36] shulanbushangshu opened #934 "Collision path when the part of obstacle crosses the centerline"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When large obstacle is present and part of the obstacle crosses the centerline of the lane, the calculated maximum offse

[2022-05-19 21:17] meliketanrikulu commented on #679
@armaganarsln Applanix + Velodyne Puck Data:
https://drive.google.com/drive/folders/1b4hSw8oaMPje2DFNC1TUFukDl2NuduVz?usp=sharing

[2022-05-20 00:09] satoshi-ota opened #937 "Use crosswalk traffic light singal in behavior planning module"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Now, autoware supports and uses only vehicle traffic light signals, but I think if perception module detected o

[2022-05-20 01:13] TakaHoribe commented on #867
Addressed in https://github.com/autowarefoundation/autoware.universe/pull/880

[2022-05-20 01:13] #867 closed

[2022-05-20 02:39] ito-san opened #939 "Diagnostic topic of process_monitor sometimes may not be sent periodically"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The diagnostic topic of process_monitor sometimes may not be sent periodically, every 1 second.
This issue has been repo

[2022-05-20 07:12] NorahXiong opened #941 "Inappropriate method in parking lot search function"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

If the ego car coordinate is closer to a lanelet out of a parking lot(e.g. lanelet 34976 below) than to a lanelet in a p

[2022-05-20 07:29] TakaHoribe commented on #934
Following the document, the avoidance path should be calculated considering the vehicle size. Needs to be fixed.

https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_path_planner/behavior_path_planner_avoidance-design/

@zulfaqar-azmi-t4 Could you see this issue?

![image](https://user-images.githubusercontent.com/21360593/169476201-c43b378a-dc6b-41ed-b0e7-9416f6c0a83e.pn

[2022-05-22 21:03] kaancolak commented on #918
@amtommy I tested YoloV3, YoloV4, and YoloV5l with the bag file provided by you. It looks like working well without any change current codebase.

Could you share your steps for reproducing your detection results?

I shared result videos:

YOLO V5L:
[![Img alt text](https://img.youtube.com/vi/0Bn--EdFYf4/0.jpg)](https://youtu.be/0Bn--EdFYf4)

YOLO V4:
[![Img alt text](https://img.youtube.com/vi/BYI

[2022-05-23 02:14] NorahXiong opened #947 "Unreasonable freespace planning area in parking scenario"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In parking scenario as below, the trajectory is extended to lanelets out of the parking lot.
![image](https://user-image

[2022-05-23 03:18] amtommy commented on #918
@kaancolak  Thanks for your verification.
I compare my code with the current codebase.
I find the problem is the module uses the default anchor size[[link](https://github.com/autowarefoundation/autoware.universe/blob/main/perception/tensorrt_yolo/src/nodelet.cpp#L57)], so I got the incorrect result.
Now I use the correct anchor size [[link](https://github.com/autowarefoundation/autoware.universe/b

[2022-05-23 06:30] taikitanaka3 commented on #934
@shulanbushangshu cc: @TakaHoribe
 I made rviz dummy bus publisher but I didn't see this issue.
https://github.com/autowarefoundation/autoware.universe/pull/903

[2022-05-23 06:46] taikitanaka3 opened #949 "Monitor processing time for huge topic or package"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Accuracy and processing time are in the balance and it's necessary which module is heavy.

### Purpose

to moni

[2022-05-23 07:09] shulanbushangshu commented on #934
@taikitanaka3
I have seen the #903. You can place the obstacle closer so that the part of  obstacle can cross the center line.
Because the default parameter does not avoid obstacles within one meter (the distance from the center of the obstacle to the center line of the lane), I placed a large obstacle, and part of the obstacle crossed the center line.

[2022-05-23 07:30] taikitanaka3 commented on #934
![Screenshot from 2022-05-23 16-22-44](https://user-images.githubusercontent.com/65527974/169766594-b1a49ebc-0274-41ba-870d-606f34a315dc.png)

@shulanbushangshu yes I could reproduce the problem thank you.
![image](https://user-images.githubusercontent.com/65527974/169766513-537b0ead-cc72-4312-b613-7aa37795fe00.png)

[2022-05-23 07:38] taikitanaka3 commented on #934
@zulfaqar-azmi-t4 @TakaHoribe
shift point should be at the right most of foot print vertax , not ego foot print center right?
![image](https://user-images.githubusercontent.com/65527974/169767786-9bebb6ca-b41f-46d8-90e2-0a0b77d94306.png)

[2022-05-23 07:49] #736 closed

[2022-05-23 07:51] BonoloAWF commented on #551
@hueirutseng what is the status update regarding upgrading ROS 2 drivers for the Bus ODD ITRI platform? Are there any missing drivers?

[2022-05-23 08:15] mitsudome-r commented on #602
Related Discussion: https://github.com/autowarefoundation/autoware/discussions/334

[2022-05-23 08:26] shulanbushangshu commented on #934
I think there is something wrong with the way the offset distance is calculated. The maximum offset distance is calculated through the points on the shape of the obstacle. When some points cross the center line of the lane, the polarity of the calculated additional distance changes and the offset distance will not increase.

[2022-05-23 08:30] angry-crab commented on #602
Converted sample map and ros2 bag
[kitti_sample_data](https://drive.google.com/drive/folders/1-t_ybsy4h7yUfnYeBhfXTP1AnweshEJ_?usp=sharing)

[2022-05-23 09:26] #918 closed

[2022-05-23 13:33] BonoloAWF commented on #949
@taikitanaka3 is your plan to integrate this with the node monitoring? Is this related to https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/issues/282 and https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/issues/1233

[2022-05-23 16:03] 08beeqtufail-sudo commented on #494
Hello @xmfcx ,
Below you will find some of the images from the prediction failure described above. The red-colored rectangle is the object in question, for which the predictions are wrong. Note that this is a right-hand traffic scenario, similar to european countries. I have investigated the problem, some of the problems come from the fact that the estimated velocity is not stable in my case.
But

[2022-05-23 16:13] esteve commented on #908
Here's a summary of what I learned about TVM (thanks @ambroise-arm for your help, please let me know if there's anything incorrect):

 - TVM aims to be backend agnostic when developing, but once it gets deployed it targets the desired backend
 - The workflow is as follows:
   - Parse the ONNX files via ARM's `tvm_cli.py` tool (https://github.com/autowarefoundation/modelzoo/blob/master/scripts/tvm_

[2022-05-23 20:29] WJaworskiRobotec commented on #565
@kaancolak I'm wondering if using Waymo Open Dataset Toolkit for evaluation is a good idea. I understand that the best solution would be to make it possible to use the same metric calculation software for Waymo, Kitti ( + other open datasets), as well as with synthetic data generated in the simulators. In this case, as Autoware is based on ROS2, it would be perfect to have metric calculation based

[2022-05-23 22:48] sglee-morai commented on #566
For the scenario _UC-PB-005-0001-Hsinchu.yaml_, which I originally created, I see the note is written like below,

The problem is that there is NO explicit stop line in the initial lane where the ego-vehicle is positioned initially. So please let me know if the scenario file itself should be modified.

[2022-05-24 01:10] taikitanaka3 commented on #949
@BonoloAWF
Thank you for information, but this issue is for planing and sensing performance monitoring so what you mentioned are not related.

[2022-05-24 07:28] mitsudome-r commented on #908
@Sharrrrk knows a candidate to work on this.
@Sharrrrk, Can you tell him/her to follow up on this issue?

[2022-05-24 07:47] mitsudome-r commented on #679
Thanks @JianKangEgon for the information.
Maybe we can start creating documentation page to list up potential calibration tools that developers might want to use.

[2022-05-24 07:50] mitsudome-r commented on #628
related issue https://github.com/autowarefoundation/autoware.universe/issues/908

[2022-05-24 07:54] mitsudome-r commented on #610
@xmfcx Will do the creation of repo and update of repos this week.

[2022-05-24 08:16] mitsudome-r commented on #494
@miursh @yukkysaito do you have any comment on this?

[2022-05-24 13:23] mehmetdogru commented on #566
@sglee-morai

The reason why I wrote this was that in ODD Design Document, initial case is defined as "EGO is stopping at the stop line" but the vehicle is not stopped on the stop line and it should be written :) You are right about that if the vehicle is already stopped before the turn, there is no difference between whether there is a stop line or not. It would matter tho if the initial vehicle

[2022-05-24 14:30] armuren opened #957 "DRY code cleanup in the joy_controller package"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The joy_controller package has two [methods](https://github.com/autowarefoundation/autoware.universe/blob/main/

[2022-05-24 14:39] #957 closed

[2022-05-24 14:40] armuren commented on #957
I still think we can refactor by removing the first few checks into their own function, to avoid this same mistake I just made

[2022-05-25 07:06] JianKangEgon commented on #679
@mitsudome-r yeah sure. And now my colleagues and I are parallel working on other calibration tools. Once the documentation page is created, you can assign to shark or me to fulfill it.

[2022-05-25 08:39] jason914 commented on #551
|Sensor Type       | Sensor Model            |Sensor driver          |Status        |
| ----------------- |------------------------|---------------------|------------|
|Radar                  |Delphi ESR                 |Missing                  |Work in progress|
|Lidar                    |Ouster OS1-64          |[OS1-64-ROS2 driver](https://github.com/ros-drivers/ros2_ouster_drivers/tree/ros2)|T

[2022-05-25 20:31] WJaworskiRobotec commented on #565
Thanks a lot for the explanation. Pipeline that you created is perfect for comparing Autoware results with others, as well as it will be very easy to just connect metric calculation node that is created in the task I mentioned directly to the same topics that you connect the "data converter" converting to the Waymo format. Look perfect to me and once we have proper metrics we will connect it with

[2022-05-26 01:14] xqe2011 opened #962 "behavior_velocity_planner and behavior_path_planner cannot run in the same composable node container on Nvidia AGX Xavier"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When I follwed the [documentation](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-sim

[2022-05-26 05:27] takayuki5168 opened #966 "Yaw calculation is unstable in obstacle_avoidance_planner when skipping optimization."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

We can skip optimization in obstacle_avoidance_planner (then, just resample path from behavior module).
In this conditio

[2022-05-26 05:30] kosuke55 commented on #966
skip_optimization=false
![image](https://user-images.githubusercontent.com/39142679/170422564-8ee1801b-9d3f-4e56-ae0a-fd7bc91966fc.png)
skip_optimization=true
![image](https://user-images.githubusercontent.com/39142679/170422534-17c98e80-e719-4213-8f23-76c511da5b30.png)

[2022-05-26 05:53] takayuki5168 commented on #966
thanks
cc @tkimura4

[2022-05-26 10:16] esteve commented on #143
@kenji-miyake this is how we solved this issue in Autoware.Auto: https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/merge_requests/978 The solution was to move the vehicle characteristics (which are common to many packages and were duplicated everywhere) to a separate params file and then load it from launch files. The main difference between Autoware and Autoware.Auto is that we a

[2022-05-26 10:27] esteve commented on #910
For a very similar problem, see https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/merge_requests/978 and how it was solved in Autoware.Auto

[2022-05-26 10:59] esteve opened #974 "Migrate launch XML files to Python scripts"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Launch XML files are quite expressive, however Python scripts are more flexible and allow for easier compositio

[2022-05-26 11:01] esteve commented on #974
I just realized I should have created this in the autoware_launch repository :man_facepalming:

[2022-05-26 11:01] #974 closed

[2022-05-26 11:03] esteve commented on #974
Issue https://github.com/autowarefoundation/autoware_launch/issues/46 created in the autoware_launch repo

[2022-05-26 13:08] kaancolak opened #977 "concatenate data nodelet does not transform point cloud"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

 I tried to run some sensing/perception nodes standalone. When I test the concatenate_data nodelet, I decided there is s

[2022-05-27 02:37] VRichardJP commented on #977
I think this is solved by PR https://github.com/autowarefoundation/autoware.universe/pull/933

[2022-05-27 03:02] miursh commented on #977
Is https://github.com/autowarefoundation/autoware.universe/pull/933 ready to be merged?

[2022-05-27 03:51] ito-san commented on #939
This issue was resolved by https://github.com/autowarefoundation/autoware.universe/pull/948.

[2022-05-27 03:51] #939 closed

[2022-05-27 04:02] shmpwk commented on #977
@kaancolak
I merged #933, could you try it again?

[2022-05-27 05:05] alanmengg opened #980 "Can't stop before blocking obstacle in parking"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When  simulating in parking lot , if an obstacle blocks the trajectory and there is no available trajectory to reach the

[2022-05-27 06:54] angry-crab commented on #602
[KITTI Localization](https://youtu.be/RvVa2V2kPJU)
Localization is successful.

[2022-05-27 08:05] kaancolak commented on #977
Thanks, it look working well.
Resolved with #933

[2022-05-27 10:01] kaancolak commented on #565
@WJaworskiRobotec Instead of working on the different benchmarking pipelines, I think we can extend the metric calculation node. It's a more generic evaluator that contains the entire stack(evaluator, planning, control, detection, etc.) that makes sense. I would like to implement the perception(2D/3D perception) part on your metric calculation nodes, base algorithm will be very similar to this too

[2022-05-27 11:29] WJaworskiRobotec commented on #565
@kaancolak Sounds great. @djargot is currently working on the last node that we wanted to create as an example and it is related to perception (segmentation algorithm evaluation). Once it's done we will assign you as a reviewer, and you can continue with adding your nodes for 2D/3D Object Detection.

[2022-05-30 01:56] TomohitoAndo opened #987 "motion_velocity_smoother and behavior_velocity_planner should use the same smoother algorithm"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, behavior_velocity_planner uses the smoother to calculate the precise predicted velocity. But smoothe

[2022-05-30 07:11] Sharrrrk commented on #941
Releated Issues:
https://github.com/autowarefoundation/autoware.universe/issues/941
https://github.com/autowarefoundation/autoware.universe/issues/947

[2022-05-30 09:16] VRichardJP opened #993 "Vehicle stops ~1m further away than goal point or stop line"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While testing autonomous driving in our vehicle, I observed that the car always stops ~1 meter after the goal point or s

[2022-05-30 10:28] kenji-miyake commented on #993
Related?
https://github.com/orgs/autowarefoundation/discussions/376#discussioncomment-2845593

[2022-05-30 11:06] VRichardJP commented on #993
@kenji-miyake thanks for pointing out. It is maybe the same issue (except my vehicle brakes smoothly).
I will check `accel_brake_map_calibrator`

[2022-05-30 12:44] taikitanaka3 commented on #949
close this issue resolved by https://github.com/autowarefoundation/autoware.universe/pull/946

[2022-05-30 12:44] #949 closed

[2022-05-31 00:16] sglee-morai commented on #566
@mehmetdogru Thanks a lot Mehmet for your confirmation!

[2022-05-31 01:30] VRichardJP opened #998 "Avoid unnecessary copy in `Filter::computePublish`"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The `pointcloud_preprocessor::Filter::computePublish` function seems to make unnecessary copy of intermediate p

[2022-05-31 06:04] angry-crab commented on #602
**Instructions on running localization with KITTI**

Tools could be found in the following repo:
[kitti_to_ros2bag](https://github.com/angry-crab/kitti_to_ros2bag)

1. Create a pcd map
 - clone the repo above
 - in `create_map.cc`, change `pose_paths` and `pcd_paths` to where your data path, and path of saving output map.
 - `mkdir build && cd build`, `cmake ..`, `make`
 - run `pcd_mapping` and wa

[2022-05-31 10:08] xmfcx opened #1008 "Test the perception stack on the raw lidar data"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Follow up from:
- https://github.com/autowarefoundation/autoware.universe/issues/562#issuecomment-1102662448
-

[2022-05-31 10:29] yukkysaito opened #1009 "Sometimes the sensing module doesn't publish concatenated pointcloud"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

sometimes the sensing module cannot launch concatenated and cropbox filter with the following error
[code]

### Expected

[2022-05-31 11:58] xmfcx commented on #610
@goktugyildirim I've created the repository here: https://github.com/autowarefoundation/custom_dataset_composer and gave you maintainer access on it.

[2022-05-31 12:45] goktugyildirim commented on #610
Thanks, @Zeysthingz is planning to take this issue on herself.

[2022-05-31 14:01] mertyavuz41 opened #1011 "Update planning simulation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

* The official planning simulation test of the autoware.universe needs to be update, the ego vehicle cannot tur

[2022-05-31 14:07] yukkysaito commented on #998
@VRichardJP thank you for your PR
Can I close this issue?

[2022-05-31 14:12] takayuki5168 commented on #1011
@mertyavuz41
Did you try the latest version of autoware? I guess it can solve this issue.

[2022-05-31 14:19] kenji-miyake commented on #1011
@takayuki5168 Could you link some related PRs?

[2022-05-31 14:20] mertyavuz41 commented on #1011
@takayuki5168, I have been updated my autoware version(master) yesterday, but master branch has  a few newest commit. I will update again and I will try to run planning simulation once more.

[2022-05-31 14:27] takayuki5168 commented on #1011
@mertyavuz41
Sorry, I was using a different map. Now I confirmed that the latest autoware cannot turn at the corner you pointed.

[2022-05-31 16:46] mitsudome-r commented on #966
@takayuki5168 Do you already have an idea how to fix the issue? If you are planning to work on this tasks, please assign yourself as assignee. Otherwise, please attach help-wanted tag so that we can assign someone else to look into this.

[2022-05-31 16:54] xmfcx commented on #993
@VRichardJP Are you using the planning simulator or a real vehicle? Could you please provide steps / (if possible) bag files to reproduce this issue?

[2022-05-31 16:57] xmfcx commented on #980
@alanmengg could you please share the resources and commands to reproduce this issue? Like maps used.

[2022-05-31 17:00] wep21 commented on #1009
Could you confirm that the requested plugins above are in the list which is shown with `ros2 component types`?

[2022-05-31 22:23] VRichardJP commented on #998
Yes

I think it would make sense to create a new task to track and fix similar problems across the rest of the code base. The filter one was maybe the most important since it is used a lot with big clouds, but I saw that a few other files have the same pattern:

[code]

Where the copy can always be avoided by using the correct pointer type for tmp intermediate cloud.

[2022-06-01 00:26] VRichardJP commented on #993
@xmfcx I am using a real vehicle. I did not record any rosbag of the situation, but maybe it cannot be reproduced with the simulator.

[2022-06-01 01:20] takayuki5168 commented on #966
@mitsudome-r I don't look into this issue, so I have no idea so far. I attached help-wanted.
Let me say again that this issue will not occur with the default setting (skip_optimization = false in obstacle_avoidance_planner)

[2022-06-01 02:06] yukkysaito commented on #1009
@wep21 This is the result of `ros2 component types`
![image](https://user-images.githubusercontent.com/8327598/171313513-3343961f-9f03-493c-b344-f695d24736f3.png)

[2022-06-01 02:57] VRichardJP opened #1019 "Improve shape estimator performance for vehicles"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

As I have reported in some [other discussion](https://github.com/orgs/autowarefoundation/discussions/380#discus

[2022-06-01 05:18] alanmengg commented on #980
[lishui_parking.zip](https://github.com/autowarefoundation/autoware.universe/files/8811260/lishui_parking.zip)

[2022-06-01 05:19] alanmengg commented on #980
here is the lanelet map I used for the simulation
[lishui_parking.zip](https://github.com/autowarefoundation/autoware.universe/files/8811270/lishui_parking.zip)

[2022-06-01 07:27] takayuki5168 commented on #1011
@mertyavuz41
@yukkysaito will work on the issue of the stop line by drivable area, by changing a map or somehow. So please wait for it :pray:

[2022-06-01 07:30] yukkysaito commented on #1011
I'm working to have this issue resolved as soon as possible.

[2022-06-01 11:29] brkay54 opened #1023 "Motion_velocity_smoother should depend the steering_rate_limit"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Discussion [here](https://github.com/orgs/autowarefoundation/discussions/381)!
Related: #567

Hello everyone,

[2022-06-01 19:16] sglee-morai commented on #669
@piotr-zyskowski-rai

Hello Piotr, if you'd like you can use these rosbag files.

Here's the link to the download page: [https://morai.atlassian.net/wiki/external/1133707265/OTQ5NTAxNjYxMjYwNDYxY2I1ZDJjNTFlNzBlYjcwYWU](https://morai.atlassian.net/wiki/external/1133707265/OTQ5NTAxNjYxMjYwNDYxY2I1ZDJjNTFlNzBlYjcwYWU)

Before downloading and checking that out, you can simply check whether these might

[2022-06-02 02:04] miursh commented on #1009
I tried launching the sensing module 10 times each on 2 PCs, but have not been able to reproduce it here

[2022-06-02 02:14] yukkysaito commented on #1019
@VRichardJP Thank you for the good proposal!
I'd like to measure on my PC, Cloud you share the rosbag including `/perception/object_recognition/detection/apollo/labeld_clusters`

[2022-06-02 02:15] shmpwk opened #1026 "Not stopping in front of the stop line in planning simulation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In planning simulator, it seems the vehicle ignores stop line and does not stop at all.
Is it a bug or should I do somet

[2022-06-02 02:21] shmpwk commented on #1026
It is my misunderstanding. I will write it

[2022-06-02 02:21] #1026 closed

[2022-06-02 07:55] VRichardJP commented on #1019
@yukkysaito I am sorry, I cannot easily share such data.
But I think it should be possible to use the [demo rosbag](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/rosbag-replay-simulation/) as reference since many vehicles are visible.

[2022-06-04 09:21] TakaHoribe commented on #1023
Nice work. Thank you!

[2022-06-05 12:16] TakaHoribe commented on #1011
@mertyavuz41 The plugin size issue has already been fixed in the latest version by the PR https://github.com/autowarefoundation/autoware.universe/pull/587. Could you update your version and check it? You need to update not only the autoware.universe but also the autoware_launch for rviz config. Just update the whole autoware is ok.

[2022-06-05 12:21] TakaHoribe commented on #993
@VRichardJP I suggest to use the plutJuggler with trajetory_follower config. It will visualize useful information as an attached figure and we'll see the cause of the overshoot.

The configuration file is in `src/autoware/universe/control/trajectory_follower_nodes/config/plot_juggler_trajectory_follower.xml`.

![image](https://user-images.githubusercontent.com/21360593/172050091-17269f27-a47c-4da9

[2022-06-06 00:25] taikitanaka3 commented on #934
TO solve this
1. consider vehicle length
![image](https://user-images.githubusercontent.com/65527974/172076545-69915b26-3e58-45b4-bda9-1bc771235029.png)
2. calc avoid point and avoid return point from closest foot print or intersection of lanelet .
![image](https://user-images.githubusercontent.com/65527974/172076720-dd38b030-157d-4d0d-9b6e-192f76fd8249.png)

[2022-06-06 07:10] shulanbushangshu commented on #934
@taikitanaka3 @zulfaqar-azmi-t4
I think we can change the calculation method of horizontal distance. The current source code is as follows：

const auto max_shift_length =
      o.to_road_shoulder_distance - road_shoulder_safety_margin - 0.5 * vehicle_width;
    const auto max_left_shift_limit = [&o, &max_allowable_lateral_distance, &max_shift_length,
                                       this]()

[2022-06-06 07:30] mitsudome-r commented on #566
For UC-PB001-003, I have made an update to the scenario file. https://gitlab.com/autowarefoundation/operational-design-domains/-/merge_requests/26

[2022-06-06 09:18] JianKangEgon commented on #993
From my own road test experience,  if the ego vehicle velocity is relatively small and the distance between vehicle and goal is smaller than one pre-defined threshold parameter named "th_arrived_distance_m", then the vehicle will stop and autoware will be disenaged.

Perhaps this parameter may help you.

[2022-06-06 15:41] bariskapaligoz commented on #1011
Yes, rviz configuration fixed after autoware update.

[2022-06-06 15:43] mehmetdogru opened #1049 "behavior_path_planner crashes when it is launched in .launch.py for the scenario UC-PB-002-0001-Hsinchu"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

**This issue is a part of https://github.com/autowarefoundation/autoware.universe/issues/566**

`behavior_path_planner`

[2022-06-06 15:44] mehmetdogru commented on #1049
I would appreciate if someone else also can produce the error.

[2022-06-06 16:19] yukkysaito commented on #1011
@mertyavuz41
I update the map :+1: you can download the same download link as before.
https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/planning-simulation/

[2022-06-07 00:51] zulfaqar-azmi-t4 commented on #934
@shulanbushangshu

The [current](https://github.com/autowarefoundation/autoware.universe/blob/main/planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp#:~:text=if%20(!(o.to_road_shoulder_distance%20%3E%20max_allowable_lateral_distance))%20%7B) source code has simplify the code slightly. But yes, do you have any idea's for the improvement?

[2022-06-07 03:32] shulanbushangshu commented on #934
@zulfaqar-azmi-t4 @taikitanaka3
As shown in the following simulation diagram:
![2022-06-07 11-21-14屏幕截图](https://user-images.githubusercontent.com/102840938/172289626-13a6b5db-67cb-44ae-b17b-d01fcd282a75.png)
When the vehicle occupies the whole lane, the calculated maximum offset distance is too small.
This situation cannot be corrected by compensating the longitudinal distance. Because the vehicl

[2022-06-07 03:55] zulfaqar-azmi-t4 commented on #934
@shulanbushangshu
I think i might know the root cause of this. basically yes, there is a bug in the current horizontal distance computation that didn't account for this kind of situation. Most probably I am able to fix them. Please wait for my PR sometime today or tomorrow.

[2022-06-07 05:38] JianKangEgon commented on #1049
Well, I was also confused about this kind of issue. Sometimes lateral controller or even the whole control module was not able to be launched successfully either, and the info displayed was just like above "process has died" without any other helpful description. I had to relaunch the module or node individually.

[2022-06-07 06:46] mehmetdogru commented on #1049
@JianKangEgon

Thank you for the input, It might be related to the container structure and the memory allocation related to it I guess.

[2022-06-07 07:28] mitsudome-r commented on #966
I have assigned @mehmetdogru so that he can investigate when he has time. Any other help is appreciated.

[2022-06-07 07:44] piotr-zyskowski-rai commented on #669
@sglee-morai  Thank's a lot for the rosbag! I'll look into it soon.

[2022-06-07 07:52] kenji-miyake commented on #456
I guess we can close this.

[2022-06-07 07:52] #456 closed

[2022-06-07 08:03] mitsudome-r commented on #563
We have discussed on this in the Architecture WG
https://github.com/autowarefoundation/autoware/discussions/364

We still need to agree on pointfield definition
PointXYZI+LaserChannel+Time
Do we want to remove laser channel after preprocessing is done within sensor module?
We can still allow additional fields if required

@xmfcx will create a PR to design document.

[2022-06-07 08:04] mitsudome-r commented on #551
@jason914 Thanks for posting the table.
Do you have any updates + estimated timeline on Radar and GNSS-INS sensor driver?

[2022-06-07 08:14] mitsudome-r commented on #1009
We will wait for further reports if any other developers can reproduce the error.
@yukkysaito If no one can reproduce the error, we might have to close this issue since we have no way of doing further investigation.

[2022-06-07 08:17] mitsudome-r commented on #980
@TakaHoribe It would be nice if you can assign someone from TIER IV's planning team to take a look at this.

[2022-06-07 13:01] mehmetdogru commented on #494
Myself also facing this issue while https://github.com/autowarefoundation/autoware.universe/issues/566

While I test [UC-PB-008-0001_20_20-Shalun scenario](https://gitlab.com/autowarefoundation/operational-design-domains/-/blob/master/public_road_bus/UC-PB-008-0001_20_20-Shalun.yaml) observed some wrong map based predictions for NPCs when they are turning around the roundabout. Here you can see [t

[2022-06-07 15:36] zulfaqar-azmi-t4 commented on #934
@shulanbushangshu
The #1055 PR should solve the following issues. The original cause of this issue is due to the limitation bug when limiting the maximum shift. however, such limitation is not needed anymore, so I removed them. Looking forward to your assistance in confirming the solution.

[2022-06-08 01:18] VRichardJP commented on #1019
No problem, I will wait for @yukkysaito to confirm the change does not impact detection quality

[2022-06-08 02:31] mikechan0731 commented on #551
Sensor Type | Sensor Model | Sensor driver | Status
-- | -- | -- | --
Radar | Delphi ESR | Missing | WIP, Estimated test date is the end of June.
Lidar | Ouster OS1-64 | OS1-64-ROS2 driver | Tested OK
GNSS-INS | Trimble BX992-INS | Missing | WIP, Estimated test date is the end of August.
Camera | Onsemi AC-AR0231 | Private code(Please contact Neousys for source code) | Tested OK

[2022-06-08 09:02] ambroise-arm commented on #628
Will need to address https://github.com/autowarefoundation/autoware/issues/128 for the vulkan backend to work.

[2022-06-08 11:27] mikechan0731 opened #1256 "Can't launch lidar_centerpoint with error: could not load library: libcenterpoint_cuda_libraries.so."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I use a custom docker image and want to try using ros2 lidar_centerpoint.
It has been successfully established so far, b

[2022-06-09 03:13] maxime-clem commented on #1049
### Investigation

I reproduced the issue by following the **Steps to reproduce**.
The only way (as far as I know) to debug a `ComposableNode` is with a core dump.
[code]
After reproducing the error, it generates a core file that can be replayed with `gdb`.
- :warning: Usually this file goes in the current folder but with the `scenario_test_runner` I am not able to find the location of the file.
-

[2022-06-09 06:18] k-obitsu opened #1064 "Cannot stop at stop line after restarting"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In case of the following simple route,
![Screenshot from 2022-06-09 14-54-45](https://user-images.githubusercontent.com/

[2022-06-09 20:16] mehmetdogru commented on #1049
@maxime-clem
Thank you for the solution you proposed however that didn't work for me even though I deleted build/install/log just to be sure and checked out your branch (fix-PredictedPath-remove_capacity_limit) and re-build whole autoware repo. Yet the same issue is still there.

[2022-06-09 23:29] k-obitsu commented on #1064
I fixed this issue with PR #1058.

[2022-06-09 23:29] #1064 closed

[2022-06-10 08:30] maxime-clem commented on #1049
Sorry for my previous post. I was too quick to claim that the issue was solved.

I have found two problems so far that cause crashes of the `behavior_path_planner`.
- `std::bad_alloc` happens when copying some messages.
   - I have not found the root cause yet but some messages seem to have impossible sizes (e.g., `std::vector of length -17545788653642, capacity -17545788653637` as reported by `gd

[2022-06-10 08:34] yukkysaito commented on #643
@yukke42 Yes! Thank you

[2022-06-10 08:35] #643 closed

[2022-06-10 08:38] yukkysaito commented on #1009
@esteve I launch it following the tutorial
https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/rosbag-replay-simulation/
In TIER IV, some people meet this error.

[2022-06-10 10:30] shulanbushangshu opened #1076 "Error in obstacle avoidance direction when using extended lane to avoid obstacles"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The default .yaml configuration for the extended lane in the obstacle avoidance module is shown below:
![2022-06-10 17-5

[2022-06-10 10:52] kaancolak commented on #1008
I tested the perception pipeline with a given Velodyne point cloud bag file. I used velodyne_top as a base frame for each node.  multi_object_tracker contains a hard-coded parameter as a "base_link"   [here](https://github.com/autowarefoundation/autoware.universe/blob/main/perception/multi_object_tracker/src/multi_object_tracker_core.cpp#L222) for this reason running a multi-object tracker without

[2022-06-10 13:43] xmfcx commented on #1008
Wow thanks for the tests @kaancolak!

The most of the detection markers are coming from behind in the RViz2 visualizations.
Do you know why is that the case?

I will open up issues to look into the problems if it is not the expected state.

Also the pedestrian detection video looks poor in terms of detecting and tracking the person: https://youtu.be/J8J2e_YI-SQ?t=7

@yukkysaito are these results e

[2022-06-12 21:31] kaancolak commented on #1008
I don't know the exact cause of this problem. I did not experience this problem when working with the "map" frame.

[2022-06-13 06:22] zulfaqar-azmi-t4 commented on #1076
@shulanbushangshu
Yes, this indeed seems like a bug on the shift point computation.
I'll investigate them and let you know once I get the results.

[2022-06-13 07:38] mitsudome-r commented on #1008
The false-negative object might be caused by training set coming from a different lidar model.

@yukkysaito or @aohsato Do you know how the current model was trained (e.g., sensor setup)? Also, is it possible to share the training script for the models?

[2022-06-13 09:59] #934 closed

[2022-06-13 10:36] miursh opened #1087 "Describe the origin of pre-trained models"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

As mentioned [here](https://github.com/autowarefoundation/autoware/discussions/2653), TIER IV member should des

[2022-06-13 12:45] mehmetdogru commented on #1049
@maxime-clem happens the same when I test [UC-PB-009-0001_Db20-Shalun](https://gitlab.com/autowarefoundation/operational-design-domains/-/blob/master/public_road_bus/UC-PB-009-0001_Db20-Shalun.yaml) as well. For the versions that I test please check [here](https://docs.google.com/spreadsheets/d/1uWpaJw68MwdCS_wysQsbG8YyG9UaYK8V00AFTd7HiVs/edit#gid=0&range=A48:L48).