[2022-06-14 01:32] #833 closed

[2022-06-14 01:36] aohsato commented on #1008
Thank you for sharing! It's interesting.

Did you obtain your pcap data with Ouster OS1-64, correct?
About your result of centerpoint, in [this video](https://youtu.be/J8J2e_YI-SQ), there may be a sensor model gap with the training model, but I think this pointcloud density is enough to detect the pedestrian.

We have found a similar issue and @yukke42 is currently working on it. This problem is t

[2022-06-14 08:18] maxime-clem commented on #1049
@mehmetdogru Thank you for reporting another scenario where the issue occurs.
I made a fix that should solve the issue for both scenarios: https://github.com/autowarefoundation/autoware.universe/pull/1091

[2022-06-14 12:55] #1049 closed

[2022-06-14 15:14] brkay54 commented on #567
Example usage of control performance analysis tool: https://github.com/orgs/autowarefoundation/discussions/412#discussioncomment-2947841

[2022-06-14 16:31] xmfcx commented on #711
We can republish the 2D Goal Pose from the mission planner with correct Z coordinates.

@angry-crab would like to work on this.

[2022-06-14 16:35] xmfcx commented on #966
@klu17 will look into this.

[2022-06-14 16:35] mitsudome-r commented on #798
@kosuke55 @takayuki5168 Do you have any plan to fix this issue? (or do have any idea about the approach so that others can work on the implementation?)

[2022-06-14 16:38] mitsudome-r commented on #575
This seems to be fixed now.

[2022-06-14 16:38] #575 closed

[2022-06-14 17:21] #941 closed

[2022-06-15 01:29] kosuke55 commented on #798
@mitsudome-r
Since this does not currently occur with the current hard code, there are no plans to deal with this issue as a low priority.

[2022-06-15 02:21] yukke42 opened #1102 "The distortion_corrector has no warning when a velocity_report topic isn't subscribed"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The distortion_corrector runs successfully even if a velocity report topic isn't subscribed.

### Expected behavior

If

[2022-06-15 06:08] Soohyeok-Park opened #1105 "Check Simulator's Compatibility with Autoware"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

- according to the issue discussed on simulation WG(https://github.com/autowarefoundation/autoware-projects/iss

[2022-06-15 08:43] esteve commented on #143
@kenji-miyake are you actively working on this? I'd be happy to help :slightly_smiling_face:

[2022-06-15 08:52] kenji-miyake commented on #143
@esteve Thank you for your confirmation.
Actually, no. I'm not working on this now.

If you can help with this, I think it's good to start by collecting developers' opinions in https://github.com/orgs/autowarefoundation/discussions/416.
It's because there are no big technical issues and we only have to decide the design considering trade-offs of possible solutions.

Or I think it's also good to su

[2022-06-15 08:58] esteve opened #1109 "Avoid point cloud copies"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

There are places in the code where a temporary point cloud is created and used to generate an output, which inv

[2022-06-15 09:06] esteve commented on #382
@kenji-miyake is this issue still valid? I haven't seen this test fail on the CI lately

[2022-06-15 09:10] kenji-miyake commented on #382
@esteve I guess it's still valid.

It's because the workflow is disabled now.

![image](https://user-images.githubusercontent.com/31987104/173789610-735d2852-c7ea-4a0a-9428-493acce81891.png)

The reason why I disabled it was it's noisy.

![image](https://user-images.githubusercontent.com/31987104/173789824-8b0bed2c-d52a-40ba-8339-a5f4629a3a86.png)

[2022-06-15 09:13] kenji-miyake commented on #382
I think there are two ways to test this. (Except for the [checkout issue](https://github.com/autowarefoundation/autoware.universe/issues/382#issuecomment-1039817486).)
1. Re-enable the workflow.
2. Download the artifact of the `build-and-test-differential` workflow, and test it locally.
![image](https://user-images.githubusercontent.com/31987104/173790371-739c7065-b1cc-4c95-b53b-42712b77b5e1.png)

[2022-06-15 09:27] kenji-miyake commented on #382
I re-enabled the workflow. If it's still noisy and contains a lot of errors, I'll disable it again. :disappointed:

[2022-06-15 09:34] kenji-miyake commented on #382
@esteve What do you think about this result?
https://github.com/autowarefoundation/autoware.universe/pull/997

[2022-06-15 09:35] #998 closed

[2022-06-15 09:43] kenji-miyake commented on #382
Regarding these proposals, they should be done at once.
![image](https://user-images.githubusercontent.com/31987104/173796972-b203122c-f823-40f8-8cb4-86a2412df3e4.png)

[code]

I guess we can send a PR to clang-tidy-pr-comments to fix this behavior.

[2022-06-15 09:49] ito-san opened #1110 "Run bluetooth monitor with new parameters given without restarting l2ping daemon"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Bluetooth monitor does not run with new parameters until restarting l2ping daemon.
![image](https://user-images

[2022-06-15 11:06] kenji-miyake commented on #382
Another result. https://github.com/autowarefoundation/autoware.universe/pull/723

[2022-06-16 02:24] TomoyukiaW commented on #993
@TakaHoribe Thank you for your advice. I'm working with Vincent. I captured the longitudinal controller's control profile. Looking at the velocity, target velocity got zero before the current velocity. Does this means the vehicle stopped slightly beyond the time (~= location) that the longitudinal controller targeted? If so, does the controller think the vehicle ahead the real position...?
![Scree

[2022-06-16 02:28] TomoyukiaW commented on #993
@JianKangEgon Thank you for your comment. But I think th_arrived_distance_m is the margin the system think the vehicle arrived at the goal. I think this issue is that the system can't control the vehicle to stop the targeted point.

[2022-06-16 04:52] purewater0901 opened #1115 "Motion Utils Package in the Universe"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Creating a new package called motion utils under the common directory. It contains common functions used in pla

[2022-06-16 04:55] purewater0901 commented on #1115
@TakaHoribe @yukkysaito @kenji-miyake
What do you think about this idea? I also wonder if you have better names for the motion utils package.

[2022-06-16 05:08] yukkysaito commented on #1115
How about creating trajectory utils, etc. in tier4_autoware_utils?
Can you tell us more details about the common process for planning and control?

[2022-06-16 05:11] h-ohta opened #1116 "Obstacle stop planner is chattering in obstacle detection by pointcloud and its marker continue visualizing"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

There are two problems.
- When pointcloud is blinking , obstacle detection is chattering.
- When chattering is occured,

[2022-06-16 05:25] purewater0901 commented on #1115
Currently, there are too many functions in tier4_autoware_utils, we'd like to separate some functions exclusive to planning and control modules. For example, I'd like to add a function called insertStopPoint which inserts a stop point to a trajectory, but this function is only used for planning and control modules.

Therefore, I think creating a whole new package would be better .

[2022-06-16 06:00] yukkysaito commented on #1115
How do you think about the separation between [here](https://github.com/autowarefoundation/autoware.universe/blob/main/common/tier4_autoware_utils/include/tier4_autoware_utils/trajectory/trajectory.hpp) and new package ?
This package uses only for planning and control.

[2022-06-16 06:07] purewater0901 commented on #1115
@yukkysaito Sorry, I need to give you more details. I'm going to add [these functions](https://github.com/autowarefoundation/autoware.universe/blob/main/common/tier4_autoware_utils/include/tier4_autoware_utils/trajectory/trajectory.hpp) to a new package as well.

[2022-06-16 06:11] yukkysaito commented on #1115
@purewater0901 Thanks.
I agree with your suggestion

[2022-06-16 07:48] shulanbushangshu commented on #1076
As  show below：
![2022-06-16 15-22-27屏幕截图](https://user-images.githubusercontent.com/102840938/174016262-703714bc-6947-4835-ba7d-d336747ddce4.png)
The current obstacle avoidance strategy only considers whether the obstacle intersects with the lane boundary line; Instead of considering whether the boundary lines of obstacles and path intersect.
In my opinion, if the extended lane or wide lane is to

[2022-06-16 08:06] zulfaqar-azmi-t4 commented on #1076
As the mitigation, I was thinking of querying the whether the object overlaps with the object and if it not overlapping, the the object was ignore.

Currently the collision check might be a bit off. So I am investigating the proper solution to it.

[2022-06-16 08:14] TomoyukiaW commented on #993
@TakaHoribe Thank you for your advice. I'm working with Vincent. I checked the target velocity and the current velocity of output of longitudial_controller. After the target velocity got to zero, the current velocity was still high. I thought the brake value from raw_vehicle_cmd_converter was not enough to the target acceleration (-0.3m/s^s) in stopping state. Then I modified the brake map values

[2022-06-16 09:10] h-ohta opened #1121 "The `detection_area` module does not visualize debug markers when some obstacles are not detected by it"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Now, the `detection_area` module visualizes  no debug marker when some obstacles are not detected.

### Expected behavio

[2022-06-16 10:10] ataparlar opened #1122 "UTM coordinate publish in local coordinate system with gnss_poser"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

There is no option to use UTM coordinates in local cartesian system.

### Purpose

Choose the local coordinate

[2022-06-16 20:47] zulfaqar-azmi-t4 commented on #1076
@shulanbushangshu
Hi, currently I'm using the following logic as the mitigation, but I am interested in knowing in case you have any concerns. Basically if the shift is shorter that the distance to the object, then we can safely ignore them.

![ignoring_shift_point drawio](https://user-images.githubusercontent.com/93502286/174160489-a56ce78d-54f4-4dc6-aabe-fef64b0c4721.png)

[2022-06-17 02:31] liuzf1988 commented on #908
I have some problems when compiling centerpoint with TVM, both for "llvm" backend and "cuda" backend. I'm not sure if the problem is caused by TVM or improper configuration file settings. Taking "pts_backbone_neck_head_default.onnx" model as example, describe the setting and problems follows.

1. the "definitation.yaml" of centerpoint
![centerpoint-backbone-model-struct](https://user-images.github

[2022-06-17 05:04] mitsudome-r commented on #966
@takayuki5168 Could you provide the steps to reproduce the error (including sharing maps, scenarios that you used to find the error)

[2022-06-17 07:46] kosuke55 commented on #966
@mitsudome-r @takayuki5168
Any map(like [sample](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/rosbag-replay-simulation/#steps)) can be used, just set skip_optimization to true(use rqt_reconfigure or edit launch file) and draw a path with curves.
https://user-images.githubusercontent.com/39142679/174250077-60972945-280d-4340-a043-5257bd48b232.mp4

[2022-06-17 14:59] ambroise-arm commented on #908
Your configuration file looks correct.
I think the issue comes from TVM not having good support for dynamic parameters.

I'm not sure what is the exact effect of specifying "-1" as shape parameter. I've tried to let TVM handle the shape automatically by making the following change in ModelZoo and then building the docker image locally:
[code]
Testing for llvm the error becomes `RuntimeError: Inval

[2022-06-19 01:23] kenji-miyake commented on #142
Move to https://github.com/autowarefoundation/autoware_msgs/issues/2.

[2022-06-19 01:23] #142 closed

[2022-06-19 05:07] taikitanaka3 commented on #261
I am going to close this for there are enough unit tests now

[2022-06-19 05:07] #261 closed

[2022-06-20 02:06] badai-nguyen opened #1127 "The LiDAR azimuth unit is ambiguous"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, the LiDAR's azimuth is output in hundredths of degree unit that makes the code unclear and error-pro

[2022-06-20 02:12] badai-nguyen commented on #509
I close this issue because I created an related one here #1127

[2022-06-20 02:12] #509 closed

[2022-06-20 09:15] h-ohta commented on #1121
@kyoichi-sugahara @TakaHoribe Could you confirm this?

[2022-06-20 09:16] h-ohta commented on #1116
@takayuki5168 @satoshi-ota Could you confirm this?

[2022-06-20 09:28] ito-san commented on #1110
Fixed in https://github.com/autowarefoundation/autoware.universe/pull/1111.

[2022-06-20 09:28] #1110 closed

[2022-06-20 20:58] kaancolak commented on #565
This PR waiting for review.

[2022-06-21 00:03] tkhmy commented on #604
close this issue, as is already been fixed in autoware

[2022-06-21 00:03] #604 closed

[2022-06-21 07:48] mitsudome-r commented on #1109
We should also use pointcloud_wrapper like in Autoware.Auto to have more efficient pointcloud manipulation.

[2022-06-21 07:51] mitsudome-r commented on #1019
@angry-crab has volunteered to do the further investigation.

[2022-06-21 07:57] mitsudome-r commented on #1008
@aohsato

Do you have any ETA on the fix? Please let us know if you would like help from the others.

[2022-06-21 08:07] mitsudome-r commented on #703
@beginningfan
Now that https://github.com/autowarefoundation/autoware.universe/pull/924 is merged can we close this issue?

[2022-06-21 08:10] mitsudome-r commented on #679
@JianKangEgon
Could you start creating PR to update [this page](https://github.com/autowarefoundation/autoware-documentation/blob/main/docs/tutorials/advanced/sensor-calibration.md)?

[2022-06-21 08:10] #485 closed

[2022-06-21 08:11] #706 closed

[2022-06-21 08:13] #703 closed

[2022-06-21 08:14] mitsudome-r commented on #610
@Zeysthingz Do you have any updates on this issue?

[2022-06-21 08:26] mitsudome-r commented on #551
Expected message for GNSS is explained here: https://github.com/autowarefoundation/autoware_msgs/pull/24

[2022-06-21 08:31] mitsudome-r commented on #1011
@mertyavuz41 @yukkysaito Can we close this issue?

[2022-06-21 08:32] mitsudome-r commented on #1009
@yukkysaito ping

[2022-06-21 08:44] mitsudome-r commented on #705
@plane-li Is this solved with https://github.com/autowarefoundation/autoware.universe/pull/951? If so, can we close the issue?

[2022-06-21 08:46] mitsudome-r commented on #641
@yukkysaito Do we still have issues with the tutorial? I believe they are working with the newest code.

[2022-06-21 08:47] #705 closed

[2022-06-21 08:48] mitsudome-r commented on #549
@xczhanjun

Were you able to find the root cause of the issue?

[2022-06-21 08:48] plane-li commented on #705
OK！

[2022-06-21 08:53] mitsudome-r commented on #361
@kosuke55 I will close this issue for now. Please feel free to reopen or recreate a new issue if you have time to work on this.

[2022-06-21 08:57] kenji-miyake commented on #382
I'll try to change the trigger condition of `clang-tidy-pr-comments.yaml` so that we can run it manually.
It's because currently we have too many issues and the check becomes a bit noisy.

Or if somebody is interested, you can implement it instead of me.

[2022-06-21 09:14] kenji-miyake commented on #286
I think we can close this for now. (Codecov integration is done.)
We'll reconsider this in https://github.com/autowarefoundation/autoware.core.

[2022-06-21 09:14] #286 closed

[2022-06-21 09:16] mitsudome-r commented on #494
@kaancolak Would be looking into this issue as well.

[2022-06-21 10:32] Zeysthingz commented on #610
@mitsudome-r Yes I do. I will push updates  to repository but I try to understand how to do it in Autoware Universe. Probably I will update the repository in these two days.

[2022-06-21 14:18] takayuki5168 commented on #1116
Thanks for your report. As you reported, I've encountered this behavior sometimes.

[2022-06-21 22:14] MichaelShen97 opened #1147 "radar_tracks_msgs_converter Build Error"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Fail to find header file `radar_msgs/msg/radar_tracks.hpp`.

### Expected behavior

Successful build.

### Actual behavi

[2022-06-22 01:31] kyoichi-sugahara commented on #1121
@h-ohta
I think your proposal is reasonable.
(and also explanation about dead_line in READMED needs to be added...)

[2022-06-22 05:21] sglee-morai commented on #1105
1) Common Test Code = Manual Testing Code
2) Test Code for MORAI SIM: Drive
- Based on Common Test Code
- Test Automation Feature
  - pytest
  - MSC (MORAI SIM Control API): test setup / tear teardown method

[2022-06-22 06:01] kosuke55 commented on #1147
@MichaelShen97
please run `rosdep install -y --from-paths src --ignore-src --rosdistro $ROS_DISTRO` in autoware dir.

[2022-06-22 07:57] BonoloAWF commented on #1147
Hi @MichaelShen97 the best way to get help with Autoware is posting in the Q&A section of the Discussions here: https://github.com/autowarefoundation/autoware/discussions/categories/q-a

[2022-06-22 07:57] #1147 closed

[2022-06-22 08:03] NorahXiong opened #1151 "Non-successive way points generated by A-star algorithm in freespace planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Way points generated by A-star algorithm are not successive as the red circle shows. It could result in poor trajectory

[2022-06-22 20:28] esteve commented on #998
@VRichardJP

Do you remember what modules had this pattern? I want to make sure I'm covering all of them.

Thanks.

[2022-06-23 01:39] VRichardJP commented on #998
@esteve
No idea if it is complete, but a grep on pattern `make_xxx<*PointCloud2>(xxx)` give me this list of files:

[code]

[2022-06-23 05:56] h-ohta opened #1160 "`<arg>` is overwritten when including multiple launch files because `<include>` does not scope"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

We probably have same issue as https://github.com/ros2/launch/issues/620.

### Purpose

We have to fix above is

[2022-06-23 08:53] angry-crab commented on #1019
After a brief investigation about Brent's method and other numerical optimization algorithms, one concern is that Brent's method is not guaranteed to converge, which means there might be some potential issues undetected. I think we could add a parameter to `shape_estimation` node to be able to select among different optimization algorithms. I'll also test other numerical methods for this issue.

[2022-06-23 09:41] VRichardJP commented on #1019
I think being able to chose between multiple implementation would be great.

According to [boost documentation](https://www.boost.org/doc/libs/1_63_0/libs/math/doc/html/math_toolkit/roots/brent_minima.html) and [wikipedia](https://en.wikipedia.org/wiki/Brent%27s_method), Brent's method should at least converge to a local minima. It would be interesting to plot `-calcClosenessCriterion`, but from t

[2022-06-24 00:09] brkay54 opened #1163 "Improve the lateral acceleration filter in motion velocity smoother"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

[Discussion](https://github.com/orgs/autowarefoundation/discussions/412)

In current implementation of lateral

[2022-06-24 00:10] brkay54 commented on #1163
I tested the both approach with `control_performance_analysis`.

**Results (Before is current implementation, after is implementation with new approach):**
| Series                                                                               | Min Before  | Min After  | Max Before   | Max After   | Average Before | Average After |
|-----------------------------------------------------------------

[2022-06-24 05:16] alanmengg opened #1165 "Add vehicle margin to parameter in freespace planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Add vehicle margin variable in freespace_planner as parameter to replace the constant variable in code.

### Pu

[2022-06-25 14:40] brian841102 opened #1168 "In planning simulation, panel cannot send engage signal to vehicle"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In the planner simulation, only using terminal command to send engage signal can start the vehicle.
The AutowareStatePan

[2022-06-25 15:10] shmpwk commented on #1168
This issue came from my commit.
https://github.com/autowarefoundation/autoware.universe/pull/1153/files#diff-f092ba8cc68e325209a916a7446c37e3efb13e03313408d4461d05287542367eR462-R464

Thank you for notifying me.

[2022-06-25 15:35] brian841102 commented on #1168
Not a big deal, don't mind.
I am new to the community and autoware.universe.
Although this is a small fix, this is also my first contribution.
I am pleased to do so and look forward to engaging more in the future.

[2022-06-25 15:35] #1168 closed

[2022-06-25 15:42] kenji-miyake commented on #1168
@brian841102 Thank you for your first contribution! :smile:
And thank you @shmpwk @wep21 @maxime-clem for your quick support. :heart:
I feel the Autoware community is getting better. :blush:

[2022-06-27 01:36] #1076 closed

[2022-06-27 05:36] shmpwk opened #1174 "tf error in simple_planning_simulator"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When setting initial vehicle pose in simple_planning_simulator, I got following error.
[code]
Even when I got this error

[2022-06-27 05:51] shmpwk commented on #1174
Solved by https://github.com/autowarefoundation/autoware.universe/pull/1175

[2022-06-27 05:51] #1174 closed

[2022-06-27 09:00] VRichardJP commented on #1009
Hi,

I recently started to have this very error using `autoware_launch.launch.xml`. It does not occur every single time, but when it does it can be very frustrating.

Although the message seems to point out there is an issue with the plugin, it seems to me the problem appears when the plugin is tried to be loaded before the container is actually started.

The way I have found to fix that problem i

[2022-06-28 03:04] yukke42 commented on #1008
Sorry for the late reply. I guess there are some points for worse performance:
- lidar_centerpoint requires tf between base_link (or velodyne_top) and map to stack multi-frame pointcloud. You can set 0 [here](https://github.com/autowarefoundation/autoware.universe/blob/458a32d0e132a01a092e3e3814176e564021e91c/perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml#L14) but it gets worse p

[2022-06-28 15:56] xmfcx commented on #1019
OpenCV has this: https://theailearner.com/2020/11/03/opencv-minimum-area-rectangle/

(Just for minimum area rectangle criteria)

[2022-06-28 16:02] xmfcx commented on #1008
For single shot detection, if the target is moving, setting densification parameter larger than 0 would create a trail. Is this a good way of doing this? @yukke42

[2022-06-28 16:56] mitsudome-r commented on #1151
@TakaHoribe Could you assign someone from Planning team to take a look at this?

[2022-06-29 02:58] yukke42 commented on #1008
@xmfcx Yes. Densification makes better performance than only the current frame especially for pedestrian and bicycle. This method is generally used in recent 3D object detection papers.

[2022-06-29 05:47] angry-crab commented on #1019
Due to the issue of broken docker image, testing of this issue will be postponed. [CUDA](https://github.com/autowarefoundation/autoware/issues/2452)

[2022-06-29 06:44] mitsudome-r commented on #966
Steps to reproduce:
* Follow [installation](https://autowarefoundation.github.io/autoware-documentation/main/installation/#installing-autoware) instruction to install Autoware
* Follow [planning simulator](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/planning-simulation/#planning-simulation) instructions to download the sample map and launch planning

[2022-06-29 06:44] angry-crab commented on #1160
If there is only one `include` in a launch file, is `group` tag still necessary?

[2022-06-29 07:05] VRichardJP commented on #1019
I feel a bit stupid, but I just realized the performance reported in https://github.com/autowarefoundation/autoware.universe/issues/1019#issue-1254768651 has been retrieved from a debug build...

Using optimizations from release and the same test environment than before, I get around  ~4 ms for the current implementation (or ~1 ms per box), and ~1 ms with the brent's method (with `bits = 6`). So t

[2022-06-29 07:30] angry-crab commented on #1019
@VRichardJP Thank you very much for your efforts. I think 4 times faster is a great improvement.
@mitsudome-r Do you think we should include this improvement?

[2022-06-30 03:34] shmpwk commented on #980
Does this PR solve the issue?
https://github.com/autowarefoundation/autoware.universe/pull/985

[2022-06-30 04:59] #1165 closed

[2022-06-30 10:22] esteve opened #1199 "Migrate to point_cloud_msg_wrapper"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The current codebase uses the `PointCloud2Iterator` class for handling point clouds. However, this translates i

[2022-06-30 15:44] shmpwk opened #1203 "Launching planning_simulator without pointcloud map (only with vector map)"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, launching Autoware needs both pcd map and vector map.
Here, we'd like to propose launching Autoware

[2022-07-01 03:52] taikitanaka3 opened #1207 "Wrong Drivable Area might be created for behavior path planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

 - cv::fillpoly sometimes does not cover area where there is an overlapping polygon
https://github.com/autowarefoundatio

[2022-07-01 04:19] shmpwk commented on #1207
It seems Open CV cannot avoid even-odd rule, and thus some people seems SVG [polyline](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/polyline).
https://github.com/opencv/opencv/issues/5256#issuecomment-954321603

[2022-07-01 10:29] taikitanaka3 commented on #1207
I am going to close this issue because this case is already handled in avoidance module

[2022-07-01 10:29] #1207 closed

[2022-07-03 23:56] shmpwk opened #1219 "Humble build error from point_types.h"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Humble build error which comes from #include <pcl/point_types.h>.

https://github.com/autowarefoundation/autoware.univer

[2022-07-03 23:57] shmpwk commented on #1219
Resolved by adding following in CMakeLists.txt.
[code]
Reference:
https://github.com/PointCloudLibrary/pcl/issues/2303#issuecomment-1013668713

[2022-07-03 23:57] #1219 closed

[2022-07-04 06:25] #920 closed

[2022-07-04 15:39] kaancolak opened #1228 "Image messages have latency or dropped"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

 We are using the CycloneDDS configuration provided by @takam5f2 in this [discussion](https://github.com/autowarefoundat

[2022-07-04 17:25] kenji-miyake commented on #268
Now the `main` branch supports both `Galactic` and `Humble`.
See https://github.com/autowarefoundation/autoware/pull/2692 for further information.

[2022-07-04 17:25] #268 closed

[2022-07-04 17:32] #711 closed

[2022-07-04 21:09] mehmetdogru commented on #494
@kaancolak

An other input:

`map_based_prediction` node crashes most of the time while testing UC-PB-008-0001... scenarios with 7593c2b606318f94fb61dfec7e38970663f9003e

[2022-07-05 00:42] satoshi-ota opened #1231 "surround obstacle checker rarely dies in local environment with segmentation fault"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

`surround obstacle checker` rarely dies (1~2%) in local environment with segmentation fault.
Core dump file is currently

[2022-07-05 02:27] #859 closed

[2022-07-05 05:40] liuzf1988 commented on #908
Recently I'm trying to use the dev version of tvm instead of the stable 0.8 version, which seems to solve the above error.

[2022-07-05 06:09] angry-crab commented on #1160
Recreated PRs
https://github.com/autowarefoundation/autoware.universe/pull/1235
https://github.com/autowarefoundation/autoware.universe/pull/1236
https://github.com/autowarefoundation/autoware.universe/pull/1237
https://github.com/autowarefoundation/autoware.universe/pull/1238
https://github.com/autowarefoundation/autoware.universe/pull/1239
https://github.com/autowarefoundation/autoware.universe/

[2022-07-05 07:48] mitsudome-r commented on #1228
Possible relevant discussions:
* https://github.com/orgs/autowarefoundation/discussions/2617
* https://github.com/orgs/autowarefoundation/discussions/2621
* https://github.com/orgs/autowarefoundation/discussions/2555

Also, as @xmfcx mentioned, if we put all image processing nodes in a single component, we should be able to reduce the image latency.

[2022-07-05 07:57] mitsudome-r commented on #1109
We would like to investigate if there are unnecessary copies in the following files ([link](https://github.com/autowarefoundation/autoware.universe/issues/998#issuecomment-1163829806))

[code]

[2022-07-05 08:01] mitsudome-r commented on #1019
I think we can still include this improvement in Autoware.Universe to give more options to the users.

[2022-07-05 08:05] mitsudome-r commented on #1008
@kaancolak Could you create a separate issue for current issues that you see in perception stack?

[2022-07-05 08:06] mitsudome-r commented on #966
@klu17 Do you have any updates on this issue?

[2022-07-05 08:18] mitsudome-r commented on #908
If we don't have enough engineers who can support TVM packages, then I don't think we can proceed with the task. If there is no progress for another week, then we might want to consider using other ML Inference library.

[2022-07-05 08:27] mitsudome-r commented on #679
Autocore merrged a guide for lidar-IMU calibration.
They will proceed to add a guide for lidar-camera and lidar-lidar calibration as well.

[2022-07-05 08:34] maxime-clem opened #1242 "Calculate path curvature only once"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Path curvature is an important information when planning and generating control commands.
Currently, this curva

[2022-07-05 08:52] mitsudome-r commented on #551
Once we have all drivers available, we can merge the information with the list created in the hardware WG and post it in autoware website.

[2022-07-05 09:10] JianKangEgon commented on #679
@mitsudome-r @armaganarsln yeah sure, for any question, just feel free to let me know

[2022-07-05 09:51] brkay54 commented on #1163
Closed because of #1242

[2022-07-05 09:51] #1163 closed

[2022-07-05 12:44] ambroise-arm commented on #908
Although it seems we can't compile this model with dynamic parameters with the current state of TVM, I can compile it just fine with fixed parameters. The code for LidarCenterpoint in this repository already hardcodes "spatial_features" to 1. And the default values for `range_max_*_`, `range_min_*_` and `voxel_size_*_` give an "H" and "W" value of 560.

By replacing the "-1" with those values in "

[2022-07-05 13:00] ambroise-arm commented on #908
@mitsudome-r So good news: I was wrong during the ASWG by saying it was a model issue. If we don't plan on changing the width and height parameters, or if we can keep a small number of possible values, then we can probably go ahead with TVM and fixed parameters.

[2022-07-05 23:35] VRichardJP opened #1247 "`behavior_velocity_planner` sometimes crashes before intersection"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Yesterday, during test drive on private site, I observed `behavior_velocity_planner` crashes often when approaching an i

[2022-07-06 00:46] rej55 commented on #1247
@VRichardJP
Thank you for your report.
I agree to replace `input_path` to `path`.

[2022-07-06 01:51] VRichardJP opened #1248 "rationalize `boost::optional` dereference in `behavior_velocity_planner`"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

`boost::optional` is used quite often across the code base. In most of the code, it is dereferenced carefully,

[2022-07-06 01:53] drwnz opened #1249 "LiDAR timestamping policy is required"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, individual LiDAR drivers have differing implementations on how timestamps are applied to pointcloud

[2022-07-06 03:10] klu17 commented on #966
No, I don't. I'll unassign.

[2022-07-06 05:52] NorahXiong opened #1251 "Timing problem in freespace_planner_node"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In [FreespacePlannerNode::onRoute function](https://github.com/autowarefoundation/autoware.universe/blob/main/planning/f

[2022-07-06 06:27] VRichardJP opened #1253 "Autoware keeps following old local path after `behavior_velocity_planner` is dead"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While I experienced the `behavior_velocity_planner` crash (described here: https://github.com/autowarefoundation/autowar

[2022-07-06 10:26] shulanbushangshu opened #1258 "Problem in merging obstacle avoidance points under the distribution of some obstacles"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

There are problems in merging obstacle avoidance points under the distribution of some obstacles.
As shown in the figure

[2022-07-06 11:00] Zeysthingz commented on #610
@xmfcx Fatih can you assign available reviewers for pull request?

[2022-07-06 11:26] #610 closed

[2022-07-06 12:24] sglee-morai commented on #1105
# Update 22-07-06
Want to ask for a review: TierIV to test run the code.
However, I have a question regarding this, though. When a certain person (MORAI in this case) asks other members to run the code in their machine, how he or she can do that?

For me to have Soohyuk's code in my machine, I had to do the followings

open terminal
change working directory to ~/autoware/src/universe
change remote

[2022-07-06 12:28] WJaworskiRobotec commented on #1105
To remove morai msgs from the repo.

I will test the code with TierIV Sim.

[2022-07-07 00:33] VRichardJP commented on #1247
So should `input_path` be replaced everywhere by `path` or should it keep it at other places?

[2022-07-07 03:31] liuzf1988 commented on #908
Yes, I totally agree with you to compile LidarCenterpoint model using default value for "batch_size", "H" and "W" at current. And TVM's [Relax](https://github.com/tlc-pack/relax/wiki/Relax-Architecture-Overview) architecture (i.e. relay next) which supports dynamic shape workloads is under development.

[2022-07-07 05:01] NorahXiong commented on #1251
I think https://github.com/autowarefoundation/autoware.universe/pull/1261 could not totally cover the problem. Actually, everything goes right with the original bug. But after correction, it will fail to generate a trajectory in parking scenario immediately after Autoware boots and this is the problem to be discussed in the issue(see #Possible causes# section).

It is certainly reasonable of frees

[2022-07-07 07:16] shmpwk commented on #1251
@NorahXiong
You're right, thank you. I've deleted nullptr check of scenario topic by https://github.com/autowarefoundation/autoware.universe/pull/1261/commits/5a4b37c88beb78ada2a3e755bb27422f7ebb5a8d.

[2022-07-07 07:20] NorahXiong commented on #1251
@shmpwk By the way, [this line](https://github.com/autowarefoundation/autoware.universe/blob/7f35d5bbea9a843fcacef2de9b0d3eb39ef34948/planning/mission_planner/src/mission_planner_lanelet2/mission_planner_lanelet2.cpp#L156) blocked route visualization as the value is never set to true.

[2022-07-07 10:17] NorahXiong opened #1272 "Invalid parameter query in scenario_selector node"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

According to the design, scenario mode should change to lane_driving mode after parking task is completed and stops in l

[2022-07-07 10:36] NorahXiong commented on #1272
[There’s no global parameter concept in ROS 2](https://docs.ros.org/en/galactic/How-To-Guides/Launch-files-migration-guide.html#param), so I tried to fix it by substituting parameter by topic.

[2022-07-07 14:33] TakaHoribe commented on #1242
@maxime-clem @brkay54 @boyali
Thank you for raising a nice discussion.

Currently curvature is calculated in several packages independently. The reason is as follows

First, the method of curvature calculation differs depending on the application of each module.

For example, `motion_velocity_smother` calculates the lateral acceleration from the curvature and do deceleration planning to prevent la

[2022-07-08 00:59] shmpwk commented on #1251
@NorahXiong Exactly right, thank you! I fixed my PR.

[2022-07-08 01:57] taikitanaka3 commented on #1248
@VRichardJP
thank you for isssue
I think these values are not used until current accel is not set commonly
https://github.com/autowarefoundation/autoware.universe/blob/32c2e4120cfef2469bf10117de744d871c0460be/planning/behavior_velocity_planner/src/node.cpp#L219
, and will be repalced by /localization/accleration
https://github.com/autowarefoundation/autoware.universe/pull/1213

[2022-07-08 04:51] VRichardJP commented on #1248
I get it will be solved once #1213 will be merged then.

[2022-07-08 06:02] h-ohta commented on #1160
Sorry for late reply. It would be better.

[2022-07-08 06:29] taikitanaka3 commented on #1248
@VRichardJP
Do you have any problem with current implementation?
I think as long as isDataReady() returns false
scene modules above you mentioned will not run

[2022-07-08 06:46] #1251 closed

[2022-07-08 07:02] #1203 closed

[2022-07-08 07:46] #1272 closed

[2022-07-08 08:21] boyali commented on #1242
The B-spline library was previously a part of the nonlinear model predictive control package.  I based these libraries mainly on fast matrix computations and some numpy-like matrix concatenation functions. I tried to write helper functions by combining Numpy and Matlab-like semantics.

After starting to work on the Autoware control toolbox, I used the same helper functions in the body of control f

[2022-07-08 08:52] angry-crab commented on #1019
I've created a draft PR regarding this issue. Please feel free to make any comment.

[2022-07-08 09:20] shmpwk commented on #768
I've already created the minimum feature, but it is easier to use rviz panel instead.
If there is a usecase which rviz panel cannot do, let me know, and I will implement it.

[2022-07-11 06:12] taikitanaka3 opened #1297 "bug fix for planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

 - fix segmentation fault for onVehicleVelocity() https://github.com/autowarefoundation/autoware.universe/pull/1300
 - f

[2022-07-11 08:29] TakaHoribe commented on #1115
@xmfcx @mitsudome-r @angry-crab We are cleaning up the motion-related common utility functions. There are now many packages with duplicated functions:
[autoware_auto_common](https://github.com/autowarefoundation/autoware.universe/tree/main/common/autoware_auto_common)
[autoware_auto_geometry](https://github.com/autowarefoundation/autoware.universe/tree/main/common/autoware_auto_geometry)
[motion_c

[2022-07-11 09:32] mitsudome-r opened #1304 "image_projection_based_fusion fails to build on machines without CUDA."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

image_projection_based_fusion fails to build on machines without CUDA.

### Expected behavior

The package build success

[2022-07-11 11:19] kenji-miyake commented on #1304
@mitsudome-r Resolved by #1306? If so, as you might know, it's good to write like `Resolves #1304` in the PR.

[2022-07-12 01:50] satoshi-ota opened #1311 "Fail CI check build-and-test-differential (galactic, -cuda)"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Following CI checks fail at Build step.

- build-and-test-differential (galactic, -cuda)
- build-and-test-differential (

[2022-07-12 01:53] kenji-miyake commented on #1311
[Additional information]

CI link: https://github.com/autowarefoundation/autoware.universe/runs/7293172779?check_suite_focus=true

Possible causes:
[code]

Steps to reproduce:

[code]

[2022-07-12 01:56] kenji-miyake commented on #1311
I had to remove `cuda-*` [here](https://github.com/autowarefoundation/autoware/blob/ba9d3c4e36d58cbdbd29b85d4b4f54fde001fa0c/docker/autoware-universe/Dockerfile#L41-L43).

[code]

If I remove it, `apt update` succeeds.

[code]

[2022-07-12 01:56] kenji-miyake commented on #1311
I'll submit a PR to `autowarefoundation/autoware`, and recreate the Docker images.

[2022-07-12 05:02] kenji-miyake commented on #1311
It wasn't resolved. I guess what we can do is only wait. :pleading_face:
https://github.com/autowarefoundation/autoware/runs/7294080970?check_suite_focus=true#step:5:851

[2022-07-12 05:05] kenji-miyake commented on #1311
Related?
- https://forums.developer.nvidia.com/t/error-during-apt-update-on-ubuntu-18-04-file-has-unexpected-size/220436
- https://forums.developer.nvidia.com/t/errors-during-apt-update-on-ubuntu2004-file-has-unexpected-size/220415
- https://forums.developer.nvidia.com/t/cuda-packages-file-for-ubuntu20-04-new-update-07-11-break-due-unexpected-file-size-580845/220419

[2022-07-12 07:24] NorahXiong opened #1314 "Do not name std::stringstream object “ss" if used in RCLCPP_INFO_STREAM macro"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

![image](https://user-images.githubusercontent.com/103234047/178427515-89f93e28-00e8-40b4-8d30-fa5e7f2bacbe.png)

There

[2022-07-12 11:11] sujithvemi commented on #1121
We have tried to reproduce the issue. But detection area is not at all coming for us after enabling DetectionArea in Rviz. Are the steps to reproduce above sufficient? Or are there any other steps missing in the details? Is it expected to be shown while running the planning tutorial given in the documentation or should we run some other launch files for this?

[2022-07-12 16:12] mitsudome-r commented on #1228
We need a rosbag to reproduce this issue.

[2022-07-12 16:19] taikitanaka3 commented on #1297
yes 2 more fix will be added. I will add those tommorow

[2022-07-12 16:25] mitsudome-r commented on #908
@liuzf1988 @ambroise-arm Thanks for the update.
@liuzf1988 Could you try with your proposed approach to use the default values for the model input?

[2022-07-12 16:28] mitsudome-r commented on #669
@piotr-zyskowski-rai will assign someone else to take this over.

[2022-07-12 16:36] #1304 closed

[2022-07-12 16:42] mitsudome-r commented on #1231
@satoshi-ota Are there any suggested placement of the obstacles to reproduce the error? Also, will you be able to do the investigation yourself or would you like someone else to help you.

[2022-07-12 22:05] DeepakVellampalli opened #1325 "Build process failed with "fatal error: range/v3/all.hpp: No such file or directory""
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I was following [docker installation instructions](https://autowarefoundation.github.io/autoware-documentation/main/inst

[2022-07-12 23:26] satoshi-ota commented on #1231
@mitsudome-r I guess that there is no specific condition about the obstacle placement, but this error is caused in following scenario test (the obstacle is always same placement in scenario test).

- UC-001-0002_PSim_1_case2_v2

I tried but couldn't fix this error, so I want help... :pleading_face:

cc @0x126 @TomohitoAndo

[2022-07-12 23:28] VRichardJP commented on #1247
Yes, I tested the same modification during my test drive session and I haven't faced the issue since.
Thank you!

[2022-07-12 23:28] #1247 closed

[2022-07-12 23:41] satoshi-ota commented on #596
Resolved in https://github.com/autowarefoundation/autoware.universe/pull/990

[2022-07-12 23:41] #596 closed

[2022-07-12 23:44] VRichardJP commented on #1325
I encountered this too recently, I thought it was related to my custom docker build.
A temporary fix from inside the container is to run rosdep (which will find the missing library):
[code]

[2022-07-12 23:46] satoshi-ota commented on #937
Achived short-term goal in https://github.com/autowarefoundation/autoware.universe/pull/944

[2022-07-12 23:51] satoshi-ota commented on #1311
May I close this issue ? (Resolved ?)

[2022-07-13 00:04] VRichardJP commented on #1248
@taikitanaka3 I did not have any runtime issue with these. But since there was a recent case of crash from unchecked boost::optional dereference (https://github.com/autowarefoundation/autoware.universe/pull/1245) I looked for similar pattern ;)

[2022-07-13 00:08] #929 closed

[2022-07-13 03:05] alanmengg opened #1328 "planning mode doesn't change if lane change path can't be executed in behavior path planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In lane driving, if vehicle in lane change mode and lane change can't successfully executed such as obstacle blocks the

[2022-07-13 03:06] alanmengg opened #1329 "planning mode doesn't change if lane change path can't be executed in behavior path planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In lane driving, if vehicle in lane change mode and lane change can't successfully executed such as obstacle blocks the

[2022-07-13 03:36] taikitanaka3 commented on #1258
@shulanbushangshu
Could you explain expected behavior in this case?
avoidance module uses path shifter which is common in path change module.
and if obstacle is close length  can be zero.

[2022-07-13 05:34] satoshi-ota commented on #1311
I close this issue.
@kenji-miyake Thank you for your PR :smile:

[2022-07-13 05:34] #1311 closed

[2022-07-13 08:46] angry-crab commented on #1160
All related PRs are merged. I think we can close this issue. The unchecked packages are good.

[2022-07-13 08:47] angry-crab commented on #1325
[code]

[2022-07-13 09:58] h-ohta commented on #1160
I've confirmed. LGTM

[2022-07-13 09:58] #1160 closed

[2022-07-13 09:58] h-ohta commented on #1160
@angry-crab Thank you for your cooperation!

[2022-07-13 13:12] miursh commented on #1087
Update for tensorrt_yolo https://github.com/autowarefoundation/autoware.universe/pull/1339

[2022-07-14 04:46] takayuki5168 commented on #768
@shmpwk
We can close this issue since there seems to be no need for keyboard input of joy_controller

[2022-07-14 14:45] BonoloAWF commented on #1329
Duplicate of https://github.com/autowarefoundation/autoware.universe/issues/1328

[2022-07-14 14:45] #1329 closed

[2022-07-15 02:16] taikitanaka3 commented on #1297
@mitsudome-r
I close this issue for obvious bugs are fixed.

[2022-07-15 02:16] #1297 closed

[2022-07-15 05:34] angry-crab commented on #1115
Ideally, we would like to merge the packages into a single one. However, some packages are from `Autoware.Auto`, and are not likely to be maintained in the future, but they might be required if we decide to port more packages from `Auto`. In this case, it might not be a good idea to merge them. I think breaking down `tier4_autoware_utils` as discussed above is okay, or we could have something like

[2022-07-15 13:38] WJaworskiRobotec commented on #1105
Tests work with TierIV Sim. I've approved the PR but there are some issues with CI tests.

[2022-07-16 02:38] VRichardJP commented on #1231
I have not looked at the code, but what about the target frame being an empty string?
[code]

[2022-07-16 02:42] VRichardJP commented on #1231
I have not checked the code but could it be the empty string as input frame being undefined behavior? What if you prevent the lookupTransform when the frame is empty?

[2022-07-16 10:43] VRichardJP commented on #1231
Something is strange with the validateFrameId function, no?
https://github.com/ros2/geometry2/blob/1186ee1e1be1dfe3691f31ba7f13662b1f1e1b91/tf2/src/buffer_core.cpp#L162

There is an early return in the case the frame_id is empty. And yet in your case it manages to reach the lookupFrameNumber function. So is there a crash on the lookup of "base_link"? or could it be the function is aggressively opt

[2022-07-17 05:33] kosuke55 commented on #662
@TakaHoribe @rej55
Not urgent, but if you have time, please check https://github.com/autowarefoundation/autoware.universe/pull/985 :bow:

[2022-07-18 03:14] #1258 closed

[2022-07-18 08:15] Sharrrrk commented on #1256
Can you try to rebuild the lidar_centerpoint package by removing the built targets in /build and /install, and also to make sure that the version of CUDA version in docker is same with local system.

[2022-07-18 09:39] MertClk commented on #1228
@Zeysthingz can you share bag files to reproduce this issue?

[2022-07-18 10:55] raminterpl commented on #1121
@h-ohta : can you pls reply to sujith

[2022-07-19 00:58] satoshi-ota commented on #1231
Thanks for your comments.
Yes, as you said, the function is suspicious. There is an early return in the function, so I thought we don't have to guard empty frame id at outside the lookupTransform, but...

I can't deny the both possibility.

[2022-07-19 01:35] taikitanaka3 commented on #1325
@DeepakVellampalli
Could you close this issue if you solve the problem by https://github.com/autowarefoundation/autoware.universe/issues/1325#issuecomment-1182602478.

[2022-07-19 04:18] h-ohta commented on #1121
@raminterpl @sujithvemi Sorry for late reply.
Could you tell me your testing environment ?
I can confirm it.

[2022-07-19 04:24] zulfaqar-azmi-t4 commented on #1258
@shulanbushangshu
Just curious, why does this issue is set as closed/completed?
Appreciate it if you could add some notes so that if other users stumble across similar issue, then the notes will be very helpful for them.

[2022-07-19 07:00] sujithvemi commented on #1121
I am using RViz and starting the simulation through the planning simulator launch file provided in the tutorial. I am running it through docker environment.

[2022-07-19 07:33] xmfcx commented on #1253
A node monitoring node should check the critical nodes and issue emergency stop if one of them crashes.

You can try to add [topic_state_monitor](https://github.com/autowarefoundation/autoware.universe/tree/main/system/topic_state_monitor) to this launch file: https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_system_launch/launch/system.launch.xml

And somehow it shoul

[2022-07-19 07:39] angry-crab commented on #966
It seems that when optimization is skipped, the output is simply the path message being received. `obstacle_avoidance_planner` does nothing to the planned path. I'll investigate further.

[2022-07-19 07:40] xmfcx commented on #679
Let's create an issue to add it to autoware documentation page.

[2022-07-19 07:43] xmfcx commented on #677
Can you add them here: https://github.com/autowarefoundation/autoware-documentation/blob/main/docs/how-to-guides/sensor-calibration.md ?

[2022-07-19 07:47] xmfcx commented on #592
Already being discussed in:
- https://github.com/autowarefoundation/autoware.universe/issues/679
- https://github.com/autowarefoundation/autoware.universe/issues/677

[2022-07-19 07:47] #592 closed

[2022-07-19 07:49] xmfcx commented on #677
Previous issue: https://github.com/autowarefoundation/autoware.universe/issues/677

[2022-07-19 07:57] xmfcx commented on #566
For the initial testing, I think we can call this complete with the results in: https://github.com/autowarefoundation/autoware.universe/issues/566#issuecomment-1102729980

If we need to evaluate it again, we can recreate another issue.

[2022-07-19 07:57] #566 closed

[2022-07-19 08:02] xmfcx commented on #551
@senagolcuk could you update here with the sensor drivers used in the ISUZU bus project?

@meliketanrikulu can you share the estimated timeline for the open sourcing of the applanix driver?

[2022-07-19 08:29] xmfcx commented on #1009
We should further investigate why this happens in https://github.com/autowarefoundation/sample_sensor_kit_launch/blob/main/sample_sensor_kit_launch/launch/pointcloud_preprocessor.launch.py

Also we need to test and see if it happens in humble too.

[2022-07-19 08:31] xmfcx commented on #993
@TakaHoribe @TomoyukiaW @VRichardJP are there any updates on this?

[2022-07-19 08:45] xmfcx commented on #641
We'll close this issue and it can be re-opened if it occurs again.

[2022-07-19 08:45] #641 closed

[2022-07-19 08:48] xmfcx commented on #630
Since the tasks need to be re-done, we'll close the issue and if errors occur again, this issue needs to be re-created.

[2022-07-19 12:09] ataparlar opened #1375 "Adding NDT reinitalization statement and reinitialization while moving"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

NDT is initializes the position once in the beginning while vehicle is motionless. While moving if a topic used

[2022-07-19 23:49] takayuki5168 commented on #966
@angry-crab
obstacle avoidance planner does resampling of x, y, and yaw to the path from the behavior module.
https://github.com/autowarefoundation/autoware.universe/blob/69c2a1815034fb53f8c6a1faa5546fb6b49fccff/planning/obstacle_avoidance_planner/src/node.cpp#L1400-L1401

The yaw in the path from the behavior module is not smoothed well. So just resampling cannot deal with smooth yaw interpolatio

[2022-07-20 01:01] h-ohta commented on #1121
@sujithvemi I see. Could you tell me your operating procedure at detail ?

[2022-07-20 01:15] h-ohta commented on #1121
Or I'll recheck my issue report and rewrite it. Just a moment...

[2022-07-20 02:24] h-ohta commented on #1121
I found that the map, used in the planning simulator tutorial, does not have detection area...
I'll think other resolutions.

[2022-07-20 04:47] YamatoAndo commented on #1375
I think the reinitalization is necessary.
However, I think it would be more versatile to put this function in a pose_initilizer node, etc., rather than in an NDT node, because it can be used even when the NDT node is not used.

I also think that this feature will be one of the most important features for Autoware, so we need to discuss the architecture in detail. @mitsudome-r @yukkysaito

[2022-07-20 05:20] cyn-liu commented on #1375
I have encountered a similar problem of how to reinitialize the NDT when it failed to match and localization failed, the vehicle starts turning around.
The following figure is a screenshot of the simulation of the localization module when the car passes the intersection and the point cloud matching fails, the blue line in the figure is the trajectory of the car.
![图片](https://user-images.githubuse

[2022-07-20 05:42] h-ohta commented on #1121
@sujithvemi I I made new map which has detection area and updated issue report. Could you try it?

[2022-07-20 05:46] ktro2828 commented on #1087
For lidar_appllo_instance_segmentation, there is already description of model in README.md

[2022-07-20 08:58] isamu-takagi commented on #1375
We are now designing a mechanism to stop the vehicle in an emergency. Related information can be found [here](https://autowarefoundation.github.io/autoware-documentation/pr-165/design/autoware-interfaces/ad-api/list/api/fail_safe/) (note that this link will be invalid once the PR is merged). In this mechanism, a module that manages emergencies (fail-safe module in the figure on the above link) mon

[2022-07-20 09:07] YamatoAndo commented on #1375
We have the [localization_error_monitor](https://github.com/autowarefoundation/autoware.universe/tree/main/localization/localization_error_monitor) node to detect locazation failure using the variance estimated by EKF.
How about using this node?

[2022-07-20 10:32] storrrrrrrrm opened #1384 "ray_ground_filter can not remove ground points"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

test with pointcloud whose frame is not base_link

when set frame_id to base_link https://github.com/autowarefoundation/

[2022-07-20 11:39] #1122 closed

[2022-07-20 13:50] cyn-liu commented on #1375
We believe that it is not accurate to use the pose_with_covariance estimated by the EKF in the localization_error_monitor node to monitor whether the localization fails, because **this variable lacks timeliness.**
When the NDT score is below 2.3, we consider that the localization has failed at this point, while the ekf covariance is still small (close to 0), and the pose_with_covariance will only

[2022-07-21 04:10] angry-crab commented on #966
Thank you for the information. If so, isn't the unstable output expected somehow? Since this only happens when optimization is skipped, what would be our expectation for resampling methods?

[2022-07-21 05:48] taikitanaka3 opened #1389 "planner node dies inside RCLCPP_COMPONENTS_REGISTER_NODE macro"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

some times planning node dies inside RCLCPP_COMPONENTS_REGISTER_NODE
this problem can be seen in
- motion_velocity_smoot

[2022-07-21 06:36] angry-crab commented on #966
![skip_optimization_off](https://user-images.githubusercontent.com/93699235/180145614-72b2709d-df9e-4de7-bade-b2d92f3f14bf.png)

![skip_optimization_on](https://user-images.githubusercontent.com/93699235/180145752-f0c5520a-8e73-4cfd-9e8e-a85d24866ea0.png)

[2022-07-21 07:30] takayuki5168 commented on #966
@angry-crab
This unstable yaw in the behavior module(?) is not expected. We don't know why this unstable yaw happens. could you look into this issue more. Is this information enough for you to start dealing with this issue?

[2022-07-22 09:22] IshitaTakeshi opened #1403 "The topic named `ekf_pose_with_covariance_without_yawbias` contains yaw bias"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

[ekf_localizer](https://github.com/autowarefoundation/autoware.universe/blob/main/localization/ekf_localizer) publishes

[2022-07-22 09:26] YamatoAndo commented on #1375
@cyn-liu
I think you didn't use the odometry in your test.
I think if you put the odometry in the EKF, the estimated variance would be more reliable.

[2022-07-22 12:26] miursh commented on #1384
@storrrrrrrrm Thanks for creating this issue. As you mentioned, ray ground filter requires the output frame to be base_link implicitly.
Even though, it seems a bit odd to add a z_offset parameter since tf should be used for coordinate transformation.　

[2022-07-25 03:17] cyn-liu commented on #1375
Thanks for your replay, we will add odometer information for testing to verify that the variable estimated by the EKF are reliable.

[2022-07-25 05:21] TomohitoAndo opened #1412 "Save the goal pose if lanelet maps are not subscribed in mission planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently mission planner doesn't plan a path when goal pose was specified but lanelet maps are not subscribed.

[2022-07-25 07:58] mitsudome-r commented on #1412
Are you sure you want this? I think it is more intuitive to have map first and the goal later.
In case of scenario simulation, you can just look at the autoware_state and give goal pose after the state is waiting_for_route.

[2022-07-25 07:58] angry-crab commented on #966
@takayuki5168 Thank you for the information. Further investigation indicates that the issue is not related to `obstacle_avoidan
ce_planner`. The output trajectory of `obstacle_avoidance_planner` is as follows:
![interpolate](https://user-images.githubusercontent.com/93699235/180727099-61926f75-576c-48cb-99c8-4d438daca4bf.png)

The plot obtained as @mitsudome-r described is the output of `obstacle_

[2022-07-25 08:12] VRichardJP commented on #993
After some calibration I think we solved the issue. Now our vehicle manages to consistently park at target location.

[2022-07-25 08:12] #993 closed

[2022-07-25 08:43] angry-crab commented on #966
FYI, interpolation does not seems good as well.

![error](https://user-images.githubusercontent.com/93699235/180735751-0816352f-668e-4354-8e64-3d9612764e52.png)

Is this expected? @takayuki5168

[2022-07-25 08:59] takayuki5168 commented on #966
@angry-crab Not expected.
obstacle_stop_planner is, as you know, after obstacle_avoidance_planner.
When skip_optimization=true, obstacle_avoidance_planner's output is unstable. Therefore obstacle_stop_planner's output is unstable as well. So the problem is obstacle_avoidance_planner (which does fine resampling) or behavior_velocity_planner (which does not do find resampling).

[2022-07-25 09:19] VRichardJP opened #1418 "`obstacle_stop_planner` makes the vehicle stop for a far away obstacle"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

During a self driving test, I observed our vehicle would stop for a brief moment in the middle of an intersection, alway

[2022-07-25 09:31] shulanbushangshu commented on #1258
The current issue cannot be reproduced.I will continue to confirm it.In the above picture, there is indeed a problem with the merging of offset points

[2022-07-25 09:50] VRichardJP opened #1420 "Speed profile in incorrect in slopes"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

On our site, there is a small slope going up and down. For both cases, the lanelet speed limit is set to 10km/h.
When th

[2022-07-25 09:53] TomohitoAndo commented on #1412
@mitsudome-r
Thank you for your comments.
I think looking at the autoware_state is more suitable idea.

But since ad_service_state_monitor doesn't check if mission_planner has map, the issue of scenario simulation may sometimes occur.
It looks like ad_service_state_monitor checks if map is published here,
https://github.com/autowarefoundation/autoware.universe/blob/86101edd278bd572124995866d7fecf5

[2022-07-25 12:34] miursh commented on #1009
The reason why this happens is because sensing.launch and perception.launch could start before the pointcloud container start, I think.
In autoware_launch.launch.xml/logging_simulator.launch.xml,  pointcloud container must be launched first, but I suspect current launcher does not guarantee launch order.

[2022-07-25 13:19] meliketanrikulu opened #1421 "Positioning error in wrong zone when NDT starts"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

We encountered a random error while NDT was running. After the initial pose estimation stages (monte carlo lozalization)

[2022-07-25 16:06] YamatoAndo commented on #1421
Thank you for your report.
You are right, it seems to refer to the NDT node for a pose at 0 0 0.

To fix this problem, I think that the EKF node should not publish the pose until it receives the initialization pose.
I think that way, the NDT node would not receive a pose at 0 0 0.

[2022-07-25 17:32] meliketanrikulu opened #1426 "Error accumulation in EKF localizer"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

We tested localization in vehicle and we observe ndt aligned point cloud and concatenated point cloud. After moving for

[2022-07-26 01:07] taikitanaka3 opened #1428 "remove unnecessary test in longitudinal controller"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Build error in unit test (debug build)
[code]
https://github.com/autowarefoundation/autoware.universe/blob/main

[2022-07-26 06:41] YamatoAndo commented on #1426
@meliketanrikulu
Probably because the yaw angle of the TF(base_link<->lidar sensor) is misaligned.

You can see the yaw angle error with the following command.
`ros2 topic echo /localization/pose_twist_fusion_filter/ekf_localizer/estimated_yaw_bias`

I think this problem can be solved by adjusting TF using the yaw angle error.

[2022-07-26 07:36] angry-crab commented on #966
@takayuki5168 I think the issue is caused by interpolation. I plotted raw interpolated results against original input.

XY:
![xy](https://user-images.githubusercontent.com/93699235/180949634-93cb180d-22a6-4fea-a97c-5244500409ef.png)

Yaw:
![yaw](https://user-images.githubusercontent.com/93699235/180949668-20088889-0672-49e7-b3af-b4d1eed7045c.png)

X and Y look good, but yaw interpolation is proble

[2022-07-26 09:46] #1428 closed

[2022-07-26 10:59] yukkysaito commented on #1009
yes
sorry for late reply. 🙏

[2022-07-26 13:35] djargot commented on #669
Current status of the task:
I am writing a node to extract ground truth point clouds of ground and objects, using a ROS bag provided by MORAI as it has the ground truth information available.
In parallel I implemented a simple segmentation metric to use for validation of this task.

[2022-07-26 15:28] meliketanrikulu commented on #1421
NDT node graph:
![Screenshot from 2022-07-26 18-23-29](https://user-images.githubusercontent.com/41450930/181046657-d8037e6c-9a11-4fda-8218-330b982b104b.png)

[2022-07-26 15:32] takayuki5168 commented on #966
@angry-crab Nice plot.
I feel that the problem is yaw of the behavior velocity planner rather than spline interpolation of obstacle avoidance planner.
For example, this yaw of behavior velocity planner (red points plot) is not smooth at all.
Even if we do linear interpolation for yaw in obstacle avoidance planner, the yaw will change a bit suddenly.
![image](https://user-images.githubusercontent.c

[2022-07-26 15:38] maxime-clem commented on #1420
There is an implementation of slope compensation in the current longitudinal controller:
- https://github.com/autowarefoundation/autoware.universe/blob/main/control/trajectory_follower_nodes/design/longitudinal_controller-design.md#slope-compensation
- https://github.com/autowarefoundation/autoware.universe/blob/main/control/trajectory_follower/design/trajectory_follower-pid-design.md#slope-compen

[2022-07-26 15:49] xmfcx commented on #1384
I think this is the expected behavior of the ray_ground_filter. Why do you want to run it in a different frame?

The way it uses the frame is, it knows where to initialize the ground plane from.

[2022-07-26 16:06] xmfcx commented on #1228
@xmfcx share the bag files.

[2022-07-26 16:07] xmfcx commented on #1256
@mikechan0731 do you have any updates?

[2022-07-26 16:11] xmfcx commented on #908
@liuzf1988 Are there any updates on this task?

[2022-07-26 16:14] xmfcx commented on #800
https://github.com/autowarefoundation/autoware.universe/pull/1230 has fixed this issue.

[2022-07-26 16:14] #800 closed

[2022-07-26 16:17] #679 closed

[2022-07-26 16:20] xmfcx commented on #564
@xmfcx close this once the rosbags are uploaded to s3

[2022-07-26 16:23] xmfcx commented on #551
GNSS-INS driver will be published here: https://github.com/autowarefoundation/applanix

[2022-07-26 16:26] mitsudome-r commented on #551
@senagolcuk
Could you tell me why your sensor driver status for lidar is "Work in progress"?
If you have the link to the driver that you are using, could you share it as well?

[2022-07-26 16:32] xmfcx commented on #1418
@VRichardJP can you share a vector map for us to reproduce this on?

[2022-07-26 16:46] xmfcx commented on #1102
@yukke42 any updates on this?

[2022-07-26 16:59] xmfcx commented on #549
@xczhanjun are there any updates on this issue? Are you still having this issue?

[2022-07-26 23:23] VRichardJP commented on #1420
Thank you! I will try that parameter.

I remember I did not have the issue with architecture proposal, but i see the same parameter used to be set to true: https://github.com/tier4/autoware_launch/blob/2d6815ea222deb4bfebc7c4d54693eee35c8add6/control_launch/config/velocity_controller/velocity_controller_param.yaml#L42

[2022-07-27 00:55] VRichardJP commented on #1418
Here is a simplified version of the lanelet map: [lanelet2_map.zip](https://github.com/autowarefoundation/autoware.universe/files/9194131/lanelet2_map.zip)

I have increased [`forward_path_length`](https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.y

[2022-07-27 02:17] storrrrrrrrm commented on #1384
it is ok for me that  if ray_ground_filter works only when frmae_id is base_link.  just found that scan_ground_filter has no such limitiation when add test case.  you can have a look at [https://github.com/autowarefoundation/autoware.universe/pull/1401](url)

if designed to be worked with base_link only, maybe it is better to set base_frame to a const value in code rather than a ros parameter, or

[2022-07-27 02:27] takayuki5168 commented on #966
@angry-crab
I heard that behavior velocity resamples path points with a certain interval and also makes sure that it samples the input path points (path with lane id from behavior_path_planner).

It seems this third red point in the plot is the sampled input path point. This implementation may be wrong
![image](https://user-images.githubusercontent.com/20228327/181147121-03240e03-fc22-41c8-960e-d5

[2022-07-27 02:54] angry-crab commented on #966
@takayuki5168 Are you suggesting that the implementation of `behavior velocity planner` is wrong because it fails to output a required sampled path, or the implementation of `obstacle_avoidance_planner` is problematic because it could not detect this issue?

[2022-07-27 02:57] badai-nguyen commented on #1102
@yukke42 Since the input status of new distortion_correction has already checked and logged [here.](https://github.com/autowarefoundation/autoware.universe/blob/156d0056b459d2dda0561718d4195c4ecd8960c8/sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp#L172)
IMO, we don't need to add additional diagnostics for that.
shall we close this issue? cc @miursh

[2022-07-27 03:05] yukke42 commented on #1102
@badai-nguyen Cloud you put the link to PR here? We can close this issue.

[2022-07-27 05:25] TakaHoribe commented on #1420
@VRichardJP @maxime-clem The slope compensation was developed in the very old version (Architecture Proposal) and fully tested in our (TIER IV) vehicles.
Remark: you need to check the source of the slope value carefully. If you use the `pitch` angle for the slope computation, make sure the pitch is not osscilated. Also note that the pitch angle does not perfectly reflect the slope angle, it is roa

[2022-07-27 05:42] takayuki5168 commented on #966
@angry-crab

Yes. This is because the behavior velocity planner's output path is not so smooth (Yaw angles change suddenly shown in the plot, which is not expected).

For now, no. Because now we do not have a validation mechanism (to detect this issue) in the planning module.

[2022-07-27 08:36] meliketanrikulu commented on #1426
Thanks for your reply. I don't think it's a bug with the base_link-lidar calibration issue. Because initially, when the vehicle is stationary, concatenated point cloud and ndt align cloud are matching. After a while, the difference begins to open. While moving, the difference increasing and the difference does not close when the vehicle stops again.

When I looked at the messages from this topic (

[2022-07-27 09:22] senagolcuk commented on #551
@mitsudome-r

I'm updating now.

[2022-07-27 09:43] YamatoAndo commented on #1426
The ekf_localizer estimates the bias of the yaw angle, and updates the bias while driving.
Therefore, it should behave exactly as you said.

[2022-07-27 22:10] wep21 commented on #1009
`LoadComposableNodes` can load nodes even if the target container is launched after it, so I think the order of launch has nothing to do with this issue.

[2022-07-27 22:13] wep21 commented on #1009
Here is some test snippet.
[code]

[code]

[2022-07-27 23:10] xmfcx commented on #1009
@wep21 were you able to reproduce this issue?

For me 80% of the times I run the logging simulator launch file, do you know why it might be happening like this then?

[2022-07-28 00:00] HaoruXue opened #1451 "Feature: Vehicle Interface"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Provide a `vehicle_interface` package that aligns with the [architechture proposal](https://autowarefoundation.

[2022-07-28 00:50] nobuotakamasa opened #1452 "CMOS battery monitoring"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I would like to add a function to raise the soundness of CMOS batteries to diagnostics.

### Purpose

PC have a

[2022-07-28 02:36] badai-nguyen commented on #1384
@storrrrrrrrm
There is another way If you want to test separately ground filter with your non-base_link rosbag. You can run autoware with your pointcloud rosbag and remap pointcloud topic to the ground_filter's input topic like:
`ros2 bag play your_rosbag --remap /your/velodyne_top/pointcloud =/perception/obstacle_segmentation/range_cropped/pointcloud`
Since current ground_filter processes pointcl

[2022-07-29 01:34] miursh commented on #1102
Resolved by https://github.com/autowarefoundation/autoware.universe/commit/6fbdce5513b8a3992531da2c0a70597b4e293f2a

[2022-07-29 01:34] #1102 closed

[2022-07-29 02:22] angry-crab commented on #966
Further investigatoin indicates that such behavior is caused by interpolation.
![image](https://user-images.githubusercontent.com/20228327/181147121-03240e03-fc22-41c8-960e-d585c11adb09.png)

When there are two pose really close to each other in Euclidean distance but a somehow large fitting error would lead to such jump in yaw. One example is shown in the following image.

![??](https://user-imag

[2022-07-29 03:54] #1019 closed

[2022-07-29 09:09] BonoloAWF opened #1468 "Bus ODD specific features"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

As part of the Bus ODD, the vehicle is required to approach a bus stop, stop within the designated area whilst

[2022-07-31 13:21] sujithvemi commented on #1121
Hi @h-ohta ,

Sorry for the late reply, my laptop had some motherboard issue and was sent for service, I just got it couple of days ago.

I have tried it with the new map and the behavior is as shown in the video, detection area markers are only shown when the obstalce is in the specified area. You can verify that in the video attached. Also, my colleague has observed the same in an independent te

[2022-08-01 02:24] liuzf1988 commented on #908
@xmfcx So busy these days, sorry for not being able to reply to the message in time.  If there is no misunderstanding, we need to write a document for converting raw Lidar Centerpoint model to TVM based modules. Apart from the document, the code for compiling the raw model will also be provided. I'll try to get these done by this weekend.

[2022-08-01 04:04] takayuki5168 commented on #966
@angry-crab
Thank you so much for your further investigation.

Could you look into the reason why the yaw of the third red point has an error? I guess if this third red point is removed, the spline interpolation will be stable.
![image](https://user-images.githubusercontent.com/20228327/182069823-65f85fe5-d95e-41dd-8007-83cdbf32ec03.png)

As you know, yaw in the behavior path planner is calculated

[2022-08-01 04:16] taikitanaka3 opened #1476 "behavior path planner better verbose"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

for the most of cases behavior path planner has zero shift at departure and return shift point
so this warning

[2022-08-01 05:44] cyn-liu commented on #1375
We added odometer information (wheel speed + IMU) to re-run the experiment and found that although the EKF output pose_with_covariance changes smoothly with a small fluctuation range, it does not solve the real-time problem. (Perhaps this is a characteristic of the algorithm itself, and the calculation of EKF  covariance  depends on the results of NDT.)

We did several experiments to plot the grap

[2022-08-01 06:26] cyn-liu commented on #1375
Thanks for your job and I would like to ask about the progress of this PR so that I can make improvements to the localization module based on this work.
Looking forward to your reply!

[2022-08-01 08:08] taikitanaka3 commented on #1476
The problem of this is CandidateOutput is created even though candidate lateral shift is zero shift

[2022-08-01 08:14] taikitanaka3 commented on #1476
@shulanbushangshu
Thank you for PR I have confirmed this removes unnecessary candidateOutputs.
 However zero shift should not be one of the candidateOutputs. Do you know why this happends?
![image](https://user-images.githubusercontent.com/65527974/182103684-4f846297-65d6-42b7-82e1-42fcf9289ffe.png)

[2022-08-01 09:40] shulanbushangshu commented on #1476
@taikitanaka3 .
zero shift becoming one of the candidateOutputs  seems unlikely for the reason：
1.In the planCandidate of AvoidanceModule, it just set value to the shifted point when the new_shift_points are found;
2. when there are no new_shift_points,zero is set to shift_point of planCandidate by default.

I think the original purpose is to prevent the calculation error of offset distance and ad

[2022-08-01 09:48] taikitanaka3 commented on #1476
@shulanbushangshu cc: @rej55
Thankyou I think we should not make candidateOutput like lane change module.
because zero shift can introduce bugs

[2022-08-01 16:26] mitsudome-r opened #1487 "Wrong use of min_velocity_for_map_based_prediction parameter"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In map_based_prediction package, there is a parameter called `min_velocity_for_map_based_prediction`. The description th

[2022-08-01 22:02] meliketanrikulu commented on #551
Added applanix POS LVX GNSS-INS driver.

[2022-08-01 23:55] angry-crab commented on #494
@08beeqtufail-sudo
Hi, thank you for the information. I was wondering if it was possible for you to provide your test data(ros2bag, pcd, lanelet map, and parameter setting).

[2022-08-02 03:47] taikitanaka3 opened #1491 "screen capture fails before updating current time"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

[autoware.universe/screen_capture_panel.cpp at 08d7a12b16c9b74e3afe578858db79e841c1000e · autowarefoundation/autoware.un

[2022-08-02 04:12] #1491 closed

[2022-08-02 06:07] taikitanaka3 commented on #1476
@shulanbushangshu
Thank you for fix PR but this error is caused due to
clearWaitingApproval() when there is no new shift points and  then planWaitingApproval() is called and continue calling planWaitingApproval() even though there is no new shift points

@rej55 -san is going to fix this error with avoidance distance calculation so can you wait until he fix this issue with RTC?

[2022-08-02 06:09] mehmetdogru commented on #1231
@satoshi-ota

I could not reproduce the error, so could you share the scenario `UC-001-0002_PSim_1_case2_v2` and the lanelet2 map used?

[2022-08-02 06:48] angry-crab commented on #966
@takayuki5168
The plotted XY and yaw from `behavior_velocity_planner` is as follows:

XY

![xy_velocity](https://user-images.githubusercontent.com/93699235/182308296-428a1a56-829f-4969-a68d-707be8825178.png)

Yaw(Ignore the last point, it was added to make sure the size of output matches x and y)

![yaw_velocity](https://user-images.githubusercontent.com/93699235/182308332-fc169f3d-9016-4daa-ba7a-

[2022-08-02 07:27] raminterpl commented on #677
1.) SensorsCalibration toolbox v0.1

SensorsCalibration is a simple calibration toolbox and open source project, mainly used for sensor calibration in autonomous driving.
https://github.com/PJLab-ADG/SensorsCalibration

**Lidar2camera:**
https://github.com/PJLab-ADG/SensorsCalibration/blob/master/lidar2camera/README.md
https://github.com/PJLab-ADG/SensorsCalibration/tree/master/lidar2camera

**Lid

[2022-08-02 07:42] mitsudome-r commented on #1253
@mitsudome-r to provide additional documentation regarding emergency handler

[2022-08-02 07:46] mitsudome-r commented on #1228
@xmfcx Is the bag file ready?

[2022-08-02 07:51] mitsudome-r commented on #1256
@mikechan0731 has tried rebuilding the stack and still had the issue. However, he decided to use the default Autoware docker to avoid the issue. We will close this issue until someone else faces similar issue with his/her custom docker image.

[2022-08-02 07:56] mitsudome-r commented on #1008
From the ASWG meeting, we have decided to close this issue and let LeoDrive/ITRI to create more specific issues once they find any problems during integration.
@mehmetdogru will have a final look on this issue to see if there are still remaining issues from the past discussion.

[2022-08-02 07:58] sglee-morai opened #1496 "Help needed in matching a PCD map created within a simulator with a Lanelet2 data created in real-world"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] #1498
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Basically, help from any member who is familiar with matching PCD data to lanelet2 data is needed to solve the following problem

A PCD map for ITRI Campus is created u

[2022-08-02 08:00] mitsudome-r commented on #677
@raminterpl Thank you for invetigation.
Could you create PR to https://github.com/autowarefoundation/autoware-documentation/blob/main/docs/how-to-guides/calibrating-your-sensors.md to share the results in the documentation?
Once that is done, we can close this issue.

[2022-08-02 08:18] mitsudome-r commented on #567
@brkay54 Thank you for running the test.

Discussion from ASWG:
* @brkay54 to try more tests in different map with different path (e.g., with more curves)
* Also, providing screenshots of the tests might help us imagine what is causing the larger error in `mpc_follower`

[2022-08-02 08:25] sglee-morai commented on #551
I have a question. Is it planned that [OS1-64-ROS2 driver](https://github.com/ros-drivers/ros2_ouster_drivers/tree/ros2) will be included in the Autoware.Universe like Velodyne drivers are? I see OS1-64 in the comment above, but cannot find a PR regarding that.

[2022-08-02 08:26] mitsudome-r commented on #551
@mikechan0731 Could you update [this comment](https://github.com/autowarefoundation/autoware.universe/issues/551#issuecomment-1149385309) to add the link to the drivers that you are using?

[2022-08-02 08:30] mitsudome-r commented on #1009
@miursh @wep21 Did you make any progress on this issue?

[2022-08-02 08:38] sglee-morai opened #1498 "I've searched other issues and no duplicate issues were found."

[2022-08-02 08:49] wep21 commented on #1009
I can't reproduce the issue, but from the log my colleague shared, I guess some components which are supposed to exist aren't found as below.
[code]

[2022-08-02 08:52] mitsudome-r commented on #1496
@sglee-morai If you would like to move pointcloud you can either use pcl_tools or CloudCompare
* pcl_tools: install `sudo apt install pcl-tools` and run  pcl_transform_point_cloud
* CloudCompare: https://www.danielgm.net/cc/

[2022-08-02 08:57] mitsudome-r commented on #1418
@mitsudome-r to test this with planning_simulator this week.

[2022-08-02 09:00] shulanbushangshu opened #1499 "StepPolygon of obstacle_stop_planner is instable when changing the params of avoidance_module"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

After changing the param("min_nominal_avoidance_speed"、"nominal_lateral_jerk") of avoidance_module in behavior_path_plan

[2022-08-02 09:58] YamatoAndo commented on #1421
@meliketanrikulu
I would like to put a flag in ekf_localizer not to estimate the position until the initial position is received.
Any opinions on that?

※ Note that this is a temporary fix and the same problem may occur when re-initializing.

[2022-08-02 10:20] meliketanrikulu commented on #1421
Hello @YamatoAndo . We solved this problem temporarily by publishing the initial pose for a second.Maybe it is not necessary to keep this period for so long.
Both of these methods seem to offer temporary fix.   We can talk about this again according to the method to be used for reinitialization. If a method such as slowing down or stopping the vehicle is used, we can send the initial pose for a wh

[2022-08-02 11:59] senagolcuk commented on #551
@meliketanrikulu thanks for Applanix Driver. I'm updating the table for the new driver.

[2022-08-02 12:48] mehmetdogru commented on #1008
@xmfcx please open up the issues if you already didn't do so.

I think we can close this issue.

[2022-08-02 12:48] #1008 closed

[2022-08-02 23:55] miursh commented on #1009
I made the environment to reproduce this and am debugging, but still can't figure it out.

[2022-08-03 05:46] NorahXiong commented on #1151
The bug is caused by queuing a node more than once and modifying the node elements for different queues. Such operation results in incorrect data association and exploded when retrieving a queue to generate the final path.  It can be fixed by creating an new node instance for data storage every time the node is queued.  Another strategy is just to forbid a node to be queued second time just as the

[2022-08-03 06:16] yukke42 opened #1505 "Create a new common package for TensorRT"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Since some perception packages implement TensorRT libraries independently, new updates or features are implemen

[2022-08-03 08:12] angry-crab commented on #602
Duplicates of the related RP is found. Will try to merge this feature into the existing `localization_evaluator`.

[2022-08-03 08:28] YamatoAndo commented on #1421
@meliketanrikulu

Sure!

[2022-08-03 09:18] TakaHoribe opened #1509 "Remove duplicated ControlMode msgs"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Now there are duplicated control mode messages.
 - [autoware_auto_vehicle_msgs/msg/ControlModeReport.idl](https

[2022-08-03 09:31] TakaHoribe commented on #1509
- ad_api_adaptor: https://github.com/tier4/tier4_ad_api_adaptor/tree/refactor/remove-tier4-control-mode-msg
- autoware_auto_msgs: https://github.com/tier4/autoware_auto_msgs/blob/refactor/remove-tier4-control-mode-msg
- tier4_autoware_msgs: https://github.com/tier4/tier4_autoware_msgs/tree/refactor/remove-tier4-control-mode-msg
- pacmod_interface: https://github.com/tier4/pacmod_interface/tree/ref

[2022-08-03 11:12] TakaHoribe commented on #1509
The `ControlMode` in tier4 msgs will be removed.

However, the service to tell the `ControlMode` is needed for the current implementation, and thus add ControlModeCommand.srv` to autoware_auto_vehicle_msg. Since there will be two `ControlMode` messages in topic amd service, it is desirable to remove one of them after discussion.

[2022-08-03 12:28] #662 closed

[2022-08-03 12:38] miursh commented on #1384
@storrrrrrrrm

I agree with this. Could you make change for it in [this PR](https://github.com/autowarefoundation/autoware.universe/issues/url)

[2022-08-04 02:12] angry-crab commented on #966
After discussing with @takayuki5168 , we believe there is something wrong with the implementation of interpolation because the input points should always overlap with the output points since the original points are kept.

[2022-08-04 02:18] storrrrrrrrm commented on #1384
sure，just one question,where is 'this PR',when i click this,it jumps to https://github.com/autowarefoundation/autoware.universe/issues/url

[2022-08-04 12:09] miursh commented on #1384
oops, sorry. I mean your PR.
https://github.com/autowarefoundation/autoware.universe/pull/1401

[2022-08-04 13:28] brkay54 opened #1521 "control_performance_analysis sometimes calculates wrong closest trajectory point"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In current implementation, control_performance_analysis tool calculates wrong closest index. I printed the closest index

[2022-08-04 13:55] mehmetdogru opened #1523 "Add safety slow down feature for specific crosswalks"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Related discussion: https://github.com/orgs/autowarefoundation/discussions/2767

With the current implementatio

[2022-08-04 22:50] beyzanurkaya opened #1524 "bug scenario_test_runner speed limit doesn't work"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I created several scenarios with the scenario editor. these scenarios had speed limit iterations. I tried to ensure that

[2022-08-05 02:44] taikitanaka3 commented on #1476
@shulanbushangshu
@rej55 -san solved this issue with this PR can you re-open this issue if you have any farther problem?
https://github.com/autowarefoundation/autoware.universe/pull/1510

[2022-08-05 02:44] #1476 closed

[2022-08-05 03:25] VRichardJP commented on #1496
I second pcl-tools. In the past I had a similar issue: I created a lanelet2 map from JOSM (georeferenced) and had to match it on the PCD (which was not). You can use the following principle:
1. Identify 2 points (or more) that are both on your lanelet and pcd. For each, find its global (latlon/mgrs/utm) and local (pcd) coordinates
2. compute global and local coordinate of the center point
3. compu

[2022-08-05 04:06] #947 closed

[2022-08-05 08:38] angry-crab commented on #966
@takayuki5168 I think the previous error of interpolation we discussed during the meeting is actually caused by plotting.
[error](https://user-images.githubusercontent.com/93699235/182310194-953d98f2-cc1d-42d9-a133-3f8ffebaf5ee.png)
I plotted the points separately and found out that the inputs do exist in the interpolated outputs. The input overlaps with the output as expected. The reason it appea

[2022-08-08 01:43] takayuki5168 commented on #966
@angry-crab Thank you for your report.
I think now I got the cause.

As shown in the figure, there is a slight difference of s (s is the length along the path) between behavior path points (black ones with a wide interval, input points for spline interpolation) and behavior vel points (red ones, the points with certain interval) since `black l1` is not `red l1 + l2 + l3`.
black a2 and red a4 are t

[2022-08-08 11:23] #1521 closed

[2022-08-08 11:24] raminterpl commented on #1328
@alanmengg : Can you please provide a map that used for testing

[2022-08-08 11:43] raminterpl commented on #980
@alanmengg : Hi, can you pls share me map used for this parking scenario

[2022-08-08 15:21] mitsudome-r commented on #1523
Could you create PR for additional tags supported by Autoware? https://github.com/autowarefoundation/autoware_common/blob/main/tmp/lanelet2_extension/docs/lanelet2_format_extension.md

[2022-08-08 15:54] brkay54 opened #1543 "Vehicle starts move before the steering angle converged"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Hi, I limited the `steer_rate_lim_dps` to 5.0 dps in lateral controller. When re-initialize the vehicle, vehicle starts

[2022-08-08 23:36] takayuki5168 commented on #1543
cc @TakaHoribe

[2022-08-09 02:55] WfHit opened #1545 "the implementation of sigmoid() in lidar_centerpoint package is not right"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The implementation of sigmoid()  in lidar_centerpoint package is not right. The current implementation will return value

[2022-08-09 05:09] miursh commented on #1545
@yukke42 Could you please confirm this?

[2022-08-09 05:45] yukke42 commented on #1545
@WfHit Thank you for your kind feedback. Cloud you make a PR to fix this bug?

[2022-08-09 08:37] meliketanrikulu commented on #1426
Hi @YamatoAndo . You are right this problem related to base_link - lidar calibration. Thanks for your help.

[2022-08-09 10:17] WfHit commented on #1545
OK, I will fix it as soon as possible

[2022-08-09 11:34] #1426 closed

[2022-08-09 11:41] meliketanrikulu commented on #1421
Is there related PR

[2022-08-09 12:35] beyzanurkaya opened #1547 "vehicle_info_util image is wrong"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

left_overhang is incorrectly defined in the readme file in the vehicle_info_util package.

### Expected behavior

The co

[2022-08-09 15:03] brkay54 commented on #567
There are same updates about testing.
There were two blockers for me.

- Firstly, I realized that heading and lateral error were increasing so much in straight road. So I investigated that and I found that `control_performance_analysis` tool sometimes choose wrong nearest trajectory point. It was fixed with this [PR](https://github.com/autowarefoundation/autoware.universe/pull/1522).

- Secondly,

[2022-08-09 15:44] sglee-morai commented on #1496
@mitsudome-r @VRichardJP Thanks a lot for providing highly detailed guidelines!

# PCD map sample from the simulator & ITRI Campus Lanelet2 Map captured in the real-world campus

Here is a [download link](https://drive.google.com/file/d/1n3mLfaAUMB1pcAmU7rHvduW3ZJRH5faP/view?usp=sharing) for the initial sample PCD map, created using MORAI SIM: Drive, that you might take a look at if you'd like.

B

[2022-08-09 16:57] xmfcx commented on #1420
@VRichardJP Is this issue resolved? Are there any updates on this issue?

[2022-08-09 17:01] xmfcx commented on #1384
@storrrrrrrrm [The mentioned PR](https://github.com/autowarefoundation/autoware.universe/pull/1401) only adds the test and this issue still needs to be resolved right?

[2022-08-09 17:02] xmfcx commented on #494
@08beeqtufail-sudo ping.

[2022-08-09 19:20] ralwing commented on #1384
base_link could have a different name. e.g. in Carla simulator it's hero. So IMHO this parameter should be configurable.

[2022-08-10 00:18] VRichardJP commented on #1420
@xmfcx I have not had the chance to test the slope compensation on site yet. At least the cause of my issue has been identified. Maybe we can close this issue, and I'll open a new one if I there is a problem with `enable_slope_compensation` option (when I get the chance to test it.)

[2022-08-10 02:18] storrrrrrrrm commented on #1384
no, i added a z_offset and solved this issue  already in #1401, but  @miursh  thought it is odd and it is better to set base_frame to a const value,@badai-nguyen pointed a way to test ray_ground_filter without using unit test,i did not try this since recently i am busy with somthing else.

[2022-08-10 05:12] #1545 closed

[2022-08-10 08:45] BonoloAWF commented on #1468
cc: @mitsudome-r @MertClk @hueirutseng @xmfcx @HaoruXue
Meeting minutes from AWF/ITIR/LeoDrive meeting held on 10 August 2022:
1. Timelines for bus ODD
- ITRI bus will be tested on campus in September, post vehicle integration
- LeoDrive internal project final tests and demo are in September. The LeoDrive bus will be available for the AWF demo until 31 December 2022
- AWF - the bus ODD demos will

[2022-08-10 09:38] cyn-liu opened #1562 "Unnecessary computing resource consumption"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In the [ekf_localizer.hpp](https://github.com/autowarefoundation/autoware.universe/blob/main/localization/ekf_l

[2022-08-10 10:54] MertClk commented on #1468
**ISUZU Bus Displays**

Below, I'm sharing displays and panel existing on our bus. We can use them to inform environment and passengers.

1. Front Destination Display
![20220810_125838](https://user-images.githubusercontent.com/15357471/183883543-c83965ac-a8e7-4038-849d-4edf0cbb2763.jpg)

2. Right Side Destination Display
![WhatsApp Image 2022-08-10 at 1 45 50 PM](https://user-images.githubusercon

[2022-08-10 14:04] brkay54 commented on #567
Both MPC and pure_pursuit were tested in three different environment:

1. sample_vehicle + kashiwanoha_map
2. sample_vehicle + gebze_map
3. isuzu_vehicle + gebze_map

## Driving status

* Test - 1 sample_vehicle + kashiwanoha_map

| Series               | PP Min    | MPC Min   | PP Max   | MPC Max  | PP Average | MPC Average |
|----------------------|-----------|-----------|----------|----------|-

[2022-08-10 14:16] mehmetdogru opened #1568 "Some .md files have preview problems"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Usage of `<figure markdown>` and `<figcaption>` tags in some .md files like shown below causes visual problems since it

[2022-08-10 14:17] mehmetdogru commented on #1568
@xmfcx @kenji-miyake Could you take a look at this?

[2022-08-11 01:09] hueirutseng commented on #1468
ITRI Bus Display
1. Front display will show "Autonomous Bus"

![image](https://user-images.githubusercontent.com/101175763/184047232-9f4fe411-28cc-48ea-adf7-bb5266aa037e.png)

2. Interior display for passengers

![image](https://user-images.githubusercontent.com/101175763/184047625-b7ed6168-20ee-438b-b41a-5920e8fc3010.png)

3. Interior display for test driver

![image](https://user-images.githubus

[2022-08-11 01:17] kenji-miyake commented on #1568
@mehmetdogru The docs aren't for GitHub preview but MkDocs Material.
They use this feature: https://squidfunk.github.io/mkdocs-material/reference/images/#image-captions

For now, could you see https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_velocity_planner/crosswalk-design/ instead?
![image](https://user-images.githubusercontent.com/31987104/184048657-6e5487ba-dc04-4

[2022-08-11 01:18] kenji-miyake commented on #1568
cc @satoshi-ota Please comment on this if you have any ideas. :pray:

[2022-08-11 04:03] jason914 commented on #551
|Sensor Type       | Sensor Model            |Sensor Driver Status        |
| ----------------- |------------------------|-----------|
|Radar                  |Delphi ESR                 |WIP, Estimated completion date is the end of August|
|Lidar                    |Ouster OS1-64          |[ros2-ouster-driver](https://github.com/ros-drivers/ros2_ouster_drivers) |
|GNSS-INS            |Trimble BX9

[2022-08-11 08:01] beyzanurkaya commented on #1524
setting  speed limit works commit 970f5172929b9bd25e6d34103965a65753ee1245.

[2022-08-12 04:54] alanmengg commented on #980
here is the map
[map.zip](https://github.com/autowarefoundation/autoware.universe/files/9313732/map.zip)
p

[2022-08-12 08:43] mehmetdogru opened #1574 "Add vehicle footprint to surround_obstacle_checker for debugging"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

It is hard to debug surround_obstacle_checker package without a footprint polygon published wrt the distance ca

[2022-08-13 09:07] kenji-miyake commented on #382
I think it's resolved by https://github.com/autowarefoundation/autoware-github-actions/pull/172.

[2022-08-13 09:07] #382 closed

[2022-08-14 16:41] doganulus opened #1580 "Fail build tvm_utility"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Fresh Autoware install in Docker fails with the following message.

[code]

### Expected behavior

The build must comple

[2022-08-15 00:52] takayuki5168 opened #1581 "Deal with U-turn and crossing path"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, Autoware sometimes cannot deal with following U-turns and crossing paths (edge cases), because of ne

[2022-08-15 02:25] liuzf1988 commented on #908
@ambroise-arm
Referring to the official TVM documentation and the existing script (tvm_cli.py) of autoware model zoo, I wrote the independent script for compiling the neuron network model.  However, there are some issues that may need to confirm with you:

- Which files need to be uploaded to the cloud

In the original script, i.e.,`tvm_cli.py`, the command used to compile the model is: `graph, li

[2022-08-15 04:12] takayuki5168 commented on #1581
common
https://github.com/autowarefoundation/autoware.universe/pull/1396
https://github.com/tier4/autoware_launch/pull/437
https://github.com/autowarefoundation/autoware.universe/pull/1582

behavior path planner

behavior velocity planner

obstacle avoidance planner

obstacle stop planner
https://github.com/autowarefoundation/autoware.universe/pull/1552

motion_velocity_smoother
https://github.com

[2022-08-15 06:08] angry-crab commented on #966
@takayuki5168 Thank you for the graph. Sorry for this late reply because I was off last week. I think the issue is caused by limitation of 1d interpolation. The following plot is y vs s. You could see this is not a "function" because each input s might correspond to two different y.

![s_y](https://user-images.githubusercontent.com/93699235/184584549-843a5e2c-c16a-4c87-8e81-57b54bb245db.png)

This

[2022-08-15 10:12] ambroise-arm commented on #908
@liuzf1988

If the current script cannot be used as is, do you think it can be modified to accommodate for the compilation of Lidar Centerpoint? That would be preferable to having standalone scripts per model.

#### Files

For the distribution of the neural network, the idea would be to use the [ModelZoo](https://github.com/autowarefoundation/modelzoo/) repository for that. The onnx neural network

[2022-08-15 11:29] beyzanurkaya commented on #1524
This problem is caused by scenario_simulator_v2. I created this issue in scenario_simulator_v2. You can check [here](https://github.com/tier4/scenario_simulator_v2/issues/856)

[2022-08-15 23:29] satoshi-ota commented on #1568
[background]

Previously, I tried to align center by using html tags as follows, but it is not able to shown in [github.io pages](https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_velocity_planner/crosswalk-design/) because of incorrect converting of the relative image path. As far as I know, if we use html tags as follows, the absolute paths parse like `/autoware.unive

[2022-08-16 05:46] #1562 closed

[2022-08-16 06:03] angry-crab commented on #966
@takayuki5168 Thank you for the graph. It is truth that the black l1 is shorter than the red segments added up. However, it would not have too much impact on the result because even though a2 and a4 differs, they could just be considered just as different points. Further, the `has_almost_same_value` check is going to add more points anyway.
Here is another plot. I tried to isolate the interpolatio

[2022-08-16 07:27] mitsudome-r commented on #677
Looks like there is already a PR so we can close the issue.
https://github.com/autowarefoundation/autoware-documentation/pull/173#pullrequestreview-1073609330

[2022-08-16 07:27] #677 closed

[2022-08-16 07:31] sglee-morai commented on #1496
# [22-08-16] Update

### Trying to test, but stuck at another issue (lidar driver)
I created some PCD maps and tried to do some testing before closing this issue.

For testing, I'm trying to run MORAI SIM: Drive with Autwoare to see whether localization is working fine, but I'm struggling in starting a lidar driver for Autoware.Universe

- Velodyne models and Ouster models of the MORAI SIM: Drive

[2022-08-16 07:44] angry-crab commented on #1499
This is related to #966

[2022-08-16 07:47] xmfcx commented on #628
https://github.com/autowarefoundation/autoware.universe/pull/1181 is waiting to be reviewed.

[2022-08-16 07:56] xmfcx commented on #563
https://github.com/autowarefoundation/autoware-documentation/pull/180 This is being worked on.

[2022-08-16 07:58] xmfcx commented on #551
@senagolcuk could you update the list with the https://github.com/autowarefoundation/lucid_vision_driver driver?

[2022-08-16 07:59] mitsudome-r commented on #1009
@miursh is off for a week and won't be able to work on this until next week.

[2022-08-16 08:05] xmfcx commented on #669
Related issue: https://github.com/autowarefoundation/autoware-projects/issues/11

[2022-08-16 08:12] xmfcx commented on #1421
Fixes:
a) Publish the initial pose multiple times.
  - Can cause unwanted consequences.
b) Ekf doesn't publish pose until initialized.

[2022-08-16 08:14] mitsudome-r commented on #1421
I think new API for initialization is being discussed in this PR https://github.com/autowarefoundation/autoware.universe/pull/1431.

[2022-08-16 08:17] xmfcx commented on #1496
https://github.com/tier4/velodyne_vls is being used in the Isuzu bus for velodyne driver.

[2022-08-16 08:18] mitsudome-r commented on #1496
Yes.
You should be able to provide it as UTM origin by giving as a parameter to the loader with something similar to https://github.com/autowarefoundation/autoware.universe/blob/main/map/map_loader/config/lanelet2_map_loader.param.yaml

[2022-08-16 08:25] xmfcx commented on #1568
Is it possible to have link in the universe .md pages to the corresponding universe documentation? Maybe created by the tool that creates documentation?

[2022-08-16 08:38] xmfcx commented on #1420
@VRichardJP Ok I will close this issue then.

[2022-08-16 08:38] #1420 closed

[2022-08-16 08:48] xmfcx commented on #1328
@alanmengg could you provide map and steps to reproduce this issue?

[2022-08-16 08:50] xmfcx commented on #494
@08beeqtufail-sudo could you provide test data so that we can reproduce the issue?

[2022-08-16 08:51] xmfcx commented on #1524
This issue belongs to https://github.com/tier4/scenario_simulator_v2/issues/856 so, closing it here.

[2022-08-16 08:51] #1524 closed

[2022-08-16 09:30] kenji-miyake commented on #1568
@xmfcx I think it's possible with `mkdocs-macros`. Just write `{{ page }}` and add some conversion.
https://mkdocs-macros-plugin.readthedocs.io/en/latest/macros/

![image](https://user-images.githubusercontent.com/31987104/184846665-2aa0dc0c-76ba-4ca1-9b8c-1990e1a9e530.png)

[2022-08-16 09:32] kenji-miyake commented on #1568
Ah, no. We can't write it in Markdown files. lol
Sorry, forget about it.

[2022-08-16 09:34] kenji-miyake commented on #1568
So, I think the only way is to write the documentation URL manually, but it takes some effort.

[2022-08-16 10:11] alanmengg commented on #1328
sorry, I just saw your request. here is the map
[map.zip](https://github.com/autowarefoundation/autoware.universe/files/9349758/map.zip)

[2022-08-16 10:30] cyn-liu opened #1598 "Using INS sensor and add a way to calculate gnss_pose_cov orientation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Considering that many users use INS (integrated navigation system) instead of separate GNSS, IMU devices, is it

[2022-08-16 11:28] BonoloAWF commented on #1580
@ambroise-arm @raminterpl  have you encountered this issue in your work with TVM?

[2022-08-16 11:33] #1547 closed

[2022-08-16 11:37] ambroise-arm commented on #1580
I believe this happens because tvm_utility was merged recently and the new "tvm_vendor" dependency it introduces wasn't yet part of the docker image. Looking at https://github.com/autowarefoundation/autoware/pkgs/container/autoware-universe/versions?filters%5Bversion_type%5D=tagged it seems a new version of the docker images is being rolled out, so it should be fixed when that completes.

[2022-08-16 13:54] senagolcuk commented on #551
@xmfcx I updated it.

[2022-08-16 13:54] xmfcx commented on #1228
It seems all present messages were recorded instead of just the sensor messages. I will extract the sensor messages using this tool https://github.com/Kettenhoax/ros2bag_tools and upload the bag file.

[2022-08-16 22:49] djargot commented on #669
I have finished a node for extraction of ground truth point clouds of ground and objects (https://github.com/djargot/pcl_div). Using the node, I extracted data from ROS bag provided by MORAI and used segmentation metrics (#1600) to calculate quantitative results of ground segmentation quality.

Example results from segmentation metrics for a single point cloud:
![image](https://user-images.githubu

[2022-08-17 02:16] kosuke55 commented on #1543
@brkay54
How about enabling the following options?
- [keep_steer_control_until_converged](https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_control_launch/config/trajectory_follower/lateral_controller.param.yaml#L60)
- [enable_keep_stopped_until_steer_convergence](https://github.com/autowarefoundation/autoware.universe/blob/main/launch/tier4_control_launch/config/traje

[2022-08-17 06:11] YamatoAndo commented on #1598
We can use `GnssInsOrientationStamped.msg`.
https://github.com/autowarefoundation/autoware_msgs/tree/main/autoware_sensing_msgs

related PRs
https://github.com/autowarefoundation/autoware.universe/pull/1230
https://github.com/autowarefoundation/autoware.universe/pull/1419

[2022-08-17 06:33] IshitaTakeshi commented on #1421
By the way now I'm refactoring the EKF code and trying to find and resolve these problems but it takes a while

[2022-08-17 06:57] IshitaTakeshi commented on #1421
I think that the easiest way to resolve the problem of publishing the identity pose is

1. Create a flag that manages the initialization state
2. Make the flag true when receiving the initial pose
3. Update the pose using the messages from NDT and publish the estimated pose only if the flag is true

[2022-08-17 07:24] angry-crab commented on #602
Since #928 has already included most features of #1066 , this issue can be closed.

[2022-08-17 07:24] #602 closed

[2022-08-17 07:31] cyn-liu commented on #1598
thanks, LGTM!
this PR solve the problem of use INS orientation  as GNSS orientation.

[2022-08-17 07:54] IshitaTakeshi commented on #1421
I opened a draft PR to realize the above

[2022-08-17 09:37] #1598 closed

[2022-08-17 10:03] doganulus commented on #1580
I confirm that the build completes as expected using the images tagged `20220817`.

[2022-08-17 10:03] #1580 closed

[2022-08-17 10:40] BonoloAWF commented on #1468
All information has been provided. Closing.

[2022-08-17 10:40] #1468 closed

[2022-08-17 12:28] 08beeqtufail-sudo commented on #494
@xmfcx , @angry-crab sorry for the delay. I was off for a couple of weeks. I will soon provide you with the test data.

[2022-08-18 05:39] takayuki5168 commented on #966
@angry-crab
Seeing this plot, I remembered that matplotlib discretized the large values when plotting. We can see that some successive red points have the same value, and that's what I said.
![image](https://user-images.githubusercontent.com/20228327/185301411-de54d5a9-bdcc-4dbf-ad1b-631dba590bb6.png)

In this plot, the same matplotlib issue may occur.
I mean, the second red point and the second g

[2022-08-18 05:41] takayuki5168 commented on #966
However, as you pointed in this plot, there still is the issue of interpolation error.
![image](https://user-images.githubusercontent.com/20228327/185302656-e29c75eb-4969-4da8-b608-50f30ef0cc0c.png)

[2022-08-18 06:37] satoshi-ota commented on #1231
@mehmetdogru cc @mitsudome-r @TakaHoribe

Thanks for your contribute :+1: But unfortunatelly, I can't share the lanelet2_map because of lisence :bow:
I guessed that this strange bug maybe cause no matter whether we use scenario sim or not. So, I trying to reproduce this error in my local environment without scenario simulator. (but I could not reproduce the error, too. :pleading_face:)

[2022-08-18 08:55] sglee-morai commented on #1496
@xmfcx @mitsudome-r Thanks a lot for sharing!

I was following through how Autoware.Universe launches velodyne drivers, and I found this one: [sample_sensor_kit_launch/launch/lidar.launch.xml](https://github.com/autowarefoundation/sample_sensor_kit_launch/blob/main/sample_sensor_kit_launch/launch/lidar.launch.xml)

Is this the lidar configuration file when launching the Autoware using the [autowar

[2022-08-18 09:07] yukkysaito commented on #1384
I checked the code, but this `base_frame` parameter is not originally needed. because it is supported in [filter.cpp](https://github.com/autowarefoundation/autoware.universe/blob/main/sensing/pointcloud_preprocessor/src/filter.cpp#L70) as `input_frame` .

Also, ray ground filter and scan ground filter assume to work on base_link frame.
So, we need to remove `base_frame` and `input_frame` is fixed

[2022-08-18 14:51] #361 closed

[2022-08-19 00:51] #798 closed

[2022-08-19 06:19] angry-crab commented on #966
After discussing with @takayuki5168, I believe the issue is due to pairs of poses that are too close in distance, especially near the input poses of interpolation. Since interpolation forces the second derivative at input pose to be zero, close pairs of poses are assigned similar values. This fact give rise to a sudden change in yaw for the next consecutive poses.

[2022-08-22 06:15] NorahXiong opened #1643 ""Delete All Objects" function does not work"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

"Delete All Objects" function does not work after I updated code today. I clicked "Delete All Objects" button and the bu

[2022-08-22 06:21] taikitanaka3 commented on #1643
@NorahXiong
Could you share which object still exists?
If it is bus type object it will remain for a bit of time because of multi object tracker.

[2022-08-22 06:31] NorahXiong commented on #1643
I tried pedestrian and car and after several seconds both of them remain.
![image](https://user-images.githubusercontent.com/103234047/185853920-2e766641-b2f8-4266-95bc-7959b5ed693d.png)

[2022-08-22 06:41] taikitanaka3 commented on #1643
@h-ohta
Do you have any idea for this?

[2022-08-22 07:14] h-ohta commented on #1643
@taikitanaka3 Hmm, it works fine in my environment.
@NorahXiong Could you tell me the commit ID which you are using now?

[2022-08-22 07:46] HaoruXue opened #1647 "`tensorrt_yolo` sample yolov5 model throw error on inference"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The [tensorrt_yolo](https://github.com/autowarefoundation/autoware.universe/tree/main/perception/tensorrt_yolo) package

[2022-08-22 08:13] NorahXiong commented on #1643
commit ae56406ed19661ebda78cd52571f53a2a1ce16f4 (autoware.universe)
I also updated other repositories in autoware.repos.

[2022-08-22 08:23] h-ohta commented on #1643
@NorahXiong Thank you for your information.
I use same commit ID https://github.com/autowarefoundation/autoware.universe/commit/ae56406ed19661ebda78cd52571f53a2a1ce16f4, but problem does not happen in my envioronment...

Could you see some errors in the terminal when the problem occurs?
I would appreciate if you record some videos too.

[2022-08-22 10:49] NorahXiong commented on #1643
I recompiled the whole project and the problem still exists. No error message showed in the terminal(system_monitor not launched). Here is the [video](https://drive.google.com/file/d/1VIyeUN9JIt9rS7oxzzbmWVet6AUYueD6/view?usp=sharing).

[2022-08-22 15:07] BonoloAWF commented on #1647
@HaoruXue there was previously a discussion about prompting the user to download the necessary files required by any ML models or inference frameworks. A similar solution could be provided for this bug to prevent the CUDA error. Check https://github.com/autowarefoundation/autoware/discussions/2508

[2022-08-23 00:57] taikitanaka3 opened #1658 "invalid argument at interpolation validateKeys()"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

[code]

The way to solve this

1. allow same query key
this PR

2. Do not insert same query key to add "DOUBLE_EPSILON"

[2022-08-23 01:04] taikitanaka3 commented on #1643
@NorahXiong
This is how to use delete all object tool
can you try this?
https://user-images.githubusercontent.com/65527974/186045685-e6415aea-943b-4290-9239-d788a262f73c.mp4

[2022-08-23 02:02] NorahXiong commented on #1643
It works. It seems I have misunderstood the usage. Sorry for taking your time. I'll close the issue.

[2022-08-23 02:03] #1643 closed

[2022-08-23 04:54] angry-crab commented on #966
In conclusion, adjusting `epsilon` solves the issue. Setting `epsilon = 0.2`, we have the following trajectory.
![epsilon](https://user-images.githubusercontent.com/93699235/186072896-56f1d55e-f3d9-4702-b594-da4836d33ca0.png)

[2022-08-23 06:10] shulanbushangshu commented on #1499
yes,the"skip_optimization" is false when simulation.
the static simulation is:
![Screenshot from 2022-08-23 14-01-15](https://user-images.githubusercontent.com/102840938/186082467-7bae181b-ae34-44c0-9ad9-234162364592.png)

 the dynamic simulation is:
https://user-images.githubusercontent.com/102840938/186082431-81a46967-e743-4929-b4b6-0b22537c808b.mp4

[2022-08-23 07:05] angry-crab commented on #1499
@shulanbushangshu Thank you for the information. Could you uncomment the following function the try again?

https://github.com/autowarefoundation/autoware.universe/blob/a9d844ef1f4cf23fffcdbc9cd96c7442fdd51c82/planning/obstacle_avoidance_planner/src/node.cpp#L1404

By default, avoidance_planner would interpolate yaw which causes the issue.

[2022-08-23 07:55] #1523 closed

[2022-08-23 09:57] shulanbushangshu commented on #1499
@angry-crab
Yes,I have uncommented the "fillYawInTrajectoryPoint"  and rebuilded.
The result is ok.The "fillYawInTrajectoryPoint" is commented  as it said:"Currently this implementation is removed since this calculation "
How could deal with this function "fillYawInTrajectoryPoint"?

[2022-08-23 10:05] raminterpl commented on #1328
Hi @alanmengg  : I confirm above issue.
Planning mode is not changing if there is an obstacle in the path of behavior path planner.

![MicrosoftTeams-image (10)](https://user-images.githubusercontent.com/87844531/186131606-1327198f-5585-4799-a92a-65d9ea925789.png)

[2022-08-23 10:49] raminterpl commented on #980
@alanmengg : I confirm above mentioned issue. Ego vehicle is not stopping before blocking obstacle in parking
![Screenshot from 2022-08-23 16-18-31](https://user-images.githubusercontent.com/87844531/186139782-8826d898-a41d-45cb-89dd-9fd7bee4e06d.png)
.

[2022-08-23 10:56] raminterpl commented on #980
@alanmengg : I confirm the same behavior . Ego vehicle is not stopping if there is an obstacle in trajectory path in Parkin
![Screenshot from 2022-08-23 16-24-05](https://user-images.githubusercontent.com/87844531/186141142-d3e2220a-86d7-4f65-b9a5-a34dde6a94d0.png)
g

[2022-08-23 15:03] #1496 closed

[2022-08-23 15:08] meliketanrikulu commented on #1375
When we test the ndt score, as you said, in general  the score falls below 2.3 when ndt deteriorates. However, we noticed that it does not immediately fall below this threshold value every time. [Here](https://www.youtube.com/watch?v=A49Ttdc-c9Y) I shared an example video of this. Even if the NDT fails, you can see here that it does not fall below the NDT score for a long time. Therefore, we have

[2022-08-23 15:59] mitsudome-r commented on #1647
I think .engine file will be automatically created if you specify the onnex file in the launch file.
@wep21 do you know how to solve this issue?

[2022-08-23 16:24] mitsudome-r commented on #1231
Removing @mehmetdogru from assignee until there is a reproducing procedure available in public.

[2022-08-23 16:53] mitsudome-r commented on #1499
@TakaHoribe @takayuki5168 Do you have any comments on this? Should we add a parameter to let the user choose whether to run fillYawInTrajectoryPoint() function?

[2022-08-24 03:31] HaoruXue commented on #1647
@mitsudome-r I tested not converting the onnx model in advance and now it works. Maybe it is something worth documenting that the package would download model directly and convert onnx upon first launch

[2022-08-24 03:54] mitsudome-r commented on #1375
From yesterday's ASWG, I have confirmed with LeoDrive that their current demand is to detect localization failure as quick as possible. We can discuss about automatic reinitialization as mid/long-term goal.

I'm currently asking localization team if they have any tools to help you find the best threshold or any idea that might help you
 detect the localization failure.

[2022-08-24 06:52] cyn-liu commented on #1375
To be honest, I dont think NDT match score is best choice to determine if the localization fails , I just compare the output of NDT match more reliably than the output of EKF to judge if the localization fails.

In the test video you shared, the NDT match score  is still higher than the threshold for a while after the localization is lost. Did you check the variable of iteration_num when this happ

[2022-08-24 09:45] meliketanrikulu commented on #1375
Thanks for your reply. Yes our iteration_number is 50. Maybe it's the reason for our results and I will check that. But I think it reacts much, much longer than it should. I also honestly think that NDT score is not a reliable method to detect localization error.
What do you think about comparing the position from Gnss with the localization output? Maybe we can get a faster result.

[2022-08-24 18:54] brkay54 commented on #567
@mitsudome-r I added instruction documentation in PR. We can close the issue now.

[2022-08-25 00:38] taikitanaka3 commented on #1658
this is fixed by blindspot inserting zero index same point so I close this but if this happened again I will reopen
https://github.com/autowarefoundation/autoware.universe/pull/1674

[2022-08-25 00:38] #1658 closed

[2022-08-25 01:38] takayuki5168 commented on #1499
@shulanbushangshu @mitsudome-r @angry-crab
It's ok to set a parameter whether to run fillYawInTrajectoryPoint or not.
But as commented, the calculation cost (mainly spline interpolation with dense spline interpolation) is large, so please set false by default.

I didn't look into how heavy the calculation cost is and how to make it faster.

[2022-08-25 08:07] angry-crab commented on #1499
@takayuki5168 @shulanbushangshu
This PR should fix the issue.
#1687

[2022-08-25 11:38] kosuke55 opened #1697 "obstacle_stop_planner does not work for backward driving"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

`obstacle_stop_planner` does not work for backward driving but publishes the path of the input as it is.

https

[2022-08-25 11:44] cyn-liu commented on #1375
GNSS usually requires RTK correction to achieve centimeter-level accuracy, but due to occlusion (mountains, shrubs, tall buildings, tunnels, etc.) and poor 4G signal coverage, RTK is always in not-fixed status and the accuracy will drop to meter-level, so it is important to consider a good signal throughout the test road when using GNSS.

My test as below shows, using the integrated GNSS initializ

[2022-08-25 11:48] kosuke55 commented on #1697
@mitsudome-r @TakaHoribe
Please allow me to share this as `pull_over` and `pull_out` will enable backward driving by default.

[2022-08-25 11:50] kosuke55 commented on #1697
add the limitation for backward driving to docs of `obstacle_stop_planner`
https://github.com/autowarefoundation/autoware.universe/pull/1696

[2022-08-25 14:34] BonoloAWF commented on #908
@liuzf1988 we are organising a meeting to discuss a way forward for TVM in Autoware. If you are interested in joining us please confirm your email address. Thank you.

[2022-08-25 14:57] meliketanrikulu commented on #1375
Hello @cyn-liu . You are not using RTK during this test, are you, or is your RTK connection dropping frequently? Your errors seem a little more than expected. Sometimes incorrect gnss-ins configurations can also cause this error. When we drive using RTK, our error values go up to a maximum of 40-50 cm (we work in an area with a lot of trees). During the general driving, our errors are 2 cm or less

[2022-08-26 03:58] takayuki5168 opened #1702 "Drivable area from behavior_path_planner is not expanded in this case."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Drivable area is not expanded in this case, which could be expanded some days ago.
![image](https://user-images.githubus

[2022-08-26 04:08] cyn-liu commented on #1375
We used RTK, the results of this bag test is only an extreme case, in general, the error is not large.

[2022-08-26 04:42] taikitanaka3 commented on #1702
@takayuki5168
Do you include this PR? https://github.com/autowarefoundation/autoware.universe/pull/1688

[2022-08-26 05:26] zulfaqar-azmi-t4 commented on #1702
The part that handle this situation is [included](https://github.com/zulfaqar-azmi-t4/autoware.universe/blob/0520de87b981ba9cfa8ff72ff97697806c18d37b/planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp#L1726:~:text=//%202.%20when%20there%20are%20multiple%20turning%20lanes%20whose%20previous%20lanelet%20is%20the%20same%20in), but for some reason it doesn't work as expecte

[2022-08-26 06:19] angry-crab commented on #966
#1687
This PR fixes the issue somehow, but it is correcting the yaw afterwards.

[2022-08-27 04:18] HaoruXue commented on #1647
After discussing with Mitsudome-san I'll submit a PR for documentation changes in `tensorrt_yolo`.

[2022-08-27 04:26] HaoruXue commented on #1256
@mitsudome-r I have the same issue with custom environment (Nvidia NGC TensorRT container with tensorrt 8.4.1-1+cuda11.6).

I fixed the issue by adding the following to `CMakeLists.txt`

[code]

You can find the commit [here](https://github.com/airacingtech/autoware.universe/commit/86a0f4fab9fd093f65f2373e8c2906af1d5ffcad).

It turns out `libcenterpoint_cuda_libraries.so` is built in the build/lid

[2022-08-27 05:34] wep21 commented on #1647
@HaoruXue @mitsudome-r
I added some patch to official yolov5 onnx to fit the current `tensorrt_yolo` implementation. Do you need a converter script?

[2022-08-29 05:58] beyzanurkaya opened #1715 "Can not give a new goal behind in the same lane"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

if you give EGO vehicle an initial pose and a goal pose in a lane with the same `lane_id`, but there is no lane with a d

[2022-08-29 06:11] beyzanurkaya opened #1716 "Checking only 4 corners in the drivable area"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

When checking whether the footprint of EGO is within the drivable area in `obstacle_avoidance_planner`, only th

[2022-08-30 00:18] HaoruXue commented on #1647
@wep21 if my understanding is correct, currently you need to run the node once to convert the onnx to tensorrt engine. For the sake of deployment are there alternative ways to do it that makes this happen at a earlier stage? Maybe running a converter script in the build process?

[2022-08-30 01:20] takayuki5168 commented on #1716
@beyzanurkaya Right. We have to fix two packages.
- 1. obstacle avoidance planner
    - calculates the path (where the path does not start from the ego pose as shown in your figure)
    - and check if the calculated path is within the road or not.
- 2. lane departure checker
    - subscribes the predicted path from the lateral controller
    - and check if the predicted path (which starts from the

[2022-08-30 06:42] mitsudome-r commented on #1253
I've started working on this. I think I will be able to create PR this week.

[2022-08-30 07:46] mitsudome-r commented on #567
@brkay54 Thanks for all your work! I'm closing this issue.

[2022-08-30 07:46] #567 closed

[2022-08-30 07:55] mitsudome-r commented on #551
Regarding ITRI's comment: https://github.com/autowarefoundation/autoware.universe/issues/551#issuecomment-1211529554
GNSS-INS driver is ready for testing, but the code is private now. They need internal review to find if they can share the code.

[2022-08-30 07:59] mitsudome-r commented on #1009
I'm looking for the root cause, but there might not be a quick fix.
As a current workaround, LeoDrive is launching the container launch and component launch separately.

[2022-08-30 08:00] mitsudome-r commented on #1421
@meliketanrikulu Could you confirm that the issue is fixed with the [PR](https://github.com/autowarefoundation/autoware.universe/pull/1607) ?

[2022-08-30 08:10] miursh commented on #1009
I'm sorry I couldn't find enough time to work for this.
If someone else can handle this, please help.

[2022-08-30 08:15] #1384 closed

[2022-08-30 08:28] mitsudome-r commented on #494
@08beeqtufail-sudo Will you be able to share the data?

[2022-08-30 08:30] mitsudome-r commented on #1715
This is a known limitation in the current planning stack.
@TakaHoribe Were there any plans to support a route with a loop?

[2022-08-30 08:32] #1702 closed

[2022-08-30 10:29] zulfaqar-azmi-t4 commented on #1328
Hi @alanmengg and @raminterpl
If I understand correctly, as lane change is approved while obstacle is blocking the lane changing path, you will not be continue.

Since the behavior path planning is using behavior tree, one running module will be executed at a time. So if we are performing lane change, before lane change executing is complete, we will not be able to run avoidance module. Performing

[2022-08-30 20:39] beyzanurkaya opened #1734 "some packages use only vehicle_width/2"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

When calculating the corners of the vehicle, half the width of the vehicle is used as the y point.. This will o

[2022-08-31 04:48] h-ohta commented on #1116
This issue is resolved by #1513 and #1458

[2022-08-31 04:49] #1116 closed

[2022-08-31 08:36] 08beeqtufail-sudo commented on #494
@mitsudome-r yes i will share the data, but it might take a couple of days. I will try to do it today, but i don't guarantee it.

[2022-08-31 13:32] beyzanurkaya commented on #1716
You're right. I updated description and figure.

[2022-08-31 18:07] chenzhengxi opened #1748 "this code is return false always"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

This if sentence return false always.

### Expected behavior

return true when find a new lane_id.

### Actual behavior

[2022-08-31 18:07] #1748 closed

[2022-09-01 01:37] kminoda opened #1750 "Pose initialization keeps running via `automatic_pose_initializer`"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

`automatic_pose_initializer`, which was recently added to autoware.universe in https://github.com/autowarefoundation/aut

[2022-09-01 01:45] kminoda commented on #1750
How about this? @isamu-takagi @YamatoAndo

[code]
to

[code]

[2022-09-01 02:14] isamu-takagi commented on #1750
Thank you for reporting. I will check it.

[2022-09-01 04:32] isamu-takagi commented on #1750
Fixed in this PR. https://github.com/autowarefoundation/autoware.universe/pull/1756

[2022-09-01 05:08] #1750 closed

[2022-09-01 07:01] beyzanurkaya opened #1759 "Turning radius is too short on curves"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Trajectory from motion planner is outside the drivable area as in the figure below

![Screenshot from 2022-09-01 09-48-3

[2022-09-01 07:35] beyzanurkaya opened #1761 "behavior_path_planner generated path outside of drivable area"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

If you give to EGO a goal pose a bit inclined , the path is still generated without considering of the width and length

[2022-09-02 04:55] takayuki5168 commented on #1761
@beyzanurkaya Thank you for your report.
That is because of smooth goal connection in behavior_path_planner.
https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_path_planner/#smooth-goal-connection

behavior_path_planner does not thoroughly consider if the path is inside the lane or not. Sometimes the path from the behavior_path_planner is outside the lanes with a tight r

[2022-09-02 04:57] takayuki5168 commented on #1761
If you want, I agree with implementing the function to reject the goal if it's near to the lane boundaries and the angle is weird like in your figure in mission_planner.

[2022-09-02 05:00] shmpwk commented on #980
@alanmengg
Looks like this issue is not completed yet?

[2022-09-02 09:36] maxime-clem commented on #1759
I was able to reproduce the issue using the planning simulator with the latest autoware (https://github.com/autowarefoundation/autoware/commit/44c70d33825617b56d8de5e6fe921000238238bd).
![image](https://user-images.githubusercontent.com/78338830/188110667-e13a9aca-1c9c-4f62-8152-71a273b8b790.png)
I will investigate possible solutions.

[2022-09-02 09:58] ito-san opened #1770 "Add some diagnostic information to be monitored in system_monitor"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

We are getting results that we should add some diagnostic information to be monitored into [system_monitor](htt

[2022-09-05 01:48] #966 closed

[2022-09-05 02:13] angry-crab commented on #1499
This issue can be closed since the PR is merged.

[2022-09-05 02:13] #1499 closed

[2022-09-05 03:27] alanmengg commented on #1328
thank u for your explanation.
my first thought was to change to another planning mode but it would cause other problems. but perform the lane changing maneuver in this case is  a better thing to do.

[2022-09-05 03:27] #1328 closed

[2022-09-05 08:23] mehmetdogru commented on #1734
assign @hasanzfdn

[2022-09-05 08:32] mehmetdogru commented on #1734
assigned to [@hasanzfdn](https://github.com/hasanzfdn)

[2022-09-05 08:35] hasanzfdn commented on #1734
I would like to work on this issue

[2022-09-05 09:36] takeshi-iwanari opened #1784 "Timeout happens at getTransform() in SurroundObstacleCheckerNode, and DynamicObject is not used to find surroud objects"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

- Where the issue happens: [SurroundObstacleCheckerNode::getNearestObstacleByDynamicObject()](https://github.com/autowar

[2022-09-05 10:08] 08beeqtufail-sudo commented on #494
@mitsudome-r  @xmfcx , At this stage, we feel that providing the rosbag and lanelet2 map might be an overkill. As i have earlier explained in my post, the problem is correctly identified. The fact that our perception and tracking system is different than that of autoware.universe, means we have x-velocity and y-velocity components of the tracked or detected objects. While in autoware.universe simu

[2022-09-06 02:42] maxime-clem commented on #1759
The main issue seems to be the road being too narrow for the dimensions of the vehicle, making it impossible to follow the road while keeping the footprint of the vehicle inside the lane.

**The solution I found is to expand the drivable area**, i.e., the space where the `obstacle_avoidance_planner` can do motion planning.
The drivable area is generated by the `behavior_path_planner` which has par

[2022-09-06 05:36] beyzanurkaya commented on #1761
I think it makes sense to adding a reject.  because as the vehicle tries to reach this point, a strange trajector occurs at the end of the goal position.

[2022-09-06 07:41] beyzanurkaya commented on #1761
![Screenshot from 2022-09-06 10-34-20](https://user-images.githubusercontent.com/32412808/188575837-618dcbed-ccee-4ec8-8176-f5c59ca09bb1.png)

[2022-09-06 10:38] shulanbushangshu opened #1793 "The path of behavior_path_planner is out of lane when obstacle is near intersection"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When the obstacle is near the intersection,the path of behavior_path_planner is out of lane.
The simulation is shown as

[2022-09-06 11:00] zulfaqar-azmi-t4 commented on #1793
Hi @shulanbushangshu,

Is it possible to turn on both drivable area marker and avoidance marker and share it with us?

[2022-09-06 14:55] mehmetdogru commented on #1759
@maxime-clem

Thank you for the solution you proposed!

There is one problem related to this approach. If there is an obstacle around and `path_planner/avoidance` module is registered then expanded drivable_area wouldn't be published for mpt to optimize the motion plan since drivable_area is expanded only in `path_planner/lane_following` module.

I will create a separate issue about it. I guess we

[2022-09-06 15:05] mehmetdogru commented on #1761
@takayuki5168

Thank you for your comments.

Is there a reason why we are excepting a goal which its orientation is not aligned with the road lanelet center line whether it is close to the lane boundaries or not?

My proposal is that any goal which is not aligned with the related lanelet center line should be discarded. What is your opinion about this?

[2022-09-06 15:54] #1151 closed

[2022-09-06 16:00] xmfcx commented on #1121
So we are expecting the area to be published even when there is no obstacle, but in different colors.

[2022-09-06 16:15] mitsudome-r commented on #908
We had a discussion among @ambroise-arm, @xmfcx , @BonoloAWF , @angry-crab last week on this topic. See [this comment](https://github.com/autowarefoundation/autoware/discussions/2816#discussioncomment-3507994) for the summary.

[2022-09-06 16:16] xmfcx opened #1797 "Separate point cloud container into a different launch file"

[2022-09-06 16:46] xmfcx commented on #1759
@mehmetdogru can you explain again, @maxime-clem doesn't understand about this worry.

[2022-09-06 16:46] mitsudome-r commented on #1761
@mehmetdogru Currently, it is already rejecting the pose with an angle larger than 45 degrees against the direction of the goal lane.

I could think of two solutions:
* make this a configurable parameter, or
* modify the mission_planning so that it will overwrite the goal pose with lane angle

 @TakaHoribe Any suggestions?

[2022-09-06 16:55] xmfcx commented on #551
Since we've gathered possible sensor drivers, we can close this issue.

[2022-09-06 16:55] #551 closed

[2022-09-06 16:57] xmfcx commented on #551
https://github.com/autowarefoundation/autoware-projects/wiki/Bus-ODD-Project related.

[2022-09-07 02:46] shulanbushangshu commented on #1793
@zulfaqar-azmi-t4
Near the intersection,the lanes may be separated.The drivable area in simulation is shown as below:
![Screenshot from 2022-09-07 10-33-47](https://user-images.githubusercontent.com/102840938/188776933-76cc8de8-d5c9-4558-b044-fc034b081955.png)

Maybe there should be function to deal with  obstacle near intersection.

[2022-09-07 04:54] maxime-clem commented on #1759
I opened a discussion about dynamically expanding the drivable area: https://github.com/orgs/autowarefoundation/discussions/2851

[2022-09-07 07:22] mehmetdogru commented on #1793
@shulanbushangshu

As a workaround -not just for intersection but for all the lanes-, if you would want ego vehicle to stay its lane while avoiding an obsacle you can switch following parameters to `false`:

https://github.com/autowarefoundation/autoware.universe/blob/c211845a40947212fee20b357d0bb49e2c6f77b0/launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behav

[2022-09-07 07:51] shulanbushangshu commented on #1793
@mehmetdogru
Yes,the drivable area can be reduced or expanded.However, you cannot change the flags automatically when you run code.And in the test map,the separated lanes  is "same_direction".And I think the obstacle near the intersection should be dealed with.

[2022-09-07 07:52] zulfaqar-azmi-t4 commented on #1793
@shulanbushangshu
Although in the avoidance module side, the trajectory is out of the lane, the `obstacle_avoidance_planner` will create the suitable trajectory by constraining the path within the drivable area. Example is as shown in below videos

https://user-images.githubusercontent.com/93502286/188820702-9583623b-28f0-4fdd-b2ef-e6c02c3d1060.mp4

https://user-images.githubusercontent.com/935022

[2022-09-07 08:36] shulanbushangshu commented on #1793
@zulfaqar-azmi-t4
Yes, I see what you mean.Maybe it is not a problem.
But at the intersection, if the stopping point is not good, the behavior path will block other vehicles of other lanes.
And in some special scenes like intersection,whether it must avoid the obstacles(Maybe the car can just stop).

[2022-09-07 09:25] mehmetdogru commented on #1759
@xmfcx @maxime-clem

Sorry for not being clear.

I will attach a video here that explains my worry.

You can see here clearly that when `path_planner/avoidance` module active (it means there are obstracles around/in the lane) drivable_area is not expanded. That is because drivable_area is extended only in `path_planner/lane_following` module except for some lane_changing cases.

As @maxime-clem su

[2022-09-07 09:32] mehmetdogru commented on #1761
@mitsudome-r

I am on the side of making `th_angle` a config param.
https://github.com/autowarefoundation/autoware.universe/blob/37e8c99425bffff076d0ec2bf302a8a63a3392a6/planning/mission_planner/src/mission_planner_lanelet2/mission_planner_lanelet2.cpp#L210

I can create a PR about it if everybody is ok with it?
@TakaHoribe @mitsudome-r

[2022-09-07 11:25] #1023 closed

[2022-09-07 13:14] takayuki5168 commented on #1761
@mehmetdogru
Only with the angle constraint, we still will get an invalid goal since there is almost no constraint for the lateral position of the goal.
Therefore the path from behavior path planner may be out of the drivable area. Is it ok for you?

What I meant by rejecting function is, in addition to the current angle constraint, kind of checking if the vehicle footprint with the goal pose is i

[2022-09-07 13:42] mehmetdogru commented on #1761
@takayuki5168

Yes we will however having the check if vehicle footprint will be inside the lane or not when it is on the goal pose would prevent [`behavior_path_planner/pull_over`](https://autowarefoundation.github.io/autoware.universe/main/planning/behavior_path_planner/#pull-over) working properly I am afraid. Isn't that so?

So since it is a design related topic about behavior_path_planner we

[2022-09-07 14:10] takayuki5168 commented on #1761
@mehmetdogru

I think there is no problem. There is a road shoulder lane in lanelet map for pull over. That means the vehicle footprint with the goal pose for pull over is inside the lane.
Is this what you are worrying about?

[2022-09-07 14:17] mehmetdogru commented on #1761
@takayuki5168

Yes that was my worry, thank you :) Then there is no problem checking also the vehicle footprint for goal pose. Then there will be 2 PRs related to this topic for `mission_planner`:

1) make `th_angle` a conf param
2) check vehicle footprint for goal pose and reject if it is outside of the lane boundaries

Do you agree with this?

[2022-09-08 05:07] TakaHoribe commented on #1759
@takayuki5168 Could you check this problem? Seems the Drivable Area generation does not have consistency between behavior_path_planner modules.

[2022-09-08 10:06] shulanbushangshu opened #1812 "The paths of behavior module and avoidance module are separated when the "enable_avoidance_over_opposite_direction" is false"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The paths of behavior module and avoidance module are separated when the "enable_avoidance_over_opposite_direction" is f

[2022-09-08 10:18] lilyildiz opened #1813 "Change shift to park when vehicle stops"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In autoware.universe, shift does not change when vehicle stopped. After initialized vehicle, vehicle's shift is

[2022-09-08 10:50] takayuki5168 commented on #1759
@mehmetdogru
Static expansion of drivable area is only implemented in lane_following for now.
By implementing it in other modules, you can use the static expansion in any module.

https://github.com/autowarefoundation/autoware.universe/blob/487264478af006e7745b55917b97c5f7d0c6de17/planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp#L140-L157

[2022-09-08 14:07] zulfaqar-azmi-t4 commented on #1812
Sorry for the mistake, I have made to PR to solve this issue.

[2022-09-09 06:24] shulanbushangshu commented on #1812
@zulfaqar-azmi-t4
Yes,the bug is fixed and I will close the issue.

[2022-09-09 06:24] #1812 closed

[2022-09-09 09:57] MrOCW opened #1827 "grid_map_cv package fails to build"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

grid_map_cv fails to build

### Expected behavior

Build successfully

### Actual behavior

Attempting colcon build --sy

[2022-09-13 01:59] taikitanaka3 opened #1845 "it's hard to distinguish what is stop factor"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

If many modules works at the same time it's hard to know what is factor to stop.
![image](https://user-images.g

[2022-09-13 03:50] VRichardJP opened #1850 "endless recursion issue in RouteHandler"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I am using the following lanelet route:

The vehicle starts from the blue area, makes a clockwise loop and comes back to

[2022-09-13 05:26] zulfaqar-azmi-t4 commented on #1850
@VRichardJP
The way the function is written is intended for the user to properly follow the lanelet2 format, so it that any "bug" related to library can be traceback to the library. Therefore, I do recommend to as the false attribute on the one way tag.

However, it is also true that the code should be more robust. So we can think of some way to address this issue.

Can you share the lanelet and p

[2022-09-13 06:37] VRichardJP commented on #1850
Here is the lanelet map I used (changed to .txt to upload on github):
[lanelet2_map.txt](https://github.com/autowarefoundation/autoware.universe/files/9554161/lanelet2_map.txt)

[2022-09-13 07:09] djargot commented on #669
By playing with following ground segmentation parameters: `split_points_distance_tolerance` and `split_height_distance` I was able to remove the tail. I also ran the modified ground segmentation with the ROS bag provided by MORAI and it looks ok with visual assessment. However, I still need to check thoroughly whether the general performance of the algorithm is not worsened with the modified param

[2022-09-13 07:14] mitsudome-r commented on #1253
I figured out that with the default configuration, topic monitoring function is not turned on. (This probably is because it is not always safe to make a sudden stop at node failure)

If you add use_emergency handling to control module, you should be able to turn on this function and make vehicle stop when ever major planning nodes dies with unknown error.

https://github.com/autowarefoundation/aut

[2022-09-13 07:54] raminterpl commented on #1121
@xmfcx :Status: My team is working on this.

[2022-09-13 08:04] mitsudome-r commented on #908
@liuzf1988 Do you have any progress with this issue? @angry-crab might be able to help you if there are any other blocking items.

[2022-09-13 08:09] angry-crab commented on #908
@liuzf1988 Hi, it would be great if you could share the `definition.yaml` files so that I'll take over the rest. Thanks.

[2022-09-13 08:16] mitsudome-r commented on #1761
@takayuki5168 Do you have any concerns with @mehmetdogru 's idea? At least, they look reasonable to me.

[2022-09-13 08:20] mitsudome-r commented on #1759
I think we can discuss the original issue in this discussion: https://github.com/autowarefoundation/autoware/discussions/2851
and @maxime-clem will create a new issue regarding inconsistent drivable area parameter. After the new issue is created, I will close this issue.

[2022-09-13 08:24] mitsudome-r commented on #1228
@xmfcx is investigating this issue.

[2022-09-13 08:28] mitsudome-r commented on #1389
@taikitanaka3 Is anyone from TIER IV working on this? Since the scenario file to reproduce the error is only accessible by TIER IV, we cannot assign anyone from AWF.

[2022-09-13 08:32] mitsudome-r commented on #1231
@satoshi-ota  Is anyone from TIER IV working on this? Since the scenario file to reproduce the error is only accessible by TIER IV, we cannot assign anyone from AWF.

[2022-09-13 08:40] mitsudome-r commented on #1568
@mehmetdogru Are there any issues remaining in this issue? If not, I will close this issue.

[2022-09-13 08:43] taikitanaka3 commented on #1389
@mitsudome-r
computing team is currently investigating related to this problem.
But since it's rare case to die node during run time, it's hard without scenario simulator.

[2022-09-13 08:45] mitsudome-r commented on #980
@alanmengg friendly ping.

[2022-09-13 09:00] angry-crab commented on #908
@ambroise-arm
Please correct me if I'm wrong.
To sum up, based on the discussion above, we need to do the followings:

1. fixed input and output size of the network.
2. upload onnx files along with `definition.yaml` to `model_zoo` repo.
3. edit the cli scipt if necessary.

Also, I was wondering since `tvm_utility` is merged, is `cuda` backend ready to be tested? Thanks.

[2022-09-13 09:13] maxime-clem opened #1854 "`behavior_path_planner` do not consistently expand the drivable area"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The `behavior_path_planner` generates the drivable area which can be expanded to the left or right using the following p

[2022-09-13 09:14] maxime-clem commented on #1759
I opened the follow-up issue https://github.com/autowarefoundation/autoware.universe/issues/1854

[2022-09-13 09:14] #1759 closed

[2022-09-13 09:45] #1813 closed

[2022-09-13 10:24] ambroise-arm commented on #908
@angry-crab Yes to the points you listed, plus:

- have a way to run the TVM model (I suggested [here](https://github.com/autowarefoundation/autoware.universe/issues/908#issuecomment-1214852459) having a separate Autoware package for that, but it could be something else, I don't know what makes the most sense for what we want to achieve)
- document the procedure

For the cuda backend, it is possib

[2022-09-13 11:07] mkuri opened #1856 "Add a mechanism for selecting multiple MRM behaviors"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, there is one MRM behavior (e.g., sudden stop) that can be selected on the hazard condition.
(MRM: Mi

[2022-09-13 15:41] BonoloAWF commented on #1797
@xmfcx could you please add a description?

[2022-09-14 06:35] taikitanaka3 commented on #1845
resolved by #1847

[2022-09-14 06:35] #1845 closed

[2022-09-14 06:41] taikitanaka3 opened #1862 "fix stop factor for stop reason"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

fix stop factor for stop reason

some stop factor doesn't have z value .

### Expected behavior

rough point of stop fac

[2022-09-14 09:12] angry-crab commented on #908
@ambroise-arm
Thanks for the information. I've pushed centerpoint models. [CenterPoint](https://github.com/autowarefoundation/modelzoo/issues/72)
I'll work on the migration to tvm. As for `cuda` backend, I'll create another issue after this one is closed.

[2022-09-14 11:12] #1862 closed

[2022-09-14 14:22] lchojnack commented on #1009
We find a way how to reproduce the issue. On my PC with 8 cores / 16 threads CPU when I'm running the command
[code]
and then autoware, the issue almost always appears. Without `stress` command the issue doesn't occur. I'm not sure how exactly the CPU load can affect launching autoware. I will continue to work on this issue.

[2022-09-15 06:52] liuzf1988 commented on #908
A ROS2 package named `lidar_centerpoint_tvm` was finished last week, but I encountered some problems during the debugging process, and is working on it this week.

[2022-09-15 06:58] angry-crab commented on #908
@liuzf1988
Thanks for the update. I had a look into the current `centerpoint` implementation. It is using some hand-crafted `cuda` kernels for processing intermediate data. Did you convert these kernels into `tvm operations`? It would be great if you could share the repo/link so that I could help.

[2022-09-15 07:11] liuzf1988 commented on #908
@angry-crab
Yes, it take some time to rewrite the `cuda` code (currently it is changed to `std::thread` implementation). Can I submit the code to a pull request tomorrow (I need a little time to restore and organize the code)? Then we can together debug and optimize the code.

[2022-09-15 07:26] liuzf1988 commented on #908
@angry-crab
Here is the two definitions for `voxel_encoder` and `backbone_neck_head` onnx model of centerpoint.

[definition.zip](https://github.com/autowarefoundation/autoware.universe/files/9572852/definition.zip)

[2022-09-15 08:54] ambroise-arm opened #1879 "Align TVM packages with ModelZoo changes"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The neural network artifacts built for TVM as part of the [ModelZoo](https://github.com/autowarefoundation/mode

[2022-09-16 07:01] shmpwk opened #1893 "trtexec build fail"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

@wep21 @yukke42

For me build failed since https://github.com/autowarefoundation/autoware.universe/pull/1821

[code]

Bu

[2022-09-17 11:21] VRichardJP opened #1904 "accel_brake_map_calibrator sometimes produce invalid map file"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I went through the accel/brake map calibration of one vehicle today. After driving with a joystick for a while I saved t

[2022-09-19 08:33] NorahXiong opened #1907 "Can not set initial pose in planning simulator after code update"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I failed to set initial pose in planning simulator after updating the code(5f7fbd74171ef90b5f84c35e9e0088bb8f71690e).

h

[2022-09-19 08:44] VRichardJP commented on #1907
I'm facing the same problem after updating autoware. I think autoware's launch files should run this module https://github.com/autowarefoundation/autoware.universe/tree/main/system/default_ad_api_helpers/ad_api_adaptors

[2022-09-19 09:59] kenji-miyake commented on #1115
I guess we can close this.
https://github.com/autowarefoundation/autoware.universe/tree/5f7fbd74171ef90b5f84c35e9e0088bb8f71690e/common/motion_utils

@purewater0901 Please update the status.

[2022-09-19 16:37] #680 closed

[2022-09-19 16:43] xmfcx commented on #1228
The shared bag files are/will be available in autoware documentation through this pr: https://github.com/autowarefoundation/autoware-documentation/pull/200

[2022-09-20 05:51] shmpwk commented on #1907
same here

[2022-09-20 06:40] NorahXiong commented on #1850
I've seen a similar discussion [here](https://github.com/orgs/autowarefoundation/discussions/2600#discussion-4173579).
Maybe you should set the "one_way" tag as "no".
You can try this [file](https://github.com/autowarefoundation/autoware.universe/files/9604750/one_way.zip).

[2022-09-20 06:59] isamu-takagi commented on #1907
Sorry, it was because these PRs were not merged at the same time. It's fixed now.
- https://github.com/autowarefoundation/autoware.universe/pull/1900
- https://github.com/autowarefoundation/autoware_launch/pull/88

[2022-09-20 08:04] NorahXiong commented on #1907
Planning simulator works well now. Thank you.

[2022-09-20 11:55] VRichardJP opened #1910 "`accel_brake_map_calibrator` does not want to calibrate some values"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I have been trying to calibrate accel/brake of my vehicle.

After many painful attempts with a joystick controller (too

[2022-09-20 13:45] TakaHoribe commented on #1910
@VRichardJP

The current algorithm refuses the data if it is not in the stable condition, like the pedal is moving fast. You can change the thresholds to use all data, but it could cause a bad accuracy. Please see the readme in detail.
https://autowarefoundation.github.io/autoware.universe/main/vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/

Would you share the calibration result?

[2022-09-20 14:44] VRichardJP commented on #1910
Thank you for the feedback.

During the calibration, my main pattern was like:
- speed: 0.0 -> set accel_cmd to 0.X
- wait until max speed is reached
- at max speed -> set accel_cmd to -0.X
- wait until vehicle is stopped.

I assumed that if the actuation command is maintained for a few seconds like so, the calibrator would take plenty of data. However, there are definitely cmd values for which th

[2022-09-20 15:18] xmfcx commented on #564
https://autowarefoundation.github.io/autoware-documentation/main/datasets/

[2022-09-20 15:18] #564 closed

[2022-09-20 15:39] xmfcx commented on #1761
@takayuki5168 friendly ping

[2022-09-20 15:47] xmfcx commented on #565
@kaancolak can you update the current status of this issue?

[2022-09-20 16:11] kaancolak commented on #565
I have made some updates on the code base. Currently, it's waiting for review.

[2022-09-20 16:34] mitsudome-r commented on #1850
I believe current planner doesn't support bi-directional lanes. However, as a work around, you can create lanes in opposite direction that does **not** share linestrings.

[2022-09-20 16:39] #1647 closed

[2022-09-20 16:42] xmfcx commented on #1793
Maybe we can add an option like:
- disable_swerving_before_intersection
- distance_from_intersection_to_disable_swerving (rename pls)

So the planner would look ahead of x meters to check if a lanelet with `turn_direction` tag and disable the obstacle avoidance for the vehicle.

[2022-09-20 21:46] kasperornmeck opened #1912 "Planning simulator doesn't seem to work on Arm"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When following the instructions from
* https://autowarefoundation.github.io/autoware-documentation/main/installation/aut

[2022-09-20 21:52] kasperornmeck opened #1913 "Issues launching NVIDIA enabled container on Arm"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Issue launching CUDA-enabled container on Arm when using`rocker`.

### Expected behavior

For container to launch using

[2022-09-21 02:37] TakaHoribe commented on #1910
@VRichardJP  I noticed that no description is in the readme for the data-rejection-related parameters. I've made a PR https://github.com/autowarefoundation/autoware.universe/pull/1918 for it. We need to care about the `initial_covariance` or `**_threshold` parameters, etc.

You can also see why the data is not used in the debug msg here (you need to change the logger level to DEBUG). This would be

[2022-09-21 04:19] IshitaTakeshi commented on #1403
Fixed in https://github.com/autowarefoundation/autoware.universe/pull/1787

[2022-09-21 04:19] #1403 closed

[2022-09-21 05:38] yukke42 commented on #1256
close this issue since this error is fixed in the PR <https://github.com/autowarefoundation/autoware.universe/pull/1916>.

[2022-09-21 05:38] #1256 closed

[2022-09-21 05:41] angry-crab commented on #908
- [Convert cuda kernels into tvm operations]
- [Implementation tvm inference]

[2022-09-21 06:50] ito-san commented on #1770
All PRs have been closed. I'm closing this issue.

[2022-09-21 06:50] #1770 closed

[2022-09-21 07:43] angry-crab commented on #908
Ideally, `cuda kernels` could be generated by `tvm` by defining high-level abstraction, such as `tvmScript` or `tensor Equation`. In this issue, it makes more sense to first convert kernels into c++ code and then migrate to tvm dialects to ensure correctness.

[2022-09-21 10:32] NorahXiong opened #1927 "Duplicate topic names used for different message types"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I failed to echo topic "/planning/mission_planning/route" with the latest code. The hint is as below.
![image](https://u

[2022-09-21 11:15] kenji-miyake commented on #1927
@NorahXiong Thank you for reporting this issue. It was due to the intermediate state of Autoware AD API tasks. We're sorry about that.
Takagi-san has applied a temporary patch for this: https://github.com/autowarefoundation/autoware.universe/pull/1928

[2022-09-21 11:35] leonlee723 opened #1929 "ARM64 image don't work in Jetson and Nvidia Orin"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

docker run -it --gpus all --privileged --net=host --runtime=nvidia -e DISPLAY=$DISPLAY ghcr.io/autowarefoundation/autowa

[2022-09-21 13:52] VRichardJP commented on #1910
I went through a lot today :)

@TakaHoribe
As you suggested, I went for another calibration with the debug logger and checked why the values were rejected. Most data rejection comes from jerk. I drove 3 loops over my calibration course, one with +-0.4, one with +-0.3 and one with +-0.2 values. After the 3 loops, the calibration map looks like this:
![calibration_1_loop_0 2](https://user-images.git

[2022-09-21 14:04] VRichardJP opened #1930 "`obstacle_avoidance_planner` sometimes crash when the vehicle goes beyond goal point"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Several times today, the obstacle_avoidance_planner crashed in my vehicle. With GDB, I identified that `full_traj_points

[2022-09-21 14:19] kasperornmeck commented on #1912
Proposed fix:
1. install `libembree-dev` manually
2. add `--skip-keys=embree` to the `rosdep install` command
3. see if CMake can find the package when running `colcon build`

[2022-09-21 14:26] mitsudome-r commented on #1912
@ito-san Already ran planning simulator on ARM machine.
https://github.com/autowarefoundation/autoware-projects/issues/32#issuecomment-1217781154

@ito-san Do you have instructions to reproduce your test on Open AD Kit?

[2022-09-21 14:29] mitsudome-r commented on #1912
@kasperornmeck There seems to be an instruction for Open AD Kit installation. https://autowarefoundation.github.io/open-ad-kit-docs/latest/version-2.0/start-guide/
Have you checked this out?

[2022-09-22 06:29] zulfaqar-azmi-t4 commented on #1850
@VRichardJP
Could you check the recursion issue status.
This PR (https://github.com/autowarefoundation/autoware.universe/pull/1901) should be able  to solve them.

[2022-09-22 06:30] satoshi-ota commented on #1793
Hi, @xmfcx Thank you for your ideas ! And it looks good to me :smile:

On the other hand, we (TIER4) would like to improve avoidance module and fix these improper behaviors by following policies:

- avoidance module should not output unfollowable shift path like above figures
- update logic for shift path generation and make shift path inside drivable area as far as possible (in progress)
- check

[2022-09-22 09:27] taikitanaka3 opened #1937 "information inside rtc is complicated but not visualized"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Iit's very hard to analyze rtc from topic
[code]

### Purpose

to analyze RTC easier

### Possible approaches

[2022-09-22 09:59] evshary commented on #1912
@ito-san I tried to run Open AD Kit v2.0 based on [this guide](https://github.com/autowarefoundation/open-ad-kit-docs/blob/proposal_v2.0/docs/start-guide/index.md)
In this guide, Autoware is running on AVA platform (Yocto-based) and the scenario_simulator_v2 is running on my x86 host, which is no problem.
Then I also want to try scenario_simulator_v2 on AVA platform, so use your docker container.

[2022-09-22 12:29] VRichardJP opened #1939 "RTC Auto mode manager keeps "Waiting for service... [blind_splot]""
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The RTC auto mode manager is spamming the following message on my machine:
[code]

I am using pretty much the default co

[2022-09-22 14:08] takayuki5168 commented on #1939
@rej55 Could you check this

[2022-09-22 14:13] takayuki5168 commented on #1930
@VRichardJP Thank you so much for your bug report and suggestion for bug fix.
I agree with your suggestion. Could you make a PR?

[2022-09-22 14:23] takayuki5168 commented on #1715
@TakaHoribe ping.

[2022-09-22 14:26] VRichardJP commented on #1930
I would be happy to contribute. But is this workaround the good way to handle that situation?

For example a special case for empty trajectories could be added to `generateFineTrajectoryPoints()` instead.

[2022-09-22 14:28] takayuki5168 commented on #1904
@VRichardJP Thanks for your bug report! I guess this should be fixed. In this case, the interpolated function has a discontinuity.

@TakaHoribe How about asking this bug fix to a PT student. Or just setting `help_wanted` sounds fine.

[2022-09-22 14:31] takayuki5168 commented on #1543
@brkay54 How's it going

[2022-09-22 14:32] takayuki5168 commented on #1487
@satoshi-ota

[2022-09-22 14:43] takayuki5168 commented on #962
@xqe2011 Hi, thanks for your report, and sorry to be late to reply.

I don't have any idea to fix this issue in a proper way. If you still struggle with this issue, I will have a discussion internally at TIER IV.

[2022-09-22 14:44] takayuki5168 commented on #891
@rej55 Are there anything to do for this issue?

[2022-09-22 14:48] takayuki5168 commented on #383
@taikitanaka3 Now we calculate the vehicle velocity with motion_velocity_smoother as a library in behavior_velocity_planner. Did this solve this issue?

[2022-09-22 14:49] takayuki5168 commented on #315
@taikitanaka3 Now it's okay to use PathWithLaneId in tier4_autoware_utils. Can I close this issue?

[2022-09-22 14:50] taikitanaka3 commented on #315
yes it can be closed

[2022-09-22 14:50] #315 closed

[2022-09-22 14:52] takayuki5168 commented on #622
Fixed by https://github.com/autowarefoundation/autoware.universe/pull/1853

[2022-09-22 14:52] #622 closed

[2022-09-22 14:55] taikitanaka3 commented on #383
no, but there is no approach with current architecture so i will close this issue.

[2022-09-22 14:55] #383 closed

[2022-09-22 17:09] takayuki5168 opened #1942 "Static path planning with optimization"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, the on-line path planning with optimization realizes
- smooth curvature
- footprints inside the driv

[2022-09-23 01:41] evshary commented on #1912
@ito-san Thank you for the explanation.
After viewing the output, I found I have the wrong path of the map in the docker container.
It works perfectly after correcting the path.
Thank you!

[2022-09-23 10:23] takayuki5168 commented on #1930
@VRichardJP Hmm, I'm not 100% sure, but check-and-validate as follows looks better to me.

[code]

[2022-09-23 12:47] VRichardJP commented on #1910
I solved the that last issue the same way I solved it in #993:
- reduced normal.min_accel and normal.min_jerk from 1.0 to 0.4~0.5
- set speed limit to 1m/s 2 meters from stop point
- shifted all the values of the first column of the brake_map.csv, essentially adding a +0.1 command offset when speed is <5km/h

Although it seems to work, the last trick is far from ideal. So the problem comes back to

[2022-09-24 00:07] VRichardJP commented on #1939
@rej55 which module is supposed to start the services `*/internal/blind_spot`? I can't see any `*/internal/*` service in the code base.

[2022-09-25 22:07] satoshi-ota commented on #1487
@mitsudome-r @takayuki5168 Sorry I missed this issue. I'll fix it in this week :pray:

[2022-09-25 22:21] satoshi-ota commented on #744
@takayuki5168 For now, this issue seems to be low priority, so I'll close this. If necessary, I'll make this issue open again.

[2022-09-25 22:21] #744 closed

[2022-09-26 01:40] rej55 commented on #1939
@VRichardJP
Sorry for late reply.
The message is sent from following.

https://github.com/autowarefoundation/autoware.universe/blob/17e16d77e9f4f5f8762059d488137de762d28ef2/planning/rtc_auto_mode_manager/src/rtc_auto_mode_manager_interface.cpp#L26-L37

In your environment, do you run blind_spot module in behavior_velocity_planner?
If not, you should delete blind_spot from config file.

https://git

[2022-09-26 02:17] VRichardJP commented on #1939
You're right!
I thought it was running but it was disabled in the behavior_velocity_planner config file

[2022-09-26 02:17] #1939 closed

[2022-09-26 11:44] VRichardJP opened #1956 "`obstacle_avoidance_planner::generateOptimizedTrajectory` sometimes produce NaN filled trajectories"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

While debugging `obstacle_avoidance_planner`, I observed that the output of `obstacle_avoidance_planner::generateOptimiz

[2022-09-26 11:55] takayuki5168 commented on #1956
@VRichardJP
With our maps in TIER IV, we don't have this kind of issue. I guess it may be because of your map.
I'm sorry, but I cannot help you without your map.

[2022-09-26 12:02] VRichardJP opened #1958 "`obstacle_avoidance_planner` randomly generate zigzagging path while on a straight line"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Sometimes, when my vehicle is on a straight line (never in curves or slight curves), the `obstacle_avoidance_planner` ge

[2022-09-26 12:18] takayuki5168 commented on #1958
@VRichardJP
Could you visualize "drivable area" on Rviz? There is drivable area rviz plugin in the tier4_planning_rviz_plugin package. This package is contained in autoware.universe, and you just select the path from behavior_velocity_planner as drivable area plugin on Rviz.

The obstacle avoidance planner tries to make trajectory footprints inside the drivable area. I guess the drivable area may

[2022-09-26 12:28] VRichardJP commented on #1958
I checked several times the drivable area. When the zigzag appear, it does not seem like anything is wrong (like there is something in the middle of the path.) However I am not sure at 100%.

When I first started my test on this site, I was using a 10 km/h speed limit, and there was absolutely no issue. The problem started to appear when I used higher speed (20~40 km/h). I may have changed many th

[2022-09-26 12:53] VRichardJP commented on #1904
example of brake_map.csv generated from the calibrator:
[brake_map.csv](https://github.com/autowarefoundation/autoware.universe/files/9646320/brake_map.csv)

0.6, 0.7 and 0.8 rows have not been calibrated (too strong brake), most values are the same and `raw_vehicle_cmd_converter` crashes at runtime when using this map.

[2022-09-26 12:58] VRichardJP commented on #1956
I totally get it. I am discussing with the site owner whether I can share the lanelet/pcd map with you.

[2022-09-26 14:25] takayuki5168 commented on #1958
@VRichardJP Currently, obstacle avoidance planner does not consider obstacles. Just make footprints inside the drivable area generated by behavior_path_planner.

Therefore, it is often easy to reproduce what happened with the physical vehicle in the simulator regarding to the obstacle avoidance planner.

Could you give me the map where the problem happens or rosbag including behavior_velocity_plan

[2022-09-27 03:03] VRichardJP commented on #1956
You can use this lanelet map:
[lanelet2_map.txt](https://github.com/autowarefoundation/autoware.universe/files/9651142/lanelet2_map.txt)

The problem mostly occured at the 2 marked location, when the vehicle is turning left at the intersection:
![Screenshot from 2022-09-27 09-59-15](https://user-images.githubusercontent.com/18645627/192422111-0df6d5e3-b967-4e0d-8bea-2871f53ff9dc.png)

[2022-09-27 03:08] VRichardJP commented on #1958
You can use this lanelet2 map:
[lanelet2_map.txt](https://github.com/autowarefoundation/autoware.universe/files/9651140/lanelet2_map.txt)

The problem appears only on straight roads, and basically all of them:
![Screenshot from 2022-09-27 10-04-09](https://user-images.githubusercontent.com/18645627/192422508-45d60184-def2-42d3-88ce-870fc2c79f97.png)

I mostly tested the anti-clockwise loop, but I

[2022-09-27 07:34] mitsudome-r commented on #1121
@raminterpl Do you have any updates on this issue?

[2022-09-27 07:38] mitsudome-r commented on #494
@mitsudome-r to discuss with the authors of prediction nodes to check about y-velocity component of prediction results.

[2022-09-27 07:41] mitsudome-r commented on #1716
@mehmetdogru @beyzanurkaya Do you have any updates? If you are busy with bus integration, that's okay. I just want to know the status :)

[2022-09-27 07:44] mitsudome-r commented on #1253
I will close this issue once I add the above explanation in Autoware Documentation

[2022-09-27 07:48] mitsudome-r commented on #1761
@mehmetdogru Are you planning to create a PR for the fix, or would you like someone else to do it?

[2022-09-27 07:54] mitsudome-r commented on #1228
Note: the bag file only contains velodyne_packets so needs conversion to pointcloud.

[2022-09-27 07:55] mitsudome-r commented on #1228
@xmfcx could you share the link to sensor description repository for your vehicle?

[2022-09-27 07:58] mitsudome-r commented on #611
@mehmetdogru @beyzanurkaya Please update the PR once you are finished with field validation.

[2022-09-27 08:12] mitsudome-r commented on #1389
I have removed high-priority tag from this issue since we cannot assign anyone unless there is a way to reproduce with publicly available environment. We can bring it to attention once it is reproducable.

[2022-09-27 08:14] mitsudome-r commented on #1375
@cyn-liu Are you still investigating this issue?

[2022-09-27 08:16] mitsudome-r commented on #1231
I have removed high priority tag since we cannot assign anyone unless we have a way to reproduce the issue.

[2022-09-27 08:16] mitsudome-r commented on #1231
@satoshi-ota
@satoshi-ota friendly ping.

[2022-09-27 08:45] mitsudome-r commented on #1929
Did you take a look on past discussion posts about installing Autoware on Jetson platform?
* https://github.com/autowarefoundation/autoware/discussions/2744
* https://github.com/autowarefoundation/autoware/discussions/2490
* https://github.com/autowarefoundation/autoware/discussions/2601
* https://github.com/autowarefoundation/autoware/discussions/2573

[2022-09-27 08:47] #1927 closed

[2022-09-27 09:19] beyzanurkaya commented on #1716
I actually started working on this. I tried to create a boost polyon by finding the contours of the drivable area.  Then I used boost intersection. But the result was not what I expected. Intersection output was empty.

[2022-09-27 09:58] takayuki5168 commented on #1716
@beyzanurkaya
Just in case, let me comment that
Obstacle avoidance planner, which is in motion planner, can read not lanelet but drivable area as an image. Therefore, do you mean you create boost polygon from an image (drivable area)? I'm worrying a bit about the calculation cost to create boost polygon from an image and calculate intersection via boost.

Please be careful about the rule of boost

[2022-09-27 10:02] takayuki5168 commented on #1958
@VRichardJP Let me check first if you've checked if the same issue occurs in the simulation?

[2022-09-27 10:02] takayuki5168 commented on #1956
@VRichardJP Let me check first if you've checked if the same issue occurs in the simulation?

[2022-09-27 10:11] takayuki5168 commented on #1958
I checked some cases you mentioned, but nothing weird occurred.
![image](https://user-images.githubusercontent.com/20228327/192498458-b1d68480-5c9f-4ffb-b5c1-72a19c31b665.png)

[2022-09-27 10:16] ambroise-arm opened #1959 "`signal_processing` tests rely on uninitialized variable"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The low pass filter unit test of the `signal_processing` package fails often on Arm platforms.

### Expected behavior

T

[2022-09-27 10:17] takayuki5168 commented on #1958
It seems lanelet map has no issues.
Obstacle avoidance lanner mostly depends on the lanelet (more precisely, drivable area generated by behavior_path_planner) since it does not see any dynamic obstacles.

A year before, there was a bug of drivable area when the ego pose precision was not so good, causing the trajectory from obstacle avoidance planner not alinged to the lane.
Like this, One of the

[2022-09-27 10:18] takayuki5168 commented on #1958
Or did you change the parameter about obstacle_avoidance_planner and drivable area (in behavior_path_planner)

[2022-09-27 10:23] takayuki5168 commented on #1958
Or are you using a large vehicle (like a bus) compared to sample_vehicle?

[2022-09-27 10:24] takayuki5168 commented on #1956
In my environment, the issue didn't occur.

[2022-09-27 10:30] ambroise-arm commented on #1959
cc @takayuki5168 as package maintainer
cc @kenji-miyake for the CI question

[2022-09-27 10:46] cyn-liu commented on #1375
I don't have a better way about which flag to use for faster and more accurate monitoring of whether the positioning is lost or not.
The current localization module can already initialize automatically when the vehicle is stopped, but if the vehicle loses its positioning while it is running, the automatic initialization is not possible because the current localization module does not notify other

[2022-09-27 10:50] takayuki5168 commented on #1959
@ambroise-arm
Thank you for your report.

Sorry, this is my fault. I created a PR, so could you check please.
https://github.com/autowarefoundation/autoware.universe/pull/1960

[2022-09-27 10:56] kenji-miyake commented on #1959
@ambroise-arm Thank you for your detail report.

Do you think we can use `RelWithDebInfo` instead? I'm concerned that `Debug` will be very slow.
https://github.com/autowarefoundation/autoware-github-actions/blob/c3e0ce4316d83468a9922bbdc62d85a6a80bc5a5/colcon-build/action.yaml#L65

[2022-09-27 11:16] ambroise-arm commented on #1959
@kenji-miyake Only `Debug` enables the DEBUG flag of interest here. In my head the debug build would be faster than the release build because there are less optimizations that the compiler needs to do. I will check that.

[2022-09-27 11:23] kenji-miyake commented on #1959
I was worried about the execution time of tests.
But considering there aren't so many tests right now, I'll use `Debug`. Thanks!

[2022-09-27 11:38] VRichardJP commented on #1958
@takayuki5168

I never tested the lanelet in simulation.

As far as planner is concerned, I was using mostly the default configuration. I only changed irrelevant values such as max_accel.

The vehicle is a BYD 6, so a normal car size.

I understand it could come from shaky localization. From the naked eye it does not seem the position ever jumped, even slightly. The localization also never got los

[2022-09-27 11:45] VRichardJP commented on #1956
I have not checked the simulation. Because I had to quickly fix the AD I didn't take the time to record any rosbag :(